{% extends "AppBundle::layout_full.html.twig" %}

{% block breadcrumbs %}{% endblock  %}


{% block introduce %}
    <div id="introduce" class="page-403">
        {% block navbar %}
            {% include 'AppBundle:includes:navbar.html.twig' %}
        {% endblock navbar %}
        <div class="text container">
            403 - Nemáte prístup do danej sekcie
        </div>
    </div>
{% endblock introduce %}

{% block content %}
    <div class="container error-page text-center">
       Je nám ľúto, ale nemáte prístup k požadovanej stránke.
    </div>
{% endblock content %}
