{% extends "AppBundle::layout_full.html.twig" %}

{% block breadcrumbs %}{% endblock %}


{% block introduce %}
    <div id="introduce" class="page-500">
        {% block navbar %}
            {% include 'AppBundle:includes:navbar.html.twig' %}
        {% endblock navbar %}
        <div class="text container">
            Systémová chyba
        </div>
    </div>
{% endblock introduce %}

{% block content %}
    <div class="container error-page text-center">
        Vyskytla sa chyba na stránke, chyba nie je vo Vašom počítači. Prosím skúste neskôr. Ak sa chyba opakuje, tak nás
        prosím kontaktujte, vďaka.
    </div>
{% endblock content %}
