{% extends "AppBundle::layout_full.html.twig" %}

{% block breadcrumbs %}{% endblock %}

{% block introduce %}
<div id="introduce" class="page-404">
    {% block navbar %}
    {% include 'AppBundle:includes:navbar.html.twig' %}
    {% endblock navbar %}
    <div class="text container">
        404 - požadovaná stránka nenájdená
    </div>
</div>
{% endblock introduce %}

{% block content %}
<div class="container error-page text-center">
    Je nám ľúto, ale požadovaná stránka neexistuje. Skontroľujte adresu pre prípadnú chybu.
</div>
{% endblock content %}
