/*.sonata-ba-list-thumbnail a {
    display: block;
    width: 150px;
}

.sonata-ba-list-thumbnail a img {
    display: block;
    margin: 0 auto;
}*/

.table .heading{
    background: #444 !important;
    color: #fff !important;
}


.sonata-bc .navbar .nav > li > a {
    border-right: 1px solid #DDDDDD;
    transition: 0.1s background-color;
}
.sonata-bc .navbar .nav > li > a:hover {
    background: #fafafa;
}
.sonata-bc .navbar .nav > li:first-of-type > a {
    border-left: 1px solid #DDDDDD;
}

@media (max-width: 767px) {
    body.sonata-bc {
        padding: 0 20px;
    }
}
.navbar-text .logout{
    color: #c00;
}
.sonata-bc textarea {
    width: 627px;
    height: 180px;
}
.sonata-bc .row {
    margin-left: 0;
}

#hg_upload_profile_files_submit ,
#hg_upload_loan_files_submit {
    margin-left: 280px;
}