{% from 'AppBundle:macros:planb.html.twig' import rating %}
{% from 'AppBundle:macros:planb.html.twig' import collected %}

{% for loan in loans %}
<div class="auction">
    <div class="row">
        <div class="col-xs-6">
            <span class="amount">{{ loan.auctionApprovedAmount|currency(0) }}</span>
            <span class="interest">{{ loan.auctionInterestAverage|interest }}</span>
            <span class="maturity">{{ ("loan.maturity_" ~ loan.loanMaturity) | trans }}</span>
        </div>
        <div class="col-xs-3">
            {{ rating(loan.auctionRating) }}
        </div>
        <div class="col-xs-3">
            {{ collected(loan.auctionCollectedPercentage|percentage(0, "")) }}
        </div>
    </div>
    <div class="title"><a href="{{ path("hg_app_auction_detail", {slug: loan.slug}) }}">{{ loan.auctionTitle }}</a></div>
</div>
{% else %}
    {{ "latest_auctions.no_results"|trans }}
{% endfor %}