{% from 'AppBundle:macros:planb.html.twig' import rating %}
{% from 'AppBundle:macros:planb.html.twig' import collected %}

<div class="last-auctions">
{% for loan in loans %}
    <div class="item">
        <div>
            {{ rating(loan.auctionRating) }}
        </div>
        <div>
            <div class="desc"><strong>{{ loan.auctionApprovedAmount|currency }}</strong><br>
                <a href="{{ path("hg_app_auction_detail", {slug: loan.slug}) }}">{{ loan.auctionTitle }}</a><br>
                <strong>{{ loan.auctionInterestAverage|interest }}</strong> / {{ ("loan.maturity_" ~ loan.loanMaturity) | trans }}
            </div>
        </div>
        <div>
            {{ collected(loan.auctionCollectedPercentage|percentage(0, "")) }}
        </div>
    </div>
{% else %}
{{ "latest_auctions.no_results"|trans }}
{% endfor %}
</div>