{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% block side_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active'}, 'list') }}{% endblock %}

{% block list_table %}

    {{ sonata_block_render_event('sonata.admin.list.table.top', { 'admin': admin }) }}

    {% block list_header %}{% endblock %}

    {#{% if notice %}#}
        {#{% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}#}
    {#{% endif %}#}

    {{ form(form) }}


    {% block list_footer %}{% endblock %}

    {{ sonata_block_render_event('sonata.admin.list.table.bottom', { 'admin': admin }) }}

{% endblock %}
