<td class="sonata-ba-list-field sonata-ba-list-field-{{ field_description.type }}" objectId="{{ admin.id(object) }}">

    {% include 'SonataAdminBundle:CRUD:list__action_edit.html.twig' %}
    {% include 'SonataAdminBundle:CRUD:list__action_show.html.twig' %}

    {% if is_granted("ROLE_ALLOWED_TO_SWITCH") %}
    <a target="_blank" href="{{ url("hg_app_index_index", {} | merge({'_switch_user': object.username})) }}" class="btn btn-small">
        <i class="icon-user"></i> {{ 'hg.user.switch'|trans({}, 'AdminUser') }}
    </a>
    {% endif %}
</td>