{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}

    {% for category in object.categories %}
        {% if(category.parent.id == 1) %}
            <a target="_blank"
               href="{{ path("hg_app_category", {categorySlug: category.slug}) }}">{{ category.title|trans() }}</a> {% if(not loop.last) %}/{% endif %}<br>
        {% else %}
            <a target="_blank"
               href="{{ path("hg_app_subcategory", {parentCategorySlug: category.parent.slug ,categorySlug: category.slug}) }}">{{ category.title|trans() }}</a>
        {% endif %}
    {% endfor %}
{% endblock %}
