<td class="sonata-ba-list-field sonata-ba-list-transaction-confirmation sonata-ba-list-field-{{ field_description.type }}" objectId="{{ admin.id(object) }}">

    {% if not object.isStatus({1: "canceled", 2: "success"}) %}
    <a href="{{ admin.generateUrl('accept', {id: object.id }) }}" class="btn btn-small btn-success"><i class="icon-ok-sign"></i> {{ "transactions.accept"|trans }}</a>
        {% if not object.istype({1:"repayment", 2:"principal", 3:"interest" }) %}
        <a href="{{ admin.generateUrl('reject', {id: object.id }) }}" class="btn btn-small btn-danger"><i class="icon-remove-sign"></i> {{ "transactions.reject"|trans }}</a>
        {% endif %}
    {% endif %}
</td>