{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if object.isStatus([
    constant('STATUS_DRAFT', object),
    constant('STATUS_DRAFT_REQUESTED', object),
    constant('STATUS_DRAFT_APPROVED', object),
    constant('STATUS_DRAFT_CANCELED', object),
    constant('STATUS_AUCTION_DRAFT', object),
    constant('STATUS_AUCTION_REQUESTED', object),
    constant('STATUS_AUCTION_CANCELED', object),
    constant('STATUS_AUCTION_APPROVED', object)
    ]) %}
        {{ object.auctionTitle }}
    {% else %}
        <a target="_blank" href="{{ path("hg_app_auction_detail", {slug: object.slug }) }}">{{ object.auctionTitle }}</a>
    {% endif %}
{% endblock %}
