{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}

    {% if object.type is constant('TYPE_AUCTION_DRAFT_REQUESTED', object) %}
        Prijali ste novú aukciu s názvom <strong>{{ object.loan.auctionTitle }}</strong> na skóring od používateľa
        <strong>{{ object.loan.user.username }}</strong>
    {% endif %}

    {% if object.type is constant('TYPE_AUCTION_AUCTION_REQUESTED', object) %}
        Aukcia s názvom <strong>{{ object.loan.auctionTitle }}</strong> je posunutá na druhé kolo skóringu
        <strong>{{ object.loan.user.username }}</strong>
    {% endif %}

    {% if object.type is constant('TYPE_AUCTION_AUCTION_APPROVE', object) %}
        Aukcia s názvom <strong>{{ object.loan.auctionTitle }}</strong> je posunutá na schválenie používateľom
        <strong>{{ object.loan.user.username }}</strong>
    {% endif %}

    {% if object.type is constant('TYPE_FILE', object) %}
        {% if object.loan %}
            Dokument typu <strong>{{ object.loanFile.title|trans|raw }}</strong> bol uploadnutý do žiadosti s názvom
            <strong>{{ object.loan.auctionTitle }}</strong> používateľom
            <strong>{{ object.loan.user.username }}</strong>
        {% else %}
            Dokument typu
            <strong>{{ object.profileFile.title|trans|raw }}</strong> bol uploadnutý na skontrolovanie investorom
            <strong>{{ object.user.username }}</strong>
        {% endif %}
    {% endif %}

    {% if object.type is constant('TYPE_AUCTION_LAUNCH', object) %}
        Aukcia s názvom <a target="_blank"
                           href="{{ path("hg_app_auction_detail", {slug: object.loan.slug}) }}"><strong>{{ object.loan.auctionTitle }}</strong></a> bola spustená používateľom
        <strong>{{ object.loan.user.username }}</strong>
    {% endif %}

    {% if object.type is constant('TYPE_AUCTION_ACCEPTED', object) %}
        Aukcia s názvom <a target="_blank"
                           href="{{ path("hg_app_auction_detail", {slug: object.loan.slug}) }}"><strong>{{ object.loan.auctionTitle }}</strong></a> bola zastavená používateľom
        <strong>{{ object.loan.user.username }}</strong>
    {% endif %}

    {% if object.type is constant('TYPE_AUCTION_CANCELED', object) %}
        Aukcia s názvom <a target="_blank"
                           href="{{ path("hg_app_auction_detail", {slug: object.loan.slug}) }}"><strong>{{ object.loan.auctionTitle }}</strong></a> bola zrušená používateľom
        <strong>{{ object.loan.user.username }}</strong>
    {% endif %}

    {% if object.type is constant('TYPE_AUCTION_OVERDUE', object) %}
        Aukcii s názvom <a target="_blank"
                           href="{{ path("hg_app_auction_detail", {slug: object.loan.slug}) }}"><strong>{{ object.loan.auctionTitle }}</strong></a> uplynula doba splatnosti
        <strong>{{ object.loan.user.username }}</strong>
    {% endif %}

    {% if object.type is constant('TYPE_AUCTION_PAYABLE', object) %}
        Aukcia s názvom <a target="_blank"
                           href="{{ path("hg_app_auction_detail", {slug: object.loan.slug}) }}"><strong>{{ object.loan.auctionTitle }}</strong></a> čaká na vyplatenie dnes <strong>{{ object.loan.loanStartAt|date("d.m.Y")  }}</strong>!
    {% endif %}


    {% if object.type is constant('TYPE_TRANSACTION', object) %}
        {% set transaction = object.transaction %}
        {% if transaction.type is constant('TYPE_DEPOSIT', transaction) %}
            Investor  <a target="_blank"
                         href="{{ path("admin_hg_app_user_show", {id: transaction.fromUser.id}) }}"><strong>{{ transaction.fromUser.username }}</strong></a>
            dal práve vložil na účet <strong>{{ transaction.amount|currency }}</strong> s variabilným číslom
            <strong>{{ transaction.variableNumber }}</strong>
        {% endif %}
        {% if transaction.type is constant('TYPE_WITHDRAW', transaction) %}
            Investor  <a target="_blank"
                         href="{{ path("admin_hg_app_user_show", {id: transaction.fromUser.id}) }}"><strong>{{ transaction.fromUser.username }}</strong></a>
            dal požiadal o vúber z účtu <strong>{{ transaction.amount|currency }}</strong> s variabilným číslom
            <strong>{{ transaction.variableNumber }}</strong>
        {% endif %}
        {% if transaction.type is constant('TYPE_REPAYMENT', transaction) %}
            Dňa <strong>{{ transaction.dueDate|date("d.m.Y") }}</strong> by mal používateľ <strong>{{ transaction.fromUser }}</strong>
            splatiť <strong>{{ transaction.specificNumber }}.</strong> splátku k pôžičke <strong>{{ transaction.loan.auctionTitle }}</strong>. Prevod by mal vyzerať nasledovne: <br>
            VS: <strong>{{ transaction.variableNumber }}</strong><br>
            SS: <strong>{{ transaction.specificNumber }}</strong><br>
            Čiastka: <strong>{{ transaction.amount|currency }}</strong>
        {% endif %}
    {% endif %}


    {% if object.type is constant('TYPE_CONTACT', object) %}
        {% if object.contact.user %}
          Kontakt ID {{ object.contact.id }}: Registrovaný používateľ <strong>{{ object.contact.user.username }} (ID: {{ object.contact.user.formattedId }})</strong>
            s emailom <strong>{{ object.contact.email }}</strong> poslal správu s predmetom <strong>{{ object.contact.subject }}</strong>
        {% else %}
            Kontakt ID {{ object.contact.id }}: Neregistrovaný používateľ <strong>{{ object.contact.username }}</strong>
            s emailom <strong>{{ object.contact.email }}</strong> poslal správu s predmetom <strong>{{ object.contact.subject }}</strong>
        {% endif %}
    {% endif %}

{% endblock %}