<td class="sonata-ba-list-field sonata-ba-list-notification-check sonata-ba-list-field-{{ field_description.type }}" objectId="{{ admin.id(object) }}">

    {% if object.isStatus(["pending"]) %}
    <a href="{{ admin.generateUrl('done', {id: object.id }) }}" class="btn btn-small btn-success"><i class="icon-ok-sign"></i></a>
    {% endif %}
</td>