{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if object.status == "future" %}
        <span id="status-icon-{{ admin.id(object) }}" class="icon-forward" title="{{ object.statusFormatted|trans }}"></span>
    {% elseif object.status == "pending" %}
        <span id="status-icon-{{ admin.id(object) }}" class="icon-time" title="{{ object.statusFormatted|trans }}"></span>
    {% elseif object.status == "canceled" %}
        <span id="status-icon-{{ admin.id(object) }}" class="icon-remove-sign" title="{{ object.statusFormatted|trans }}"></span>
    {% elseif object.status == "success" %}
        <span id="status-icon-{{ admin.id(object) }}" class="icon-ok" title="{{ object.statusFormatted|trans }}"></span>
    {% elseif object.status == "overdue" %}
        <span id="status-icon-{{ admin.id(object) }}" class="icon-exclamation-sign" title="{{ object.statusFormatted|trans }}"></span>
    {% endif %}
{% endblock %}
