<td class="sonata-ba-list-field sonata-ba-list-field-{{ field_description.type }}" objectId="{{ admin.id(object) }}">

    {% if object.type is constant('TYPE_AUCTION_DRAFT_REQUESTED', object) %}

        {% if object.loan.isStatus([constant('STATUS_DRAFT_REQUESTED', object.loan)]) %}
            <a href="{{ path('admin_hg_app_loan_scoring', {id: object.loan.id }) }}"
               class="btn btn-small">{{ "loan.to_scoring"|trans }}</a>
        {% endif %}

    {% endif %}

    {% if object.type is constant('TYPE_AUCTION_AUCTION_REQUESTED', object) %}
        {% if object.loan.isStatus([constant('STATUS_AUCTION_REQUESTED', object.loan)]) %}
            <a href="{{ path('admin_hg_app_loan_scoring_2', {id: object.loan.id }) }}"
               class="btn btn-small">{{ "loan.to_scoring_2"|trans }}</a>
        {% endif %}
    {% endif %}

    {% if object.type is constant('TYPE_AUCTION_AUCTION_APPROVE', object) %}
        {% if object.loan.isStatus([constant('STATUS_AUCTION_SCORING', object.loan)]) %}
            <a href="{{ path('admin_hg_app_loan_auction_approve', {id: object.loan.id }) }}"
               class="btn btn-small">{{ "loan.to_auction"|trans }}</a>
        {% endif %}
    {% endif %}


    {% if object.type is constant('TYPE_AUCTION_ACCEPTED', object) %}

        {% if object.loan.isStatus([constant('STATUS_ACCEPTED', object.loan)]) %}
            <a href="{{ path('admin_hg_app_loan_loan_approve', {id: object.loan.id }) }}"
               class="btn btn-small">{{ "loan.to_loan"|trans }}</a>
        {% endif %}

    {% endif %}

    {% if object.type is constant('TYPE_AUCTION_PAYABLE', object) %}

        {% if object.loan.isStatus([constant('STATUS_PAYABLE', object.loan)]) %}
            {% if object.loan.loanStartAt|date("Y-m-d") == "now"|date("Y-m-d") %}
                <a href="{{ path('admin_hg_app_loan_loan_pay', {id: object.loan.id }) }}" class="btn btn-primary btn-small">{{ "loan.to_pay"|trans }}</a>
            {% else %}
                <a href="{{ path('admin_hg_app_loan_loan_pay', {id: object.loan.id }) }}" class="btn btn-small">{{ "loan.to_pay"|trans }}</a>
            {% endif %}
        {% endif %}

    {% endif %}

    {% if object.type is constant('TYPE_FILE', object) %}
        {% if object.loan %}
            {% if object.loan.isStatus([constant('STATUS_AUCTION_SCORING', object.loan)]) %}
                <a href="{{ path('admin_hg_app_loan_auction_approve', {id: object.loan.id }) }}"
                   class="btn btn-small">{{ "loan.to_auction"|trans }}</a>
            {% endif %}
        {% else %}
            <a href="{{ path('admin_hg_app_user_show', {id: object.user.id }) }}#profile-file-list"
               class="btn btn-small">{{ "Check"|trans }}</a>
        {% endif %}
    {% endif %}


    {% if object.type is constant('TYPE_TRANSACTION', object) %}
        {% set transaction = object.transaction %}


        {% if transaction.type is constant('TYPE_DEPOSIT', transaction) %}
            {% if not (transaction.status in ["canceled", "success"]) %}
                <div class="sonata-ba-list-transaction-confirmation">
                    <a href="{{ path("admin_hg_app_transaction_accept", {id: transaction.id }) }}"
                       class="btn btn-small btn-success"><i class="icon-ok-sign"></i> {{ "transactions.accept"|trans }}
                    </a>
                    <a href="{{ path("admin_hg_app_transaction_reject", {id: transaction.id }) }}"
                       class="btn btn-small btn-danger"><i
                                class="icon-remove-sign"></i> {{ "transactions.reject"|trans }}
                    </a>
                </div>
            {% endif %}
        {% endif %}

        {% if transaction.type is constant('TYPE_WITHDRAW', transaction) %}
            {% if not (transaction.status in ["canceled", "success"]) %}
                <div class="sonata-ba-list-transaction-confirmation">
                    <a href="{{ path("admin_hg_app_transaction_accept", {id: transaction.id }) }}"
                       class="btn btn-small btn-success"><i class="icon-ok-sign"></i> {{ "transactions.accept"|trans }}
                    </a>
                    <a href="{{ path("admin_hg_app_transaction_reject", {id: transaction.id }) }}"
                       class="btn btn-small btn-danger"><i
                                class="icon-remove-sign"></i> {{ "transactions.reject"|trans }}
                    </a>
                </div>
            {% endif %}
        {% endif %}

        {% if transaction.type is constant('TYPE_REPAYMENT', transaction) %}
            {% if not (transaction.status in ["canceled", "success"]) %}
                <div class="sonata-ba-list-transaction-confirmation">
                    <a href="{{ path("admin_hg_app_transaction_accept", {id: transaction.id }) }}"
                       class="btn btn-small btn-success"><i class="icon-ok-sign"></i> {{ "transactions.accept"|trans }}
                    </a>
                </div>
            {% endif %}
        {% endif %}


    {% endif %}

</td>