<td class="sonata-ba-list-field sonata-ba-list-field-{{ field_description.type }}" objectId="{{ admin.id(object) }}">

    <a href="{{ admin.generateObjectUrl('show', object) }}" class="btn view_link btn-small" title="{{ 'action_show'|trans({}, 'SonataAdminBundle') }}">
        <i class="icon-zoom-in"></i>
        {{ 'action_show'|trans({}, 'SonataAdminBundle') }}
    </a>

    {% if object.isStatus([constant('STATUS_DRAFT_REQUESTED', object)]) %}
        <a href="{{ admin.generateUrl('scoring', {id: object.id }) }}" class="btn btn-small">{{ "loan.to_scoring"|trans }}</a>
    {% endif %}

    {% if object.isStatus([constant('STATUS_AUCTION_REQUESTED', object)]) %}
        <a href="{{ admin.generateUrl('scoring_2', {id: object.id }) }}" class="btn btn-small">{{ "loan.to_scoring_2"|trans }}</a>
    {% endif %}
    {% if object.isStatus([constant('STATUS_AUCTION_SCORING', object)]) %}
        <a href="{{ admin.generateUrl('auction_approve', {id: object.id }) }}" class="btn btn-small">{{ "loan.to_auction"|trans }}</a>
    {% endif %}


    {% if object.isStatus([constant('STATUS_ACCEPTED', object)]) %}
        <a href="{{ path('admin_hg_app_loan_loan_approve', {id: object.id }) }}"
           class="btn btn-small">{{ "loan.to_loan"|trans }}</a>
    {% endif %}

    {% if object.isStatus([constant('STATUS_PAYABLE', object)]) %}
       {% if object.loanStartAt|date("Y-m-d") == "now"|date("Y-m-d") %}
        <a href="{{ admin.generateUrl('loan_pay', {id: object.id }) }}" class="btn btn-primary btn-small">{{ "loan.to_pay"|trans }}</a>
       {% else %}
           <a href="{{ admin.generateUrl('loan_pay', {id: object.id }) }}" class="btn btn-small">{{ "loan.to_pay"|trans }}</a>
       {% endif %}
    {% endif %}
</td>