{% extends "FOSUserBundle::layout_sidebar_profile.html.twig" %}
{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}
{% from 'AppBundle:macros:planb.html.twig' import stepper %}
{% from 'AppBundle:macros:planb.html.twig' import rating %}


{% block breadcrumb_inner %}
    {{ parent() }}
    <li><span>{{ "loan_validate.pramameters_verify"|trans({}, "messages") }}</span></li>
{% endblock breadcrumb_inner %}


{% block fos_user_content %}
    <div class="content brand-customer">
        {% block flashes %}
            {% if app.session.flashbag.peekAll|length > 0 %}
                {{ session_flash(null, null, null, "FOSUserBundle") }}
            {% endif %}
        {% endblock flashes %}

        <div class="content brand-customer form-vertical">

            <div class="icon-box brand-customer">
                <div class="icon">
                    <i class="icon-user-arrow-in"></i>
                </div>
                <div class="text">
                    <h2>{{ "auction_validate.pramameters_verify"|trans }}</h2>
                </div>
            </div>

            {{ stepper(flow.stepCount(), flow.getCurrentStepNumber(), null, "FOSUserBundle") }}

            {% if flow.getCurrentStepNumber() == flow.stepCount() %}
                <h2>{{ flow.getCurrentStepLabel()|trans }}</h2>
                <p>{{ "auction_validate.step_4_description"|trans }}</p>
                {% include "UserBundle:Customer/AuctionValidate:confirmation.html.twig" with {loan: flow.formData } %}
            {% endif %}

            {{ form_start(form, {"attr": {"class" : "form-vertical-basic" }}) }}

                {% if flow.getCurrentStepNumber() == 1 %}
                    <h2>{{ "loan.how_it_looks"|trans }}</h2>
                    <p>{{ "loan.how_it_looks_description"|trans }}</p>

                    {% set loan = flow.formData %}
                    <table>
                        <tr>
                            <th>{{ "loan.title"|trans }}</th>
                            <td>{{ loan.auctionTitle }}</td>
                        </tr>
                        <tr>
                            <th>{{ "loan.purpose"|trans }}</th>
                            <td>{{ ("loan.purpose_" ~ loan.loanPurpose)|trans }}</td>
                        </tr>
                        {% if loan.auctionRequestedAmount!= loan.auctionApprovedAmount %}
                        <tr>
                            <th><del>{{ "loan.requested_amount"|trans }}</del></th>
                            <td><del>{{ loan.auctionRequestedAmount|currency }}<del></td>
                        </tr>
                        {% endif %}
                        <tr>
                            <th>{{ "loan.approved_amount"|trans }}</th>
                            <td>{{ loan.auctionApprovedAmount|currency }}</td>
                        </tr>
                        <tr>
                            <th>{{ "loan.maturity"|trans }}</th>
                            <td>{{ ("loan.maturity_" ~ loan.loanMaturity)|trans }}</td>
                        </tr>
                    </table>

                    <h2>{{ "profile.additional_other_id_heading"|trans }}</h2>
                    <p>{{ "profile.additional_other_id_description"|trans }}</p>
                    {{ form_row(form.profile.otherIdType) }}
                    {{ form_row(form.profile.otherIdNumber) }}

                    <h2>{{ "profile.additional_bank_heading"|trans }}</h2>
                    <p>{{ "profile.additional_bank_description"|trans }}</p>
                    {{ form_row(form.profile.bankPrefix) }}
                    {{ form_row(form.profile.bankNumber) }}
                    {{ form_row(form.profile.bankCode) }}
                {% endif %}

                {% if flow.getCurrentStepNumber() == 2 %}
                    <h2>{{ "loan.additional_obligations_heading"|trans }}</h2>
                    <p>{{ "loan.additional_obligations_description"|trans }}</p>

                    {% if flow.formData.loanPurpose == 2 %}
                        <div class="hide">
                    {% endif %}
                    {{ form_row(form.additionalNoObligations) }}
                    {% if flow.formData.loanPurpose == 2 %}
                        </div>
                    {% endif %}

                    <div class="form-additional-obligations-wrapper">
                        {{ form_row(form.additionalObligations) }}
                        {{ form_row(form.additionalObligationInfo) }}
                    </div>

                    <div class="clearfix"></div>
                    <h2>{{ "loan.additional_incomes_heading"|trans }}</h2>
                    <p>{{ "loan.additional_incomes_description"|trans }}</p>
                     {{ form_row(form.additionalIncomes) }}
                     {{ form_row(form.additionalIncomesOthers) }}
                     {{ form_row(form.additionalIncomesPartner) }}
                     {{ form_row(form.additionalOutcomesHousehold) }}
                     {{ form_row(form.additionalKids) }}
                     {{ form_row(form.additionalOutcomesInfo) }}
                {% endif %}

                {% if flow.getCurrentStepNumber() == 3 %}
                    {#<h2>{{ "loan.credit_register_heading"|trans }}</h2>#}
                    {#<p>{{ "loan.credit_register_description"|trans }}</p>#}
                    {#{{ form_row(form.additionalFiles) }}#}

                    <h2>{{ "loan.additional_info_heading"|trans }}</h2>
                    <p>{{ "loan.additional_info_description"|trans }}</p>
                    {{ form_row(form.additionalWhyBorrowInfo) }}
                    {{ form_row(form.additionalWhySecureInfo) }}

                {% endif %}


                {% if flow.getCurrentStepNumber() == 4 %}
                    <p>{{ "auction_validate.step_4_confirm_desc1"|trans }}</p>

                    {% set label = "loan.additional_accept_framework_aggreement"|trans({
                    "%1%": path("hg_app_page", {slug:"vseobecne-zmluvne-podmienky"}),
                    "%2%": (path("hg_app_page",{slug: "vseobecne-zmluvne-podmienky"}) ~ "#sadzobnik-poplatkov")
                    }) %}
                    {{ form_row(form.acceptAggreement, {label: label}) }}
                {% endif %}


                {% include 'AppBundle:includes:stepper_buttons.html.twig' %}
            {{ form_end(form) }}

        </div>



    </div>
{% endblock fos_user_content %}
