{% extends "FOSUserBundle::layout_sidebar_profile.html.twig" %}
{% from 'AppBundle:macros:planb.html.twig' import stepper %}

{% block breadcrumb_inner %}
    {{ parent() }}
    {% trans_default_domain 'FOSUserBundle' %}
    <li><span>{{ "profile_sidebar_menu.my_account"|trans }}</span></li>
{% endblock breadcrumb_inner %}


{% block fos_user_content %}
    <div class="content brand-customer">
        <div class="icon-box">
            <div class="icon">
                <i class="icon-user-arrow-in"></i>
            </div>
            <div class="text">
                <h2>{{ "loan_validate.pramameters_verify"|trans }}</h2>
                <p>{{ "auction_validated.desc"|trans({}, "texts") }}</p>
            </div>
        </div>


        {{ stepper(4, 4, {
            0:"stepper_account.step_1"|trans,
            1:"stepper_account.step_2"|trans,
            2:"stepper_account.step_3"|trans,
            3:"stepper_account.step_4"|trans,
        }) }}

        <div class="alert-box alert-box-info">
            <div class="icon">
                <i class="icon-info"></i>
            </div>
            <div class="text">
                <div class="alert">
                    {{ "auction_validated.desc"|trans({}, "texts")|wpautop|raw }}
                </div>
            </div>
        </div>

        {#<h2>{{ "auction_validated.additional.heading"|trans({}, "texts") }}</h2>#}
        {#<h3>{{ "auction_validated.additional.point_1.heading"|trans({}, "texts") }}</h3>#}
        {#<p>{{ "auction_validated.additional.point_1.desc"|trans({}, "texts") }}</p>#}

        {#<h3>{{ "auction_validated.additional.point_2.heading"|trans({}, "texts") }}</h3>#}
        {#<p>{{ "auction_validated.additional.point_2.desc"|trans({}, "texts") }}</p>#}
    </div>
{% endblock fos_user_content %}