{% extends "FOSUserBundle::layout_sidebar_profile.html.twig" %}
{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}

{% trans_default_domain 'FOSUserBundle' %}

{% block breadcrumb_inner %}
    {{ parent() }}
    <li><a href="{{ path("fos_user_profile_index") }}">{{ "profile_sidebar_menu.my_account"|trans }}</a></li>
    <li><span>{{ "profile_sidebar_menu.my_info"|trans }}</span></li>
{% endblock breadcrumb_inner %}

{% block fos_user_content %}
    {% block flashes %}
        {% if app.session.flashbag.peekAll|length > 0 %}
            <div class="row">
                <div class="col-sm-12">
                    {{ session_flash(null, null, null, "FOSUserBundle") }}
                </div>
            </div>
        {% endif %}
    {% endblock flashes %}

    <div class="icon-box">
        <div class="icon">
            <i class="icon-pencil"></i>
        </div>
        <div class="text">
            <h2>{{ "profile_sidebar_menu.my_info"|trans }}</h2>

            <p>{{ "profile.my_info_desc"|trans }}</p>
        </div>
    </div>
    {% set user = app.user %}
    <div class="user-info">
        <h2>{{ "profile.user_data"|trans }}</h2>
        <table>
            <tbody>
            <tr>
                <th>{{ "profile.id"|trans }}</th>
                <td>{{ user.formattedId }}</td>
            </tr>
            <tr>
                <th>{{ "profile.nickname"|trans }}</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>{{ "profile.email"|trans }}</th>
                <td>{{ user.email }}</td>
            </tr>
            {% if user.profile.bankNumber %}
            <tr>
                <th>{{ "profile.bank_number"|trans }}</th>
                <td>{{ user.profile.bankNumberFormatted }}</td>
            </tr>
            {% endif %}
            </tbody>
        </table>
    </div>


    <div class="form-vertical-basic">
        <div class="change-password">
            <i class="icon icon-pencil"></i> {{ "profile.change_password"|trans }}
            <a href="#change-password-collapse" data-toggle="collapse" class="accordion-toggle brand-link">{{ "profile.change"|trans }}</a>
            <div id="change-password-collapse" class="collapse form-vertical">
                {{ form(formPassword, {action: path("fos_user_profile_my_info") }) }}
            </div>
        </div>
        {% if user.isType(constant("TYPE_INVESTOR", user)) %}
        <div class="change-bank-number">
            <i class="icon icon-pencil"></i> {{ "profile.change_bank_number"|trans }}
            <a href="#change-bank-number-collapse" data-toggle="collapse" class="accordion-toggle brand-link">{{ "profile.change"|trans }}</a>
            <div id="change-bank-number-collapse" class="collapse form-vertical">
                {{ form(formBankNumber, {action: path("fos_user_profile_my_info") }) }}
            </div>
        </div>
        {% endif %}

        {#<div class="change-notifications">#}
        {#<i class="icon icon-pencil"></i> Informácie e-mailom <a href="#change-notifications-collapse" data-toggle="collapse">zmeniť</a>#}

        {#<form class="collapse" id="change-notifications-collapse">#}
        {#<input type="checkbox" id="sending-emails-check">#}
        {#<label for="sending-emails-check">#}
        {#<span></span>Súhlasím so zasielaním e-mailov#}
        {#</label>#}

        {#<div class="submit">#}
        {#<button class="btn btn-customer" type="submit">Uložiť nastavenia</button>#}
        {#</div>#}
        {#</form>#}
        {#</div>#}
    </div>
{% endblock fos_user_content %}
