{% extends "FOSUserBundle::layout_sidebar_profile.html.twig" %}
{% from 'AppBundle:macros:planb.html.twig' import stepper %}
{% from 'AppBundle:macros:planb.html.twig' import alert_box %}
{% from 'AppBundle:macros:planb.html.twig' import icon_box %}

{% block breadcrumb_inner %}
    {{ parent() }}
    {% trans_default_domain 'FOSUserBundle' %}
    <li><span>{{ "profile_sidebar_menu.my_account"|trans }}</span></li>
{% endblock breadcrumb_inner %}


{% block fos_user_content %}
    <div class="content brand-customer">

        {{ icon_box("icon-user-arrow-in",
        "<h2>" ~ "customer_upload.heading"|trans({}, "texts") ~ "</h2>" ~
        "<p>" ~ "customer_upload.desc"|trans({}, "texts") ~ "</p>"
        ) }}

        {% if inProgress %}
            {{ alert_box("icon-checkmark-circle", "customer_upload.in_progress.alert_1"|trans({}, "texts"), "info") }}
        {% else %}
            {{ alert_box("icon-info", "customer_upload.to_upload.alert_1"|trans({}, "texts"), "info") }}
            {{ alert_box("icon-warning", "customer_upload.to_upload.alert_2"|trans({}, "texts"), "warning") }}
        {% endif %}

        {% include "UserBundle:includes:files.html.twig" with {files: files} %}

        {% if not inProgress %}
            <div class="form-vertical-basic">
                {{ form(form) }}
            </div>
        {% endif %}

    </div>
{% endblock fos_user_content %}