{% block user_block %}
    {% if app.user %}
        <i class="icon-user"></i> <b>{{ app.user.username }}</b>

        <i class="icon-pencil"></i> <a href="http://blog.planb.sk/wp-admin/"> Blog</a>

        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
            -  <a href="{{ url("sonata_admin_dashboard", {} | merge({'_switch_user': '_exit'})) }}">(exit)</a>
        {% endif %}

        - <i class="icon-home"></i> <a href="{{ url('hg_app_index_index') }}"> {{ 'hg.back_page'|trans({}, 'AdminUser') }}</a>


        - <a class="logout" href="{{ url('fos_user_security_logout') }}">{{ 'hg.user.logout'|trans({}, 'AdminUser') }}</a> <i class="icon-off"></i>
    {% endif %}
{% endblock %}
