{% extends "FOSUserBundle::layout_sidebar_profile.html.twig" %}
{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}

{% block breadcrumb_inner %}
    {{ parent() }}
    <li><a href="{{ path("fos_user_profile_index") }}">{{ "profile_sidebar_menu.my_account"|trans({}, 'FOSUserBundle') }}</a></li>
    <li><span>{{ "profile_sidebar_menu.transactions"|trans({}, "FOSUserBundle") }}</span></li>
{% endblock breadcrumb_inner %}

{% block content %}
    <div class="icon-box">
        <div class="icon">
            <i class="icon-table"></i>
        </div>
        <div class="text">
            <h2>{{ "transactions.heading"|trans }}</h2>
            <p>{{ "transactions.description"|trans }}</p>
        </div>
    </div>
    <div class="transaction-list">

        <table class="table">
            <thead>
            <tr>
                <th>
                <span class="date">{{ "transactions.headings.date"|trans }}
                    <a href="#" class="tooltip-icon tooltip-popup" data-toggle="tooltip" title="Dátum splatnosti transakcie">
                        <i class="icon-help"></i>
                    </a>
                </span>
                </th>
                <th>
                <span class="sender">{{ "transactions.headings.sender"|trans }}
                    <a href="#" class="tooltip-icon tooltip-popup" data-toggle="tooltip"
                       title="Meno odosieľateľa">
                        <i class="icon-help"></i>
                    </a>
                    </span>
                    <span class="account-type">{{ "transactions.headings.account_type"|trans }}</span>
                </th>
                <th><span class="receiver">{{ "transactions.headings.receiver"|trans }}
                    <a href="#" class="tooltip-icon tooltip-popup" data-toggle="tooltip"
                       title="Dátum uskutočnenia transakcie">
                        <i class="icon-help"></i>
                    </a>
                    </span>
                    <span class="account-type">{{ "transactions.headings.account_type"|trans }}</span>
                </th>
                <th><span class="desc">{{ "transactions.headings.desc"|trans }}
                    <a href="#" class="tooltip-icon tooltip-popup" data-toggle="tooltip"
                       title="Dátum uskutočnenia transakcie">
                        <i class="icon-help"></i>
                    </a>
                    </span>
                </th>
                <th>
                    <span class="variable-symbol">{{ "transactions.headings.variable_number"|trans }}
                    <a href="#" class="tooltip-icon tooltip-popup" data-toggle="tooltip"
                       title="Symbol pre určenie typu transakcie">
                        <i class="icon-help"></i>
                    </a></span>
                    <span class="payment-number">{{ "transactions.headings.specific_symbol"|trans }}</span>
                </th>
                <th>
                    <span class="amount">{{ "transactions.headings.amount"|trans }}
                    <a href="#" class="tooltip-icon tooltip-popup" data-toggle="tooltip"
                       title="Suma transakcie v €">
                        <i class="icon-help"></i>
                    </a></span>
                </th>
                <th>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for transaction in transactions %}
                <tr class="status-{{ transaction.status }}">
                    <td>
                        <date class="date">{{ transaction.dueDate|date("d.m.Y") }}</date>
                    </td>
                    <td>
                        <span class="sender">{{ transaction.fromUser.username }}</span>
                        <span class="account-type">{{ transaction.fromTypeFormatted|trans }}</span>
                    </td>
                    <td><span class="receiver">{{ transaction.toUser.username }}</span>
                        <span class="account-type">{{ transaction.toTypeFormatted|trans }}</span>
                    </td>
                    <td><span class="desc">{{ transaction.typeFormatted|trans }}</span>
                    </td>
                    <td>
                        <span class="variable-symbol">{{ transaction.variableNumber|trans }}</span>
                        <span class="payment-number">{{ transaction.specificNumber|trans }}</span>
                    </td>
                    <td>
                        <span class="amount">{{ transaction.amount|currency }}</span>
                    </td>
                    <td class="status">
                        {% if transaction.status == "future" %}
                            <span class="icon-forward tooltip-icon tooltip-popup {{ transaction.status }}" title="{{ transaction.statusFormatted|trans }}"></span>
                        {% elseif transaction.status == "pending" %}
                            <span class="icon-clock tooltip-icon tooltip-popup {{ transaction.status }}" title="{{ transaction.statusFormatted|trans }}"></span>
                        {% elseif transaction.status == "canceled" %}
                            <span class="icon-cancel-circle tooltip-icon tooltip-popup {{ transaction.status }}" title="{{ transaction.statusFormatted|trans }}"></span>
                        {% elseif transaction.status == "success" %}
                            <span class="icon-checkmark-circle tooltip-icon tooltip-popup {{ transaction.status }}" title="{{ transaction.statusFormatted|trans }}"></span>
                        {% elseif transaction.status == "overdue" %}
                            <span class="icon-wondering tooltip-icon tooltip-popup {{ transaction.status }}" title="{{ transaction.statusFormatted|trans }}"></span>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">
                        <div class="no-result text-center">Nemáte žiadne transakcie na účte.</div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {{ knp_pagination_render(transactions) }}
{% endblock content %}
