{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% from 'AppBundle:macros:planb.html.twig' import alert_box %}

{% block breadcrumb_inner %}
    {{ parent() }}
    <li><a href="{{ path("fos_user_registration_index") }}">{{ "register"|trans({}, 'messages') }}</a></li>
    <li><span>{{ "registration.check_email_breadcrumb"|trans }}</span></li>
{% endblock breadcrumb_inner %}

{% block fos_user_content %}
    {{ alert_box('icon-info', 'registration.check_email'|trans({'%email%': user.email}), "info") }}
{% endblock fos_user_content %}
