{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% from 'AppBundle:macros:planb.html.twig' import alert_box %}

{% block breadcrumb_inner %}
    {{ parent() }}
    <li><a href="{{ path("fos_user_registration_index") }}">{{ "register"|trans({}, 'messages') }}</a></li>
    <li><span>{{ "registration.confirmed_breadcrumb"|trans }}</span></li>
{% endblock breadcrumb_inner %}


{% block fos_user_content %}
    {{ alert_box('icon-info', 'registration.confirmed'|trans({'%username%': user.username}), "info") }}

    {% if app.user.isInvestor %}
    <p class="text-center"><a class="btn btn-lg btn-{{ app.user.type }}" href="{{ path("fos_user_investor_profile_registration") }}">{{ "registration.continue_here"|trans }}</a></p>
    {% endif %}
    {% if app.user.isCustomer %}
    <p class="text-center"><a class="btn btn-lg btn-{{ app.user.type }}" href="{{ path("fos_user_profile_pending") }}">{{ "registration.continue_here"|trans }}</a></p>
    {% endif %}

    {#{% if app.session is not empty %}#}
        {#{% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}#}
        {#{% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>{% endif %}#}
    {#{% endif %}#}
{% endblock fos_user_content %}
