{% extends "FOSUserBundle::layout.html.twig" %}


{% block breadcrumb_inner %}
    {{ parent() }}
    <li><span>{{ "register"|trans }}</span></li>
{% endblock breadcrumb_inner %}

{% block brand_color %}{% endblock %}

{% block fos_user_content %}
    {% include "FOSUserBundle:Registration:index_content.html.twig" %}
{% endblock fos_user_content %}
