{% from 'AppBundle:macros:planb.html.twig' import icon_box %}

<div class="brand-investor-dark">
    {{ icon_box('icon-user', '<h2>' ~ "registration.shared.heading"|trans({}, "texts") ~ '</h2>') }}
    <p>{{ "registration.shared.desc"|trans({}, "texts") }}</p>
    <ul class="row register-benefits">
        <li class="col-xs-3">
            <div class="circle icon-bez-poplatkov"></div>
            <strong>{{ "registration.shared.benefit_1"|trans({}, "texts") }}</strong>
        </li>
        <li class="col-xs-3">
            <div class="circle icon-eye"></div>
            <strong>{{ "registration.shared.benefit_2"|trans({}, "texts") }}</strong>
        </li>
        <li class="col-xs-3">
            <div class="circle icon-lock-2"></div>
            <strong>{{ "registration.shared.benefit_3"|trans({}, "texts") }}</strong>
        </li>
        <li class="col-xs-3">
            <div class="circle icon-users"></div>
            <strong>{{ "registration.shared.benefit_4"|trans({}, "texts") }}</strong>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-xs-6 brand-customer">
        {{ icon_box('icon-user-arrow-in', '<h2>' ~ "catcher.why_borrow.heading"|trans({}, "texts") ~ '</h2>' ) }}
        <p>{{ "catcher.why_borrow.info"|trans({}, "texts") }}</p>

        <div class="text-right">
            <a class="btn btn-customer btn-lg"
               href="{{ path("fos_user_registration_register", {type: 'customer'}) }}"><i
                        class="icon-user-arrow-in"></i> {{ "want_to_borrow"|trans }}</a>
        </div>
    </div>
    <div class="col-xs-6 brand-investor">
        {{ icon_box('icon-user-arrow-out', '<h2>' ~ "catcher.why_invest.heading"|trans({}, "texts") ~ '</h2>' ) }}
        <p>{{ "catcher.why_invest.info"|trans({}, "texts") }}</p>

        <div>
            <a class="btn btn-investor btn-lg"
               href="{{ path("fos_user_registration_register", {type: 'investor'}) }}"><i
                        class="icon-user-arrow-out"></i> {{ "want_to_invest"|trans }}</a>
        </div>
    </div>
</div>
<div class="text-center">{{ "have_you_account_already"|trans({"%link%": path("fos_user_security_login")})|raw }}</div>