{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="row">
        <div class="col-xs-12 brand-investor">
            <div class="icon-box">
                <div class="icon">
                    <i class="icon-user-arrow-out"></i>
                </div>
                <div class="text">
                    <h2>{{ "registration.investor.heading"|trans({}, "texts") }}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 brand-investor">

            <div class="icon-box">
                <div class="icon">
                    <i class="icon-shield"></i>
                </div>
                <div class="text">
                    <h3>{{ "registration.investor.benefit_heading_1"|trans({}, "texts") }}</h3>
                    <p>{{ "registration.investor.benefit_content_1"|trans({}, "texts") }}</p>
                </div>
            </div>
            <div class="icon-box">
                <div class="icon">
                    <i class="icon-help"></i>
                </div>
                <div class="text">
                    <h3>{{ "registration.investor.benefit_heading_2"|trans({}, "texts") }}</h3>
                    <p>{{ "registration.investor.benefit_content_2"|trans({}, "texts") }}</p>
                </div>
            </div>
        </div>
        <div class="col-xs-6 customer-register brand-investor">
            <h3>{{ "registration.customer.form_heading"|trans({}, "texts") }}</h3>
            {{ form_start(form) }}
            {{ form_row(form.username) }}
            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword) }}
            {{ form_row(form.terms) }}
            {{ form_row(form.data_process) }}
            {{ form_row(form.framework_contract) }}
            <p><small>{{ "registration.additional_info"|trans }}</small></p>
            {{ form_end(form) }}
        </div>
    </div>
</div>
