{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="row">
        <div class="col-xs-12 brand-customer">
            <div class="icon-box">
                <div class="icon">
                    <i class="icon-user-arrow-out"></i>
                </div>
                <div class="text">
                    <h2>{{ "registration.customer.heading"|trans({}, "texts") }}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 brand-customer">

            <p>{{ "registration.customer.desc"|trans({}, "texts") }}</p>

            <div class="icon-box">
                <div class="icon">
                    <i class="icon-shield"></i>
                </div>
                <div class="text">
                    <h3>{{ "registration.customer.benefit_heading_1"|trans({}, "texts") }}</h3>
                    <p>{{ "registration.customer.benefit_content_1"|trans({}, "texts") }}</p>
                </div>
            </div>
            <div class="icon-box">
                <div class="icon">
                    <i class="icon-help"></i>
                </div>
                <div class="text">
                    <h3>{{ "registration.customer.benefit_heading_2"|trans({}, "texts") }}</h3>
                    <p>{{ "registration.customer.benefit_content_2"|trans({}, "texts") }}</p>
                </div>
            </div>
        </div>
        <div class="col-xs-6 customer-register brand-customer">
            <h3>{{ "registration.customer.form_heading"|trans({}, "texts") }}</h3>
            {{ form(form) }}
        </div>
    </div>
</div>
