{% extends "FOSUserBundle::layout.html.twig" %}

{% block breadcrumb_inner %}
    {{ parent() }}
    <li><a href="{{ path("fos_user_registration_index") }}">{{ "register"|trans }}</a></li>
    <li><span>{{ type|trans }}</span></li>
{% endblock breadcrumb_inner %}

{% block brand_color %}{% endblock %}

{% block fos_user_content %}
{% include "FOSUserBundle:Registration:register_content_" ~ type ~ ".html.twig" %}
{% endblock fos_user_content %}
