<table class="table table-striped">
<tbody>
<tr>
    <th colspan="2" class="heading">{{ "user.info_header"|trans }}</th>
</tr>
<tr>
    <th>{{ "user.type"|trans }}</th>
    <td>{{ user.type|trans }}</td>
</tr>
<tr>
    <th>{{ "user.username"|trans }}</th>
    <td>{{ user.username }}</td>
</tr>
<tr>
    <th>{{ "user.email"|trans }}</th>
    <td>{{ user.email }}</td>
</tr>
<tr>
    <th>{{ "user.hash"|trans }}</th>
    <td>
        {% if user.validationHash %}
            {{ "user.hash_generated"|trans }}
        {% else %}
            {{ "user.hash_blank"|trans }}
        {% endif %}
    </td>
</tr>
{% if user.isType("investor") %}
<tr>
    <th>{{ "user.credit_all"|trans }}</th>
    <td>{{ user.creditAll|currency }}</td>
</tr>
<tr>
    <th>{{ "user.credit_free"|trans }}</th>
    <td>{{ user.creditFree|currency }}</td>
</tr>
<tr>
    <th>{{ "user.credit_auctions"|trans }}</th>
    <td>{{ user.creditAuctions|currency }}</td>
</tr>
<tr>
    <th>{{ "user.credit_loans"|trans }}</th>
    <td>{{ user.creditLoans|currency }}</td>
</tr>
<tr>
    <th>{{ "user.credit_withdraw"|trans }}</th>
    <td>{{ user.creditWithdraw|currency }}</td>
</tr>
{% endif %}

{% if user.profile %}
<tr>
    <th colspan="2" class="heading">{{ "loan_validate.step_2"|trans }}</th>
</tr>
<tr>
    <th>{{ "profile.title"|trans }}</th>
    <td>{{ user.profile.title }}</td>
</tr>
<tr>
    <th>{{ "profile.name"|trans }}</th>
    <td>{{ user.profile.name }}</td>
</tr>
<tr>
    <th>{{ "profile.surname"|trans }}</th>
    <td>{{ user.profile.surname }}</td>
</tr>
{% if user.profile.birthSurname|trim %}
    <tr>
        <th>{{ "profile.birth_surname"|trans }}</th>
        <td>{{ user.profile.birthSurname }}</td>
    </tr>
{% endif %}
<tr>
    <th>{{ "profile.gender"|trans }}</th>
    <td>{{ ("profile.gender_"  ~ user.profile.gender)|trans }}</td>
</tr>
<tr>
    <th>{{ "profile.family_status"|trans }}</th>
    <td>{{ ("profile.family_status_"  ~ user.profile.familyStatus)|trans }}</td>
</tr>
<tr>
    <th>{{ "profile.education"|trans }}</th>
    <td>{{ ("profile.education_"  ~ user.profile.education)|trans }}</td>
</tr>
<tr>
    <th>{{ "profile.is_student"|trans }}</th>
    <td>{{ (user.profile.student ? "bool_1" : "bool_0")|trans }}</td>
</tr>
<tr>
    <th>{{ "profile.birth_date"|trans }}</th>
    <td>{{ user.profile.birthDate|date("d.m.Y") }}</td>
</tr>
<tr>
    <th>{{ "profile.personal_id"|trans }}</th>
    <td>{{ user.profile.personalId }}</td>
</tr>
<tr>
    <th>{{ "profile.citizenship"|trans }}</th>
    <td>{{ user.profile.citizenship }}</td>
</tr>
<tr>
    <th>{{ "profile.id_card"|trans }}</th>
    <td>{{ user.profile.idCard }}</td>
</tr>
<tr>
    <th colspan="2" class="heading">{{ "loan_validate.step_3"|trans }}</th>
</tr>
<tr>
    <th>{{ "profile.address_street"|trans }}</th>
    <td>{{ user.profile.addressStreet }}</td>
</tr>
<tr>
    <th>{{ "profile.address_number"|trans }}</th>
    <td>{{ user.profile.addressNumber }}</td>
</tr>
<tr>
    <th>{{ "profile.address_city"|trans }}</th>
    <td>{{ user.profile.addressCity }}</td>
</tr>
<tr>
    <th>{{ "profile.address_zip"|trans }}</th>
    <td>{{ user.profile.addressZip }}</td>
</tr>
<tr>
    <th>{{ "profile.address_country"|trans }}</th>
    <td>{{ user.profile.addressCountry|country }}</td>
</tr>
{% if user.profile.addressCountry == "SK" %}
    <tr>
        <th>{{ "profile.address_region"|trans }}</th>
        <td>{{ ("profile.address_region_"  ~ user.profile.addressRegion)|trans }}</td>
    </tr>
{% endif %}
{% if user.profile.addressTel %}
    <tr>
        <th>{{ "profile.address_tel"|trans }}</th>
        <td>{{ user.profile.addressTel }}</td>
    </tr>
{% endif %}
<tr>
    <th>{{ "profile.address_mobil"|trans }}</th>
    <td>{{ user.profile.addressMobil }}</td>
</tr>
{% if user.profile.addressContactNotSame %}
    <tr>
        <th colspan="2" class="heading">{{ "profile.address_contact_address"|trans }}</th>
    </tr>
    <tr>
        <th>{{ "profile.address_street"|trans }}</th>
        <td>{{ user.profile.addressContactStreet }}</td>
    </tr>
    <tr>
        <th>{{ "profile.address_number"|trans }}</th>
        <td>{{ user.profile.addressContactNumber }}</td>
    </tr>
    <tr>
        <th>{{ "profile.address_city"|trans }}</th>
        <td>{{ user.profile.addressContactCity }}</td>
    </tr>
    <tr>
        <th>{{ "profile.address_zip"|trans }}</th>
        <td>{{ user.profile.addressContactZip }}</td>
    </tr>
    <tr>
        <th>{{ "profile.address_country"|country }}</th>
        <td>{{ user.profile.addressContactCountry }}</td>
    </tr>
    {% if user.profile.addressContactCountry == "SK" %}
        <tr>
            <th>{{ "profile.address_region"|trans }}</th>
            <td>{{ ("profile.address_region_"  ~ user.profile.addressContactRegion)|trans }}</td>
        </tr>
    {% endif %}
{% endif %}
<tr>
    <th colspan="2" class="heading">{{ "profile.additional_bank_heading"|trans }}</th>
</tr>
{% if user.profile.bankPrefix %}
    <tr>
        <th>{{ "profile.additional_bank_prefix"|trans }}</th>
        <td>{{ (user.profile.bankPrefix)|trans }}</td>
    </tr>
{% endif %}
<tr id="profile-file-list">
    <th>{{ "profile.additional_bank_number"|trans }}</th>
    <td>{{ (user.profile.bankNumber)|trans }}</td>
</tr>
<tr>
    <th>{{ "profile.additional_bank_code"|trans }}</th>
    <td>{{ (user.profile.bankCode)|trans }}</td>
</tr>
<tr>
    <th colspan="2" class="heading">{{ "loan.credit_register_heading"|trans }}</th>
</tr>
{% for file in user.profile.files %}
    <tr>
        <th class="file-confimration">
            {% if file.loan is defined %}
                <a class="file" href="{{ path("hg_app_uploads_loan", {id: file.id}) }}" target="_blank">{{ (file.title)|trans|raw }}</a>
            {% endif %}
            {% if file.profile is defined %}
                <a class="file" href="{{ path("hg_app_uploads_profile", {id: file.id}) }}" target="_blank">{{ (file.title)|trans|raw }}</a>
            {% endif %}

            {% if file.status == "pending" %}<span class="icon-time" title="{{ "upload.pending_tooltip"|trans }}"></span>{% endif %}
            {% if file.status == "success" %}<span class="icon-envelope" title="{{ "upload.success_tooltip"|trans }}"></span>{% endif %}
            {% if file.status == "deleted" %}<span class="icon-remove-sign" title="{{ "upload.deleted_tooltip"|trans }}"></span>{% endif %}
            {% if file.status == "missing" %}<span class="icon-question-sign" title="{{ "upload.missing_tooltip"|trans }}"></span>{% endif %}
            {% if file.status == "delivered" %}<span class="icon-ok-sign" title="{{ "upload.delivered_tooltip"|trans }}"></span>{% endif %}

            {% if file.status in ["pending","success", "missing"]  %}
            {% if file.status in ["pending"]  %}
            <a class="btn btn-info btn-small approve" href="{{ admin.generateUrl('profile_file_approve', {id: file.id} ) }}">{{ "file.approve"|trans }}</a>
            <a class="btn btn-danger btn-small reject" href="{{ admin.generateUrl('profile_file_reject',  {id: file.id}) }}">{{ "file.reject"|trans }}</a>
            {% endif %}
            <a class="btn btn-success btn-small delivered" href="{{ admin.generateUrl('profile_file_delivered',  {id: file.id}) }}">{{ "file.delivered"|trans }}</a>
            {% endif %}
        </th>
        <td><a href="{{ path("hg_app_uploads_profile", {id: file.id}) }}" target="_blank"><span class="icon-file"></span> {{ file.niceFilename }}</a>
        </td>
    </tr>
{% else %}
    <td colspan="2" class="text-center">{{ "loan.additional_file_no"|trans }}</td>
{% endfor %}
{% endif %}
</tbody>
</table>