{% block form %}
    {% set url = admin.id(object) is not null ? 'show' %}

    {% if not admin.hasRoute(url)%}
        <div>
            {{ "form_not_available"|trans({}, "SonataAdminBundle") }}
        </div>
    {% else %}


        {% include "AdminBundle:CRUD/User:show_include.html.twig" with {user: object} %}

            {% if form.vars.errors|length > 0 %}
                <div class="sonata-ba-form-error">
                    {{ form_errors(form) }}
                </div>
            {% endif %}

            {% block sonata_pre_fieldsets %}
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    {% for name, form_group in admin.formgroups %}
                        <li class="{% if loop.first %}active{% endif %}">
                            <a href="#{{ admin.uniqid }}_{{ loop.index }}" data-toggle="tab">
                                <i class="icon-exclamation-sign has-errors hide"></i>
                                {{ admin.trans(name, {}, form_group.translation_domain) }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                {% endblock %}

                <div class="tab-content">
                    {% for name, form_group in admin.formgroups %}
                        <div class="tab-pane {% if loop.first %} active{% endif %}" id="{{ admin.uniqid }}_{{ loop.index }}">
                            <fieldset>
                                <div class="sonata-ba-collapsed-fields">
                                    {% if form_group.description != false %}
                                        <p>{{ form_group.description|raw }}</p>
                                    {% endif %}

                                    {% for field_name in form_group.fields %}
                                        {% if admin.formfielddescriptions[field_name] is defined %}
                                            {{ form_row(form[field_name])}}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </fieldset>
                        </div>
                    {% endfor %}
                </div>

                {% block sonata_post_fieldsets %}
            </div>
            {% endblock %}
        <form id="upload-table" class="form-horizontal"
        action="{{ admin.generateUrl(url, {'id': admin.id(object), 'uniqid': admin.uniqid, 'subclass': app.request.get('subclass')}) }}" {{ form_enctype(formUpload) }}
        method="POST"
        {% if not admin_pool.getOption('html5_validate') %}novalidate="novalidate"{% endif %}
        >
            {{ form_rest(formUpload) }}
        </form>


        <form class="form-horizontal"
              action="{{ admin.generateUrl(url, {'id': admin.id(object), 'uniqid': admin.uniqid, 'subclass': app.request.get('subclass')}) }}" {{ form_enctype(form) }}
              method="POST"
                {% if not admin_pool.getOption('html5_validate') %}novalidate="novalidate"{% endif %}
                >
            {{ form_rest(form) }}


            <div class="well well-small form-actions">
                {% if  object.isType("investor") and object.profile and  object.status is constant('STATUS_DOCUMENTS_WAITING', object)  %}
                    <input type="submit" class="btn btn-success" name="btn_update_and_edit" value="{{ 'btn_approve_investor_documents'|trans({}, 'SonataAdminBundle') }}"/>
                {% endif %}
            </div>
        </form>
    {% endif%}

{% endblock %}