{% extends "FOSUserBundle::layout.html.twig" %}
{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}

{% trans_default_domain 'FOSUserBundle' %}

{% block breadcrumb_inner %}
    {{ parent() }}
    <li><span>{{ "login"|trans({}, "messages") }}</span></li>
{% endblock breadcrumb_inner %}

{% block fos_user_content %}
    <div class="container user-bundle">
        <div class="login">
            <h2><i class="icon icon-enter"></i> {{ 'security.login.login_heading'|trans }}</h2>

            {% if error %}
                <div class="alert alert-danger">{{ error|trans }}</div>
            {% endif %}

            <form action="{{ path("fos_user_security_check") }}" role="form" class="form-inline" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                <div class="form-group">
                    <input placeholder="{{ 'security.login.your_email_or_username'|trans }}" name="_username" class="form-control" value="{{ last_username }}">
                </div>
                <div class="form-group">
                    <input placeholder="{{ 'security.login.your_password'|trans }}" name="_password" type="password" class="form-control">
                </div>
                <br>
                <button class="btn btn-investor btn-lg" type="submit"><i class="icon-enter"></i> {{ 'security.login.login'|trans }}</button>
            </form>
            <a href="{{ path("fos_user_resetting_request") }}" class="forgotten">{{ 'security.login.forgotten_password'|trans }}</a>

            <div class="register">
                <p>{{ "register_now"|trans({}, "messages") }}:</p>
                <a class="btn btn-customer btn-lg" href="{{ path("fos_user_registration_register", {type: "customer"}) }}"><span class="icon-user-arrow-in"></span> {{ 'want_to_borrow'|trans({},"messages") }}</a>
                <a class="btn btn-investor btn-lg" href="{{ path("fos_user_registration_register", {type: "investor"}) }}"><span class="icon-user-arrow-out"></span> {{ 'want_to_invest'|trans({},"messages") }}</a>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
