{% extends 'AppBundle:pdf:layout.html.twig' %}

{% block body %}
    <h2>Informácie o spracúvaní osobných údajov</h2>
    <p>Spoločnosť Lyngo, s.r.o., so sídlom Tŕnistá 591/7, Nitra 949 01, IČO: 47 050 799, zapísaná v Obchodnom registri
        Okresného súdu v Nitre, oddiel: Sro, vložka č. 33785/N (ďalej len „Lyngo, s.r.o.“) je prevádzkovateľmi
        internetového portálu www.plan-B.sk ako aj informačného systému v ktorom sú automatizovanými i
        neautomatizovanými prostriedkami spracúvania spracúvané osobné údaje používateľov internetového portálu
        www.plan-B.sk (ďalej len „dotknuté osoby“), ktorí tieto osobné údaje uviedli pri registrácii na internetovom
        portáli www.plan-B.sk, na účely plnenia zmluvy uzatvorenej so spoločnosťou Lyngo, s.r.o., resp. v súvislosti s
        využívaním služieb poskytovaných prostredníctvom internetového portálu www.plan-B.sk, podľa Všeobecných
        zmluvných podmienok používania internetového portálu www.plan-B.sk, ako aj na účely informovania o ponúkaných
        službách, produktoch, činnosti a obdobných marketingových činnostiach spoločnosti Lyngo, s.r.o., resp.
        internetového portálu www.plan-B.sk a to aj elektronickými prostriedkami.
    </p>

    <p>Dotknuté osoby sú oprávnené od spoločnosti Lyngo, s.r.o. a ich pracovníkov požadovať preukázanie totožnosti alebo
        preukázanie príslušnosti k spoločnosti Lyngo, s.r.o. hodnoverným dokladom k spoločnosti Lyngo, s.r.o.
        Písomný súhlas poskytujú dotknuté osoby dobrovoľne, t.j. bez povinnosti poskytnutia tohto súhlasu a odmietnutie
        udelenia takéhoto súhlasu nemá za následok neuzatvorenie zmluvného vzťahu.
        Osobné údaje dotknutej osoby môžu byť sprístupnené registrovaným užívateľom (investorom) internetového portálu
        www.planb.sk, za účelom uzatvorenia zmlúv podľa Všeobecných zmluvných podmienok používania internetového
        portálu www.planb.sk. Osobné údaje dotknutej osoby môžu byť sprístupnené tretím osobám za účelom plnenia
        ostatných zmluvných povinností spoločnosťou Lyngo, s.r.o., daných Všeobecnými zmluvnými podmienkami používania
        internetového portálu www.planb.sk.

    </p>
    <p>Práva a právom chránené záujmy sú dotknuté osoby oprávnené si uplatniť v súlade s ustanoveniami § 28 až 30 zákona
        č. 122/2013 Z. z. o ochrane osobných údajov. </p>

    <h2>Súhlas so spracúvaním osobných údajov</h2>
    <p>Dolu podpísaný <strong>{{ user.profile.fullName }}</strong>, adresa trvalého pobytu:
        <strong>{{ user.profile.addressStreet }} {{ user.profile.addressNumber }}, {{ user.profile.addressZip }},
            {{ user.profile.addressCity }}</strong>, dátum narodenia:
        <strong>{{ user.profile.birthDate|date("d.m.Y") }}</strong>, týmto ako dotknutá osoba udeľujem spoločnosti
        Lyngo, s.r.o. v súlade so zákonom č. 122/2013 Z. z. o ochrane osobných údajov, súhlas so spracúvaním mojich
        osobných údajov, a to aj prostredníctvom informačného systému, v rozsahu ako boli uvedené pri registrácii na
        internetovom portáli www.planb.sk. Uvedený súhlas sa vzťahuje aj na účely plnenia zmluvy uzatvorenej so
        spoločnosťou Lyngo, s. r. o. na využívanie služieb poskytovaných prostredníctvom internetového portálu
        www.planb.sk, uzatváranej podľa Všeobecných zmluvných podmienok používania internetového portálu www.planb.sk,
        ako aj na účely informovania o ponúkaných službách, produktoch, činnosti a obdobných marketingových činnostiach
        spoločnosti Lyngo, s.r.o., resp. internetového portálu www.planb.sk a to aj elektronickými prostriedkami. </p>
    <p>Zároveň súhlasím, aby spoločnosť Lyngo, s. r. o. a jej pracovníci získavali moje osobné údaje kopírovaním,
        skenovaním alebo iným zaznamenávaním mojich úradných dokladov na nosič informácií a aby k získaným osobným
        údajom priradzovali moje iné osobné údaje, ktoré som im poskytol.

    </p>

    <p>Súhlasím s tým, aby boli moje osobné údaje v tomto rozsahu: meno, priezvisko, rodné číslo a/alebo IČO, dátum
        narodenia, pohlavie, štátna príslušnosť, adresa, údaje o dokladoch totožnosti, údaje týkajúce sa rokovania o
        záväzkových vzťahoch so spoločnosťou Lyngo, s.r.o. vrátane údaja o ne/uzavretí zmluvy o pôžičke s Investormi
        zastúpenými spoločnosťou Lyngo, s.r.o., údaje o rozsahu a povahe porušenia zmluvnej povinnosti, o povahe
        záväzku, z ktorého nesplnená zmluvná povinnosť vyplýva, a o mojej následnej platobnej morálke, údaje o mojich
        finančných záväzkoch súvisiacich so zmluvou o pôžičke, o ich plnení a zabezpečení a ďalšie informácie
        vypovedajúce o mojej bonite, dôveryhodnosti a platobnej morálke a informácie mnou oznámené spoločnosti Lyngo,
        s.r.o. alebo týmito spoločnosťami získané v súvislosti s ne/plnením zmluvy o pôžičke poskytnuté nasledovným
        subjektom:
    </p>


    <p>1. Združeniu SOLUS, záujmové združenie právnických osôb, so sídlom Röntgenova 28, 851 01 Bratislava, IČO 37 935
        984 na účely tvorby a spracovania informačných súborov na zabezpečenie vzájomného informovania oprávnených
        členov združenia SOLUS o bonite, dôveryhodnosti a platobnej morálke klientov členov združenia SOLUS a
        posudzovania klientov členov združenia SOLUS z hľadiska bonity, dôveryhodnosti a platobnej morálky zo strany
        oprávnených členov združenia SOLUS, a to i opakovane, s cieľom zodpovedného poskytovania úverov a iných služieb.
        V prípade, ak nedôjde k uzatvoreniu zmluvy o pôžičke s Investormi zastúpenými spoločnosťou Lyngo,s.r.o., tento
        súhlas udeľujem na dobu 2 rokov od jeho udelenia a v prípade, ak dôjde k uzatvoreniu zmluvy o pôžičke, tento
        súhlas udeľujem na dobu trvania zmluvy a 2 rokov po uhradení všetkých mojich záväzkov vyplývajúcich zo zmluvy o
        pôžičke. </p>

    <p>2. Prostredníctvom NBCB spoločnosti Slovak Banking Credit Bureau, s.r.o. so sídlom Malý trh 2/A, Bratislava
        (ďalej len „SBCB“) za účelom výmeny informácií medzi užívateľmi Nebankového registra klientskych informácií,
        ktorými sú iné nebankové veriteľské subjekty a užívateľmi Spoločného registra bankových informácií, ktorými sú
        banky a pobočky zahraničných bánk pre účely prípravy, uzatvárania, vykonávania a kontroly obchodov s klientmi
        členov NBCB a SBCB, na účely ochrany hospodárskych záujmov členov NBCB a SBCB a prevencie úverových podvodov a
        zároveň, aby moje osobné údaje spracúvané v Spoločnom registri bankových informácií boli poskytnuté spoločnosti
        Lyngo, s.r.o. pre účely prípravy, uzatvárania, vykonávania a kontroly obchodov, na účely ochrany záujmov
        klientov a prevencie úverových podvodov. V prípade, ak nedôjde k uzatvoreniu zmluvy o pôžičke s Investormi
        zastúpenými spoločnosťou Lyngo, s.ro., tento súhlas udeľujem na dobu 2 rokov od jeho udelenia a v prípade, ak
        dôjde k uzatvoreniu zmluvy s pôžičke, tento súhlas udeľujem na dobu trvania zmluvy a 2 rokov po uhradení
        všetkých mojich záväzkov vyplývajúcich zo zmluvy o pôžičke.</p>


    <p>3. Združeniu Non Banking Credit Bureau, záujmové združenie právnických osôb, so sídlom Cintorínska 21, 811 08
        Bratislava, IČO: 420 534 04 (ďalej len „NBCB“) za účelom ich ďalšieho poskytovania spoločnostiam uvedených na
        www.nbcb.sk s cieľom ich overovania v Nebankovom registri klientskych informácií (ktorého prevádzkovateľom je
        NBCB) týmito spoločnosťami z dôvodu ochrany svojich oprávnených hospodárskych záujmov, predchádzaniu úverovým
        podvodom, ako aj snahy zabrániť vzniku prípadných nevymožiteľných pohľadávok zo záväzkových vzťahov s dotknutými
        osobami. V prípade, ak nedôjde k uzatvoreniu zmluvy o pôžičke s Investormi zastúpenými Lyngo, s.r.o. tento
        súhlas udeľujem na dobu 2 rokov od jeho udelenia a v prípade, ak dôjde k uzatvoreniu zmluvy o pôžičke, tento
        súhlas udeľujem na dobu trvania zmluvy a 2 rokov po uhradení všetkých mojich záväzkov voči Investorom.
    </p>
    <p>Svojim podpisom udeľujem výslovný súhlas, aby si spoločnosť Lyngo, s.r.o. overila pravdivosť mnou poskytnutých
        osobných údajov od platcu mzdy, alebo iného príjmu, na účely posúdenia žiadosti o poskytnutie pôžičky. Lyngo,
        s.r.o. je oprávnená za týmto účelom oznámiť platcovi mzdy, alebo iného príjmu, osobné údaje ktoré sú nevyhnutné
        na moju identifikáciu.
    </p>
    <p>Svoj súhlas udeľujem dobrovoľne a na dobu registrácie na internetovom portáli www.planb.sk, resp. na čas
        potrebný na dosiahnutie účelu a splnenia zmluvných povinností daných Všeobecnými zmluvnými podmienkami
        používania internetového portálu www.planb.sk, prípadne až do odvolania. Tento súhlas je možné kedykoľvek
        odvolať zaslaním písomného oznámenia na e-mailovú adresu info@planb.sk alebo na poštovú adresu spoločnosti
        Lyngo, s.r.o.

    </p>
    <p>Vyhlasujem, že nie som politicky exponovanou osobou na účely zákona č. 297/2008 o ochrane pred legalizáciou
        príjmov z trestnej činnosti a o ochrane pred financovaním terorizmu a o zmene a doplnení niektorých zákonov v
        znení neskorších predpisov. Prípadný nesúhlas označím krížikom: [ ]
    </p>
    <p>Prehlasujem, že moje osobné údaje uvedené pri registrácii na internetovom portáli www.planb.sk sú pravdivé.
    </p>

    <table id="sign">
        <tr>
            <td>V ....................................<br><br>
                Dňa: ............................
            </td>
            <td class="sign"><br><br>
                ..................................<br>
                {{ user.profile.fullName }}
            </td>
        </tr>
    </table>
{% endblock %}