{% extends 'AppBundle:pdf:layout.html.twig' %}

{% block body %}
    <p class="red">POZOR! Táto zmluva je iba vzorová, nevypĺňať a neposielať!</p>
    <h2>Informácie o spracúvaní osobných údajov</h2>
    <p>Spoločnosť Lyngo, s.r.o., so sídlom Tŕnistá 591/7, Nitra 949 01, IČO: 47 050 799, zapísaná v Obchodnom registri
        Okresného súdu v Nitre, oddiel: Sro, vložka č. 33785/N (ďalej len „Lyngo, s.r.o.“) je prevádzkovateľmi
        internetového portálu www.planb.sk ako aj informačného systému v ktorom sú automatizovanými i
        neautomatizovanými prostriedkami spracúvania spracúvané osobné údaje používateľov internetového portálu
        www.planb.sk (ďalej len „dotknuté osoby“), ktorí tieto osobné údaje uviedli pri registrácii na internetovom
        portáli www.planb.sk, na účely plnenia zmluvy uzatvorenej so spoločnosťou Lyngo, s.r.o., resp. v súvislosti s
        využívaním služieb poskytovaných prostredníctvom internetového portálu www.planb.sk, podľa Všeobecných
        zmluvných podmienok používania internetového portálu www.planb.sk, ako aj na účely informovania o ponúkaných
        službách, produktoch, činnosti a obdobných marketingových činnostiach spoločnosti Lyngo, s.r.o., resp.
        internetového portálu www.planb.sk a to aj elektronickými prostriedkami. </p>

    <p>Dotknuté osoby sú oprávnené od spoločnosti Lyngo, s.r.o. a ich pracovníkov požadovať preukázanie totožnosti alebo
        preukázanie príslušnosti k spoločnosti Lyngo, s.r.o. hodnoverným dokladom k spoločnosti Lyngo, s.r.o.
        Písomný súhlas poskytujú dotknuté osoby dobrovoľne, t.j. bez povinnosti poskytnutia tohto súhlasu a odmietnutie
        udelenia takéhoto súhlasu nemá za následok neuzatvorenie zmluvného vzťahu.
        Osobné údaje dotknutej osoby môžu byť sprístupnené registrovaným užívateľom (žiadateľom) internetového portálu
        www.planb.sk, za účelom uzatvorenia zmlúv v mene a na účet dotknutej osoby spoločnosťou Lyngo, s.r.o., podľa
        Všeobecných zmluvných podmienok používania internetového portálu www.planb.sk. Osobné údaje dotknutej osoby
        môžu byť sprístupnené tretím osobám za účelom plnenia ostatných zmluvných povinností spoločnosťou Lyngo, s.r.o.,
        daných Všeobecnými zmluvnými podmienkami používania internetového portálu www.planb.sk.</p>
    <p>Práva a právom chránené záujmy sú dotknuté osoby oprávnené si uplatniť v súlade s ustanoveniami § 28 až 30
        zákona č. 122/2013 Z. z. o ochrane osobných údajov.
    </p>

    <h2>Súhlas so spracúvaním osobných údajov</h2>
    <p>Dolu podpísaný <strong><span class="red">Meno Priezvisko</span></strong>, adresa trvalého pobytu:
        <strong><span class="red">Adresa bydliska</span></strong>, dátum narodenia:
        <strong><span class="red">Dátum narodenia</span></strong>, týmto ako dotknutá osoba udeľujem spoločnosti
        Lyngo, s.r.o. v súlade so zákonom č. 122/2013
        Z. z. o ochrane osobných údajov, súhlas so spracúvaním mojich osobných údajov, a to aj prostredníctvom
        informačného systému, v rozsahu ako boli uvedené pri registrácii na internetovom portáli www.planb.sk. Uvedený
        súhlas sa vzťahuje aj na účely plnenia zmluvy uzatvorenej so spoločnosťou Lyngo, s. r. o. na využívanie služieb
        poskytovaných prostredníctvom internetového portálu www.planb.sk, uzatváranej podľa Všeobecných zmluvných
        podmienok používania internetového portálu www.planb.sk, ako aj na účely informovania o ponúkaných službách,
        produktoch, činnosti a obdobných marketingových činnostiach spoločnosti Lyngo, s.r.o., resp. internetového
        portálu www.planb.sk a to aj elektronickými prostriedkami.</p>
    <p>Zároveň súhlasím, aby spoločnosť Lyngo, s. r. o. a jej pracovníci získavali moje osobné údaje kopírovaním,
        skenovaním alebo iným zaznamenávaním mojich úradných dokladov na nosič informácií a aby k získaným osobným
        údajom priraďovali moje iné osobné údaje, ktoré som im poskytol.
    </p>

    <p>Svoj súhlas udeľujem dobrovoľne a na dobu registrácie na internetovom portáli www.planb.sk, resp. na čas
        potrebný na dosiahnutie účelu a splnenia zmluvných povinností daných Všeobecnými zmluvnými podmienkami
        používania internetového portálu www.planb.sk, prípadne až do odvolania. Tento súhlas je možné kedykoľvek
        odvolať zaslaním písomného oznámenia na e-mailovú adresu info@planb.sk alebo na poštovú adresu spoločnosti
        Lyngo, s.r.o.</p>


    <p>Vyhlasujem, že nie som politicky exponovanou osobou na účely zákona č. 297/2008 o ochrane pred legalizáciou
        príjmov z trestnej činnosti a o ochrane pred financovaním terorizmu a o zmene a doplnení niektorých zákonov v
        znení neskorších predpisov. Prípadný nesúhlas označím krížikom: [ ]</p>

    <p>Prehlasujem, že moje osobné údaje uvedené pri registrácii na internetovom portáli www.planb.sk sú pravdivé.</p>

    <table id="sign">
        <tr>
            <td>V ....................................<br><br>
                Dňa: ............................
            </td>
            <td class="sign"> <br><br>
                ..................................<br>
                <span class="red">Meno Priezvisko</span>
            </td>
        </tr>
    </table>
{% endblock %}