{% extends 'AppBundle:pdf:layout.html.twig' %}

{% block body %}
    <div class="center">
        <p class="red">POZOR! Táto zmluva je iba vzorová, nevypĺňať a neposielať!</p>
        <h1>Rámcová zmluva</h1>
        <p><strong>o využívaní internetových služieb číslo <span class="red">Číslo zmluvy</span></strong></p>
        <p>uzatvorená podľa § 269 ods. 2 zákona č. 513/1991 Zb. Obchodný zákonník v znení neskorších predpisov</p>
    </div>

    <table class="table">
        <tr>
            <th>Obchodné meno: </th>
            <td>Lyngo, s.r.o.</td>
        </tr>
        <tr>
            <th>So sídlom:</th>
            <td>Tŕnistá 591/7, Nitra 949 01 </td>
        </tr>
        <tr>
            <th>IČO:</th>
            <td>47 050 799</td>
        </tr>
        <tr>
            <th>Registrácia:</th>
            <td>Obchodný register Okresného súdu v Nitre, oddiel: Sro, vložka č. 33785/N</td>
        </tr>
        <tr>
            <th>Bankový účet:</th>
            <td>5049613564/0900</td>
        </tr>
        <tr>
            <th>v mene spoločnosti:</th>
            <td>Bc. et Bc. Martin Dubeň, B.S.B.A. - konateľ spoločnosti</td>
        </tr>
        <tr>
            <th colspan="2">(ďalej len „Lyngo, s.r.o.“)</th>
        </tr>
    </table>
    <p class="center"><strong>a</strong></p>

    <table class="table">
        <tr>
            <th>Meno a priezvisko: </th>
            <td><div class="red">Meno Priezvisko</div></td>
        </tr>
        <tr>
            <th>Nick používateľa:</th>
            <td><div class="red">Nick</div></td>
        </tr>
        <tr>
            <th>e-mail:</th>
            <td><div class="red">E-mail</div></td>
        </tr>
        <tr>
            <th>Adresa trvalého pobytu:</th>
            <td><div class="red">Váša adresa</div></td>
        </tr>
        {% if user.profile.addressContactNotSame %}
        <tr>
            <th>Korešpondenčná adresa:</th>
            <td><div class="red">Váša adresa</div></td>
        </tr>
       {% endif %}
        <tr>
            <th>Dátum narodenia:</th>
            <td><span class="red">Dátum narodenia</span></td>
        </tr>
        <tr>
            <th>Bankový účet:</th>
            <td><span class="red">Číslo bankového účtu</span></td>
        </tr>
        <tr>
            <td colspan="2">(ďalej len „Investor“) </td>
        </tr>
    </table>
    <p class="center">(Lyngo, s.r.o. a Investor ďalej spolu len „Zmluvné strany“ alebo ktorýkoľvek z nich ako „Zmluvná strana“)
        za týchto podmienok (ďalej len „Zmluva“):
    </p>


    <div class="center">
        <h2>Článok I.</h2>
        <p><strong>Účel a predmet zmluvy a stanovenie základného rámca služieb</strong></p>
    </div>

    <ol>
        <li>Internetový portál http://www.plan-B.sk (ďalej len „Internetový portál“) je internetová platforma prevádzkovaná a spravovaná spoločnosťou Lyngo, s.r.o., prostredníctvom ktorej sa prevádzkuje Internetová aukcia pôžičiek a poskytujú sa ďalšie služby spojené s jej využívaním. Internetová aukcia pôžičiek je elektronický nástroj prevádzkovaný na Internetovom portáli za účelom stretávania sa ponuky pôžičky jednotlivých investorov a dopytu pôžičky jednotlivých žiadateľov. </li>
        <li>Účelom tejto Zmluvy je upraviť práva a povinnosti Zmluvných strán v súvislosti s využívaní služieb Internetového portálu, zabezpečením prístupu do Internetovej aukcie pôžičiek, pri poskytovaní pôžičiek na základe Internetovej aukcií pôžičiek, ako aj v súvislosti s ďalšími službami poskytovanými spoločnosťou Lyngo, s.r.o.</li>
        <li>Prevádzkovateľom Internetového portálu je spoločnosť Lyngo, s.r.o., ktorá na základe procesu registrácie Investora na Internetovom portáli a na základe tejto Zmluvy, poskytne Investorovi komplexné služby spojené s umiestnením jeho ponuky pôžičky do Internetovej aukcie pôžičiek a následným uzatvorením zmluvy o pôžičke so zvoleným žiadateľom, v mene a na účet Investora a ďalšie služby upravené touto Zmluvou.</li>
        <li>Podmienky registrácie na Internetovom portáli, ako i podmienky používania tohto Internetového portálu sú podrobne spracované vo Všeobecných zmluvných podmienkach internetového portálu www.planB.sk (ďalej len „VZP“), vrátane Sadzobníka poplatkov. VZP i Sadzobník poplatkov tvoria súčasť tejto Zmluvy.</li>
        <li>Internetová aukcia pôžičiek je proces, v ktorom Investor, cez rozhranie Internetového portálu a spôsobom na ňom upraveným, ponúka jednotlivým ním zvoleným žiadateľom, ktorí taktiež prejavia záujem o poskytnutie pôžičky, finančné prostriedky za účelom poskytnutia pôžičky a to vo výške a za úrok podľa svojho vlastného uváženia a rozhodnutia (ďalej len „Ponuka“). </li>
        <li>Investor berie na vedomie, že žiadateľ je oprávnený odmietnuť všetky ponuky na poskytnutie pôžičky, resp. vybrať si z nich len niektoré.</li>
        <li>Investor berie na vedomie a súhlasí s tým, že výška jeho Investície do jednej Pôžičky môže byť minimálne 25,-€ a maximálne 100% z celkovej výšky požadovanej, resp. poskytnutej Pôžičky.</li>
        <li>Investor berie na vedomie a súhlasí s tým, že konečná výška pôžičky poskytovaná žiadateľovi na základe Internetovej aukcie pôžičiek, sa poskytuje ako kolektívna pôžička od viacerých investorov, t.j. že finančné prostriedky tvoriace túto pôžičku sú zložené z prostriedkov od viacerých investorom, v mene a na účet ktorých koná spoločnosť Lyngo, s.r.o., pričom nároky vyplývajúce z poskytnutej pôžičky patria výlučne jednotlivým investorom, ktorí danú pôžičku poskytnú a to ako oddeleným veriteľom pomerom podľa výšky poskytnutého plnenia tým-ktorým investorom k celkovej pôžičke, zohľadňujúc k tomu prislúchajúce úroky.</li>
        <li>Finančné prostriedky podľa tejto Zmluvy sú Investorom poukazované spoločnosti Lyngo, s.r.o. výlučne za účelom umožnenia účasti Investora na Internetovej aukcií pôžičiek, krytia ním predkladaných Ponúk a plnenia záväzkov z týchto Ponúk vyplývajúcich, t.j. v konečnom dôsledku ich poskytnutia, prostredníctvom spoločnosti Lyngo, s.r.o. v mene a na účet Investora, v celku alebo v časti ako pôžičky Investorom zvolenému/ým žiadateľovi/m podľa Ponuky Investora a výsledku Internetovej aukcie pôžičiek a to spôsobom dojednaným touto Zmluvou a VZP; nejedná sa o ich investovanie spoločnosťou Lyngo, s.r.o., nakoľko výber konkrétneho žiadateľa, ktorému Investor poskytne pôžičku a aj to akú mu predloží Ponuku, je výlučne na rozhodnutí Investora.</li>
        <li>Investor berie na vedomie a súhlasí s tým, že Internetovej aukcie pôžičiek sa za splnenia ostatných podmienok daných touto Zmluvou a VZP, môže zúčastniť len v prípade, pokiaľ má na svojom Virtuálnom účte Investora na Internetovom portáli dostatok finančných prostriedkov, pričom zúčastniť sa Internetovej aukcie pôžičiek alebo inak s prostriedkami na Virtuálnom účte môže disponovať len do výšky prostriedkov, ktoré má pripísané na svojom Virtuálnom účte Investora a ktoré nie sú alokované do aukcie alebo v pôžičke (ďalej len „Voľné finančné prostriedky“). Voľné finančné prostriedky na Virtuálnom účte Investora umožňujú v rozsahu týchto prostriedkov vytvárať Ponuky v rámci Internetovej aukcií pôžičiek.</li>
        <li>Zmluvné strany sa dohodli, že finančné prostriedky, ktoré Investor poukáže na účet spoločnosti Lyngo, s.r.o. za účelom dojednaným touto Zmluvou, budú v celom rozsahu pripísané na jeho Virtuálny účet Investora a to v lehote najneskôr do 24hodín odo dňa ich pripísania na bankový účet spoločnosti Lyngo, s.r.o.; ďalej sa dohodli, že príslušný podiel Investora na jednotlivých plneniach súvisiacich s poskytnutou pôžičkou a ostatnými nárokmi Investora vyplývajúcimi zo zmluvy o pôžičke, bude pripísaný na Virtuálny účet Investora najneskôr do 5dní odo dňa pripísania tohto plnenia na bankový účet spoločnosti Lyngo, s.r.o.; a zároveň sa dohodli, že Voľné finančné prostriedky z Virtuálneho účtu Investora, budú na bankový  účet Investora zaslané z bankového účtu spoločnosti Lyngo, s.r.o. najneskôr do 24hodín odo dňa zadania požiadavky Investora na ich výplatu cez rozhranie Internetového portálu, pričom v uvedenom rozsahu budú po zadaní tejto požiadavky na Internetovom portáli odpočítané z Virtuálneho účtu Investora. Pri všetkých uvedených finančných operáciách sa finančné prostriedky prevádzajú a zohľadňujú v pomere 1:1, t.j. v plnej výške a v celom rozsahu.</li>
        <li>Finančné prostriedky poukazované spoločnosti Lyngo, s.r.o. podľa tejto Zmluvy Investorom ostávajú stále majetkom Investora a spoločnosť Lyngo, s.r.o. je oprávnená s nimi nakladať len spôsobom dojednaným touto Zmluvou, resp. VZP. Investor berie na vedomie a zaväzuje sa k tomu, že nakoľko je viazaný svojou Ponukou, ktorú urobí konkrétnemu žiadateľovi v rámci Internetovej aukcie pôžičiek, budú finančné prostriedky v rozsahu tejto Ponuky, tzv. „alokované do aukcie“ a Investor sa vzdáva možnosti disponovať s nimi a to až do doby odmietnutia tejto Ponuky žiadateľom alebo vyhodnotenia aukcie ako neúspešnej, kedy Investorovi opätovne vzniká právo voľného nakladania finančnými prostriedkami zodpovedajúcimi tejto Ponuke (z režimu alokované do aukcie sa dostanú do režimu voľne prostriedky na virtuálnom účte Investora); pokiaľ žiadateľ Ponuku bude akceptovať, finančné prostriedky po podpise zmluvy o pôžičke, budú v celom rozsahu tejto Ponuky použité na poskytnutie pôžičky Investorom zvolenému žiadateľovi (z režimu alokované do aukcie sa dostanú do režimu alokované v pôžičke); pokiaľ k uzatvoreniu zmluvy o pôžičke nepríde v stanovenej lehote platnosti návrhu na jej uzatvorenie, Ponuka sa považuje za žiadateľom odmietnutú a Investorovi vzniká právo voľného nakladania s finančnými prostriedkami zodpovedajúci tejto Ponuke.</li>
        <li>Investor berie na vedomie a súhlasí s tým, že finančné prostriedky poukázané spoločnosťou Lyngo, s.r.o. nie sú na jej účte úročené, úročené sú len finančné prostriedky alokované v konkrétnej pôžičke/ách, t.j. reálne poskytnuté ako pôžička konkrétnemu žiadateľovi podľa zmluvy o pôžičke.</li>
        <li>Investor podpisom tejto zmluvy prehlasuje, že má záujem o služby poskytované spoločnosťou Lyngo, s.r.o. podľa tejto Zmluvy a o využívanie Internetového portálu a pokiaľ sa rozhodne poskytnúť zvolenému/ým žiadateľovi/om pôžičku, aby táto bola poskytnutá za podmienok a spôsobom dojednaným touto Zmluvou a VZP.</li>
        <li>Rozhodnutie zúčastniť sa Internetovej aukcie pôžičiek a poskytnúť pôžičku zvolenému žiadateľovi je výlučným rozhodnutím Investora ako výsledok jeho dôslednej úvahy, po zvážení súvisiaceho rizika a ako prejav jeho slobodnej a vážnej vôle. Investor berie na vedomie, že spoločnosť Lyngo, s.r.o. žiadnym spôsobom neručí ani nezodpovedá za splnenie záväzkov dlžníkov (žiadateľov) a ani za prípadnú škodu, ktorú nesplnením svojich záväzkov dlžníci (žiadatelia) Investorovi spôsobia.</li>
    </ol>

    <div class="center">
        <h2>Článok II.</h2>
        <p><strong>Práva a povinnosti zmluvných strán </strong></p>
    </div>

    <p>Na základe tejto zmluvy sa spoločnosť Lyngo, s.r.o. zaväzuje poskytnúť Investorovi nasledovné služby:</p>
    <ol type="a">
    <li>aktívny prístup do Internetovej aukcie pôžičiek;</li>
    <li>uzatvorenie zmluvy o pôžičke so žiadateľom podľa výsledku Internetovej aukcie pôžičiek v mene a na účet Investora;</li>
    <li>zabezpečenie inkasa peňažných prostriedkov od Investora za účelom ich poskytnutia žiadateľovi z titulu uzatvorenej zmluvy o pôžičke;</li>
    <li>zabezpečenie inkasa splátok pôžičky od jednotlivých dlžníkov (žiadateľov) a ich výplatu Investorovi;</li>
    <li>sledovanie splácania pôžičiek jednotlivými dlžníkmi (žiadateľmi), vrátane vyhlásenia pôžičky za predčasne splatnú;</li>
    <li>vymáhanie pohľadávok zo zmlúv o pôžičke formou tzv. soft-collection;</li>
    <li>zabezpečenie pohľadávok zo zmlúv o pôžičke formou tzv. hard-collection (vymáhanie prostredníctvom všeobecných alebo rozhodcovských súdov, vrátane prípadného exekučného konania).</li>
    <li>automatické zaradenie Investora do fondu pod názvom Záchranné koleso a poskytnutie všetkých služieb, ktoré Investorovi zo Záchranného kolesa prináležia (bod 4.4 VZP)</li>
    </ol>

    <ol>
        <li>
            Zmluvné strany sa dohodli, že v súvislosti so soft-collection vymáhaním pohľadávky patrí spoločnosti Lyngo, s.r.o. nárok na odmenu:
            <ol type="a">
                <li>
                    výške 3,-€ za každú jednotlivú e-mailovú alebo sms upomienku zaslanú spoločnosťou Lyngo, s.r.o. dlžníkovi (žiadateľovi) v súvislosti s jeho omeškania s plnením si záväzkov;
                </li>
                <li>výške 25,-€ za každú jednotlivú písomnú upomienku zaslanú spoločnosťou Lyngo, s.r.o. dlžníkovi (žiadateľovi) v súvislosti s jeho omeškania s plnením si záväzkov;</li>
                <li>výške 5,-€ za každé jednotlivé párovanie/identifikovanie platby v dôsledku nesprávne uvedeného variabilného symbolu platby.</li>

            </ol>
        </li>
        <li>Zmluvné strany sa dohodli, že odmena spoločnosti Lyngo, s.r.o. v súvislosti so soft-collection vymáhaním pohľadávky bude zohľadnená v celom rozsahu ako zmluvná pokuta Investora voči dlžníkovi (žiadateľovi) v zmluve o pôžičke a zároveň sa dohodli, že spoločnosť Lyngo, s.r.o. má nárok na zaplatenie tejto odmeny len za prekladu, že dlžník (žiadateľ) týmto titulom (t.j. z rovnakého dôvodu) zaplatí Investorovi zmluvnú pokutu, pričom Investor súhlasí s tým, aby na úhradu odmeny spoločnosť Lyngo, s.r.o. použila a započítala plnenie zmluvnej pokuty dlžníkom (žiadateľom) alebo iné plnenie, z ktorého má byť zmluvná pokuta uhradená a k uvedenému Investor spoločnosť Lyngo, s.r.o. splnomocňuje a zároveň súhlasí s tým, aby takéto plnenie bolo Investorovi poukázaná už znížené o úhrady tejto odmeny.</li>
        <li>Zmluvné strany sa dohodli, že náklady súvisiace s prípadným hard-collection vymáhaním pohľadávky znáša v celom rozsahu Investor, resp. spolu s ostatnými investormi podľa ich podielov na celkovom nároku.</li>
        <li>Zmluvu o pôžičke uzatvorí so žiadateľom spoločnosť Lyngo, s.r.o. v mene a na účet Investora, na základe výsledku Internetovej aukcie pôžičiek, t.j. na základe žiadateľom akceptovanej Ponuky a to v súlade s touto Zmluvou, VZP, vrátane Sadzobníka poplatkov, platnými a účinnými ku dňu začatia aukcie, ktorej sa ponuka týka.</li>
        <li>Zmluvné strany sa dohodli, že prípadné sankcie za omeškanie žiadateľa s úhradou, čo i len jednej splátky alebo jej časti, vrátane uplatnenia zmluvných pokút a úrokov z omeškania, je spoločnosť Lyngo, s.r.o. (v mene a na účet Investora) oprávnená začať uplatňovať voči žiadateľovi, len v prípade omeškania žiadateľa o viac ako 5dní.</li>
        <li>Zmluvné strany sa dohodli, že spoločnosť Lyngo, s.r.o. (v mene a na účet Investora) nevyhlási pôžičku za predčasne splatnú, pokiaľ žiadateľ nebude v omeškaní o viac ako 30dní; spoločnosť Lyngo, s.r.o. je však povinná už v tejto lehote realizovať vymáhanie omeškaných splátok, resp. plnení a to formou soft-collection.</li>
        <li>Zmluvné strany sa dohodli, že v prípade vyhlásenie pôžičky za predčasne splatnú z dôvodu omeškania dlžníka, spoločnosť Lyngo, s.r.o. (v mene a na účet Investora) oprávnená pristúpiť k vymáhaniu pohľadávky formou hard-collection až uplynutím 30dni od vyhlásenie pôžičky za predčasne splatnú.</li>
        <li>Investor berie na vedomie a súhlasí s tým, že jednotlivé operácie, ako napríklad, nie však výlučne, zadanie Ponuky alebo zadanie žiadosti o vyplatenie finančných prostriedkov z Virtuálneho účtu Investora na bankový účet Investora, podliehajú dodatočnej autorizácií priamo na Internetovom portáli, pomocou kódu z grid karty. Kódom z grid karty je súbor znakov, ktoré je potrebné zadať z grid karty, zodpovedajúci pozícií požadovanej na Internetovom portáli pre autorizáciu daného úkonu Investorom. Za tým účelom zašle spoločnosť Lyngo, s.r.o. na registrovaný e-mail Investora uvedený v záhlaví tejto Zmluvy, jedinečnú grid kartu s kódmi priradenú pre Investora, spolu so zaslaním náhodne vygenerovaného hesla pre jej otvorenie. Nakoľko sa prostredníctvom danej grid karty kódov overuje totožnosť Investora a oprávnenie nakladať s prostriedkami na jeho Virtuálnom účte Investora je Investor povinný grid kartui kódmi riadne uchovať a zabezpečiť ju pred jej stratou alebo zneužitím a v prípade zistenia straty alebo jej zneužitia je povinný okamžite o tom informovať spoločnosť Lyngo, s.r.o. za účelom vystavenia novej grid karty s kódmi. Za prípadnú stratu alebo zneužitie grid karty nenesie spoločnosť Lyngo, s.r.o. žiadnu zodpovednosť.</li>
        <li>Zmluvné strany sa dohodli, že finančné operácie s touto Zmluvou súvisiace budú realizované výlučne bezhotovostným prevodom na bankové účty uvedené v záhlaví tejto Zmluvy, ktoré sú vedené na meno dotknutej Zmluvnej strany; Investor je oprávnený zmeniť svoj bankový účet zmenou svojho profilu na Internetovom portáli; pri pochybnostiach sa má za to, že Investor súhlasí a spoločnosť Lyngo, s.r.o. je oprávnená poukázať finančné prostriedky Investorovi v prospech bankového účtu, z ktorých boli Investorom spoločnosti Lyngo, s.r.o. zaslané.</li>
    </ol>
    </li>

    <div class="center">
        <h2>Článok III.</h2>
        <p><strong>Plnomocenstvo </strong></p>
    </div>
    <ol>
        <li>
            Na účely zabezpečenia a plnenia služieb podľa tejto Zmluvy, udeľuje Investor podpisom tejto Zmluvy spoločnosti Lyngo, s.r.o. plnomocenstvo, aby spoločnosť Lyngo, s.r.o. v mene a na účet Investora, vykonala nasledovné úkony:
            <ol type="a">
                <li>uzatvorenie zmluvy o pôžičke v mene a na účet Investora so žiadateľmi podľa výsledku Internetovej aukcie pôžičiek;</li>
                <li>nakladanie s finančnými prostriedkami Investora, za účelom poskytnutia pôžičky žiadateľovi v zmysle uzatvorenej zmluvy o pôžičke;</li>
                <li>vyhlásenie predčasnej splatnosti pôžičky;</li>
                <li>inkaso jednotlivých splátok pôžičky, či iných plnení vyplývajúcich z uzatvorenej zmluvy o pôžičke;</li>
                <li>uplatnenie nárokov Investora voči dlžníkovi (žiadateľovi) vyplývajúcich zo zmluvy o pôžičke, vrátane zmluvných pokút;</li>
                <li>preberanie písomností súvisiacich s touto Zmluvou, resp. na jej základe uzatvorenej zmluvy o pôžičke;</li>
                <li>vymáhanie pohľadávky Investora vzniknutých z titulu poskytnutej pôžičky od dlžníka (žiadateľa), vrátane uplatnia týchto nárokov Investora na všeobecných alebo rozhodcovských súdoch, ako aj v prípadnom exekučnom konaní, prípadne na zverenie pohľadávky Investora voči žiadateľovi do mandátnej správy tretiemu subjektu podľa výberu spoločnosti Lyngo, s.r.o..
                    a to všetko za podmienok dojednaných touto Zmluvou.
                </li>
            </ol>
        </li>
        <li>Preukazom udeleného plnomocenstva je táto Zmluva. Investor sa zaväzuje udeliť spoločnosti Lyngo, s.r.o. na jej požiadanie aj osobitné splnomocnenie, pokiaľ také bude potrebné pre vykonanie konkrétneho úkonu.</li>
        <li>Podpisom tejto Zmluvy Investor udeľuje súhlas, aby si spoločnosť Lyngo, s.r.o. ako splnomocnenec ustanovila za seba zástupcu a ak ich ustanoví viac, Investor udeľuje súhlas, aby každý z nich konal samostatne.</li>
    </ol>

    <div class="center">
        <h2>Článok IV.</h2>
        <p><strong>Prehlásenia a ostatné dojednania </strong></p>
    </div>

    <ol>
        <li>Podpisom tejto Zmluvy Investor vyhlasuje, že nie je podnikateľom v zmysle ust. § 2 Obchodného zákonníka a jeho spôsobilosť na právne úkony nie je obmedzená; o prípadných zmenách je Investor, resp. osoby alebo orgány oprávnené konať v jeho mene, povinný bezodkladne písomne upovedomiť spoločnosť Lyngo, s.r.o..</li>
        <li>Podpisom tejto Zmluvy Investor zároveň výslovne vyhlasuje, že nie je veriteľom podľa zákona č. 129/2010 Z. z. o spotrebiteľských úveroch a o iných úveroch a pôžičkách pre spotrebiteľov v znení neskorších predpisov (ďalej len „zákon o spotrebiteľských úveroch“). V prípade, ak počas trvania tejto Zmluvy nadobudne Investor postavenie veriteľa podľa zákona o spotrebiteľských úveroch a/alebo získa oprávnenie poskytovať úvery alebo pôžičky z peňažných zdrojov získaných výlučne bez verejnej výzvy a bez verejnej ponuky majetkových hodnôt alebo poskytovať úvery a pôžičky podľa osobitných predpisov, najmä spotrebiteľské úvery podľa zákona o spotrebiteľských úveroch, je povinný o tom bezodkladne písomne informovať spoločnosť Lyngo, s.r.o.</li>
        <li>Podpisom tejto Zmluvy Investor taktiež vyhlasuje: - že na jeho majetok alebo jeho osobu nie je vedené exekučné konanie alebo súdny alebo daňový výkon rozhodnutia; - že na jeho majetok alebo jeho osobu nie je podaný vedené konkurzné konanie, vyhlásený konkurz alebo podaný návrh na vyhlásenie konkurzu; že nie je v omeškaní s platením svojich záväzkov voči bankám alebo iným finančným inštitúciám, či iným subjektom, nie je v omeškaní s platením svojich daňových, colných alebo iných záväzkov voči orgánom verejnej moci; o prípadných zmenách je Investor, resp. osoby alebo orgány oprávnené konať v jeho mene, povinný bezodkladne písomne upovedomiť spoločnosť Lyngo, s.r.o..</li>
        <li>Investor ďalej vyhlasuje, že finančné prostriedky poskytnuté na základe tejto Zmluvy a VZP za účelom uzatvorenia Zmluvy o pôžičke so Žiadateľom: - sú v jeho výlučnom vlastníctve a ich použitiu na tieto účely nič nebráni; - neboli nadobudnuté v rozpore so všeobecne záväznými právnymi predpismi Slovenskej republiky, nepochádzajú z trestnej činnosti alebo z účasti na trestnej činnosti a ich poskytnutím nedochádza k pokusu o legalizáciu týchto peňažných prostriedkov, resp. financovaniu terorizmu v zmysle zákona č. 297/2008 Z. z. o ochrane pred legalizáciou príjmov z trestnej činnosti a o ochrane pred financovaním terorizmu v znení neskorších predpisov. </li>
        <li>Investor berie na vedomie, že prostredníctvom služieb poskytovaných Internetovým portálom je zakázané: - poskytovať finančné služby finančných inštitúcií alebo iné činnosti upravené zákonom č. 186/2009 Z.z. o finančnom sprostredkovaní a finančnom poradenstve; - poskytovať úvery alebo pôžičky, či iné plnenia, v rámci podnikateľských aktivít.</li>
        <li>Investor sa zaväzuje, že prostredníctvom Internetového portálu nebude vedome poskytovať pôžičky sebe, osobám jemu blízkym alebo jemu spriazneným a to nielen vo svojom mene a na svoj účet ale ani v mene iného a ani na účet iného.</li>
        <li>Investor sa zaväzuje, že v súvislosti so službami poskytovanými prostredníctvom Internetového portálu, resp. touto Zmluvou, bude využívať výlučne vlastné finančné prostriedky, pri nakladaní s ktorými nie je žiadnym spôsobom obmedzený. Zmluvné strany sa dohodli, že v prípade porušenia povinností Investora podľa tohto článku Zmluvy alebo v prípade, ak sa ktorékoľvek z vyhlásení Investora uvedených v tomto článku Zmluvy ukáže ako nepravdivé, je spoločnosť Lyngo, s.r.o. oprávnená od tejto Zmluvy s okamžitou platnosťou odstúpiť, akonáhle sa o tejto skutočnosti dozvie a Investor sa zaväzuje v celom rozsahu nahradiť spoločnosti Lyngo, s.r.o. prípadnú škodu tým spôsobenú. Odstúpenie je účinné zaslaním písomného oznámenia o odstúpení od tejto Zmluvy spoločnosťou Lyngo, s.r.o., Investorovi. Na základe takéhoto odstúpenia je spoločnosť Lyngo, s.r.o. oprávnená zrušiť registráciu Investora na Internetovom portáli a jeho obmedziť naň.</li>
        <li>Zmluvné strany vyhlasujú, že uzatvoreniu tejto Zmluvy nebránia žiadne ich záväzky alebo iné povinnosti, ktoré majú v čase jej uzatvorenia voči tretím osobám a že sú oprávnení bez akéhokoľvek obmedzenia platne uzatvoriť túto Zmluvu. Zmluvné strany sa dohodli, že po uzatvorení tejto Zmluvy neuskutočnia žiadny právny úkon, v dôsledku ktorého by im vznikli alebo mohli vzniknúť záväzky, resp. práva voči tretím osobám, ktoré by boli v rozpore s touto Zmluvou alebo by marili jej účel</li>
        <li>Zmluvné strany sa zaväzujú pri plnení tejto Zmluvy dodržiavať všetky svoje záväzky, poskytovať si nevyhnutnú súčinnosť a vzájomne spolupracovať tak, aby nedochádzalo k omeškaniu s plnením jednotlivých povinností. Konkrétne práva a povinnosti zmluvných strán pri ich vzájomnej spolupráci podľa tejto Zmluvy, sú uvedené vo VZP. </li>
    </ol>


    <div class="center">
        <h2>Článok V.</h2>
        <p><strong>Záverečné ustanovenia </strong></p>
    </div>
    <ol>
    <li>Definície jednotlivých pojmov uvedených v tejto Zmluve sú bližšie špecifikované vo VZP; to neplatí v prípade, ak je definícia pojmu uvedená priamo v tejto Zmluve.</li>
    <li>Práva a povinnosti zmluvných strán touto Zmluvou výslovne neupravené, sa riadia príslušnými ustanoveniami zákona č. 513/1991 Zb. Obchodný zákonník v znení neskorších predpisov (ďalej len „Obchodný zákonník“) a ostatných právnych predpisov platných na území Slovenskej republiky. Zmluvné strany sa výslovne dohodli, že v ich vzájomnom vzťahu založenom touto Zmluvou sa v súlade s ust. § 263 ods. 1 obchodného zákonníka neuplatnia a neaplikujú ust. § 567 – 576 Obchodného zákonníka, tzn. podrobná úprava vzájomných práv a povinností zmluvných strán je obsiahnutá v tejto Zmluve a jej neoddeliteľných súčastiach. </li>
    <li>Súčasťou tejto Zmluvy, ktoré tvoria záväznú časť jej obsahu a ktoré podrobnejšie upravujú práva a povinnosti medzi zmluvnými stranami v súlade s ust. § 273 zákona č. 513/1991 Zb. Obchodný zákonník v znení neskorších predpisov, sú VZP (vrátane Sadzobníka poplatkov, ktorý je ich súčasťou). Podpisom tejto Zmluvy Investor vyhlasuje, že sa pred podpisom tejto Zmluvy riadne oboznámil s obsahom VZP, vrátane Sadzobníka poplatkov a tieto sa zaväzuje v plnom rozsahu dodržiavať.</li>
    <li>Podpisom tejto Zmluvy Investor výslovne súhlasí s tým, že spoločnosť Lyngo, s.r.o. je oprávnená jednostranne meniť a/alebo dopĺňať VZP. V prípade, ak po podpise tejto Zmluvy dôjde zo strany spoločnosti Lyngo, s.r.o. k zmene a/alebo doplneniu obsahu VZP, je spoločnosť Lyngo, s.r.o. povinný upravené nové znenie VZP zverejniť na Internetovom portáli a prostredníctvom mailu zaslať na vedomie VZP, pričom Investor podpisom tejto Zmluvy výslovne súhlasí a akceptuje skutočnosť, že jednotlivé Internetové aukcie pôžičiek a Zmluvy o pôžičkách prebiehajúce a uzatvárané prostredníctvom Internetového portálu sa budú riadiť podľa VZP, vrátane Sadzobníka poplatkov, platnými a účinnými ku dňu začatia jednotlivej Internetovej aukcie pôžičiek, pričom sa za také považujú tie VZP, ktoré sú k danému dňu zverejnené na Internetovom portáli; Investor je povinný vopred sa oboznámiť s aktuálnymi VZP a oprávnený zúčastniť sa Internetovej aukcie pôžičiek len za predpokladu, že s nimi súhlasí, čo vyjadrí zakliknutím príslušného políčka na Internetovom portáli.</li>
    <li>Zmluvné strany sa zaväzujú, že počas trvania tejto Zmluvy ale i po jej skončení, budú zachovávať mlčanlivosť o informáciách, ktoré druhá Zmluvná strana poskytla v súvislosti s uzatvorením tejto Zmluvy.</li>
    <li>Zmluvné strany sa záväzne dohodli na nasledovných pravidlách, podmienkach a fikciách doručovania, ktoré medzi nimi so všetkými zmluvnými a zákonnými účinkami doručenia vždy platia:
        <ol type="a">
            <li>listiny sa zasielajú na adresu Zmluvnej strany uvedenú v záhlaví tejto Zmluvy, s prihliadnutím na neskôr riadne a včas oznámenú zmenu, t.j. písomne a vopred;</li>
            <li>listina sa považuje za doručenú aj v prípade, ak ju Zmluvná strana odmietne preukázateľne prevziať;</li>
            <li>listina, ktorá je doručovaná poštou, kuriérom alebo inou osobou, ktorá má povinnosť doručiť zásielku, sa považuje za doručenú jej prevzatím alebo uplynutím tretieho dňa od dňa jej vrátenia zasielateľovi ako zásielky adresátom neprevzatej, resp. adresátovi nedoručenej, pričom takto dohodnutá fikcia platí aj v prípadoch, keď: 1) sa adresát v mieste doručenia nezdržuje, 2) sa adresát o doručení (uložení) zásielky nedozvedel, 3) sa zásielka vrátila odosielateľovi ako nedoručená, neprevzatá alebo nedoručiteľná.</li>
            </ol>
    </li>
    <li>Práva a povinnosti Investora vyplývajúce z tejto Zmluvy, prechádzajú na jeho právnych nástupcov.</li>
    <li>Zmluvné strany sa dohodli, že prípadná neplatnosť niektorého z ustanovení tejto Zmluvy, nespôsobuje neplatnosť celej Zmluvy a že pre takýto prípad, sa prípadné neplatné ustanovenie tejto Zmluvy zaväzujú nahradiť, vo forme dodatku k tejto Zmluve, ustanovením, ktoré bude čo najviac zodpovedať pôvodne dojednanej úprave, resp. zamýšľanému účelu pôvodného ustanovenia; inak s má za to, že prípadné neplatné zmluvné dojednania sa bude spravovať zákonnom predpokladaným spôsobom, ktorý najviac zodpovedá pôvodne dojednanej úprave, resp. zamýšľanému účelu pôvodného ustanovenia.</li>
    <li>Zmeny a dodatky k tejto Zmluve môžu byť uskutočnené len na základe dohody Zmluvných strán a to formou očíslovaného písomného dodatku podpísaného na jednom dokumente Zmluvnými stranami.</li>
    <li>V prípade odstúpenia od tejto Zmluvy, jej vypovedania alebo ukončením tejto zmluvy iným spôsobom (inak ako riadnym splnením alebo dohodou Zmluvných strán) nie sú dotknuté práva a povinnosti Zmluvných strán, ktoré vznikli za jej trvania a práva a povinnosti Zmluvných strán, ktoré podľa svojej povahy majú trvať aj po ukončení tejto zmluvy.</li>
    <li>Všetky spory vzniknuté v súvislosti s touto Zmluvou sa Zmluvné strany zaväzujú urovnať prednostne dohodou. </li>
    <li>Zmluvné strany vyhlasujú, že ich zmluvná voľnosť nie je ničím obmedzená.</li>
    <li>Zmluva je vyhotovená v dvoch vyhotoveniach, pričom každá zo Zmluvných strán dostane po jednom vyhotovení.</li>
    <li>Táto Zmluva nadobúda platnosť a účinnosť dňom jej podpisu Zmluvnými stranami.</li>
    <li>Táto Zmluva sa uzatvára na dobu neurčitú.</li>
    <li>Zmluvné strany po prečítaní a dôkladnom preštudovaní tejto Zmluvy a jej príloh, jej podpisom prehlasujú, že si Zmluvu, vrátane jej príloh, dôkladne prečítali, textu, vrátane odkazov na právne normy a prílohy, porozumeli a bez výhrad s ním súhlasia.</li>
    <li>Zmluvné strany výslovne prehlasujú, že Zmluvu neuzatvárajú v tiesni ani za nápadne nevýhodných podmienok, že táto výsledkom ich rokovaní a jej uzatvorená na základe a v súlade s ich požiadavkami a že Zmluvu uzatvárajú nakoľko táto bez výhrad zodpovedá prejavu ich slobodnej a vážnej vole; na znak toho ju vlastnoručne podpisujú.</li>

    </ol>

    <table id="sign">
        <tr>
            <td>
                Lyngo, s.r.o.:<br><br>
                V ....................................<br><br>
                Dňa: ............................
            </td>
            <td>
                Investor: <br><br>
                V ....................................<br><br>
                Dňa: ............................
            </td>
        </tr>
        <tr>
            <td colspan="2"><br><br><br></td>
        </tr>
        <tr>
            <td>
                ............................................<br>
                Bc. et Bc. Martin Dubeň, B.S.B.A.<br>
                konateľ spoločnosti Lyngo, s.r.o.

            </td>
            <td>
                ............................................<br>
                <span class="red">Vaše meno</span><br>
                (úradne overený podpis)
            </td>
        </tr>
    </table>
{% endblock %}