<table id="header">
    <tr>
        <td class="logo">
            <img src="{{ asset('/bundles/app/img/pdf/logo.png') }}" height="65"/>
        </td>
        <td class="page-number">
            Strana {PAGENO} z {nbpg}
        </td>
    </tr>
</table>