<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
        body {
            background: #ffffff;
            font-size: 14px;
            font-weight: normal;
            color: #555555;
            position: relative;
            text-align: left;
        }
        #header {
            border-bottom: 1px solid #eeeeee;
            width: 100%;
        }
        #header .page-number {
            text-align: right;
        }
        #footer {
            border-top: 1px solid #eeeeee;
            text-align: center;
            padding-top: 12px;
            font-size: 12px;
            color: #888888;

        }
        #footer a {
            color: #888888;
        }
        #sign {
            width: 100%;
            margin-top: 48px;
        }
        #sign .sign{
            text-align: right;
        }

        .table, .table-investors {
            width: 100%;
        }
        .table .heading{
            background: #444 !important;
            color: #fff !important;
            border-collapse: collapse;
            width: 100%;
            padding: 5px 0;
            text-align: center;
        }
        .table th{
            text-align: left;
            padding: 5px 0;
            border-bottom: 1px dotted #888;
        }
        .table td{
            text-align: left;
            padding: 5px 0;
            border-bottom: 1px dotted #888;
        }
        .table-investors .heading{
            background: #444 !important;
            color: #fff !important;
            border-collapse: collapse;
            width: 100%;
            padding: 5px 0;
            text-align: center;
        }
        .table-investors th{
            text-align: left;
            padding: 5px 0;
        }
        .table-investors td{
            text-align: left;
            padding: 5px 0;
        }
        .center{
            text-align: center;
        }
        .red{
            color: #d00;
        }
    </style>
</head>
<body>
<div id="wrapper">
    {% block body %}{% endblock %}
</div>
</body>
</html>