{% extends 'AppBundle:pdf:layout.html.twig' %}

{% block body %}
    <div class="center">
        <h1>Zmluva o pôžičke</h1>

        <p><strong>číslo: {{ loan.formattedId }}</strong></p>

        <p>uzavretá v zmysle § 51 Občianskeho zákonníka medzi</p>
    </div>

    <p><strong>veriteľmi:</strong></p>
    {% set i = 0 %}
    <table class="table-investors">
        {% for investment in loan.investments %}
            {% if investment.isStatus("prepared") %}
                {% set i = i + 1 %}
                <tr>
                    <th>Meno a priezvisko:</th>
                    <td>{{ investment.user.profile.getFullName }}</td>
                </tr>
                <tr>
                    <th>Dátum narodenia:</th>
                    <td>{{ investment.user.profile.birthDate|date("d.m.Y") }}</td>
                </tr>
                <tr>
                    <th>Trvale bytom:</th>
                    <td>{{ investment.user.profile.addressStreet }} {{ investment.user.profile.addressNumber }}
                        , {{ investment.user.profile.addressZip }}, {{ investment.user.profile.addressCity }}
                        , {{ investment.user.profile.addressCountry|country }}</td>
                </tr>
                <tr>
                    <td colspan="2">(ďalej ako „Veriteľ v {{ i }}.rade“ v príslušnom gramatickom tvare slova)</td>
                </tr>
                <tr>
                    <td height="20" colspan="2"></td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>

    <table class="table">
        <tr>
            <th>Zastúpenými:</th>
            <td>Lyngo, s.r.o.</td>
        </tr>
        <tr>
            <th>Registrácia:</th>
            <td>Obchodný register Okresného súdu v Nitre, oddiel: Sro, vložka č. 33785/N</td>
        </tr>
        <tr>
            <th>So sídlom:</th>
            <td>Tŕnistá 591/7, Nitra 949 01</td>
        </tr>
        <tr>
            <th>IČO:</th>
            <td>47 050 799</td>
        </tr>
        <tr>
            <th>Bankový účet:</th>
            <td>5049613564/0900 Slovenská sporiteľňa a.s.</td>
        </tr>
        <tr>
            <th>v mene spoločnosti:</th>
            <td>Martin Dubeň – konateľ spoločnosti</td>
        </tr>
        <tr>
            <td colspan="2">(ďalej ako „Lyngo, s.r.o.“ v príslušnom gramatickom tvare slova)</td>
        </tr>
    </table>

    <p class="center"><strong>a</strong></p>
    <p><strong>dlžníkom:</strong></p>
    <table class="table">
        <tr>
            <th>Meno a priezvisko:</th>
            <td>{{ user.profile.getFullName }}</td>
        </tr>
        <tr>
            <th>Nick používateľa:</th>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <th>e-mail:</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>rodné číslo:</th>
            <td>{{ user.profile.personalId }}</td>
        </tr>
        <tr>
            <th>Adresa trvalého pobytu:</th>
            <td>{{ user.profile.addressStreet }} {{ user.profile.addressNumber }}, {{ user.profile.addressZip }}
                , {{ user.profile.addressCity }}, {{ user.profile.addressCountry|country }}</td>
        </tr>
        {% if user.profile.addressContactNotSame %}
            <tr>
                <th>Korešpondenčná adresa:</th>
                <td>{{ user.profile.addressContactStreet }} {{ user.profile.addressContactNumber }}
                    , {{ user.profile.addressContactZip }}, {{ user.profile.addressContactCity }}
                    , {{ user.profile.addressContactCountry|country }}</td>
            </tr>
        {% endif %}
        <tr>
            <th>Dátum narodenia:</th>
            <td>{{ user.profile.birthDate|date("d.m.Y") }}</td>
        </tr>
        {% if user.profile.birthSurname %}
            <tr>
                <th>Rodné priezvisko:</th>
                <td>{{ user.profile.birthSurname }}</td>
            </tr>
        {% endif %}
        <tr>
            <th>Bankový účet:</th>
            <td>{{ user.profile.bankNumberFormatted }}</td>
        </tr>
        <tr>
            <td colspan="2">(ďalej ako „Dlžník“ v príslušnom gramatickom tvare slova)</td>
        </tr>
    </table>
    <p class="center">(Veritelia a Dlžník ďalej spolu ako „Zmluvné strany“ alebo ktorýkoľvek z nich ako „Zmluvná strana“
        v príslušnom gramatickom tvare slova)
    </p>


    <div class="center">
        <h2>Čl. I</h2>

        <p><strong>Pôžička a jej sprostredkovanie</strong></p>
    </div>

    <ol>
        <li>Predmetom tejto zmluvy je prenechanie finančných prostriedkov zo strany Veriteľov Dlžníkovi a záväzok
            Dlžníka túto finančnú hotovosť vrátiť Veriteľom za podmienok a spôsobom dohodnutým touto zmluvou (ďalej len
            „Pôžička“ v príslušnom gramatickom tvare).
        </li>
        <li>Veritelia na základe tejto zmluvy prenechávajú Dlžníkovi sumu
            <strong>{{ loan.auctionCollectedAmount|currency }}</strong>, (ďalej len „Požičaná suma“ v príslušnom
            gramatickom tvare) a to s dojednaným úrokom vo výške
            <strong>{{ loan.auctionInterestAverage|interest }}</strong> z Požičanej sumy odo dňa poskytnutia Pôžičky
            až do jej vrátenia a Dlžník sa ju zaväzuje Veriteľom vrátiť za podmienok a spôsobom dohodnutým touto
            zmluvou. Zmluvné strany sa dohodli, že úrok je splatný v splátkach spolu splátkou Pôžičky za podmienok a
            spôsobom dohodnutým touto zmluvou.
        </li>
        <li>Zmluvné strany prehlasujú, že táto zmluva je uzatvorená na základe registrácie Dlžníka a jeho požiadavky ako
            výsledok internetovej aukcie pôžičiek na internetovom portáli www.planb.sk, prevádzkovanom spoločnosťou
            Lyngo, s.r.o., za čo patrí spoločnosti Lyngo, s.r.o. užívateľský poplatok za úspešne uskutočnenú internetovú
            aukciu pôžičiek, ktorý sa jej Dlžník zaväzuje uhradiť a to vo výške 5% z Požičanej sumy, minimálne však v
            sume 30,-€, t.j. v danom prípade v sume <strong>{{ loan.feeAmount|currency }}</strong>, ktorý je splatný
            podpisom tejto zmluvy (ďalej len „Užívateľský poplatok“ v príslušnom gramatickom tvare).
        </li>
        <li>
            Zmluvné strany taktiež prehlasujú, že na základe tejto zmluvy a úspešne uskutočnenej internetovej aukcii
            pôžičky, sa Dlžník zaväzuje uhradiť poplatok do fondu pod názvom Záchranné koleso vo výške 0,5% z celkovej
            výšky pôžičky násobený ratingovou skupinou Dlžníka (bod 4.4 VZP), t.j. v danom prípade v sume <strong>{{ loan.feeLifebuoy|currency }}</strong>,
            ktorý je splatný podpisom tejto zmluvy (ďalej len „poplatok do Záchranného kolesa“ v príslušnom gramatickom tvare).
        </li>
        <li>Požičanú sumu Veritelia poukážu jednorázovým plnením, prostredníctvom spoločnosti Lyngo, s.r.o., v prospech
            účtu Dlžníka uvedeného v záhlaví tejto zmluvy a to dňom
            <strong>{{ loan.loanStartAt|date("d.m.Y") }}</strong>, ku ktorému bude v celom rozsahu Požičaná suma
            odpísaná z účtu spoločnosti Lyngo, s.r.o. v prospech Dlžníka, čím sa Pôžička k uvedenému dňu považuje v
            celom rozsahu za poskytnutú a finančné prostriedky jej zodpovedajúce za Dlžníkovi Veriteľmi prenechané.
        </li>
        <li>Dlžník neodvolateľne súhlasí s tým, aby Užívateľský poplatok bol v celom rozsahu uhradený z Požičanej sumy a
            s tým, aby suma mu zodpovedajúca bola priamo spoločnosťou Lyngo, s.r.o. odpočítaná z Požičanej sumy za
            účelom úhrady Užívateľského poplatku, k čomu Dlžník spoločnosť Lyngo, s.r.o. splnomocňuje a zároveň súhlasí
            s tým, aby spôsobom dojednaným v predchádzajúcom odseku bola Dlžníkovi spoločnosťou Lyngo, s.r.o. poukázaná
            Požičaná suma už znížená o sumu Užívateľského poplatku, ktorý sa tým považuje za zaplatený, t.j. takto bude
            Dlžníkovi spoločnosťou Lyngo, s.r.o. podľa predchádzajúceho odseku poukázaná suma
            <strong>{{ loan.collectedAmountWithoutFee|currency }}</strong>.
        </li>
    </ol>

    <div class="center">
        <h2>Čl. II</h2>

        <p><strong>Postavenie Veriteľov</strong></p>
    </div>
    <ol>
        <li>Zmluvné strany berú na vedomie, že Pôžička je Veriteľmi poskytovaná ako kolektívna pôžička, pričom na jej
            poskytnutí sa Veritelia podieľajú nasledovne:
            <table class="table">
                {% for investment in loan.investments %}
                    {% if investment.isStatus("inserted", "prepared") %}
                        {% set i = i + 1 %}
                        <tr>
                            <td>Veriteľ v {{ i }}.rade sumou {{ investment.amount|currency }} s úrokom vo
                                výške {{ investment.interest|percentage }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </li>
        <li>Zmluvné strany sa dohodli na nasledovnom:
            <ol type="a">
                <li>
                    Veriteľom patria nároky podľa tejto zmluvy, ako oddeleným veriteľom a to pomerom podľa výšky
                    poskytnutého plnenia tým-ktorým Veriteľom k celkovej Pôžičke, zohľadňujúc k tomu prislúchajúce
                    úroky;
                </li>
                <li>Veritelia nie sú oprávnení z tejto zmluvy spoločne a nerozdielne ale každý z nich je z tejto zmluvy
                    oprávnený len do výšky jeho podielu; Dlžník nie je oprávnený podľa tejto zmluvy plniť ktorémukoľvek
                    z Veriteľov viac než pripadá na jeho podiel, resp. prípadným plnením vo väčšom rozsahu, nezaniká
                    záväzok Dlžníka voči ostatným Veriteľom;
                </li>
                <li>prípadné nároky Dlžníka sa posudzujú voči každému z Veriteľov samostatne.
                </li>
            </ol>
        </li>
        <li>Zmluvné strany berú na vedomie a súhlasia s tým, že inkasá jednotlivých platieb na úhradu nárokov Veriteľov
            podľa tejto zmluvy, budú realizované prostredníctvom spoločnosti Lyngo, s.r.o., ktorá následne jednotlivé
            inkasované platby prijaté v súvislosti s touto zmluvou, rozdelí medzi jednotlivých Veriteľov a im ich zašle
            podľa výšky ich podielu.
        </li>
    </ol>


    <div class="center">
        <h2>Čl. III</h2>

        <p><strong>Vrátenie pôžičky</strong></p>
    </div>
    <ol>
        <li>
            Dlžník je povinný vrátiť Veriteľom Požičanú sumu, spolu s dojednaným úrokom z nej, najneskôr do
            <strong>{{ loan.loanEndAt|date("d.m.Y") }}</strong> (ďalej len „Konečný termín“ v príslušnom gramatickom
            tvare). Zaväzuje sa tak uskutočniť v pravidelných mesačných splátkach po
            <strong>{{ loanTransactions.transactions[0].repayment|currency }}</strong>/mesačne vždy so
            splatnosťou do <strong>{{ loan.repaymentDay }}</strong>. dňa v mesiaci, počnúc mesiacom
            <strong>{{ loanTransactions.transactions[0].date|date("m") }}</strong> roku
            <strong>{{ loanTransactions.transactions[0].date|date("Y") }}</strong> až do
            úplného vrátenia Požičanej sumy, vrátane dojednaných úrokov z nej, pričom tieto Splátky v sebe zahŕňajú
            rovnomerné rozvrhnuté časti Požičanej sumy a úroku z nej, zodpovedajúce celkovému počtu splátok podľa doby,
            do ktorej je Dlžník povinný Požičanú sumu v celom rozsahu vrátiť (ďalej len „Splátky“ v príslušnom
            gramatickom tvare). Celkový počet splátok teda činí <strong>{{ loan.loanMaturity }}</strong>.
        </li>
        <li>
            Pre jednotlivé Splátky platí nasledovné:

            <ul>
                <li>Splátky je Dlžník povinný realizovať v súlade so splátkovým kalendárom, ktorý tvorí prílohu číslo 1 tejto zmluvy;
                </li>
                <li>Splátky je Dlžník povinný poukazovať v prospech účtu spoločnosti Lyngo, s.r.o. vedený v banke
                    Slovenská sporiteľňa a.s., číslo účtu <strong>5049613564/0900</strong>, s uvedením variabilného
                    symbolu: <strong>{{ loan.formattedId }}</strong> a špecifického symbolu odpovedajúcemu <strong>poradiu
                        splátky</strong>.
                </li>
                <li>Veritelia a ani spoločnosť Lyngo, s.r.o. nie sú povinní osobitne vyzývať Dlžníka na splatenie
                    jednotlivých Splátok, resp. upozorňovať na omeškanie alebo plnenie v nesprávnej výške;
                </li>
                <li>Splátka sa považuje za zaplatenú riadne a včas, ak je najneskôr v deň splatnosti v dohodnutej výške
                    pripísaná na účet spoločnosti Lyngo, s.r.o.;
                </li>
            </ul>
        </li>
        <li>Predčasné splatenie, niektorej Splátky či Splátok (a to celkom alebo z časti) Dlžníkom nemá vplyv na
            dojednané úroky z Požičanej sumy. To isté platí pri predčasnom splatení všetkých Splátok Dlžníkom.
        </li>
        <li>Dlžník podpisom tejto zmluvy v súlade s ust. § 566 ods. 2 Občianskeho zákonníka určuje poradie
            započítavania jednotlivých platieb realizovaných v súvislosti s touto zmluvou spôsobom, že Veritelia, resp.
            spoločnosť Lyngo, s.r.o., sú oprávnení započítať platby na úhradu záväzkov Dlžníka z tejto zmluvy v
            nasledovnom poradí: zmluvná pokuta, poplatok za predčasné splatenie, úroky z omeškania, ostatné
            príslušenstvo pohľadávky a poplatky, bežné úroky a istina.
        </li>
    </ol>

    <div class="center">
        <h2>Čl. IV</h2>

        <p><strong>Predčasná splatnosť </strong></p>
    </div>

    <ol>
        <li>Dlžník je povinný vrátiť Veriteľom a Veritelia sú oprávnení požadovať vrátenie Požičanej sumy, vrátane
            úrokov a jej ostatného príslušenstva, či prípadne aj zmluvnej pokuty a to ešte pred Konečným termín, na
            výzvu spoločnosti Lyngo, s.r.o., v prípade vyhlásenia Pôžičky za predčasne splatnú (ďalej len „Predčasná
            splatnosť“ v príslušnom gramatickom tvare).
        </li>
        <li>Predčasnú splatnosť je možné vyhlásiť, pokiaľ sa Dlžník ocitne v omeškaní s platením, niektorej čo i len
            jednotlivej Splátky alebo jej časti, po dobu viac ako 15 dní alebo pokiaľ nastane niektorá zo skutočností
            uvedená v tejto zmluve, s ktorou je spojený takýto nárok.
        </li>
        <li>Predčasnú splatnosť je možné vyhlásiť aj v prípade začatia konkurzného, reštrukturalizačného alebo
            exekučného konania na majetkom alebo osobu Dlžníka
        </li>
        <li>Predčasnou splatnosťou nie je dotknutý nárok Veriteľov na zaplatenie dojednaných úrokov z Požičanej sumy za
            celé pôvodne dojednané obdobie na vrátenie Pôžičky, t.j. až do Konečného termínu.
        </li>
        <li>V mene Veriteľov je Predčasnú splatnosť oprávnená vyhlásiť spoločnosť Lyngo, s.r.o..
        </li>
        <li>Ku dňu vyhlásenie Predčasnej splatnosti sa Pôžička stáva v celom nesplatenom rozsahu splatnou a Dlžník je
            povinný vrátiť nesplatenú časť Požičanej sumy, vrátane všetkých ostatných nárokov Veriteľov vyplývajúcich z
            tejto zmluvy, najneskôr do 3-och dní odo dňa doručenia vyhlásenia o Predčasnej splatnosti Dlžníkovi a to
            jednorázovým plnením v uvedenej lehote v prospech účtu spoločnosti Lyngo, s.r.o. vedený v banke Slovenská
            sporiteľňa a.s., číslo účtu <strong>5049613564/0900</strong>, s uvedením variabilného symbolu:
            <strong>{{ loan.formattedId }}</strong>
        </li>
    </ol>

    <div class="center">
        <h2>Čl. V</h2>

        <p><strong>Predčasné splatenie</strong></p>
    </div>
    <ol>
        <li>Dlžník je oprávnený Požičanú sumu, resp. jej časť vrátiť Veriteľom aj pred Konečným termínom a to spôsobom
            dojednaným v tejto zmluve (ďalej len „Predčasné splatenie“ v príslušnom gramatickom tvare). Predčasné
            splatenie je možné realizovať len jednorázovým plnením v celom požadovanom rozsahu, v opačnom prípade sa
            takéto planenie nepovažuje za Predčasné splatenie.
        </li>
        <li>V prípade predčasného splatenia majú Veritelia nárok na zaplatenie dojednaných úrokov z dovtedy neuhradenej
            istiny len za obdobie do skutočného vrátenia Pôžičky; tým nie je žiadnym spôsobom dotknutý ich nárok na už
            zaplatené úroky.
        </li>
        <li>V prípadne Predčasného splatenia vzniká Veriteľom nárok a Dlžník sa im zaväzuje zaplatiť poplatok za
            Predčasné splatenie Pôžičky a to v nasledovnej výške:
            <ul>
                <li>v prvej tretine (1/3) dĺžky splácania vo výške 3% z predčasne splatenej istiny;</li>
                <li>v druhej tretine (2/3) dĺžky splácania vo výške 2% z predčasne splatenej istiny;</li>
                <li>v tretej tretine (3/3) dĺžky splácania vo výške 0% z predčasne splatenej istiny;</li>
            </ul>
        </li>
        <li>Poplatok je splatný spolu s ostatnými nárokmi Veriteľov podľa tejto zmluvy pri platbe v súvislosti
            Predčasným splatením.
        </li>
        <li>Dlžník je oprávnený realizovať Predčasné splatenie na základe žiadosti o Predčasné splatenie zaslanej
            spoločnosti Lyngo, s.r.o. a jej súhlasu s Predčasným splatením, súčasťou ktorého bude aj presné vyúčtovanie
            všetkých nárokov Veriteľov vyplývajúcich z tejto zmluvy súvisiacich s Predčasným splatením. Plnenie za
            účelom Predčasného splatenia je možné realizovať len ku dňu splatnosti najbližšej Splátky po zaslaní súhlasu
            spoločnosti Lyngo, s.r.o. s Predčasným splatením, ku ktorému bude vyhovené vyúčtovanie. Dlžník je teda vo
            vlastnom záujme povinný zaslať žiadosť o Predčasné splatenie spoločnosť Lyngo, s.r.o. dostatočne vopred a
            pokiaľ by v stanovenom termíne, ku ktorému bude vyhotovené vyúčtovanie, nestihol, je povinný požiadať o
            Predčasné splatenie opätovne.
        </li>
    </ol>


    <div class="center">
        <h2>Čl. VI</h2>

        <p><strong>Zmluvné pokuty</strong></p>
    </div>
    <ol>
        <li>Zmluvné strany sa dohodli na nasledovných zmluvných pokutách súvisiacich s porušením zmluvy, resp. v
            dôsledku jej porušenia:
        </li>
        <li>
            <ol type="a">
                <li>pre prípad, čo i len čiastočného omeškania Dlžníka s úhradou ktorejkoľvek Splátky riadne a včas, ako
                    aj pre prípad omeškania Dlžníka s riadnym a včasným plnením svojich záväzkov vyplývajúcich z článku
                    III., resp. IV. tejto zmluvy, vzniká Veriteľom nárok na zaplatenie zmluvnej pokuty a Dlžník sa im ju
                    zaväzuje zaplatiť v dojednanej výške 10,-€ za každý mesiac omeškania za každé jednotlivé omeškania;
                </li>
                <li>pre prípad, že v dôsledku omeškania Dlžníka podľa písm. a) tohto ustanovenia, bude dlžníkovi zaslaná
                    e-mailovú alebo sms upomienka, vzniká Veriteľom nárok na zaplatenie zmluvnej pokuty a Dlžník sa im
                    ju zaväzuje zaplatiť v dojednanej výške 3,-€ za každú jednotlivú upomienku;
                </li>
                <li>pre prípad, že v dôsledku omeškania Dlžníka podľa písm. a) tohto ustanovenia, bude dlžníkovi zaslaná
                    písomná upomienka, vzniká Veriteľom nárok na zaplatenie zmluvnej pokuty a Dlžník sa im ju zaväzuje
                    zaplatiť v dojednanej výške 25,-€ za každú jednotlivú upomienku;
                </li>
                <li>pre prípad, že Dlžník pri úhrade neuvedie správny variabilný symbol platby, vzniká Veriteľom nárok
                    na zaplatenie zmluvnej pokuty a Dlžník sa im ju zaväzuje zaplatiť dojednanej výške 5,-€ za každú
                    jednotlivú takúto nesprávnu platbu.
                </li>
            </ol>
        </li>
        <li>Nárok na zaplatenie zmluvnej pokuty vzniká Veriteľom okamihom akonáhle nastane niektorá zo skutočností podľa
            predchádzajúceho odseku, s ktorou Zmluvné strany spojili nárok na zmluvnú pokutu. Dlžník je povinnú zmluvnú
            pokutu zaplatiť najneskôr do 3-och dní akonáhle nastane niektorá zo skutočností podľa predchádzajúceho
            odseku, s ktorou Zmluvné strany spojili nárok na zmluvnú pokutu a to jednorázovým plnením v uvedenej lehote
            v prospech účtu spoločnosti Lyngo, s.r.o. vedený v banke Slovenská sporiteľňa a.s., číslo účtu <strong>5049613564/0900</strong>,
            s uvedením variabilného symbolu: <strong>{{ loan.formattedId }}</strong></li>
        <li>Povinnosť zaplatiť zmluvnú pokutu podľa tohto článku môže vzniknúť aj opakovane a je celková výška nie je
            obmedzená.
        </li>
        <li>Uplatnením nároku na zmluvnú pokutu ani jej zaplatením nie je dotknutý nárok Veriteľov na splnenie hlavného
            záväzku s príslušenstvom, ani nárok na prípadnú náhradu škody, ktorá im porušením zmluvnej povinnosti
            vznikne.
        </li>
        <li>Zmluvné strany prehlasujú, že výšku dohodnutej zmluvnej pokuty považujú za obvyklú a za primeranú povahe
            nimi zabezpečených záväzkov.
        </li>
    </ol>


    <div class="center">
        <h2>Čl. VII</h2>

        <p><strong>Prehlásenia</strong></p>
    </div>
    <ol>
        <li>
            Dlžník podpisom tejto zmluvy prehlasuje nasledovné:
            <ol type="a">
                <li>všetky údaje, skutočnosti a informácie významné pre uzavretie tejto zmluvy alebo poskytnutie
                    Pôžičky, vrátane tých ktoré uviedol pri registrácií na internetovom portáli www.planb.sk, najmä, nie
                    však výlučne, jeho osobné údaje, údaje týkajúceho sa jeho zamestnania a príjmu, rodinných a
                    majetkových pomerov, jeho záväzkov a pod., uviedol úplne, pravdivo a presne a žiaden údaj,
                    skutočnosť alebo informáciu významnú pre uzavretie tejto zmluvy, poskytnutie Pôžičky alebo jej
                    vrátenie nezatajil;
                </li>
                <li>má plnú spôsobilosť na právne úkony;
                </li>
                <li>nie sú mu známe žiadne okolnosti, ktoré by bránili uzatvoreniu tejto zmluvy, resp. k splneniu si
                    svojich záväzkov z nej vyplývajúcich;
                </li>
                <li>na jeho majetok nie je vyhlásený konkurz, ani nie je voči nemu začaté konkurzné, reštrukturalizačné
                    ani exekučné konanie a bezprostredne mu nehrozí úpadok;
                </li>
                <li>nie sú mu známe žiadne okolnosti, ktoré by mohli ohroziť riadne plnenie jej záväzkov z tejto zmluvy
                    a že disponuje dostatočným majetkom, či príjmom na plnenie týchto záväzkov;
                </li>
                <li>o akýkoľvek zmenách v tomto prehlásení a o všetkých skutočnostiach, ktoré by mohli ovplyvniť riadne
                    plnenie jeho záväzkov podľa tejto zmluvy sa zaväzuje bezodkladne informovať Veriteľov, zastúpených
                    spoločnosťou Lyngo, s.r.o.;
                </li>
                <li>riadne sa oboznámil so Všeobecnými zmluvnými podmienkami vydanými spoločnosťou Lyngo, s.r.o. a
                    zverejnenými na internetovom portáli www.planb.sk, ku dňu podpisu tejto zmluvy, týmto porozumej a v
                    celom rozsahu k ním pristupuje a zaväzuje sa nimi riadiť a plniť si povinnosti z nich vyplývajúce
                </li>
            </ol>
        </li>
        <li>Dlžník berie na vedomie, že uvedenie pravdivých údajov v zmysle vyššie uvedených prehlásení je pre Veriteľov
            podstatnou okolnosťou pre uzatvorenie tejto zmluvy a prípadným uvedeným nepravdivých údajov by boli uvedení
            od omylu o týchto rozhodujúcich skutočnostiach.
        </li>
        <li>Dlžník berie na vedomie, že nepravdivosť ktorejkoľvek skutočnosti uvedenej v tomto prehlásení, hoci aj
            čiastočná, zakladá právo Veriteľom, zastúpených spoločnosťou Lyngo, s.r.o., na vyhlásenie Predčasnej
            splatnosti Pôžičky; uvedené platí obdobne aj v prípade, pokiaľ nastane ktorákoľvek zo skutočností uvedených
            v tomto prehlásení v budúcnosti, t.j. aj pokiaľ sa uvedené prehlásenie stane v ktorejkoľvek časti
            nepravdivým v budúcnosti.
        </li>
        <li>Spoločnosť Lyngo, s.r.o. je oprávnená kedykoľvek počas platnosti tejto zmluvy overovať pravdivosť
            skutočností uvedených v tomto vyhlásení Dlžníkom a Dlžník sa zaväzuje poskytnúť spoločnosti Lyngo, s.r.o. k
            tomu potrebnú súčinnosť. Dlžník berie na vedomie, že neposkytnutie takejto súčinnosti zakladá právo
            Veriteľom, zastúpených spoločnosťou Lyngo, s.r.o., na vyhlásenie Predčasnej splatnosti Pôžičky.
        </li>
        <li>Zmluvné strany prehlasujú, že výška úroku, poplatkov a zmluvných pokút, ako aj ďalšie ustanovenia tejto
            zmluvy, smerujúce k zaisteniu a ochrane návratnosti poskytnutej Pôžičky, považujú za primerané, v súlade s
            dobrými mravmi, nakoľko Dlžník na strane jednej mieni svoje záväzky z tejto zmluvy riadne a včas plniť tak,
            aby nebol daný dôvod na využitie sankčných ustanovení v tejto zmluve v jeho neprospech, a Veritelia na
            strane druhej považuje za nevyhnutné obmedziť na nevyhnutne nutnú mieru riziko, spojené s poskytnutím
            Pôžičky, čo Dlžník akceptuje.
        </li>
        <li>Zmluvné strany ďalej prehlasujú, že pred uzavretím tejto zmluvy starostlivo zvážili všetky práva a
            povinnosti z nej vyplývajúce, pričom Pôžička je poskytovaná za podmienok podľa tejto zmluvy na základe
            žiadosti dlžníka a podľa ním zadaných parametrov a vybraných ponúk na internetovom portáli www.planb.sk.
        </li>
    </ol>


    <div class="center">
        <h2>Čl. VIII</h2>

        <p><strong>Záverečné ustanovenia</strong></p>
    </div>
    <ol>
        <li>Návrh tejto zmluvy bol vypracovaný ako výsledok internetovej aukcie pôžičiek na internetovom portáli
            www.planb.sk, podľa Dlžníkom zadaných parametrov a vybraných ponúk, dňa
            <strong>{{ "now"|date("d.m.Y") }}</strong> a od uvedeného
            dátumu má platnosť 7dní s tým, že je pre jej akceptáciu Dlžníkom musí byť táto zmluva Dlžníkom v uvedenej
            lehote riadne podpísaná s úradne overeným podpisom Dlžníka a doručená spoločnosti Lyngo, s.r.o.; v opačnom
            prípade sa má za to, že návrh tejto zmluvy nebol Dlžníkom akceptovaný v dôsledku čoho k uzatvoreniu zmluvy
            neprišlo; iba ak by za predpokladu jej dodatočného podpisu a doručenia po lehote, došlo po dohode Zmluvných
            strán k jej plneniu a teda k jej dodatočnému uzatvoreniu.
        </li>
        <li>Zmluvné strany sa dohodli, že akúkoľvek prípadnú pohľadávku Dlžníka voči ktorémukoľvek alebo všetkým
            Veriteľom, vyplývajúcu z tejto zmluvy, je možné postúpiť iba s predchádzajúcim písomným súhlasom spoločnosti
            Lyngo, s.r.o.
        </li>
        <li>Zmluvné strany sa dohodli, že akúkoľvek prípadnú pohľadávku Dlžníka voči ktorémukoľvek alebo všetkým
            Veriteľom, nie je možné jednostranne započítať so žiadnym nárokom Veriteľov vyplývajúcim z tejto zmluvy.
        </li>
        <li>Zmluvné strany berú na vedomie, že Pôžička podľa tejto zmluvy je Veriteľmi poskytnutá ako kolektívna pôžička
            od Veriteľov, ktorí sú fyzickými osobami, z ich osobných finančných prostriedkov a mimo ich prípadnej
            podnikateľskej činnosti.
        </li>
        <li>Spoločnosť Lyngo, s.r.o. koná v mene a na účet Veriteľov na základe osobitných dohôd s jednotlivými
            Veriteľmi. Akékoľvek platby súvisiace s plnením Dlžníka Veriteľom podľa tejto zmluvy sa považujú za uhradené
            v deň a vo výške v akej boli pripísané na účet spoločnosti Lyngo, s.r.o. vedený v banke Slovenská sporiteľňa
            a.s., číslo účtu <strong>5049613564/0900</strong>, s uvedením variabilného
            symbolu: <strong>{{ loan.formattedId }}</strong> a špecifického symbolu odpovedajúcemu <strong>poradiu
                splátky</strong>. Za riadne a včasné peňažné plnenie podľa tejto zmluvy považujú Zmluvné strany, pokiaľ
            je plnenie v
            dojednanej výške a v dojednanom termíne, pripísané na účet spoločnosti Lyngo, s.r.o. s uvedením správneho
            variabilného symbolu.
        </li>
        <li>Zmluvné strany sa zaväzujú, že počas trvanie tejto Zmluvy ale i po jej skončení, budú zachovávať mlčanlivosť
            o informáciách, ktoré druhá Zmluvná strana poskytla v súvislosti s uzatvorením tejto zmluvy.
        </li>
        <li>Zmluvné strany sa záväzne dohodli na nasledovných pravidlách, podmienkach a fikciách doručovania, ktoré
            medzi nimi so všetkými zmluvnými a zákonnými účinkami doručenia vždy platia:
            <ol type="a">
                <li>listiny adresované Veriteľom v súvislosti s právnymi vzťahmi založenými touto zmluvou sa zasielajú
                    výlučne spoločnosti Lyngo, s.r.o.;
                </li>
                <li>listiny sa zasielajú na adresu Zmluvnej strany uvedenú v záhlaví tejto zmluvy, s prihliadnutím na
                    neskôr riadne a včas oznámenú zmenu, t.j. písomne a vopred;
                </li>
                <li>listina sa považuje za doručenú aj v prípade, ak ju Zmluvná strana odmietne preukázateľne
                    prevziať;
                </li>
                <li>listina, ktorá je doručovaná poštou, kuriérom alebo inou osobou, ktorá má povinnosť doručiť
                    zásielku, sa považuje za doručenú jej prevzatím alebo uplynutím tretieho dňa od dňa jej vrátenia
                    zasielateľovi ako zásielky adresátom neprevzatej, resp. adresátovi nedoručenej, pričom takto
                    dohodnutá fikcia platí aj v prípadoch, keď: 1) sa adresát v mieste doručenia nezdržuje, 2) sa
                    adresát o doručení (uložení) zásielky nedozvedel, 3) sa zásielka vrátila odosielateľovi ako
                    nedoručená, neprevzatá alebo nedoručiteľná.
                </li>
            </ol>
        </li>
        <li>Práva a povinnosti Dlžníka vyplývajúce z tejto zmluvy, prechádzajú na jeho právnych nástupcov.</li>
        <li>Zmluvné strany sa dohodli, že prípadná neplatnosť niektorého z ustanovení tejto zmluvy, nespôsobuje
            neplatnosť celej zmluvy a že pre takýto prípad, sa prípadné neplatné ustanovenie tejto zmluvy zaväzujú
            nahradiť, vo forme dodatku k tejto zmluve, ustanovením, ktoré bude čo najviac zodpovedať pôvodne dojednanej
            úprave, resp. zamýšľanému účelu pôvodného ustanovenia; inak s má za to, že prípadné neplatné zmluvné
            dojednania sa bude spravovať zákonnom predpokladaným spôsobom, ktorý najviac zodpovedá pôvodne dojednanej
            úprave, resp. zamýšľanému účelu pôvodného ustanovenia.
        </li>
        <li>Vzťahy Zmluvných strán, neupravené v tejto zmluve, sa riadia Všeobecnými zmluvnými podmienkami (vrátane
            Sadzobníka poplatkov, ktorý tvorí ich súčasť) vydanými spoločnosťou Lyngo, s.r.o., zverejnenými na
            internetovom portáli www.planB.sk, ktoré tvoria prílohu číslo 2 tejto zmluvy a príslušnými ustanoveniami
            Občianskeho zákonníka.
        </li>
        <li>Zmeny a dodatky k tejto zmluve môžu byť uskutočnené len na základe dohody Zmluvných strán a to formou
            očíslovaného písomného dodatku podpísaného na jednom dokumente Zmluvnými stranami.
        </li>
        <li>V prípade odstúpenia od tejto zmluvy, jej vypovedania alebo ukončením tejto zmluvy iným spôsobom (inak ako
            riadnym splnením alebo dohodou Zmluvných strán) nie sú dotknuté práva a povinnosti Zmluvných strán, ktoré
            vznikli za jej trvania a práva a povinnosti Zmluvných strán, ktoré podľa svojej povahy majú trvať aj po
            ukončení tejto zmluvy; takto nie sú dotknuté najmä, nie však výlučne: nároky Veriteľov na vrátenie Pôžičky,
            na zaplatenie úrokov, úrokov z omeškania, zmluvnej pokuty, zmluvou dojednaných poplatkov a prípadnej náhrady
            škody.
        </li>
        <li>Zmluvné strany vyhlasujú, že ich zmluvná voľnosť nie je ničím obmedzená.</li>
        <li>Zmluva je vyhotovená v dvoch vyhotoveniach, pričom každá zo Zmluvných strán dostane po jednom vyhotovení.
        </li>
        <li>Táto zmluva nadobúda platnosť a účinnosť dňom jej podpisu Zmluvnými stranami.</li>
        <li>Zmluvné strany po prečítaní a dôkladnom preštudovaní tejto zmluvy a jej príloh, podpisom tejto zmluvy
            prehlasujú, že si zmluvu, vrátane jej príloh, dôkladne prečítali, textu, vrátane odkazov na právne normy a
            prílohy, porozumeli a bez výhrad s ním súhlasia.
        </li>
        <li>Zmluvné strany výslovne prehlasujú, že zmluvu neuzatvárajú v tiesni ani za nápadne nevýhodných podmienok, že
            táto výsledkom ich rokovaní a jej uzatvorená na základe a v súlade s ich požiadavkami a že zmluvu uzatvárajú
            nakoľko táto bez výhrad zodpovedá prejavu ich slobodnej a vážnej vôle; na znak toho ju vlastnoručne
            podpisujú.
        </li>
    </ol>



    <table id="sign">
        <tr>
            <td colspan="2">
                V ....................................
                dňa: ............................<br><br><br>
            </td>
        </tr>
        <tr>
            <td>Za Veriteľov:</td>
            <td>Dlžník:</td>
        </tr>

        <tr>
            <td colspan="2"><br><br><br></td>
        </tr>
        <tr>
            <td><br>
                ............................................<br>
                Veritelia zastúpení spoločnosťou<br>
                Lyngo, s.r.o.<br>
                v mene spoločnosti Martin Dubeň – konateľ
            </td>
            <td>
                ............................................<br>
                {{ user.profile.getFullName }}<br>
                (úradne overený podpis)
            </td>
        </tr>
    </table>


    <p><strong>Prílohy:</strong></p>
    <ol>
        <li>Splátkový kalendár</li>
        <li>Všeobecné zmluvné podmienky, vrátane Sadzobníka poplatkov</li>
    </ol>

    <pagebreak resetpagenum="1">

    <h2>Splátkový kalendár</h2>

    <table class="table">
        <thead>
        <tr>
            <th width="10%">č</th>
            <th width="25%">Dátum</th>
            <th width="25%">Variabilný symbol</th>
            <th width="25%">Špecifický symbol</th>
            <th width="15%">Suma</th>
        </tr>
        </thead>
        <tbody>
        {% for transaction in loanTransactions.transactions %}
            <tr>
                <td>{{ transaction.month }}.</td>
                <td>{{ transaction.date|date("d.m.Y") }}</td>
                <td>{{ loan.formattedId }}</td>
                <td>{{ transaction.month }}</td>
                <td>{{ transaction.repayment|currency }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <pagebreak resetpagenum="1">

    {% include "AppBundle:pdf:terms-conditions-include.html.twig" %}

    <table id="sign">
        <tr>
            <td valign="top" width="50%">
                Za Lyngo, s.r.o.:<br><br>

            </td>
            <td width="50%">
                Za používateľa
                <br><br>
                Svojim podpisom potvrdzujem, že som sa oboznámil s týmito Všeobecnými zmluvnými podmienkami a Sadzobníkom poplatkov a akceptujem ich.
                <br><br>
                V .....................
                Dňa: ...............
            </td>
        </tr>
        <tr>
            <td colspan="2"><br><br><br></td>
        </tr>
        <tr>
            <td>
                ............................................<br>
                Bc. et Bc. Martin Dubeň, B.S.B.A.
            </td>
            <td>
                ............................................<br>
                {{ user.profile.getFullName }}<br>
            </td>
        </tr>
    </table>
{% endblock %}