{% extends 'AppBundle:pdf:layout.html.twig' %}

{% block body %}
    {% include "AppBundle:pdf:terms-conditions-include.html.twig" %}

    <table id="sign">
        <tr>
            <td valign="top" width="50%">
                Za Lyngo, s.r.o.:<br><br>

            </td>
            <td width="50%">
                Za používateľa
                <br><br>
                Svojim podpisom potvrdzujem, že som sa oboznámil s týmito Všeobecnými zmluvnými podmienkami a Sadzobníkom poplatkov a akceptujem ich.
                <br><br>
                V .....................
                Dňa: ...............
            </td>
        </tr>
        <tr>
            <td colspan="2"><br><br><br></td>
        </tr>
        <tr>
            <td>
                ............................................<br>
                Bc. et Bc. Martin Dubeň, B.S.B.A.
            </td>
            <td>
                ............................................<br>
                {{ user.profile.getFullName }}<br>
                (úradne overený podpis)
            </td>
        </tr>
    </table>
{% endblock %}