{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}

    {% if app.user and object.username != app.user.username  %}
        <a target="_blank" href="{{ url("hg_app_index_index", {} | merge({'_switch_user': object.username})) }}" class="btn">
           <i class="icon-user"></i> {{ 'hg.user.switch'|trans({}, 'AdminUser') }}
        </a>
    {% else %}
        -
    {% endif %}
{% endblock %}
