{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% if admin.isGranted('DELETE', object) and object.status != 'deleted' %}
    <br>
    <a href="{{ admin.generateObjectUrl('delete', object) }}" class="btn btn-danger post-delete delete_link" title="{{ 'action_delete'|trans({}, 'SonataAdminBundle') }}">
        <i class="icon-remove"></i>
        {{ 'action_delete'|trans({}, 'SonataAdminBundle') }}
    </a>
{% endif %}
