{% extends "FOSUserBundle::layout_sidebar_profile.html.twig" %}
{% from 'AppBundle:macros:planb.html.twig' import stepper %}

{% block breadcrumb_inner %}
    {{ parent() }}
    {% trans_default_domain 'FOSUserBundle' %}
    <li><span>{{ "profile_sidebar_menu.my_account"|trans }}</span></li>
{% endblock breadcrumb_inner %}


{% block fos_user_content %}
    <div class="content brand-customer">
        <div class="icon-box">
            <div class="icon">
                <i class="icon-user-arrow-in"></i>
            </div>
            <div class="text">
                <h2>{{ "auction_approved.heading"|trans({}, "texts") }}</h2>
                <p>{{ "auction_approved.desc"|trans({}, "texts")|raw }}</p>
            </div>
        </div>

        <h2>{{ "auction_approved.action_heading"|trans({}, "texts") }}</h2>
        <p>{{ "auction_approved.action_desc"|trans({}, "texts") }}</p>

        {% include "UserBundle:Customer/AuctionValidate:confirmation.html.twig" %}

        <div class="text-center">
            <a class="btn btn-brand btn-lg" href="{{ path("fos_user_profile_pending", {launch: true}) }}">{{ "auction_approved.launch_button"|trans({}, "texts") }}</a>
        </div>
    </div>
{% endblock fos_user_content %}