{% extends "FOSUserBundle::layout_sidebar_profile.html.twig" %}
{% from 'AppBundle:macros:planb.html.twig' import stepper %}
{% from 'AppBundle:macros:planb.html.twig' import icon_box %}
{% from 'AppBundle:macros:planb.html.twig' import alert_box %}

{% block breadcrumb_inner %}
    {{ parent() }}
    <li><span>{{ "profile_sidebar_menu.my_account"|trans({}, 'FOSUserBundle' ) }}</span></li>
{% endblock breadcrumb_inner %}


{% block fos_user_content %}
    {{ icon_box("icon-user-arrow-in",
    "<h2>" ~ "my_profile.customer.header"|trans({}, "texts") ~ "</h2>" ~
    "<p>" ~ "my_profile.customer.desc"|trans({}, "texts") ~ "</p>"
    ) }}



    {% set active = null %}
    {% set inactive = [] %}
    {% set activeLoans = [] %}
    {% set draftRequested = null %}
    {% set auctionRequested = null %}
    {% set ratingApproved = null %}
    {% set auctionApproved = null %}
    {% set auctionAccepted = null %}
    {% set auctionPayable = null %}
    {% set reauction = null %}
    {% set loanAgreement = null %}

    {% for loan in loans %}

        {% if loan.status is constant("STATUS_AUCTION", loan) %}
            {% set active = loan %}
        {% endif %}

        {% if loan.status is constant("STATUS_REAUCTION", loan) %}
            {% set reauction = loan %}
        {% endif %}

        {% if loan.status is constant("STATUS_DRAFT_REQUESTED", loan) %}
            {% set draftRequested = true %}
        {% endif %}

        {% if loan.status is constant("STATUS_AUCTION_REQUESTED", loan) %}
            {% set auctionRequested = true %}
        {% endif %}

        {% if loan.status is constant("STATUS_DRAFT_APPROVED", loan) %}
            {% set ratingApproved = true %}
        {% endif %}

        {% if loan.status is constant("STATUS_AUCTION_APPROVED", loan) %}
            {% set auctionApproved = true %}
        {% endif %}

        {% if loan.status is constant("STATUS_ACCEPTED", loan) %}
            {% set auctionAccepted = loan %}
            {% for file in loan.additionalFiles %}
                {% if file.type == "loan_agreement" %}
                    {% set loanAgreement = file %}
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if loan.status is constant("STATUS_PAYABLE", loan) %}
            {% set auctionPayable = loan %}
        {% endif %}

        {% if loan.isStatus([constant("STATUS_CANCELED", loan), constant("STATUS_OVERDUE", loan)]) %}
            {% set inactive = inactive|merge([loan]) %}
        {% endif %}

        {% if loan.isStatus([constant("STATUS_LOAN", loan)]) %}
            {% set activeLoans = activeLoans|merge([loan]) %}
        {% endif %}

    {% endfor %}

    {% if transactions|length %}
        <div class="icon-box">
            <div class="icon">
                <i class="icon-table"></i>
            </div>
            <div class="text">
                <h2>{{ "transactions.heading_repayments"|trans }}</h2>
                <p>{{ "transactions.heading_repayments_desc"|trans }}</p>
            </div>
        </div>
        <div class="transaction-list word-wrap">
            <table class="table">
                <thead>
                <tr>
                    <th>
                <span class="date">{{ "transactions.headings.due_date"|trans }}
                    <a href="#" class="tooltip-icon tooltip-popup" data-toggle="tooltip" title="{{ "transactions.headings.due_date_tooltip"|trans }}">
                        <i class="icon-help"></i>
                    </a>
                </span>
                    </th>
                    <th>
                <span class="sender">{{ "bank.number"|trans }}  </span>
                    <th><span class="receiver">{{ "bank.variable_number"|trans }}
                    </span>
                    </th>
                    <th><span class="desc">{{ "bank.specific_number"|trans }}
                    </span>
                    </th>
                    <th>
                    <span class="amount">{{ "bank.amount"|trans }}</span>
                    </th>
                    <th>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for transaction in transactions %}
                    <tr class="status-{{ transaction.status }}">
                        <td>{{ transaction.dueDate|date("d.m.Y") }}</td>
                        <td>{{ bank.number }}/{{ bank.suffix }}</td>
                        <td>{{ transaction.variableNumber }}</td>
                        <td>{{ transaction.specificNumber }}</td>
                        <td>
                            <span class="amount">{{ transaction.amount|currency }}</span>
                        </td>
                        <td class="status">
                            {% if transaction.status == "future" %}
                                <span class="icon-forward tooltip-icon tooltip-popup {{ transaction.status }}" title="{{ transaction.statusFormatted|trans }}"></span>
                            {% elseif transaction.status == "pending" %}
                                <span class="icon-clock tooltip-icon tooltip-popup {{ transaction.status }}" title="{{ transaction.statusFormatted|trans }}"></span>
                            {% elseif transaction.status == "canceled" %}
                                <span class="icon-cancel-circle tooltip-icon tooltip-popup {{ transaction.status }}" title="{{ transaction.statusFormatted|trans }}"></span>
                            {% elseif transaction.status == "success" %}
                                <span class="icon-checkmark-circle tooltip-icon tooltip-popup {{ transaction.status }}" title="{{ transaction.statusFormatted|trans }}"></span>
                            {% elseif transaction.status == "overdue" %}
                                <span class="icon-wondering tooltip-icon tooltip-popup {{ transaction.status }}" title="{{ transaction.statusFormatted|trans }}"></span>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">
                            <div class="no-result text-center">Nemáte žiadne transakcie na účte.</div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    {% if not active %}
        <div>

            {% if days is defined and days > 0 %}
                {{ icon_box("icon-signup", "<h2>" ~ "loan_validate.pramameters_verify"|trans() ~ "</h2>") }}
                {{ alert_box("icon-info", "loan_canceled.info"|trans({"%days%" : days}, "texts")|wpautop, "info") }}
            {% elseif draftRequested %}
                {{ icon_box("icon-signup", "<h2>" ~ "loan_validate.pramameters_verify"|trans() ~ "</h2>") }}
                {{ alert_box("icon-info", "loan_validate_3.alert"|trans({}, "texts")|trans, "info") }}
            {% elseif ratingApproved %}
                {{ icon_box("icon-signup", "<h2>" ~ "loan_validate.pramameters_verify"|trans() ~ "</h2>") }}
                {{ alert_box("icon-info", "my_profile.customer.rating_approved.info"|trans({}, "texts")|trans, "info") }}
                <div class="text-center">
                    <a class="btn btn-brand" href="{{ path("fos_user_profile_pending") }}">
                        {{ "my_profile.customer.rating_approved.button"|trans({}, "texts") }}
                    </a>
                </div>
            {% elseif auctionRequested %}
                {{ icon_box("icon-signup", "<h2>" ~ "loan_validate.pramameters_verify"|trans() ~ "</h2>") }}
                {{ alert_box("icon-info", "my_profile.customer.upload_files.info"|trans({}, "texts")|trans, "info") }}
                <div class="text-center">
                    <a class="btn btn-brand" href="{{ path("fos_user_profile_pending") }}">
                        {{ "my_profile.customer.upload_files.button"|trans({}, "texts") }}
                    </a>
                </div>
            {% elseif reauction %}
                {{ alert_box("icon-info", "reauction.info"|trans({}, "texts"), "info") }}
                <div class="text-center">
                    <a class="btn btn-brand" href="{{ path("fos_user_auctions_stop") }}">
                        {{ "reauction.button"|trans({}, "texts") }}
                    </a>
                </div>
            {% elseif auctionApproved %}
                {{ icon_box("icon-signup", "<h2>" ~ "loan_validate.pramameters_verify"|trans() ~ "</h2>") }}
                {{ alert_box("icon-info", "my_profile.customer.auction_accept.info"|trans({}, "texts")|trans, "info") }}
                <div class="text-center">
                    <a class="btn btn-brand" href="{{ path("fos_user_profile_pending") }}">
                        {{ "my_profile.customer.auction_accept.button"|trans({}, "texts") }}
                    </a>
                </div>
            {% elseif auctionAccepted %}
                {{ icon_box("icon-bars", "<h2>" ~ "auction_accepted.heading"|trans({}, "texts") ~ "</h2>") }}
                {{ alert_box("icon-info", "auction_accepted.info"|trans({"%date%": auctionAccepted.loanStartAt|date("d.m.Y"), "%1%": path("hg_app_uploads_loan", {id: loanAgreement.id})}, "texts"), "info") }}
            {% elseif auctionPayable %}
                {{ icon_box("icon-bars", "<h2>" ~ "my_profile.customer.auction_payable.heading"|trans({}, "texts") ~ "</h2>") }}
                {{ alert_box("icon-info", "my_profile.customer.auction_payable.info"|trans({"%date%": auctionPayable.loanStartAt|date("d.m.Y"), "%bank_number%": user.profile.bankNumberFormatted}, "texts"), "info") }}
            {% else %}
                {{ icon_box("icon-signup", "<h2>" ~ "loan_validate.pramameters_verify"|trans() ~ "</h2>") }}
                {{ alert_box("icon-info", "my_profile.customer.verify_loan.info"|trans({}, "texts"), "info" ) }}
                <div class="text-center">
                    <a class="btn btn-brand" href="{{ path("fos_user_profile_loan_validate") }}">
                        {{ "my_profile.customer.verify_loan.button"|trans({}, "texts") }}
                    </a>
                </div>
            {% endif %}
        </div>
    {% endif %}

    {% if active %}
        <div>
            {{ icon_box("icon-bars", "<h2>" ~ "customer_auctions.active.heading"|trans ~ "</h2>" ) }}
            <div class="auction-list">
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            <span class="name">{{ "customer_auctions.name"|trans }}</span>
                            <span class="id">{{ "customer_auctions.id"|trans }}</span>
                        </th>
                        <th>
                            <span class="goal">{{ "customer_auctions.approved_amoount"|trans }}</span>
                            <span class="acquired">{{ "customer_auctions.collected_amount"|trans }}</span>
                        </th>
                        <th><span class="interest">{{ "customer_auctions.interest"|trans }}</span>
                            <span class="maturity">{{ "customer_auctions.matrity"|trans }}</span>
                        </th>
                        <th>
                            <span class="financed">{{ "customer_auctions.collected_percentage"|trans }}</span>
                            <span class="end">{{ "customer_auctions.end"|trans }}</span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                        <span class="name"><a
                                    href="{{ path("hg_app_auction_detail", {slug: active.slug}) }}">{{ loan.auctionTitle }}</a></span>
                            <span class="id">{{ active.formattedId }}</span>
                        </td>
                        <td>
                            <span class="goal">{{ active.auctionApprovedAmount|currency }}</span>
                            <span class="acquired">{{ active.auctionCollectedAmount|currency }}</span>
                        </td>
                        <td><span class="interest">{{ active.auctionInterestAverage|interest }}</span>
                            <span class="maturity">{{ ("loan.maturity_" ~ active.loanMaturity) | trans }}</span>
                        </td>
                        <td>
                            <span class="financed">{{ active.auctionCollectedPercentage|percentage }}</span>
                            <span class="end">{{ active.auctionStartAt|date("d.m.Y") }}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            {{ alert_box("icon-info", "my_profile.customer.active_auction.info"|trans({}, "texts"), "info") }}
            <div class="text-center">
                <a href="{{ path("fos_user_auctions") }}"
                   class="btn btn-primary">{{ "my_profile.customer.active_auction.button"|trans({}, "texts") }}</a>
            </div>
        </div>
    {% endif %}

    {% if activeLoans|length %}
        <div class="icon-box">
            <div class="icon">
                <i class="icon-bars"></i>
            </div>
            <div class="text">
                <h2>{{ "customer_loans.active.heading"|trans }}</h2>
                <p>{{ "customer_loans.active.desc"|trans }}</p>
            </div>
        </div>

        <div class="auction-list">
            <table class="table">
                <thead>
                <tr>
                    <th>
                        <span class="name">{{ "customer_loans.name"|trans }}</span>
                        <span class="id">{{ "customer_loans.id"|trans }}</span>
                    </th>
                    <th>
                        <span class="acquired">{{ "customer_loans.borrow"|trans }}</span>
                    </th>
                    <th><span class="interest">{{ "customer_loans.interest"|trans }}</span>
                        <span class="maturity">{{ "customer_loans.matrity"|trans }}</span>
                    </th>
                    <th>
                        <span class="start-at">{{ "customer_loans.start_at"|trans }}</span>
                        <span class="end-at">{{ "customer_loans.end_at"|trans }}</span>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for loan in activeLoans %}
                    <tr>
                        <td>
                            <span class="name"><a href="{{ path("hg_app_auction_detail", {slug: loan.slug}) }}">{{ loan.auctionTitle }}</a></span>
                            <span class="id">{{ loan.formattedId }}</span>
                        </td>
                        <td>
                            <span class="acquired">{{ loan.auctionCollectedAmount|currency }}</span>
                        </td>
                        <td><span class="interest">{{ loan.auctionInterestAverage|interest }}</span>
                            <span class="maturity">{{ ("loan.maturity_" ~ loan.loanMaturity) | trans }}</span>
                        </td>
                        <td>
                            <span class="start-at">{{ loan.loanStartAt|date("d.m.Y") }}</span>
                            <span class="end-at">{{ loan.loanEndAt|date("d.m.Y") }}</span>
                        </td>
                    </tr>
                {% else %}
                    <td colspan="6">
                        <div class="no-result text-center">{{ "customer_loans.no_results"|trans }}</div>
                    </td>
                {% endfor %}
                </tbody>
            </table>
        </div>

    {% endif %}

    {% if inactive|length %}
        <div>
            {{ icon_box("icon-bars", "<h2>" ~ "customer_auctions.inactive.heading"|trans ~ "</h2>" ) }}
            <div class="auction-list">
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            <span class="name">{{ "customer_auctions.name"|trans }}</span>
                            <span class="id">{{ "customer_auctions.id"|trans }}</span>
                        </th>
                        <th>
                            <span class="goal">{{ "customer_auctions.approved_amoount"|trans }}</span>
                            <span class="acquired">{{ "customer_auctions.collected_amount"|trans }}</span>
                        </th>
                        <th><span class="interest">{{ "customer_auctions.interest"|trans }}</span>
                            <span class="maturity">{{ "customer_auctions.matrity"|trans }}</span>
                        </th>
                        <th>
                            <span class="financed">{{ "customer_auctions.collected_percentage"|trans }}</span>
                            <span class="end">{{ "customer_auctions.end"|trans }}</span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for loan in inactive %}
                        <tr>
                            <td>
                                <span class="name"><a
                                            href="{{ path("hg_app_auction_detail", {slug: loan.slug}) }}">{{ loan.auctionTitle }}</a></span>
                                <span class="id">{{ loan.formattedId }}</span>
                            </td>
                            <td>
                                <span class="goal">{{ loan.auctionApprovedAmount|currency }}</span>
                                <span class="acquired">{{ loan.auctionCollectedAmount|currency }}</span>
                            </td>
                            <td><span class="interest">{{ loan.auctionInterestAverage|interest }}</span>
                                <span class="maturity">{{ ("loan.maturity_" ~ loan.loanMaturity) | trans }}</span>
                            </td>
                            <td>
                                <span class="financed">{{ loan.auctionCollectedPercentage|percentage }}</span>
                                <span class="end">{{ loan.auctionEndAt|date("d.m.Y") }}</span>
                            </td>
                        </tr>
                    {% else %}
                        <td colspan="6">
                            <div class="no-result text-center">{{ "customer_auctions.no_results"|trans }}</div>
                        </td>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

{% endblock fos_user_content %}