{% extends "FOSUserBundle::layout_sidebar_profile.html.twig" %}
{% from 'AppBundle:macros:planb.html.twig' import stepper %}
{% from 'AppBundle:macros:planb.html.twig' import alert_box %}

{% block breadcrumb_inner %}
    {{ parent() }}
    {% trans_default_domain 'FOSUserBundle' %}
    <li><span>{{ "profile_sidebar_menu.my_account"|trans }}</span></li>
{% endblock breadcrumb_inner %}


{% block fos_user_content %}
    <div class="content brand-customer">
        <div class="icon-box">
            <div class="icon">
                <i class="icon-user-arrow-in"></i>
            </div>
            <div class="text">
                <h2>{{ "loan_validate.pramameters_verify"|trans }}</h2>

                <p>{{ "loan_validate_1.desc"|trans({"%link%" :  path("fos_user_profile_loan_validate") }, "texts")|trans|raw }}
                </p>
            </div>
        </div>

        {{ stepper(4, 1, {
            0:"stepper_account.step_1"|trans,
            1:"stepper_account.step_2"|trans,
            2:"stepper_account.step_3"|trans,
            3:"stepper_account.step_4"|trans,
        }) }}

        <div class="alert-box alert-box-info">
            <div class="icon">
                <i class="icon-info"></i>
            </div>
            <div class="text">
                <div class="alert">
                    {{ "loan_validate_1.alert"|trans({"%link%" :  path("fos_user_profile_loan_validate") }, "texts")|trans|raw }}
                </div>
            </div>
        </div>

        {{ alert_box("icon-info", "calculator_alert"|trans({"%link%": path("hg_app_page", {slug: "kalkulacka-splatok"})}, "texts"), "info") }}
    </div>
{% endblock fos_user_content %}