{% extends "FOSUserBundle::layout_sidebar_profile.html.twig" %}
{% from 'AppBundle:macros:planb.html.twig' import stepper %}
{% from 'AppBundle:macros:planb.html.twig' import alert_box %}

{% block breadcrumb_inner %}
    {{ parent() }}
    <li><span>{{ "profile_sidebar_menu.my_account"|trans({},'FOSUserBundle') }}</span></li>
{% endblock breadcrumb_inner %}


{% block fos_user_content %}
    <div class="content brand-customer">
        <div class="icon-box">
            <div class="icon">
                <i class="icon-user-arrow-in"></i>
            </div>
            <div class="text">
                <h2>{{ "loan_canceled.heading"|trans({}, "texts") }}</h2>
            </div>
        </div>

        {{ alert_box("icon-info", "loan_canceled.info"|trans({"%days%" : days}, "texts")|wpautop, "info") }}
    </div>
{% endblock fos_user_content %}