{% extends "FOSUserBundle::layout_sidebar_profile.html.twig" %}
{% from 'AppBundle:macros:planb.html.twig' import stepper %}
{% from 'AppBundle:macros:planb.html.twig' import alert_box %}

{% block breadcrumb_inner %}
    {{ parent() }}
    {% trans_default_domain 'FOSUserBundle' %}
    <li><span>{{ "profile_sidebar_menu.my_account"|trans }}</span></li>
{% endblock breadcrumb_inner %}


{% block fos_user_content %}
    <div class="content brand-customer">
        <div class="icon-box">
            <div class="icon">
                <i class="icon-user-arrow-in"></i>
            </div>
            <div class="text">
                <h2>{{ "loan_validate.pramameters_verify"|trans }}</h2>

                <p>{{ "loan_validate_3.desc"|trans({}, "texts") }}</p>
            </div>
        </div>

        {{ stepper(4, 3, {
            0:"stepper_account.step_1"|trans,
            1:"stepper_account.step_2"|trans,
            2:"stepper_account.step_3"|trans,
            3:"stepper_account.step_4"|trans,
        }) }}

        {{ alert_box("icon-info",  "loan_validate_3.alert"|trans({"%link%" :  path("fos_user_profile_loan_validate") }, "texts")|trans, "info") }}
    </div>
{% endblock fos_user_content %}