{% extends 'AppBundle::layout_sidebar_left.html.twig' %}

{% from 'AppBundle:macros:planb.html.twig' import icon_box %}
{% from 'AppBundle:macros:planb.html.twig' import best_loans %}
{% from 'AppBundle:macros:planb.html.twig' import rating %}
{% from 'AppBundle:macros:planb.html.twig' import collected %}


{% block title %}{{ page.metaTitle }}{% endblock %}
{% block description %}{{ page.metaDescription }}{% endblock %}
{% block keywords %}{{ page.metaKeywords }}{% endblock %}


{% block introduce %}
    <div id="introduce" class="{% block introduse_class %}help info info-{{ page.inMenu }}{% endblock %}">
        {% block navbar %}
            {% include 'AppBundle:includes:navbar.html.twig' %}
        {% endblock navbar %}
        {% if not app.user %}
            <div class="text container">
                {% if  page.inMenu in [3,0,4,5] %}
                    <div class="buttons">
                        <a class="btn btn-customer login"
                           href="{{ path("fos_user_registration_register", {type: 'customer'}) }}"><i
                                    class="icon-user-arrow-in"></i> {{ "want_to_borrow"|trans }}</a>

                        <a class="btn btn-investor register"
                           href="{{ path("fos_user_registration_register", {type: 'investor'}) }}"><i
                                    class="icon-user-arrow-out"></i> {{ "want_to_invest"|trans }}</a>
                    </div>
                {% endif %}
                {% if  page.inMenu in [2] %}
                    <div class="buttons">
                        <a class="btn btn-customer login"
                           href="{{ path("fos_user_registration_register", {type: 'customer'}) }}"><i
                                    class="icon-user-arrow-in"></i> {{ "want_to_borrow"|trans }}</a>
                    </div>
                    <p class="cta">
                        {{ "page.investment_cta"|trans }}
                    </p>
                {% endif %}
                {% if  page.inMenu in [1] %}
                    <div class="buttons">
                        <a class="btn btn-investor register"
                           href="{{ path("fos_user_registration_register", {type: 'investor'}) }}"><i
                                    class="icon-user-arrow-out"></i> {{ "want_to_invest"|trans }}</a>
                    </div>
                    <p class="cta">
                        {{ "page.investment_cta"|trans }}
                    </p>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock introduce %}

{% block breadcrumb_inner %}
    {{ parent() }}
    <li><span>{{ page.title }}</span></li>
{% endblock breadcrumb_inner %}

{% block brand_color %}{{ page.brand }} pages{% endblock brand_color %}

{% block sidebar %}
    {% if  page.inMenu in [1,0] %}
        <nav class="nav investment">
            <h2>{{ "page.investment"|trans }}</h2>
            <ul>
                {% for item in menuInvestment %}
                    <li>
                        <a href="{{ path("hg_app_page", {slug: item.slug}) }}" {{ page.id == item.id ? 'class="active"' : "" }}>{{ item.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    {% endif %}

    {% if page.inMenu in [2,0] %}
        <nav class="nav borrow">
            <h2>{{ "page.borrow"|trans }}</h2>
            <ul>
                {% for item in menuBorrow %}
                    <li>
                        <a href="{{ path("hg_app_page", {slug: item.slug}) }}" {{ page.id == item.id ? 'class="active"' : "" }}>{{ item.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    {% endif %}

    {% if  page.inMenu in [0,1,2,3] %}
    <nav class="nav how">
        <h2>{{ "page.how_it_works"|trans }}</h2>
        <ul>
            {% for item in menuHowItWorks %}
                <li>
                    <a href="{{ path("hg_app_page", {slug: item.slug}) }}" {{ page.id == item.id ? 'class="active"' : "" }}>{{ item.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
    {% endif %}

    {% if  page.inMenu in [3,5] %}
        <div class="block">
            <h2>{{ "sidebar.why_invest.heading"|trans({}, "texts") }}</h2>
            <p>{{ "sidebar.why_invest.info"|trans({}, "texts") }}</p>
            <a class="btn btn-investor btn-xs"
               href="{{ path("fos_user_registration_register", {type: "investor"}) }}"><i
                        class="icon-user-arrow-out"></i> {{ "want_to_invest"|trans }}</a>
            {% if  page.inMenu in [4,5] %}
                <br><br>
                <p><a class="gray-underline" href="{{ path("hg_app_page", {slug: "preco-si-pozicat" }) }}">{{ "sidebar.why_invest.more"|trans({}, "texts") }}</a></p>
            {% endif %}
        </div>
    {% endif %}
    {% if  page.inMenu in [3,4] %}
        <div class="block">
            <h2>{{ "sidebar.why_borrow.heading"|trans({}, "texts") }}</h2>
            <p>{{ "sidebar.why_borrow.info"|trans({}, "texts") }}</p>
            <a class="btn btn-customer btn-xs"
               href="{{ path("fos_user_registration_register", {type: "customer"}) }}"><i
                        class="icon-user-arrow-in"></i> {{ "want_to_borrow"|trans }}</a>
            {% if  page.inMenu in [4,5] %}
                <br><br>
                <p><a class="gray-underline" href="{{ path("hg_app_page", {slug: "preco-si-pozicat" }) }}">{{ "sidebar.why_borrow.more"|trans({}, "texts") }}</a></p>
            {% endif %}
        </div>
    {% endif %}

    {% if page.inMenu in [4,5] %}
        <div class="block video">
            <h2>{{ "sidebar.video.heading"|trans({}, "texts") }}</h2>
            <p>{{ "sidebar.video.desc"|trans({}, "texts") }}</p>
            <div class="text-center">
                <a id="video-link" href="#" class="brand-link original"><span class="icon-play"></span></a>
            </div>
        </div>
    {% endif %}

    {% if page.inMenu in [4,5] %}
        <div class="block questions">
            <h2>{{ "sidebar.questions.heading"|trans({}, "texts") }}</h2>
            <p>{{ "sidebar.questions.desc"|trans({"%link%" : path("hg_app_contact")}, "texts")|raw }}</p>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    {{ page.text|shortcodes|wpautop|raw }}
{% endblock content %}