{% extends "AppBundle::layout_sidebar_left.html.twig" %}
{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}

{% block breadcrumb_inner %}
    {{ parent() }}
    {% if app.user %}
        <li>
            <a href="{{ path("fos_user_profile_index") }}">{{ "profile_sidebar_menu.my_account"|trans({}, 'FOSUserBundle') }}</a>
        </li>
        <li><span>{{ "contact.heading_logged"|trans }}</span></li>
    {% else %}
        <li><span>{{ "contact.heading_visitor"|trans }}</span></li>
    {% endif %}
{% endblock breadcrumb_inner %}

{%- block brand_color -%}
    {% if app.user %}
        brand-{{ app.user.type }}
    {% else %}
        brand-customer
    {% endif %}
{%- endblock brand_color -%}

{% block sidebar %}
    <div class="block">
        <h2>{{ "contact.sidebar.header"|trans }}</h2>

        <p>
            <strong>{{ company['name'] }}</strong><br>
            <strong>{{ "contact.sidebar.ico"|trans }}</strong> {{ company['ico'] }}
        </p>

        <p>
            <strong>{{ "contact.sidebar.residence"|trans }}:</strong> {{ company['residence']|nl2br }}
        </p>
        <p>
            <strong>Korešpondenčná adresa:</strong><br>Hlboká 37, 94912, Nitra<br>(na túto adresu zasielajte poštové zásielky)
        </p>

        <p>
            <strong>{{ "contact.sidebar.tel"|trans }}:</strong> {{ company['tel'] }}<br>
            {{ company['tel_info'] }}
        </p>

        <p>
            <strong>{{ "contact.sidebar.email"|trans }}:</strong> {{ meta['email'] }}<br>
            <strong>{{ "contact.sidebar.bank_number"|trans }}:</strong> {{ bank.number }}/{{ bank.suffix }}<br>
        </p>


    </div>
    <div class="block">
        <div class="social-icons">
            <a href="#"><i class="icon-mail-2"></i></a>
            <a href="#"><i class="icon-facebook-2"></i></a>
            <a href="#"><i class="icon-twitter-2"></i></a>
            <a href="#"><i class="icon-google-plus-2"></i></a>
        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="icon-box">
        <div class="icon">
            <i class="icon-mail"></i>
        </div>
        <div class="text">
            {% if app.user %}
                <h1>{{ "contact.heading_logged"|trans }}</h1>
                <p>{{ "contact.description_logged"|trans }}</p>
            {% else %}
                <h1>{{ "contact.heading_visitor"|trans }}</h1>
                <p>{{ "contact.description_visitor"|trans }}</p>
            {% endif %}
        </div>
    </div>


    {% block flashes %}
        {% if app.session.flashbag.peekAll|length > 0 %}
            {{ session_flash(null, null, null) }}
        {% endif %}
    {% endblock flashes %}

    {{ form(form) }}

{% endblock content %}
