{% extends "FOSUserBundle::layout_sidebar_profile.html.twig" %}
{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}
{% from 'AppBundle:macros:planb.html.twig' import stepper %}
{% from 'AppBundle:macros:planb.html.twig' import alert_box %}

{% block breadcrumb_inner %}
    {{ parent() }}
    <li><span>{{ "profile_registration.heading"|trans({}, "messages") }}</span></li>
{% endblock breadcrumb_inner %}


{% block fos_user_content %}
    {% block flashes %}
        {% if app.session.flashbag.peekAll|length > 0 %}
            {{ session_flash(null, null, null) }}
        {% endif %}
    {% endblock flashes %}

    <div class="icon-box">
        <div class="icon">
            <i class="icon-download"></i>
        </div>
        <div class="text">
            <h2>{{ "credit.deposit.heading"|trans }}</h2>
        </div>
    </div>

    <p>{{ "credit.deposit.desc"|trans }}</p>

    {% if not app.user.isStatus(constant('STATUS_DOCUMENTS_WAITING', app.user)) %}
        {% if not lastTransaction %}

            {{ form(form) }}

            <p class="text-small"><br><br>{{ "credit.deposit.note"|trans }}</p>

        {% else %}

            {{ alert_box("icon-info", "credit.deposit.already_used"|trans , "info") }}

            <p>{{ "bank.heading"|trans }}</p>
            <table class="info-table">
                <tr>
                    <th>{{ "bank.number"|trans }}</th>
                    <td>{{ bank.number }}</td>
                </tr>
                <tr>
                    <th>{{ "bank.suffix"|trans }}</th>
                    <td>{{ bank.suffix }}</td>
                </tr>
                <tr>
                    <th>{{ "bank.variable_number"|trans }}</th>
                    <td>{{ lastTransaction.variableNumber }}</td>
                </tr>
            </table>

            <p>{{ "credit.deposit.transaction_note"|trans({"%link%": path("fos_user_investor_transactions")})|raw }}</p>

        {% endif %}

    {% else %}
        {% include "@User/includes/need_documents.html.twig" %}
    {% endif %}

{% endblock fos_user_content %}