{% extends "FOSUserBundle::layout_sidebar_profile.html.twig" %}
{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}
{% from 'AppBundle:macros:planb.html.twig' import stepper %}
{% from 'AppBundle:macros:planb.html.twig' import alert_box %}


{% block breadcrumb_inner %}
    {{ parent() }}
    <li><a href="{{ path("fos_user_profile_index") }}">{{ "profile_sidebar_menu.my_account"|trans({}, 'FOSUserBundle' ) }}</a></li>
    <li><span>{{ "profile_sidebar_menu.deposit"|trans({},  'FOSUserBundle' ) }}</span></li>
{% endblock breadcrumb_inner %}


{% block fos_user_content %}
    {% block flashes %}
        {% if app.session.flashbag.peekAll|length > 0 %}
            {{ session_flash(null, null, null) }}
        {% endif %}
    {% endblock flashes %}

    <div class="icon-box">
        <div class="icon">
            <i class="icon-upload"></i>
        </div>
        <div class="text">
            <h2>{{ "credit.withdraw.heading"|trans }}</h2>
        </div>
    </div>

    <p>{{ "credit.withdraw.desc"|trans }}</p>

    {% if not app.user.isStatus(constant('STATUS_DOCUMENTS_WAITING', app.user)) %}

    {% if not app.user.hasValidationCode %}
    {% include "UserBundle:includes:need_grid_card.html.twig" %}
    {% elseif app.user.creditFree < 25 %}

        {{ alert_box("icon-warning", "credit.withdraw.not_enought_credit"|trans , "warning") }}

        {% include "UserBundle:includes:summary.html.twig" %}

    {% else %}
        {{ alert_box("icon-info", "credit.withdraw.note_1"|trans({
        "%bank_number%" : app.user.profile.bankNumberFormatted,
        "%link%" : path("fos_user_profile_my_info")}) , "info")
        }}

        <div class="summary right">
            <div class="circle">
                {{ "user.credit_free"|trans }}
                <span class="price">{{ app.user.creditFree|currency }}</span>
            </div>
        </div>
        {{ form(form) }}

    {% endif %}


    {% else %}
        {% include "@User/includes/need_documents.html.twig" %}
    {% endif %}
{% endblock fos_user_content %}