{% set profile = flow.formData %}

<p>{{ "profile_registration.step_4_description"|trans }}</p>
<table>
<tbody>
<tr>
    <th colspan="2" class="heading">{{ "profile_registration.step_1"|trans }}</th>
</tr>
{% if profile.title %}
<tr>
    <th>{{ "profile.title"|trans }}</th>
    <td>{{ profile.title }}</td>
</tr>
{% endif %}
<tr>
    <th>{{ "profile.name"|trans }}</th>
    <td>{{ profile.name }}</td>
</tr>
<tr>
    <th>{{ "profile.surname"|trans }}</th>
    <td>{{ profile.surname }}</td>
</tr>
{% if profile.birthSurname|trim %}
    <tr>
        <th>{{ "profile.birth_surname"|trans }}</th>
        <td>{{ profile.birthSurname }}</td>
    </tr>
{% endif %}
<tr>
    <th>{{ "profile.gender"|trans }}</th>
    <td>{{ ("profile.gender_"  ~ profile.gender)|trans }}</td>
</tr>
<tr>
    <th>{{ "profile.birth_date"|trans }}</th>
    <td>{{ profile.birthDate|date("d.m.Y") }}</td>
</tr>
<tr>
    <th>{{ "profile.personal_id"|trans }}</th>
    <td>{{ profile.personalId }}</td>
</tr>
<tr>
    <th>{{ "profile.citizenship"|trans }}</th>
    <td>{{ profile.citizenship }}</td>
</tr>
<tr>
    <th>{{ "profile.id_card"|trans }}</th>
    <td>{{ profile.idCard }}</td>
</tr>
<tr>
    <th colspan="2" class="heading">{{ "loan_validate.step_3"|trans }}</th>
</tr>
<tr>
    <th>{{ "profile.address_street"|trans }}</th>
    <td>{{ profile.addressStreet }}</td>
</tr>
<tr>
    <th>{{ "profile.address_number"|trans }}</th>
    <td>{{ profile.addressNumber }}</td>
</tr>
<tr>
    <th>{{ "profile.address_city"|trans }}</th>
    <td>{{ profile.addressCity }}</td>
</tr>
<tr>
    <th>{{ "profile.address_zip"|trans }}</th>
    <td>{{ profile.addressZip }}</td>
</tr>
<tr>
    <th>{{ "profile.address_country"|trans }}</th>
    <td>{{ profile.addressCountry|country }}</td>
</tr>
{% if profile.addressCountry == "SK" %}
    <tr>
        <th>{{ "profile.address_region"|trans }}</th>
        <td>{{ ("profile.address_region_"  ~ profile.addressRegion)|trans }}</td>
    </tr>
{% endif %}
{% if profile.addressTel %}
    <tr>
        <th>{{ "profile.address_tel"|trans }}</th>
        <td>{{ profile.addressTel }}</td>
    </tr>
{% endif %}
<tr>
    <th>{{ "profile.address_mobil"|trans }}</th>
    <td>{{ profile.addressMobil }}</td>
</tr>
{% if profile.addressContactNotSame %}
    <tr>
        <th colspan="2" class="heading">{{ "profile.address_contact_address"|trans }}</th>
    </tr>
    <tr>
        <th>{{ "profile.address_street"|trans }}</th>
        <td>{{ profile.addressContactStreet }}</td>
    </tr>
    <tr>
        <th>{{ "profile.address_number"|trans }}</th>
        <td>{{ profile.addressContactNumber }}</td>
    </tr>
    <tr>
        <th>{{ "profile.address_city"|trans }}</th>
        <td>{{ profile.addressContactCity }}</td>
    </tr>
    <tr>
        <th>{{ "profile.address_zip"|trans }}</th>
        <td>{{ profile.addressContactZip }}</td>
    </tr>
    <tr>
        <th>{{ "profile.address_country" }}</th>
        <td>{{ profile.addressContactCountry|country }}</td>
    </tr>
    {% if profile.addressContactCountry == "SK" %}
        <tr>
            <th>{{ "profile.address_region"|trans }}</th>
            <td>{{ ("profile.address_region_"  ~ profile.addressContactRegion)|trans }}</td>
        </tr>
    {% endif %}
{% endif %}
<tr>
    <th colspan="2" class="heading">{{ "profile.additional_bank_heading"|trans }}</th>
</tr>
{% if profile.bankPrefix %}
    <tr>
        <th>{{ "profile.additional_bank_prefix"|trans }}</th>
        <td>{{ (profile.bankPrefix)|trans }}</td>
    </tr>
{% endif %}
<tr>
    <th>{{ "profile.additional_bank_number"|trans }}</th>
    <td>{{ (profile.bankNumber)|trans }}</td>
</tr>
<tr>
    <th>{{ "profile.additional_bank_code"|trans }}</th>
    <td>{{ (profile.bankCode)|trans }}</td>
</tr>

</tbody>
</table>