{% extends "FOSUserBundle::layout_sidebar_profile.html.twig" %}
{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}
{% from 'AppBundle:macros:planb.html.twig' import stepper %}


{% block breadcrumb_inner %}
    {{ parent() }}
    <li><span>{{ "profile_registration.heading"|trans({}, "messages") }}</span></li>
{% endblock breadcrumb_inner %}


{% block fos_user_content %}
    {% block flashes %}
        {% if app.session.flashbag.peekAll|length > 0 %}
            {{ session_flash(null, null, null, "FOSUserBundle") }}
        {% endif %}
    {% endblock flashes %}


    <div class="icon-box brand-investor">
        <div class="icon">
            <i class="icon-user-arrow-out"></i>
        </div>
        <div class="text">
            <h2>{{ "profile_registration.heading"|trans }}</h2>
        </div>
    </div>

    {{ stepper(flow.stepCount(), flow.getCurrentStepNumber(), null, "FOSUserBundle") }}

    <h2>{{ flow.getCurrentStepLabel()|trans }}</h2>
    {% if flow.getCurrentStepNumber() == 3 %}
        <p>{{ "profile_registration.step_3_description"|trans }}</p>
    {% endif %}

    {% if flow.getCurrentStepNumber() == flow.stepCount() %}
        {% include "UserBundle:Investor/Registration:confirmation.html.twig" %}
    {% endif %}


    {{ form_start(form, {"attr": {"class" : "form-vertical-basic" }}) }}

    {% if flow.getCurrentStepNumber() == 1 %}
        {{ form_widget(form) }}
    {% endif %}

    {% if flow.getCurrentStepNumber() == 2 %}
        {{ form_row(form.addressStreet) }}
        {{ form_row(form.addressNumber) }}
        {{ form_row(form.addressCity) }}
        {{ form_row(form.addressZip) }}
        {{ form_row(form.addressCountry) }}
        {{ form_row(form.addressRegion) }}
        {{ form_row(form.addressContactNotSame) }}
        <div class="contact-address-not-same"{{ form.addressContactNotSame.vars.value ? "" : ' style="display:none"' }}>
            <h3>{{ "profile.address_contact_address"|trans }}</h3>
            {{ form_row(form.addressContactStreet) }}
            {{ form_row(form.addressContactNumber) }}
            {{ form_row(form.addressContactCity) }}
            {{ form_row(form.addressContactZip) }}
            {{ form_row(form.addressContactCountry) }}
            {{ form_row(form.addressContactRegion) }}
        </div>
        <h2>{{ "profile.address_telephone"|trans }}</h2>
        {{ form_row(form.addressTel) }}
        {{ form_row(form.addressMobil) }}
    {% endif %}

    {% if flow.getCurrentStepNumber() == 3 %}
        {{ form_widget(form) }}
    {% endif %}

    {% include 'AppBundle:includes:stepper_buttons.html.twig' %}

    {{ form_end(form) }}

{% endblock fos_user_content %}