{% extends "FOSUserBundle::layout_sidebar_profile.html.twig" %}
{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}
{% from 'AppBundle:macros:planb.html.twig' import alert_box %}

{% block breadcrumb_inner %}
    {{ parent() }}
    {% trans_default_domain 'FOSUserBundle' %}
    <li><span>{{ "profile_registration.heading"|trans({}, "messages") }}</span></li>
{% endblock breadcrumb_inner %}


{% block fos_user_content %}
    {% block flashes %}
        {% if app.session.flashbag.peekAll|length > 0 %}
            {{ session_flash(null, null, null, "FOSUserBundle") }}
        {% endif %}
    {% endblock flashes %}

    <div class="icon-box">
        <div class="icon">
            <i class="icon-user-arrow-in"></i>
        </div>
        <div class="text">
            <h2>{{ "profile_registration.heading"|trans }}</h2>
        </div>
    </div>

    {{ alert_box("icon-info", "Ďakujeme za trpezlivosť, registrácia prebehla úspešne. Skontrolujte si Vašu e-mailovú schránku, na ktorú Vám boli zaslané potrebné zmluvy a informácie o ďalšom postupe pre úspešnú investíciu.
", "info") }}


    <h2>{{ "profile_registration.additional.heading"|trans({}, "texts") }}</h2>
    <h3>{{ "profile_registration.additional.point_1.heading"|trans({}, "texts") }}</h3>
    <p>{{ "profile_registration.additional.point_1.desc"|trans({"%link%" : path("fos_user_profile_index") }, "texts")|raw }}</p>

    <h3>{{ "profile_registration.additional.point_2.heading"|trans({}, "texts") }}</h3>
    <p>{{ "profile_registration.additional.point_2.desc"|trans({}, "texts") }}</p>


{% endblock fos_user_content %}