[icon_box icon="icon-user-arrow-out"]<h1>Investovanie na Plán B</h1>[/icon_box]

Vaše voľné prostiedky môžete výhodne zhodnotiť ich investovaním do pôžičiek žiadateľov a vytvoriť si tak pravidelný pasívny príjem. Takto vytvorený zisk môžete opäť reinvestovať do ďalších pôžičiek.

<div class="horizontal-line"></div>

<h2>Princíp zhodnotenia Vašich peňazí</h2>

<img src="/bundles/app/img/info/investovanie-na-plan-b-big.jpg" alt="Pôžička -žiadateľ zbiera peniaze na pôžičku v aukcii">

<h2>Kalkulačka výnosov</h2>
Skúste si pohodlne namodelovať Vaše výnosy na Plán B

[calculator_investment]

<h2>Výhody investovania na Plán B</h2>
Bepečný a pohodlný spôsob zhodnotenia Vašich peňazí. Bez poplatkov.

<div class="points-check customer">
    <ul>
      <li>Kolektívne investovanie je celosvetovo úspešný projekt investovania do pôžičiek, teda do snov a potrieb iných ľudí, s následným ziskom investora.</li>
      <li>Plán B prináša kolektívne pôžičky na Slovensko a dáva tak i Vám možnosť využiť výhody tohoto novodobého fenoménu.</li>
      <li>Vaša investícia je v porovnaní s investíciami na akciových trhoch výhodná a bezpečná. Výhoda investovania do pôžičiek na portáli Plán B spočíva pravé v tom, že už pri investovaní viete aký bude Váš zisk a investujete iba do overených žiadateľov.</li>
      <li>Zisk, teda úroky spolu so splatnou istinou, sa Vám budú pripisovať mesačne a tým si de facto vytvárate pasívny prijem.</li>
      <li>Sami si diverzifikujete protfólio investícií a tvoríte investičnú stratégiu.</li>
      <li>Tento typ investovania je tzv. online investovanie. To znamená, že všetky potrebne informácie a údaje získate priamo na našej stránke, vrátane priamej komunikácie so žiadateľom.</li>
      <li>Taktiež všetky potrebné úkony vrátane samotnej investície viete vykonať online na našej stránke a máte plnú kontrolu nad správou vašej investície.</li>
    </ul>
</div>

<div class="text-center">
    <a href="/pouzivatelia/registracia/investor" class="btn btn-brand btn-lg"><i class="icon-user-arrow-out"></i> Chcem investovať</a><br>
    <a href="/info/investovanie" class="gray-underline">Viac o investovaní</a>
</div>