<h1>Kalkulačka splátok</h1>

Navoľte požadovanú výšku pôžičky, dĺžku splácania v mesiacoch a želanú úrokovú sadzbu a dozviete sa výšku splátky Vašej pôžičky (podľa navolených parametrov).

[calculator_loan]

<div class="ratings">
<h2>Ratingové skupiny</h2>
    <p>Úrokové sadzby priradené k jednotlivým ratingom:</p>
    <div class="row">
        <div class="col-xs-2">
            <label class="rating rating-1">Rating<br>AA</label>
            6,4%
        </div>
        <div class="col-xs-2">
            <label class="rating rating-2">Rating<br>A</label>
            7,7%
        </div>
        <div class="col-xs-2">
            <label class="rating rating-3">Rating<br>B</label>
            9,6%
        </div>
        <div class="col-xs-2">
            <label class="rating rating-4">Rating<br>C</label>
            11,5%
        </div>
        <div class="col-xs-2">
            <label class="rating rating-5">Rating<br>D</label>
            14,7%
        </div>
    </div>
</div>