[icon_box icon="icon-user-arrow-in"]<h1>Požičať si na Plán B?</h1>[/icon_box]

Plán B je prostredníkom medzi ľuďmi, ktorí potrebujú peniaze a ľuďmi, ktorí chcú peniaze investovať. Požiadajte o pôžičku na základe Vami určených podmienok, získajte kontrolu nad výškou úroku, neplaťte žiadne poplatky a komunikujte priamo s investorom.

<div class="horizontal-line"></div>

<h2>Princíp požičiavania peňazí na Plán B</h2>

<img src="/bundles/app/img/info/preco-pozicat-big.jpg" alt="Pôžička -žiadateľ zbiera peniaze na pôžičku v aukcii">

<h2>Kalkulačka splátok</h2>
Skúste si pohodlne namodelovať výšku Vašej splátky na Plán B

[calculator_loan]

<h2>Výhody pôžičky na Plán B</h2>
Požičať si môžete aj bez byrokracie, vysokých poplatkov bankám, či úžerníkom a s rozumným úrokom.

<div class="points-check customer">
    <ul>
        <li>Kolektívne pôžičky sú celosvetovo úspešný projekt získavania prostriedkov na sny a potreby ľudí.</li>
        <li>Sú obdobou spotrebného bankového úveru. Vo svojej podstate fungujú rovnako, avšak s tým rozdielom, že do Vašej pôžičky investujú reálni ľudia- investori, a nie akási akciová spoločnosť.</li>
        <li>Pôžička získaná prostredníctvom Plán B je výhodná, bezúčelová, a rýchla. Už vopred si môžete vypočítať výšku Vašich splátok pomocou Kalkulačky splátok, či tzv. úverovej kalkulačky.</li>
        <li>Na základe výšky splátky si viete nastaviť dĺžku splácania ako aj výšku Vašej pôžičky.</li>
        <li>Keďže pôžička prostredníctvom Plán B je vždy bezúčelová, požičať si môžete úplne na čokoľvek. Na auto, dovolenku, či dokonca na refinancovanie iných, nevýhodných úverov.</li>
    </ul>
</div>

<div class="text-center">
    <a href="/pouzivatelia/registracia/customer" class="btn btn-brand btn-lg"><i class="icon-user-arrow-in"></i> Chcem si požičať</a><br>
    <a href="/info/preco-si-pozicat" class="gray-underline">Viac o požičiavaní</a>
</div>