<h1>Proces Investovania</h1>

<h2>1. Zaregistrujte sa</h2>
Registrácia je nezáväzná, bez viazanosti a zdarma. Vytvorte si účet, ktorý Vám umožní rýchlo a jednoducho spravovať Vaše financie a pristupovať k jednotlivým aukciám. Zabezpečte si možnosť investovať do ľubovoľnej aukcie kedykoľvek v budúcnosti.

<h2>2. Vytvorte si prehľad</h2>
Určite si investičný cieľ. Vyhľadajte si vhodnú úverovú triedu a určite si na základe ratingu predpokladané výnosy.   Prezrite si zoznam žiadateľov o pôžičku,  údaje o ich kredibilite a na aký účel si potrebujú požičať peniaze. Komunikujte s nimi a pýtajte sa, zbierajte informácie.

<h2>3. Začnite investovať</h2>
Ponúknite pôžičku s pevnou úrokovou sadzbou a Vami určenou sumou. Pozorne sledujte, ako na Váš vstup reagujú iní investori a akú odozvu má u záujemcov.
Plán B pravidelne a zodpovedne sleduje finančnú reaktivitu žiadateľov. V prípade omeškania splátky preberáme komunikáciu so žiadateľom namiesto Vás a podnikáme všetky potrebné kroky pre jej opätovné zabezpečenie.