<h1>Správa investícií</h1>

Plán B permanentne sleduje a kontroluje splatnosti jednotlivých pôžičiek, dôslednosť a presnosť prevedených finančných prostriedkov. Správnym rozúčtovaním a rozdeľovaním týchto prostriedkov medzi jednotlivých investorov im zabezpečuje mesačný príjem vo forme časti splátky istiny svojej pôžičky a príslušnému úroku.

Plán B kontroluje každého žiadateľa a ihneď rozozná akýkoľvek náznak problematickej pôžičky. V prípade omeškania mesačnej splátky Plán B kontaktuje žiadateľa a aktívne komunikuje spôsob splatenia dlžnej sumy v čo najkratšom možnom čase.

<h2>Štruktúra splátok</h2>

Plán B zabezpečuje anuitný spôsob splácania pôžičky. To znamená splátku, ktorá má rovnakú výšku počas celej doby platnosti úveru a je splácaná v pravidelných intervaloch – v prípade pôžičky prostredníctvom Plán B, mesačných. Keďže úroky platíte stále iba z aktuálne dlžnej istiny, s postupom splácania úveru klesá v splátke podiel úrokov a zvyšuje sa podiel úmoru istiny. Ak sa žiadateľ rozhodne svoju pôžičku splatiť predčasne, tvorí to výhodu pre investora.
