<h1>Určenie úrokových sadzieb</h1>

Aby Vaša investícia priniesla v konečnom dôsledku čo najprimeranejší zisk, Plán B Vám odporučí automaticky spolu s každou konkrétnou žiadosťou o pôžičku adekvátnu úrokovú sadzbu. Jej výška je vždy výhodná pre všetky zúčastnené strany a určená na základe momentálnych podmienok na trhu pôžičiek. Sadzba je ďalej modulovaná na základe výsledku hodnotenia kvality žiadateľa a navýšená o prirážku rizikovej skupiny, v ktorej sa žiadateľ nachádza.

Rizikové skupiny, nazývané i Ratingové skupiny, sú v rozmedzí AA, A, B, C, alebo D, a zjednodušene zobrazujú rizikovosť jednotlivých žiadateľov. Ich percentuálne rozmedzie je zobrazene nižšie.

Plán B Vám odporučí vhodnú úrokovú sadzbu, no konečné rozhodnutie o jej výške je len na Vás. Vyplňte svoj investičný plán podľa vlastných predstáv a očakávaní.

<div class="ratings">
<p>Úrokové sadzby priradené k jednotlivým ratingom:</p>
<div class="row">
    <div class="col-xs-2">
        <label class="rating rating-1">Rating<br>AA</label>
        6,4%
    </div>
    <div class="col-xs-2">
        <label class="rating rating-2">Rating<br>A</label>
        7,7%
    </div>
    <div class="col-xs-2">
        <label class="rating rating-3">Rating<br>B</label>
        9,6%
    </div>
    <div class="col-xs-2">
        <label class="rating rating-4">Rating<br>C</label>
        11,5%
    </div>
    <div class="col-xs-2">
        <label class="rating rating-5">Rating<br>D</label>
        14,7%
    </div>
</div>
</div>
<h2>Štandardná aukcia</h2>
Model štandardnej aukcie je jednoduchý. Investor určí  výšku úrokovej sadzby, za ktorú poskytne svoju investíciu žiadateľovi. Žiadateľ  zadáva požadovanú sumu pôžičky a dobu jej splatnosti.

<h2>Riziková aukcia</h2>
Od štandardného modelu aukcie sa líši potenciálne oveľa vyšším možným konečným ziskom. Jedná sa o aukcie žiadateľov, ktorým bolo pridelené hodnotenie D a ich percentuálna úroková miera sa pohybuje v rozmedzí 20 - 29,99%.