<h1>Vytvorenie atraktívnej a úspešnej aukcie</h1>

Dôsledným a pravdivým vyplnením všetkých potrebných údajov, jasnou finančnou minulosťou, preukázaním svojho zázemia a dôsledným odôvodnením potreby pôžičky získavate oveľa vyššiu pravdepodobnosť získania potrebných financií za čo najvýhodnejších podmienok. Plán B Vám odporučí niekoľko krokov, ako byť úspešný v aukcii:

<h2>1. Dôveryhodnosť a transparentnosť</h2>
Investorov zaujímajú všetky informácie o žiadateľovi, ktorému zveria svoje peniaze. Pravdivo preto zverejnite všetky svoje zvýšené výdavky, ktoré v súčasnosti máte, zrozumiteľne vysvetlite, prečo potrebujete pôžičku a ako plánujete využiť získané financie. Svojou otvorenosťou a pravdivosťou zvyšujete atraktivitu a záujem u investorov.

<h2>2. Aktívna komunikácia s investorom</h2>
Odpovedajte na všetky otázky, ktoré vám potenciálny investor položí. Sformulujte svoju odpoveď jednoducho a celistvo. Sledujte konverzáciu pravidelne a buďte aktívny. Ak niečomu nerozumiete, spýtajte sa aj Vy. Vyzdvihnete tým u investora skutočnosť, že si jeho ponuku ceníte a zaujíma Vás každý detail.

<h2>3. Výška pôžičky</h2>
Nepreháňajte svoje finančné možnosti a vždy si žiadajte o sumu, ktorú skutočne potrebujete na pokrytie svojich potrieb. Rozumná pôžička na seba upozorní oveľa viac investorov.

<h2>4. Čiastočné naplnenie pôžičky</h2>
Ak sa Vami požadovaná suma pôžičky úplne nenaplní, nie je to prekážkou. Môžete prijať i nižšiu sumu, než ste pôvodne žiadali alebo svoju žiadosť predĺžiť. Za účelom úspešného financovania pôžičky Vám bude umožnené predĺžiť aukciu o presne vymedzené časové obdobie. 
