<h1>Všeobecné zmluvné podmienky internetového portálu www.planb.sk</h1>

<h2>1. Úvodné ustanovenia </h2>

1.1           Tieto všeobecné zmluvné podmienky Internetového portálu www.planb.sk (ďalej len „VZP“) sa vzťahujú  stanovenie podmienok a zásad pri využívania služieb poskytovaných prostredníctvom Internetového portálu a v tejto súvislosti podrobne špecifikujú práva a povinnosti spoločnosti Lyngo, s.r.o. so sídlom Tŕnistá 591/7, Nitra 949 01, IČO: 47 050 799, zapísaná v Obchodnom registri Okresného súdu v Nitre,

oddiel: Sro, vložka č. 33785/N (ďalej len „Lyngo, s.r.o.“), Žiadateľa a Investora, resp. Používateľom.

1.2           Právne vzťahy medzi spoločnosťou Lyngo, s. r. o., Používateľom, Žiadateľom a Investorom sa riadia týmito VZP, vrátane ich Sadzobníka, Rámcovou zmluvou, Zmluvou o pôžičke, pokynmi uvedenými na Internetovom portáli, a ustanoveniami príslušných všeobecne záväzných právnych predpisov.

1.3           Podmienkou využívania služieb Internetového portálu je registrácia a verifikácia Používateľa na Internetovom portáli vyplnením formulára osobných údajov, vykonanie činností vyžadovaných Internetovým portálom, prejavenie súhlasu s týmito VZP, vrátane ich Sadzobníka, prípadne uzatvorenie Rámcovej zmluvy a získanie statusu Žiadateľa alebo Investora.

<h2>2. Výklad pojmov </h2>

2.1            Internetový portál http://www.planb.sk (ďalej len „Internetový portál“) je internetová platforma prevádzkovaná a spravovaná spoločnosťou Lyngo, s.r.o., prostredníctvom ktorej sa prevádzkuje Internetová aukcia pôžičiek a poskytujú sa ďalšie služby spojené s jej využívaním. Internetová aukcia pôžičiek je elektronický nástroj prevádzkovaný na Internetovom portáli za účelom stretávania sa ponuky pôžičky jednotlivých investorov a dopytu pôžičky jednotlivých žiadateľov.

2.2            Spoločnosť Lyngo, s.r.o. je prevádzkovateľom Internetového portálu, ktorá na základe procesu registrácie Investora a na základe Rámcovej zmluvy, umožňuje Investorovi prístup do Internetovej aukcie pôžičiek, posúdenie skóringu (bonity) Žiadateľov, zabezpečuje inkaso peňažných prostriedkov od Investora za účelom ich poskytnutia Žiadateľom na základe výsledku Internetovej aukcie pôžičiek, uzatvára v mene a na účet Investora zmluvu o pôžičke so zvolenými Žiadateľmi, zabezpečuje inkaso splátok pôžičky od jednotlivých Žiadateľov a ich výplatu Investorovi, zabezpečuje kontrolu splácania pôžičiek jednotlivými Žiadateľmi, a zabezpečuje ďalšie služby pri využívaní Internetového portálu.

2.3            Spoločnosť Lyngo, s.r.o. sprostredkováva prístup, využívanie a správu Internetového portálu pre jednotlivých Žiadateľov. Na základe procesu registrácie a verifikácie Žiadateľa umožňuje Žiadateľovi prístup do Internetovej aukcie pôžičiek (t.j. najmä umiestnenie dopytu pôžičky, založenie aukcie, správa aukcie a ukončenie aukcie) a zabezpečí ďalšie služby pri využívaní Internetového portálu. V prípade uzatvorenia zmluvy o pôžičke na základe výsledku Internetovej aukcie pôžičiek, vzniká spoločnosti Lyngo, s.r.o. voči Žiadateľovi nárok na zaplatenie poplatku za tieto služby a to v zmysle sadzobníka poplatkov, ktorý je súčasťou týchto VZP (ďalej len „Sadzobník“).

2.4            Internetová aukcia pôžičiek je proces, v ktorom Žiadateľ cez rozhranie Internetového portálu a spôsobom na ňom upraveným, zverejňuje dopyt na poskytnutie pôžičky a to uvedením požadovanej výšky pôžičky a doby jej splatenie a Investor ponúka jednotlivým ním vybraným Žiadateľom,  finančné prostriedky za účelom poskytnutia pôžičky a to vo výške a za úrok podľa jeho vlastného uváženia a rozhodnutia (ďalej len „Ponuka“).

2.5            Žiadateľ je oprávnený odmietnuť všetky Ponuky na poskytnutie pôžičky, resp. vybrať si z nich len niektoré.

2.6            Pôžička ako výsledok Internetovej aukcie pôžičiek je poskytovaná ako kolektívna pôžička od viacerých Investorov, t.j. že finančné prostriedky tvoriace túto pôžičku sú zložené z prostriedkov od viacerých investorov, v mene a na účet ktorých koná spoločnosť Lyngo, s.r.o., pričom nároky vyplývajúce z poskytnutej pôžičky patria výlučne jednotlivým Investorom, ktorí danú pôžičku poskytnú a to ako oddeleným veriteľom pomerom podľa výšky poskytnutého plnenia tým-ktorým Investorom k celkovej pôžičke, zohľadňujúc k tomu prislúchajúce úroky.

2.7           Rozhodnutie zúčastniť sa Internetovej aukcie pôžičiek a poskytnúť pôžičku zvolenému Žiadateľovi je výlučným rozhodnutím Investora ako výsledok jeho dôslednej úvahy, po zvážení súvisiaceho rizika a ako prejav jeho slobodnej a vážnej vôle. Investor berie na vedomie, že spoločnosť Lyngo, s.r.o. žiadnym spôsobom neručí ani nezodpovedá za splnenie záväzkov Žiadateľa a ani za prípadnú škodu, ktorú nesplnením svojich záväzkov Žiadateľ Investorovi spôsobí.

2.8            Žiadateľ je  je osoba, ktorá má záujem za podmienok stanovených týmito VZP využívať služby Internetového portálu, za účelom získania pôžičky a ktorá v dôsledku procesu registrácie a verifikácie na Internetovom portáli získala status Žiadateľa a ktorá na základe výsledku Internetovej aukcie pôžičiek uzatvorí s Investorom Zmluvu o pôžičke, ktorá bude uzatvorená prostredníctvom spoločnosti Lyngo, s.r.o. Žiadateľ nesmie byť podnikateľom v zmysle ust. § 2 Obchodného zákonníka, musí byť plne spôsobilý na právne úkony, starší ako 18 rokov, s trvalým pobytom na území Slovenskej republiky a musí byť vlastníkom Individuálneho bankového účtu.

2.9            Investor je fyzická osoba, ktorá má záujem za podmienok stanovených týmito VZP využívať služby Internetového portálu, za účelom poskytnutia pôžičky a ktorá v dôsledku procesu registrácie na Internetovom portáli a na základe Rámcovej zmluvy uzatvorenej so spoločnosťou Lyngo, s.r.o. získala status Investora a ktorá na základe výsledku Internetovej aukcie pôžičiek uzatvorí, prostredníctvom spoločnosti Lyngo, s.r.o., so Žiadateľom Zmluvu o pôžičke. Investor nesmie byť podnikateľom v zmysle ust. § 2 Obchodného zákonníka, musí byť plne spôsobilý na právne úkony, starší ako 18 rokov, s trvalým pobytom na území Slovenskej republiky a musí byť vlastníkom Individuálneho bankového účtu.

2.10         Zmluva o pôžičke je zmluva uzatvorená na základe výsledku Internetovej aukcie pôžičiek medzi Žiadateľom a Investorom, v mene a na účet ktorého koná spoločnosť Lyngo, s.r.o.

2.11         Rámcová zmluva je zmluva uzatvorená v súlade s týmito VZP medzi spoločnosťou Lyngo, s.r.o. a Investorom. Je uzatvorená na základe procesu registrácie a verifikácie Investora a jej predmetom je využitie služieb Internetového portálu za podmienok bližšie špecifikovaných v týchto VZP. Nevyhnutným predpokladom na uzatvorenie Rámcovej zmluvy so spoločnosťou Lyngo, s.r.o. a získanie statusu Investora je úspešná registrácia na Internetovom portáli, vytvorenie Virtuálneho účtu Používateľa, a úspešné overenie totožnosti.

2.12         Používateľ Internetového portálu je osoba, ktorá má záujem na základe procesu registrácie a verifikácie uzatvoriť Rámcovú zmluvu o spolupráci a získať tak status Investora; prípadne na základe procesu registrácie, verifikácie, a určení skóringu (overení bonity) vytvoriť Internetovú aukciu pôžičky a stať sa Žiadateľom. Používateľ Internetového portálu je inými slovami osoba, ktorá vstupuje na portál za účelom využívania služieb Internetového portálu.

2.13         Nick Používateľa je unikátny individuálny názov, ktorý si vyberie Používateľ pri registrácii na Internetovom portáli a pod ktorým vystupuje voči ostatným Používateľom Internetového portálu pri využívaní služieb Internetového portálu.

2.14         Individuálny bankový účet je osobný bankový účet vo výlučnom vlastníctve Používateľa, vedený výlučne na území Slovenskej republiky a v ľubovoľnej banke oprávnenej poskytovať bankové služby na území Slovenskej republiky. Používateľ nie je pri využívaní služieb Internetového portálu a Internetovej aukcie pôžičiek oprávnený vykonávať akékoľvek platby prostredníctvom zahraničného platobného styku, či v inej mene ako v mene EURO.

2.15         Bankový účet Lyngo, s.r.o. je neúročený bankový účet vo výlučnom vlastníctve spoločnosti Lyngo, s.r.o. Je využívaný na zabezpečenie správneho prevodu peňažných prostriedkov medzi Investorom a Žiadateľom.

2.16         Virtuálny účet je samostatná časť Internetového portálu, prostredníctvom ktorej na základe registrácie na Internetovom portáli (v prípade Investora i na základe Rámcovej zmluvy o spolupráci) existuje možnosť podania dopytu alebo ponuky pôžičky. K Virtuálnemu účtu má prístup iba oprávnený Používateľ po zadaní prihlasovacieho mena, pod ktorým sa rozumie Nick Používateľa, a Hesla.

2.17         Heslo je akákoľvek kombinácia abecedných znakov a čísiel, ktorú si stanoví Používateľ pri registrácii s cieľom záruky výlučného prístupu k svojmu Virtuálnemu účtu.

2.18         Verifikácia je proces kontrolných činností spoločnosti Lyngo, s. r. o. s cieľom overiť súlad dokumentov zaslaných od Používateľa s údajmi zadanými pri jeho registrácii, resp. na overenie súladu údajov zadaných Používateľom pri jeho registrácii a dokumentov zaslaných od Používateľa so skutočným stavom zachyteným vo verejne alebo neverejne prístupných databázach a registroch.

2.19         Ratingová skupina je súbor Používateľov-Žiadateľov zoskupených podľa procesu posúdenia skóringu (bonity). Žiadatelia sú zaradení do príslušnej ratingovej skupiny na základe ohodnotenia pravdepodobnosti nesplatenia pôžičky z ich strany.

2.20         Obchodný zákonník je zákon č. 513/1991 Zb. Obchodný zákonník v znení neskorších predpisov. Občiansky zákonník je zákon č. 40/1964 Zb. Občiansky zákonník v znení neskorších predpisov.  Zákon o spotrebiteľských úveroch je zákon č. 129/2010 Z. z. o spotrebiteľských úveroch a o iných úveroch a pôžičkách pre spotrebiteľov v znení neskorších predpisov.

2.21         Zmluvné strany sú spoločnosť Lyngo, s.r.o., Žiadateľ, Investor.

<h2>3. Získanie statusu Žiadateľa </h2>

3.1           Používateľ získa status Žiadateľa po úspešnej registrácii na Internetovom portáli (bod 3.6 VZP) a po úspešnom prejdení internej a externej verifikácii (body 3.7 a 3.8 VZP). Spoločnosť Lyngo, s. r. o. sa zaväzuje poskytnúť Žiadateľovi služby Internetového portálu, a to konkrétne tieto služby:

3.1.1        aktívny prístup do Internetovej aukcie pôžičiek prevádzkovanej na Internetovom portáli za účelom vytvorenia príležitosti uzavrieť s Investorom Zmluvu o pôžičke podľa výsledku Internetovej aukcie pôžičiek, a to prostredníctvom spoločnosti Lyngo, s.r.o. konajúcej v mene a na účet Investora;

3.1.2        správa Virtuálneho účtu Žiadateľa;

3.1.3        inkaso peňažných prostriedkov pôžičky na Individuálny bankový účet Žiadateľa. Tieto peňažné prostriedky poskytne spoločnosť Lyngo, s.r.o. v prospech Žiadateľa v mene a na účet Investorov, a to na základe Zmluvy o pôžičke uzatvorenej medzi Žiadateľom a Investorov, v mene a na účet ktorých koná spoločnosť Lyngo, s.r.o.;

3.1.4        poskytovanie ďalších služieb pri používaní Internetového portálu bližšie špecifikovaných v nasledovných ustanoveniach týchto VZP.

3.2           Pre účely riadneho zabezpečenia služieb udelí Žiadateľ spoločnosti Lyngo, s. r. o. aj potrebné plnomocenstvo. Preukazom udeleného plnomocenstva bude Zmluva o pôžičke uzavretá medzi Žiadateľom a Investorom prostredníctvom spoločnosti Lyngo, s.r.o., a takisto súhlas s týmito VZP.

3.3           Spoločnosť Lyngo, s. r. o. neručí Žiadateľovi za splnenie záväzkov Investora vyplývajúcich zo Zmluvy o pôžičke.

<h3>3.6 Registrácia a vytvorenie Virtuálneho účtu Používateľa </h3>

3.6.1        S cieľom registrácie a vytvorenia Virtuálneho účtu Používateľa na Internetovom portáli je Používateľ povinný zadať meno a priezvisko, zvolený Nick Používateľa a e-mailovú adresu, prípadne ďalšie údaje požadované Internetovým portálom a akceptovať VZP vrátane ich Sadzobníka a to zakliknutím príslušného políčka na Internetovom portáli. Zakliknutím príslušného políčka na Internetovom portáli Používateľ vyhlasuje, že sa podrobne oboznámil s obsahom týchto VZP vrátane ich Sadzobníka, ich obsahu porozumel, a že sa zaväzuje tieto VZP vrátane ich Sadzobníka dodržiavať. Používateľ je zároveň povinný prostredníctvom zakliknutia príslušného políčka na Internetovom portáli udeliť súhlas so spracúvaním jeho osobných údajov.

3.6.2        Na základe správneho a korektného vyplnenia požadovaných údajov, ich odoslaní a odsúhlasení záväznosti VZP vrátane ich Sadzobníka, a udelenia súhlasu so spracúvaním osobných údajov, zašle Internetový portál Používateľovi uvítací e-mail, obsahom ktorého bude náhodne vygenerované Heslo, hypertextový odkaz na Internetový portál a výzva na zmenu náhodne vygenerovaného Hesla. Úspešnou zmenou náhodne vygenerovaného Hesla dôjde k automatickému vytvoreniu Virtuálneho účtu Používateľa, ktorý má záujem získať status Žiadateľa. Týmto krokom je ukončený proces registrácie Používateľa, ktorý má záujem získať status Žiadateľa.

3.6.3        Používateľ je povinný vždy zadať správne a pravdivé údaje vyžadované podľa bodu 3.6.1 VZP. Zadanie nesprávnych alebo nepravdivých údajov je dôvodom na zamietnutie alebo zrušenie registrácie Používateľa.

3.6.4        Používateľ je oprávnený zadať a používať len jeden Nick Používateľa, ktorý zároveň nesmie byť hanlivý, urážlivý, či neslušný. Taktiež nesmie byť zameniteľný s názvom iného Používateľa a nesmie vzbudzovať klamlivú predstavu o Používateľovi, jeho osobe, totožnosti, vlastnostiach a spojenia s inými osobami. Internetový portál je oprávnený Nick Používateľa, ktorý nespĺňa kritériá uvedené v tomto odseku, odmietnuť a vyzvať Používateľa na zvolenie si iného, nového Nicka Používateľa.

3.6.5        Používateľ je oprávnený prostredníctvom Internetového portálu vytvoriť a používať len jeden Virtuálny účet Používateľa, v záujme získať statusu Investora, resp. jeden Virtuálny účet Používateľa, ktorý má v záujme získať status Žiadateľa. Porušenie tejto povinnosti je dôvodom na zamietnutie alebo zrušenie registrácie Používateľa, alebo zrušenie všetkých už existujúcich Virtuálnych účtov Používateľa.

3.6.6        Používateľ berie na vedomie, že len na základe registrácie a vytvorenia Virtuálneho účtu Používateľa nemá automaticky nárok na využívanie všetkých služieb poskytovaných prostredníctvom Internetového portálu. Nárok na využívanie všetkých služieb poskytovaných prostredníctvom Internetového portálu vzniká Používateľovi až získaním statusu Žiadateľa, resp. Investora podľa podmienok ďalej špecifikovaných v týchto VZP.

3.6.7        Používateľ, ktorý má v záujme stať sa Žiadateľom berie na vedomie, že nevyhnutným predpokladom na vytvorenie žiadosti o pôžičku a získanie statusu Žiadateľa je úspešná registrácia na Internetovom portáli a vytvorenie Virtuálneho účtu Používateľa (bod 3.6 VZP), úspešné absolvovanie internej verifikácie (bod 3.7 VZP) a externej verifikácie Používateľa a posúdenie skóringu (bonity) Používateľa (bod 3.8 VZP).

<h2>3.7 Interná verifikácia Používateľa, ktorý má záujem získať status Žiadateľa</h2>

3.7.1        Po registrácii a vytvorení Virtuálneho účtu (bod 3.7.2 VZP) je Používateľ, ktorý má záujem získať status Žiadateľa a vytvoriť žiadosť o pôžičku, povinný prostredníctvom on-line formulára vygenerovaného Internetovým portálom zadať osobné údaje, kontaktné údaje, údaje týkajúce sa bankového spojenia, údaje o zamestnaní a príjme, ako i ďalšie údaje v rozsahu požadovanom Internetovým portálom, akými sú napríklad, no nie výhradne, druhý doklad totožnosti (napr. Cestovný Pas), výpis z bankového účtu v období troch mesiacov spätne odo dňa registrácie na Internetovom portáli, či akýkoľvek doklad o zaplatení fakturovaný na osobu Používateľa, ktorý má záujem získať status Žiadateľa (faktúra).

3.7.2        Používateľ je nad rámec údajov uvedených v bode 3.7.1 týchto VZP oprávnený nepovinne zadať aj ďalšie informácie týkajúce sa jeho osobného stavu, rodinného stavu, predmetu činnosti, statusu, vzdelania, zamestnania, a akýchkoľvek ďalších doplňujúcich informácií.

3.7.3        Na základe údajov zadaných Používateľom, ktorý má záujem získať status Žiadateľa (bod 3.7.1 a 3.7.2 VZP), vykoná spoločnosť Lyngo, s. r. o. internú verifikáciu správnosti a korektnosti zadaných údajov so skutočným stavom podľa verejne dostupných databáz a registrov. O výsledku tejto internej verifikácie bude Používateľ informovaný e-mailom

3.7.4        Používateľ je povinný vždy zadať správne a pravdivé údaje vyžadované podľa bodu 3.7.1 a 3.7.2 týchto VZP. Zadanie nesprávnych alebo nepravdivých údajov je dôvodom na ukončenie procesu verifikácie tohto Používateľa, zrušenie registrácie a Virtuálneho účtu tohto Používateľa, ako aj zrušenia už prípadne začatej Internetovej aukcie pôžičky.

3.7.5        V súlade s inštrukciami oznámenými Používateľovi prostredníctvom e-mailu (bod 3.7.3 VZP), Používateľ zašle doporučenou poštou na adresu spoločnosti Lyngo, s. r. o. v lehote 5 dní odo dňa doručenia informácie o výsledku internej verifikácie (bod 3.7.3 VZP) originály, resp. kópie ďalších dokumentov podľa inštrukcií uvedených v e-maile zaslanom mu v súlade s bodom 3.7.3 týchto VZP. Všetky tieto dokumenty môže Používateľ v danej lehote taktiež naskenovať a nahrať (uploadnuť) na portáli www.planb.sk. V opačnom prípade má spoločnosť Lyngo, s. r. o. právo ukončiť proces verifikácie tohto Používateľa a zrušiť registráciu a Virtuálny účet tohto Používateľa.

<h2>3.8 Externá verifikácia a posúdenie skóringu (bonity) Používateľa, získanie statusu Žiadateľa</h2>

3.8.1        Za účelom získania statusu Žiadateľa absolvuje následne Používateľ externú verifikáciu (bod 3.8.2 VZP) a posúdenie skóringu (bonity) Používateľa (bod 3.8.3 VZP).

3.8.2        Externú verifikácia Používateľa, ktorý má záujem získať status Žiadateľa zabezpečí spoločnosť Lyngo, s. r. o. porovnaním údajov zadaných týmto Používateľom podľa bodu 3.7.1 VZP resp. oznámených prostredníctvom zaslaných dokumentov a dokladov s údajmi o tomto Používateľovi uvedených v neverejných databázach a registroch. V prípade zistenia rozporov či nezrovnalostí, ukončí spoločnosť Lyngo, s. r. o. proces verifikácie tohto Používateľa, a je oprávnená zrušiť registráciu a Virtuálny účet tohto Používateľa. Naopak, v prípade zistenia súladu vykoná spoločnosť Lyngo, s. r. o. posúdenie bonity (skóring) tohto Používateľa (bod 3.8.3 VZP).

3.8.3        Posúdenie bonity (skóring) Používateľa, ktorý má záujem získať status Žiadateľa vykoná spoločnosť Lyngo, s.r.o. za účelom zhodnotenia pôžičkovej schopnosti (spôsobilosti) tohto Používateľa, a to prostredníctvom automatizovaného posúdenia bonity (zhodnotenie údajov zadaných Používateľom pri registrácii a ich vyhodnotenie pomocou interného expertného algoritmu, berúceho do úvahy relevantné príjmy a výdavky, osobné a majetkové vlastnosti, pôžičkové riziko spojené s konkrétnymi osobami, ako i ďalšie relevantné údaje tohto Používateľa) a manuálnej verifikácie (telefonické overenie totožnosti, pracovného pomeru a mzdy u zamestnávateľa, a iné rôznymi inými spôsobmi). Za účelom manuálneho posúdenia bonity je Používateľ povinný dať súhlas všetkým dotknutým subjektom na poskytnutie požadovaných údajov a informácií týkajúcich sa osoby Používateľa. O výsledku posúdenia skóringu (bonity) bude Používateľ informovaný prostredníctvom e-mailu, obsahom ktorého bude informácia o splnení alebo nesplnení podmienok na získanie statusu Žiadateľa.

3.8.4        V prípade neúspešného absolvovanie posúdenia bonity (skóringu) ukončí spoločnosť Lyngo, s. r. o. proces verifikácie Používateľa, a je oprávnená zrušiť registráciu a Virtuálny účet tohto Používateľa.

3.8.5        V prípade úspešného absolvovania posúdenia bonity (skóringu) bude obsahom e-mailu zároveň informácia o zaradení tohto Používateľa do príslušnej Ratingovej skupiny a odporúčanej úrokovej sadzbe pre Investorov. Úspešným absolvovaním posúdenia bonity (skóringu) dochádza k zavŕšeniu procesu verifikácie Používateľa. Žiadateľ musí po úspešne získanej pôžičke podpísať spolu so Zmluvou o pôžičke i tieto VZP vrátane ich Sadzobníka, a bezodkladne doručiť po jednom origináli z každého na adresu spoločnosti Lyngo, s.r.o.

<h2>4. Získanie statusu Investora </h2>

<h3>4.1 Registrácia a vytvorenie Virtuálneho účtu Používateľa </h3>

4.1.1        S cieľom registrácie a vytvorenia Virtuálneho účtu Používateľa na Internetovom portáli je Používateľ, ktorý má záujem uzatvoriť Rámcovú zmluvu so spoločnosťou Lyngo, s.r.o. a získať tak status Investora, povinný zadať meno a priezvisko, zvolený Nick Používateľa a e-mailovú adresu, prípadne ďalšie údaje požadované Internetovým portálom a akceptovať VZP vrátane ich Sadzobníka zakliknutím príslušného políčka na Internetovom portáli. Zakliknutím príslušného políčka na Internetovom portáli Používateľ vyhlasuje, že sa podrobne oboznámil s obsahom týchto VZP vrátane ich Sadzobníka, ich obsahu porozumel a že sa zaväzuje tieto VZP vrátane ich Sadzobníka dodržiavať. Používateľ je zároveň povinný udeliť súhlas so spracúvaním jeho osobných údajov prostredníctvom zakliknutia príslušného políčka na Internetovom portáli.

4.1.2        Na základe správneho a korektného vyplnenia požadovaných údajov, ich odoslania a odsúhlasenia záväznosti VZP vrátane ich Sadzobníka (bod 4.1.1 VZP) a udelenia súhlasu so spracúvaním osobných údajov (bod 4.1.1 VZP), zašle Internetový portál Používateľovi uvítací e-mail, obsahom ktorého bude náhodne vygenerované Heslo, hypertextový odkaz na Internetový portál a výzva na zmenu náhodne vygenerovaného Hesla. Úspešnou zmenou náhodne vygenerovaného Hesla dôjde k automatickému vytvoreniu Virtuálneho účtu Používateľa, ktorý má záujem získať status Investora.

4.1.3        Po prepojení na Internetový portál je Používateľ, ktorý má záujem získať status Investora, prostredníctvom ukončenia procesu registrácie, povinný prostredníctvom on-line formulára vygenerovaného Internetovým portálom zadať osobné údaje, kontaktné údaje, údaje týkajúce sa bankového spojenia, ako i ďalšie údaje v rozsahu požadovanom Internetovým portálom. Vyplnením tohto on-line formulára a jeho odoslaním dôjde k ukončeniu procesu registrácie Používateľa, ktorý má záujem získať status Investora. Internetový portál následne zašle Používateľovi e-mail, prílohou ktorého bude kópia VZP vrátane ich Sadzobníka a Rámcovej zmluvy.

4.1.4        Používateľ je nad rámec údajov uvedených v bode 4.1.3 týchto VZP oprávnený nepovinne zadať aj ďalšie informácie týkajúce sa jeho osoby.

4.1.5        Používateľ je povinný vždy zadať správne a pravdivé údaje vyžadované podľa týchto VZP či kdekoľvek na Internetovom portáli. Zadanie nesprávnych alebo nepravdivých údajov je dôvodom na odopretie alebo zrušenie registrácie Používateľa, resp. zamietnutie vytvorenia alebo zrušenie Virtuálneho účtu Používateľa.

4.1.6        Používateľ je oprávnený zadať a používať len jeden Nick Používateľa, ktorý nesmie byť hanlivý, urážlivý, neslušný, taktiež nesmie byť zameniteľný s názvom iného Používateľa a nesmie vzbudzovať klamlivú predstavu o Používateľovi, jeho osobe, totožnosti, vlastnostiach a spojenia s inými osobami. Internetový portál je oprávnený Nick Používateľa ktorý nespĺňa kritériá uvedené v predchádzajúcej vete odmietnuť a vyzvať Používateľa na zvolenie nového Nick Používateľa.

4.1.7        Používateľ je oprávnený prostredníctvom Internetového portálu vytvoriť a používať len jeden Virtuálny účet Používateľa, ktorý má záujem získať status Investora alebo jeden Virtuálny účet Používateľa, ktorý má záujem získať status Žiadateľa. Porušenie tejto povinnosti je dôvodom na odopretie alebo zrušenie registrácie Používateľa, resp. zamietnutie vytvorenia nového Virtuálneho účtu Používateľa alebo zrušenie všetkých Virtuálnych účtov Používateľa.

4.1.8        Používateľ berie na vedomie, že len na základe registrácie a vytvorenia Virtuálneho účtu Používateľa nemá automaticky nárok na využívanie služieb poskytovaných prostredníctvom Internetového portálu (napr. možnosť využitia Internetovej aukcie pôžičiek). Nárok na využívanie služieb poskytovaných prostredníctvom Internetového portálu vzniká Používateľovi až uzatvorením Rámcovej zmluvy so spoločnosťou Lyngo, s.r.o. a získaním statusu Investora podľa podmienok špecifikovaných v týchto VZP.

4.1.9 Používateľ, ktorý má záujem uzatvoriť so spoločnosťou Lyngo, s.r.o. Rámcovú zmluvu o spolupráci a získať tak status Investora berie na vedomie, že nevyhnutným predpokladom na uzatvorenie Rámcovej zmluvy a získanie statusu Investora je úspešná registrácia na Internetovom portáli, vytvorenie Virtuálneho účtu Používateľa (bod 4.1 VZP) a úspešné overenie totožnosti (4.2 VZP).

<h3>4.2 Overenie totožnosti Používateľa, získanie statusu Investora </h3>

4.2.1        Po vytvorení Virtuálneho účtu Používateľa, ktorý má záujem získať status Investora, je tento Používateľ povinný zaslať spoločnosti Lyngo, s.r.o. za účelom overenia jeho totožnosti podpísanú Rámcovú zmluvu o spolupráci v dvoch vyhotoveniach, podpísané VZP vrátane ich Sadzobníka v jednom vyhotovení a kópiu občianskeho preukazu. Všetky tieto dokumenty môže investor i naskenovať a nahrať (uploadnuť) cez aplikáciu na portáli www.planb.sk. O výsledku overenia totožnosti bude Používateľ informovaný prostredníctvom e-mailu, obsahom ktorého bude informácia o doručení požadovaných dokumentov, o úspešnom alebo neúspešnom overení totožnosti Používateľa, teda o splnení alebo nesplnení podmienok na uzatvorenie Rámcovej zmluvy a získania statusu Investora.

4.2.2        V prípade neúspešného overenia totožnosti Používateľa (bod 4.2.1 VZP) a zistenia rozporov údajov zadaných Používateľom pri jeho registrácii a údajov v predložených dokumentoch, ukončí spoločnosť Lyngo, s.r.o. proces registrácie tohto Používateľa, neuzavrie s týmto Používateľom Rámcovú zmluvu o spolupráci a je oprávnená zrušiť registráciu a Virtuálny účet tohto Používateľa.

4.2.3        V prípade úspešného overenia totožnosti Používateľa (bod 4.2.1 VZP) a nezistenia rozporov údajov zadaných Používateľom pri jeho registrácii a údajov v predložených dokumentoch, bude obsahom e-mailu (bod 4.2.1 VZP) zároveň informácia o splnení podmienok na uzatvorenie Rámcovej zmluvy a získanie statusu Investora. Úspešným absolvovaním overenia totožnosti a doručenia e-mailu podľa bodu 4.2.1 VZP dochádza k zavŕšeniu procesu registrácie Používateľa, automatickej aktivácii Virtuálneho účtu Používateľa a k podpisu Rámcovej zmluvy zo strany spoločnosti Lyngo, s.r.o. Podpisom Rámcovej zmluvy zo strany spoločnosti je táto zmluva platná a účinná a Používateľ získava status Investora oprávneného využívať služby Internetového portálu.

<h3>4.3 Rámcová zmluva uzatvorená medzi spoločnosťou Lyngo, s.r.o. a Investorom </h3>

4.3.1 Predmetom Rámcovej zmluvy na základe ktorej získa Používateľ status Investora je záväzok spoločnosti Lyngo, s.r.o. poskytnúť Investorovi služby Internetového portálu. Tie sú nasledovné:

4.3.1.1     aktívny prístup do Internetovej aukcie pôžičiek,

4.3.1.2     uzatvorenie Zmluvy o pôžičke so Žiadateľom podľa výsledku Internetovej aukcie pôžičiek v mene a na účet Investora,

4.3.1.3     zabezpečenie inkasa peňažných prostriedkov od Investora za účelom ich poskytnutia Žiadateľovi na základe uzatvorenej Zmluvy o pôžičke,

4.3.1.4     zabezpečenie inkasa splátok pôžičky od jednotlivých Žiadateľov Investorovi,

4.3.1.5     zabezpečenie správy a kontroly splácania pôžičiek jednotlivými Žiadateľmi,

4.3.1.6     zabezpečenie vymáhania splatenia pôžičiek od jednotlivých Žiadateľov,

4.3.1.7     poskytovanie ďalších služieb pri používaní Internetového portálu, bližšie špecifikovaných v nasledovných ustanoveniach týchto VZP.

4.3.2        Predmetom Rámcovej zmluvy je ďalej záväzok spoločnosti Lyngo, s.r.o. uzatvoriť v mene a na účet Investora so zvolenými Žiadateľmi, na základe výsledku Internetovej aukcie pôžičiek prevádzkovanej na Internetovom portáli, Zmluvu o pôžičke s parametrami podľa výsledku tejto Internetovej aukcie pôžičiek. Na účely uzatvorenia Zmluvy o pôžičke je Investor povinný poukázať svoje peňažné prostriedky určené na poskytnutie pôžičky spoločnosti Lyngo, s.r.o., ktorá následne tieto peňažné prostriedky poskytne Žiadateľom s ktorými podľa výsledku Internetovej aukcie pôžičiek prevádzkovanej na Internetovom portáli uzatvorí v mene a na účet Investora Zmluvu o pôžičke.

4.3.3        Pre účely riadneho zabezpečenia služieb ktoré sú predmetom Rámcovej zmluvy, udelí Investor spoločnosti Lyngo, s.r.o. potrebné plnomocenstvo. Preukazom udeleného plnomocenstva bude Rámcová zmluva o spolupráci.

4.3.4        Po podpise Rámcovej zmluvy zašle spoločnosť Lyngo, s.r.o. Investorovi poštou jedno vyhotovenie tejto zmluvy.

4.3.5        Rámcová zmluva predstavuje osobitnú rámcovú úpravu zmluvného vzťahu medzi spoločnosťou Lyngo, s.r.o. a Investorom. Na jej základe zmluvné strany v ich vzájomnom vzťahu založenom touto zmluvou vylúčili v súlade s ust. § 263 ods. 1 Obchodného zákonníka aplikáciu ust. § 567 až § 576 Obchodného zákonníka, tzn. podrobná úprava vzájomných práv a povinností zmluvných strán je obsiahnutá v Rámcovej zmluve o spolupráci a jej neoddeliteľných súčastiach.  Neoddeliteľnými súčasťami Rámcovej zmluvy uzatvorenej medzi spoločnosťou Lyngo, s.r.o. a Investorom, ktoré tvoria záväznú časť jej obsahu a ktoré podrobnejšie upravujú práva a povinnosti medzi zmluvnými stranami v súlade s ust. § 273 Obchodného zákonníka, sú tieto VZP vrátane ich Sadzobníka.

4.3.6        Investor výslovne podpisom Rámcovej zmluvy a týchto VZP vrátane ich Sadzobníka, ktoré sú neoddeliteľnou súčasťou Rámcovej zmluvy,  prehlasuje a potvrdzuje že:

4.3.6.1     bol pred podpisom Rámcovej zmluvy podrobne oboznámený so zmluvnými podmienkami v písomnej forme, VZP vrátane ich Sadzobníka, tvoriacimi súčasť tejto zmluvy, a s ich obsahom súhlasí,

<h2>5. Internetová aukcia pôžičiek </h2>

5.1           Internetový portál rozlišuje medzi dvoma typmi internetových aukcií pôžičiek, a to „normálnymi“ a „rizikovými“ aukciami. Obi dva tieto typy internetových aukcií majú rovnaký priebeh, podmienky, i všetky ostatné náležitosti okrem výšky odporúčaného úroku stanoveného Internetovým portálom a Ratingovej kategórie. Rizikové internetové aukcie na Internetovom portáli zohľadňujú vyššie riziko nesplatenia Žiadateľom v porovnaní s ostatnými (normálnymi) internetovými aukciami, a teda majú obvykle pre Investorov odporúčanú úrokovú sadzbu v rozmedzí 20-29,99%, a vždy patria do Ratingovej skupiny D. Rizikové aukcie sú taktiež špeciálne označené.

5.2           Internetové aukcie pôžičiek sú rozdelené do Ratingových kategórií AA, A, B, C, D. Tieto Ratingové kategórie korešpondujú s odporúčanou úrokovou sadzbou stanovenou Internetovým portálom, a predstavujú riziko nesplatenia pôžičky Žiadateľom.

5.3           Internetová aukcia pôžičiek je automatickým nástrojom prevádzkovaným na Internetovom portáli za účelom stretávania sa ponuky pôžičky Investorov a dopytu pôžičky Žiadateľov za podmienok stanovených Rámcovou zmluvou o spolupráci s Investormi, pokynmi uvedenými na Internetovom portáli a týmito VZP vrátane ich Sadzobníka platnými a účinnými ku začiatku trvania platnosti každej jednotlivej aukcie (bod 5.8 VZP). Výsledok aukcie je podkladom pre rozhodnutie Žiadateľa a Investora o uzatvorení Zmluvy o pôžičke a určenie jej podstatných náležitostí, teda najmä výšky poskytnutej pôžičky, úrokovej sadzby a doby splatnosti.

5.4           Žiadateľ zadáva svoj dopyt po pôžičke do Internetovej aukcie pôžičiek prostredníctvom osobitného elektronického on-line formulára vygenerovaného Internetovým portálom, v ktorom je Žiadateľ povinný uviesť podrobnú špecifikáciu požadovanej pôžičky, vrátane jej parametrov. Jedná sa najmä o nasledovné údaje: požadovaná výška pôžičky, účel požadovanej pôžičky, doba splatnosti,  a ďalšie údaje vyžadované on-line formulárom.

5.5           Nevyhnutnou podmienkou účasti Investora a Žiadateľa na každej jednotlivej aukcii a uzatvorenia každej jednotlivej Zmluvy o pôžičke na základe výsledku tejto aukcie, je súhlas s obsahom týchto VZP vrátane ich Sadzobníka platných a účinných ku dňu začatia trvania každej jednotlivej aukcie, uverejnenými a dostupnými na Internetovom portáli, a to prostredníctvom zakliknutia príslušného políčka na Internetovom portáli, resp. podpisom platného a účinného znenia VZP vrátane ich Sadzobníka. Podmienkou účasti Investora v Internetovej aukcii pôžičiek je zároveň prevod minimálne ním ponúkanej sumy pôžičky (investície) zo svojho Individuálneho bankového účtu na Bankový účet Internetového portálu. Investovaná suma sa následne pripíše na Virtuálny účet tohto Investora.

5.6           V rámci Internetovej aukcie pôžičiek je Investor oprávnený samostatne si prezerať dopyty po pôžičke od jednotlivých Žiadateľov, ich údaje zverejnené prostredníctvom Internetového portálu a taktiež môže klásť jednotlivým Žiadateľom otázky týkajúce sa ich dopytu po pôžičke, zamestnania, príjmu, vzdelania a rôznych ďalších informácií. Otázky jednotlivých Investorov a odpovede jednotlivých Žiadateľov sú prostredníctvom Internetového portálu dostupné všetkým Používateľom Internetového portálu. Žiadateľ nie je povinný odpovedať na otázky Investora. V prípade ak sa rozhodne na otázky Investora odpovedať, je povinný odpovedať pravdivo a vedome nezamlčať žiadne relevantné informácie. Investor nesmie Žiadateľovi klásť otázky neprimerane a neoprávnene zasahujúce do práva na ochranu osobnosti tohto Žiadateľa, resp. otázky týkajúce sa jeho rasy, farby pleti, jazyka, viery a náboženstva, politického alebo iného zmýšľania, odborovej činnosti, národného alebo sociálneho pôvodu, príslušnosti k národnosti alebo etnickej skupine, rodu alebo iného postavenia a pod.

5.7           Prostredníctvom Internetového portálu a Internetovej aukcie pôžičiek je Investor oprávnený samostatne, na základe vlastného zhodnotenia zverejnených údajov a dopytov po pôžičke jednotlivých Žiadateľov, rozložiť ním ponúkanú (investovanú) sumu pôžičky (bod 5.5 VZP) medzi jednotlivých Žiadateľov avšak len do výšky jeho kreditu jeho Virtuálnom účte Investora. Pri výbere jednotlivých Žiadateľov a rozložení ponúkanej (investovanej) sumy pôžičky (bod 5.5 VZP) je Investor povinný rešpektovať minimálnu a maximálnu výšku sumy pôžičky, ktorú môže poskytnúť jednotlivým Žiadateľom stanovenú Internetovým portálom; ako i ďalšie obmedzenia stanovené Internetovým portálom spôsobom aby riziko nesplatenia pôžičky bolo v dostatočnej miere diverzifikované medzi viacerých Žiadateľov. Výšku úrokovej sadzby určuje Investor samostatne pre každú svoju investíciu na základe vlastného zhodnotenia zverejnených údajov a dopytov po pôžičke jednotlivých Žiadateľov; úroková sadzba pre jednotlivých Žiadateľov určená Internetovým portálom predstavuje iba odporúčanú (nie záväznú) úrokovú sadzbu. Na základe výberu jednotlivých Žiadateľov a rozloženia ponúkanej (investovanej) sumy pôžičky sa do výšky Investorom ponúknutej sumy pôžičky (investície) zablokujú peňažné prostriedky nachádzajúce sa na Virtuálnom účte tohto Investora a svojou ponukou je viazaný (v zmysle, že sa v uvedenom rozsahu vzdáva práva nakladať s nimi, za účelom ich poskytnutia ako pôžičky zvolenému Žiadateľovi a to až do doby jej poskytnutia, k čomu v prípade úspešnej akcie poveruje spoločnosť Lyngo, s.r.o. alebo do doby skončenia neúspešnej aukcie, kedy mu budú tieto opätovne uvoľnené)  . Vykonaný výber jednotlivých Žiadateľov a rozloženie ponúkanej (investovanej) sumy pôžičky nie je Investor oprávnený meniť alebo vziať späť.

5.8           Doba trvania platnosti každej jednotlivej aukcie je 30 dní odo dňa zadania dopytu Žiadateľa do Internetovej aukcie pôžičiek (bod 5.4 VZP).

5.9           V prípade, ak sa na základe Internetovej aukcie pôžičiek podarí prostredníctvom ponúk pôžičiek jednotlivých Investorov zložiť pre Žiadateľa ku dňu skončenia trvania platnosti aukcie (bod 5.8 VZP) požadovanú pôžičku v zmysle jeho dopytu, aukcia je úspešná a skončí sa.

5.10         V prípade, ak sa na základe Internetovej aukcie pôžičiek podarí prostredníctvom ponúk pôžičiek jednotlivých Investorov zložiť pre Žiadateľa požadovanú pôžičku vo výške požadovanej Žiadateľom prostredníctvom svojho dopytu (bod 5.4 VZP) ešte pred skončením trvania platnosti aukcie (bod 5.8 VZP), Žiadateľ sa rozhodne pre jednu z nasledujúcich dvoch možností (bod 5.10.1 alebo bod 5.10.2):

5.10.1      aukcia je úspešná a skončí sa naplnením požadovanej sumy pôžičky.

5.10.2      Žiadateľ sa rozhodne v aukcii pokračovať až do riadneho uplynutia doby trvania platnosti aukcie (bod 5.8 VZP), a to za účelom výberu spomedzi viacerých ponúk pôžičiek od Investorov. Celková ponúkaná suma pôžičky od Investorov môže byť v takomto prípade prekonaná o 50% z pôvodného dopytu výšky pôžičky (bod 5.14 VZP). Žiadateľ si navolí pôžičky rôznych Investorov tak, aby neprekonali alebo sa maximálne rovnali celkovej dopytovanej sume pôžičky (bod 5.4 VZP).

5.11         V prípade, ak sa na základe Internetovej aukcie pôžičiek nepodarí prostredníctvom ponúk pôžičiek jednotlivých Investorov zložiť pre Žiadateľa ku dňu skončenia trvania platnosti aukcie (bod 5.8 VZP) požadovanú pôžičku v zmysle jeho dopytu, Žiadateľ sa rozhodne pre jednu z nasledujúcich dvoch možností (bod 5.11.1 alebo bod 5.11.2):

5.11.1 Žiadateľ sa rozhodne aukciu ukončiť ako neúspešnú a všetky Investormi ponúkané pôžičky budú stornované.

5.11.2 Žiadateľ sa rozhodne v aukcii pokračovať. Maximálne povolené predĺženie doby trvania aukcie je 15 dní. V prípade, ak sa na základe Internetovej aukcie pôžičiek podarí prostredníctvom ponúk pôžičiek jednotlivých Investorov zložiť pre Žiadateľa ku dňu skončenia trvania predĺženej platnosti aukcie (+15 dní) požadovanú pôžičku v zmysle jeho dopytu, aukcia je úspešná a skončí sa. V prípade, ak sa na základe Internetovej aukcie pôžičiek nepodarí prostredníctvom ponúk pôžičiek jednotlivých Investorov zložiť pre Žiadateľa ku dňu skončenia predĺženého trvania platnosti aukcie (+15 dní) požadovanú pôžičku v zmysle jeho dopytu, aukcia je ukončená ako neúspešná a všetky Investormi ponúkané pôžičky budú stornované a kredit na Virtuálnom účte Investora, ktorý sa do neúspešnej aukcie zapojil bude odblokovaný o takto stornovanú ponuku) .

5.12         Po úspešnom ukončení aukcie (bod 5.9 a 5.10 VZP, prípadne bod 5.11.2 VZP), zašle Internetový portál Žiadateľovi e-mail, obsahom ktorého bude informácia o ukončení Internetovej aukcie pôžičiek a úspešnom zložení konkrétnej ponuky požadovanej výšky pôžičky vytvorenej z ponúk jednotlivých Investorov. Tento e-mail bude ďalej obsahovať formulár o podmienkach ponúkanej pôžičky, informatívny splátkový kalendár, Zmluvu o pôžičke, platné a účinné VZP vrátane ich Sadzobníka, a lehotu na akceptáciu zaslaného návrhu Zmluvy o pôžičke.

5.13         Výsledná úroková sadzba pôžičky poskytnutej Žiadateľovi sa určí ako vážený priemer úrokových sadzieb stanovených jednotlivými Investormi podieľajúcimi sa na pôžičke tomuto Žiadateľovi.

5.14         Žiadateľ má možnosť vyberať si spomedzi ponúk pôžičiek Investorov i počas trvania platnosti aukcie (bod 5.8 VZP), prípadne počas trvania predĺženej platnosti aukcie (bod 5.11.2 VZP). Nežiaduce ponuky môže Žiadateľ vrámci aukcie  odmietnúť, čím sa Investorom ponúkaná pôžička ruší a Investor môže prostriedky z takto zrušenej ponúkanej pôžičky použiť na opätovné ponúknutie pôžičky tomu istému Žiadateľovi, prípadne iným Žiadateľom.

<h2>6. Vznik Zmluvy o pôžičke </h2>

6.1            Lehota na akceptáciu zaslaného návrhu Zmluvy o pôžičke (bod 5.12 VZP) je sedem (7) dní odo dňa zaslania e-mailového vyrozumenia o úspešnosti aukcie v zmysle bodu 5.12 týchto VZP. V rámci stanovenej lehoty je Žiadateľ povinný vyjadriť svoj súhlas alebo nesúhlas so zaslaným návrhom Zmluvy o pôžičke spôsobom a za podmienok stanovených v tomto článku VZP. V opačnom prípade nárok Žiadateľa na prijatie návrhu zaslanej Zmluvy o pôžičke zaniká.

6.2            Návrh Zmluvy o pôžičke bude vypracovaný ako výsledok internetovej aukcie pôžičiek na internetovom portáli www.planb.sk, podľa Dlžníkom zadaných parametrov a vybraných ponúk.

6.3            Žiadateľ svoj súhlas so zaslaným návrhom Zmluvy o pôžičke vyjadrí doručením dvoch podpísaných vyhotovení Zmluvy o pôžičke spoločnosti Lyngo, s.r.o. vrátane ďalších vyžadovaných dokumentov, pričom totožnosť Žiadateľa a originalita požadovaných dokumentov musí byť overená. Na základe výberu Žiadateľa sa doručenie dvoch podpísaných vyhotovení Zmluvy o pôžičke a overenie totožnosti a originality požadovaných dokumentov môže vykonať prostredníctvom notárskeho overenia a doporučenej poštovej zásielky (bod 6.3 VZP).

6.4            Žiadateľ vytlačí a podpíše dve vyhotovenia Zmluvy o pôžičke, pričom jeho podpis musí byť overený notárom aspoň na jednom z vyhotovení Zmluvy o pôžičke. Ďalej notársky overí súlad kópie svojho občianskeho preukazu s jeho originálom. Žiadateľ následne zašle dve podpísané vyhotovenia Zmluvy o pôžičke (pričom Žiadateľov podpis na aspoň jednom z nich je notársky overený) a notársky overenú kópiu svojho občianskeho preukazu doporučenou poštou na adresu spoločnosti Lyngo, s.r.o.

6.5            Žiadateľ podpisom Zmluvy o pôžičke a týchto VZP vrátane ich Sadzobníka vyhlasuje, že berie na vedomie a akceptuje skutočnosť, že pôžička, poskytnutá mu na základe výsledku Internetovej aukcie pôžičiek prevádzkovanej na Internetovom portáli, mu bude poskytnutá na základe Zmluvy o pôžičke uzatvorenej s Investorom, v mene a na účet ktorého koná spoločnosť Lyngo, s.r.o. Žiadateľ podpisom Zmluvy o pôžičke a týchto VZP vrátane ich Sadzobníka ďalej vyhlasuje, že berie na vedomie a akceptuje skutočnosť, že peňažné prostriedky pôžičky poskytnutej mu na základe výsledku Internetovej aukcie pôžičiek prevádzkovanej na Internetovom portáli nie sú vo vlastníctve spoločnosti Lyngo, s.r.o. ale vo výlučnom vlastníctve jednotlivých Investorov, ktorí sú v zmluvnom vzťahu so spoločnosťou Lyngo, s.r.o. v mene a na účet ktorých je Zmluva o pôžičke uzatvorená.

6.6            Na základe Zmluvy o pôžičke uzatvorenej medzi Žiadateľom a Investorom, v mene a na účet ktorého koná spoločnosť Lyngo, s.r.o., sa Investor zaväzuje poskytnúť Žiadateľovi peňažné prostriedky a Žiadateľ sa zaväzuje poskytnuté peňažné prostriedky vrátiť a zaplatiť úroky. Presná výška poskytnutých peňažných prostriedkov, dohodnutá úroková sadzba, splatnosť jednotlivých splátok pôžičky, ako i ďalšie práva a povinnosti zmluvných strán sú obsiahnuté v Zmluve o pôžičke. Podpísanie Zmluvy o pôžičke a jej doručenie spoločnosti Lyngo, s.r.o. (bod 6.3 a 6.4VZP) sa považuje za žiadosť Žiadateľa o poskytnutie dohodnutej výšky pôžičky za parametrov a podmienok (napr. úroková sadzba, výška splátok, a pod.) dohodnutých v Zmluve o pôžičke.

6.7            Žiadateľ je oprávnený splatiť celú poskytnutú pôžičku alebo ktorúkoľvek zo splátok pôžičky pred dobou určenou v Zmluve o pôžičke. V prípade predčasného splatenia celej poskytnutej pôžičky alebo ktorejkoľvek zo splátok pôžičky je Žiadateľ povinný zaplatiť poplatok vo výške podľa Sadzobníka (bod 11. VZP).

6.8            Zmluvu o pôžičke možno predčasne ukončiť vzájomnou písomnou dohodou Investora, v mene a na účet ktorého koná spoločnosť Lyngo, s.r.o. a Žiadateľa; alebo odstúpením Investora, v mene a na účet ktorého koná spoločnosť Lyngo, s.r.o. od Zmluvy o pôžičke

6.9            Investor, v mene a na účet ktorého koná spoločnosť Lyngo, s.r.o. je oprávnený od Zmluvy o pôžičke odstúpiť v prípade podstatného porušenia Zmluvy o pôžičke zo strany Žiadateľa. Za podstatné porušenie Zmluvy o pôžičke zo strany Žiadateľa sa vždy rozumie omeškanie Žiadateľa s plnením zmluvných záväzkov alebo niektorého z nich o viac ako 15 dní, ako i porušenie povinností Žiadateľa stanovených v bode 6.1 VZP.

6.10         Odstúpením Investora, v mene a na účet ktorého koná spoločnosť Lyngo, s.r.o., Zmluva o pôžičke zaniká keď prejav vôle odstúpiť od Zmluvy o pôžičke je doručený Žiadateľovi.

6.11         Žiadateľ nie je oprávnený Zmluvu o pôžičke uzatvorenú s Investorom, v mene a na účet ktorého koná spoločnosť Lyngo, s.r.o. vypovedať alebo od nej odstúpiť, a to počas celej doby jej platnosti a účinnosti.

6.12         Súčasťou Zmluvy o pôžičke je konečný splátkový kalendár, ktorý bude Žiadateľovi zaslaný po poskytnutí pôžičky (bod 7.2 VZP). Zmluva o pôžičke sa uzatvára na dobu určitú, do doby splatenia celej poskytnutej pôžičky, úroku a ostatného príslušenstva. Akékoľvek zmeny Zmluvy o pôžičke vyžadujú formu písomného dodatku podpísaného oboma zmluvnými stranami. Práva a povinnosti zmluvných strán Zmluvou o pôžičke alebo týmito VZP vrátane ich Sadzobníka výslovne neupravené, sa riadia príslušnými ustanoveniami Občianskeho zákonníka a ostatných právnych predpisov platných na území Slovenskej republiky.

<h2>7. Poskytnutie pôžičky </h2>

7.1           Po uzatvorení Zmluvy o pôžičke a doručení jej podpísaného vyhotovenia spoločnosti Lyngo, s.r.o. (čl. 6. VZP), zašle Internetový portál Investorovi, v mene a na účet ktorého bola Zmluva o pôžičke uzatvorená, e-mail, obsahom ktorého bude informácia o uzatvorení Zmluvy o pôžičke a potvrdenie o pôžičke poskytnutej Žiadateľovi daným Investorom.

7.2           Na základe uzatvorenej Zmluvy o pôžičke a žiadosti Žiadateľa o poskytnutie dohodnutej výšky pôžičky (bod 6.5 VZP), odblokuje spoločnosť Lyngo, s.r.o. dohodnutú výšku pôžičky z Virtuálneho účtu Investora, a po odpočítaní poplatku za poskytnutie pôžičky (bod 3.4 a 11. VZP) prevedie na Individuálny bankový účet Žiadateľa príslušnú sumu. Po pripísaní príslušnej sumy (bod 7.3.) na Individuálny účet Žiadateľa zašle Internetový portál Žiadateľovi a Investorovi e-mail, prílohou ktorého bude konečný splátkový kalendár k uzatvorenej Zmluve o pôžičke.

7.3           Podpisom Zmluvy o pôžičke a týchto VZP vrátane ich Sadzobníka udeľuje Žiadateľ spoločnosti Lyngo, s.r.o. svoj výslovný súhlas na to, aby si spoločnosť Lyngo, s.r.o. po pripísaní peňažných prostriedkov pôžičky na Bankový účet spoločnosti Lyngo, s.r.o. (bod 7.2 VZP) samostatne a automaticky odpočítala od sumy pôžičky poplatok za poskytnutie pôžičky (bod 3.4 a 11. VZP) a až takto zníženú sumu pôžičky previedla na Individuálny účet Žiadateľa. Podpisom Zmluvy o pôžičke a týchto VZP vrátane ich Sadzobníka Zmluvné strany ďalej výslovne akceptujú a súhlasia s tým, že pripísanie dohodnutej výšky pôžičky - sa považuje za okamih reálneho poskytnutia pôžičky Žiadateľovi v súlade s uzatvorenou Zmluvou o pôžičke.

7.4           Pre jednotlivé Zmluvy o pôžičke, ktoré uzatvorí spoločnosť Lyngo, s.r.o. na základe tejto Zmluvy s jednotlivými záujemcami platí nasledovné:

-         spoločnosť Lyngo, s.r.o. je oprávnená uzatvoriť Zmluvu o pôžičke len so Žiadateľom, ktorému Investor predložil Ponuku a to za podmienok stanovených touto Ponukou, pokiaľ ide o výšku Investorom požičanej sumy a požadovaných úrokov a v zmysle požiadaviek Žiadateľa, pokiaľ ide o dobu na vrátenie pôžičky (zadaná žiadateľom v dopyte na poskytnutie pôžičky – pri spustení aukcie), požadovaný termín na poskytnutie pôžičky (zvolený Žiadateľom v rozmedzí medzi 7. až 30.dňom od skončenie aukcie – pri vyhodnotení aukcie), dátum prvej splátky (zvolený Žiadateľom v rozmedzí medzi 28. až 56.dňom od poskytnutia pôžičky – pri vyhodnotení aukcie);

-         vrátenie pôžičky sa uskutoční v pravidelných mesačných splátkach s tým, že po prvej splátke je ďalšia splátka splatná v kalendárnom mesiaci nasledujúcom po mesiaci, v ktorom bola uskutočnená splátka prvá a to k dátumu zvolenému Žiadateľom pri vyhodnotení aukcie v rozmedzí medzi 1. až 28.dňom a k takémuto dátumu, ktorý sa číselne zhoduje zo Žiadateľom zvoleným dátumom, budú splatné aj ostatné splátky v nasledujúcich mesiacoch;

-          v prípade predčasného splatenia pôžičky záujemcom, bude účtovaný poplatok za predčasné platenie v zmysle Sadzobníka;

-         akékoľvek platby súvisiace s plnením zmluvy sa budú považovať za uhradené v deň a vo výške v akej budú pripísané na účet spoločnosti Lyngo, s.r.o. s tým, že za riadne a včasné plnenie bude považované, pokiaľ je plnenie v dojednanej výške a v dojednanom termíne, pripísané na účet spoločnosti Lyngo, s.r.o. s uvedením správneho variabilného symbolu;

-         v prípade omeškania Žiadateľa s platením, niektorej čo i len jednotlivej splátky alebo jej časti, po dobu viac ako 15 dní alebo v prípade začatia konkurzného, reštrukturalizačného alebo exekučného konania na majetkom alebo osobu Žiadateľa alebo pokiaľ sa preukáže ako nepravdivé niektoré z prehlásení žiadateľa pri jeho registrácií na Internetovom portáli, resp. v súvislosti s dopytom na poskytnutie pôžičky, je možné vyhlásiť pôžičku za predčasnú splatnosť, pričom v dôsledku predčasnej splatnosti nie je dotknutý nárok investorov na zaplatenie dojednaných úrokov z požičanej sumy za celé pôvodne dojednané obdobie na vrátenie pôžičky;

7.5 Zmluvu o pôžičke uzatvorí so žiadateľom spoločnosť Lyngo, s.r.o. v mene a na účet Investora, na základe výsledku Internetovej aukcie pôžičiek, t.j. na základe žiadateľom akceptovanej Ponuky a to v súlade s touto Zmluvou, VZP, vrátane ich Sadzobníka, platnými a účinnými ku dňu začatia aukcie, ktorej sa ponuka týka.

<h2>8. Splácanie poskytnutej pôžičky </h2>

8.1           Na základe uzatvorenej Zmluvy o pôžičke je Žiadateľ povinný riadne a včas plniť si svoje záväzky vyplývajúce z tejto zmluvy, najmä riadne a včas hradiť dohodnuté splátky pôžičky spoločne s príslušenstvom na Bankový účet Lyngo, s.r.o. a to v dohodnutej výške a v dohodnutých dátumoch splatnosti. Žiadateľ splní svoj záväzok včas ak bola platba pripísaná v plnej výške na Bankový účet Lyngo, s.r.o. najneskôr v deň splatnosti. Žiadateľ je povinný pri každej platbe uvádzať variabilný symbol uvedený v Zmluve o pôžičke a konečnom splátkovom kalendári.

8.2           Akékoľvek platby súvisiace s plnením Dlžníka Veriteľom podľa tejto zmluvy sa považujú za uhradené v deň a vo výške v akej boli pripísané na účet spoločnosti Lyngo, s.r.o. vedený v banke Slovenská sporiteľňa,  a.s., číslo účtu 5049613564/0900, s uvedením variabilného symbolu, ktorý je totožný s ID pôžičky, a špecifickým symbolom, ktorý je totožný s poradovým číslom splátky. Za riadne a včasné peňažné plnenie podľa tejto zmluvy považujú Zmluvné strany, pokiaľ je plnenie v dojednanej výške a v dojednanom termíne, pripísané na účet spoločnosti Lyngo, s.r.o. s uvedením správneho variabilného symbolu.

8.3           Žiadateľ podpisom Zmluvy o pôžičke a týchto VZP vrátane ich Sadzobníka v súlade s ust. § 566 ods. 2 Občianskeho zákonníka určuje poradie započítavania platieb Žiadateľa spôsobom, že spoločnosť Lyngo, s.r.o. je oprávnená započítať platby Žiadateľa  na úhradu jeho záväzkov v nasledovnom poradí: sankčné poplatky, poplatok za predčasné splatenie, bežný úrok, a istina.

8.4           Po pripísaní jednotlivých splátok pôžičky s príslušenstvom na Bankový účet Lyngo, s.r.o. v súlade s ustanoveniami Zmluvy o pôžičke, pripíše spoločnosť Lyngo, s.r.o. tieto peňažné prostriedky bezodkladne na Virtuálny účet Investora, ktorý môže tieto peňažné prostriedky použiť niektorým z nasledovných spôsobov:

8.3.1 použiť peňažné prostriedky na svojom Virtuálnom účte na zadanie ďalšej ponuky pôžičky prostredníctvom Internetového portálu (čl. 5 VZP);

8.3.2 previesť tieto peňažné prostriedky na svoj Individuálny bankový účet;

8.3.3 ponechať si tieto peňažné prostriedky na svojom Virtuálnom účte a následne ich použiť spôsobom špecifikovaným v bode 8.3.1 alebo 8.3.2 VZP.

8.5.          O postupe platenia splátok pôžičky a o úhrade celej pôžičky, úroku a jeho príslušenstva informuje spoločnosť Lyngo, s.r.o. Investora prostredníctvom jeho Virtuálneho účtu, alebo prostredníctvom e-mailovej komunikácie.

<h2>9. Vymáhanie nárokov Investora</h2>

9.1            V prípade omeškania Žiadateľa s riadnou a včasnou úhradou splátok pôžičky podľa Zmluvy o pôžičke alebo v prípade neplnenia si záväzkov zo Zmluvy o pôžičke Žiadateľom, nie je Investor oprávnený požadovať splnenie záväzku Žiadateľa podľa Zmluvy o pôžičke od spoločnosti Lyngo, s.r.o. V prípade omeškania, ak Žiadateľ neuhradí niektorú, čo i len jednotlivú splátky pôžičky alebo jej časť, riadne a včas podľa Zmluvy o pôžičke, dostáva sa do omeškania.

9.2            V prípade omeškania Žiadateľa s riadnou a včasnou úhradou , niektorej čo i len jednotlivej splátky pôžičky alebo jej časti podľa Zmluvy o pôžičke, zabezpečí spoločnosť Lyngo, s.r.o. pre Investora v súlade s ustanoveniami Rámcovej zmluvy a v nej udeleným plnomocenstvom, v  mene a na  účet Investora, vymáhanie dlžnej sumy a ostatných nárokov Investora vyplývajúcich zo Zmluvy o pôžičke od  Žiadateľa. Vymáhanie nárokov Investora od  Žiadateľa vykonáva spoločnosť Lyngo, s.r.o.  formou  „soft-collection“ (bod 9.3 VZP)  a prípadne následne aj formou  „hard-collection“ (bod 9.4 VZP).

9.3            V prípade, ak sa Žiadateľ dostane do omeškania s úhradou, niektorej čo i len jednotlivej splátky pôžičky alebo jej časti,  o 3 alebo viac dní, pristúpi spoločnosť Lyngo, s.r.o., v mene a na účet Investora, k vymáhaniu dlžnej sumy najskôr formou soft-collection tým, že Žiadateľa vyzve a to aj opakovane na zaplatenia dlžnej sumy  prostredníctvom niektorého z nasledovných spôsobov upomienky: telefonát, SMS, e-mail, alebo písomná výzva, pričom výber spôsobu vymáhania dlžnej sumy od Žiadateľa, výber ich poradia a obsahu, či prípadného opakovania  určuje spoločnosť Lyngo, s.r.o. Účelom vymáhania dlžnej sumy formou soft-collection je doplatenia omeškaných splátok Žiadateľom a obnovenie riadneho a včasného splácania pôžičky. Za každú  upomienku v súvislosti s takýto vymáhaním dlžnej sumy zaslanú Žiadateľovi patrí spoločnosti Lyngo, s.r.o. odmena podľa Sadzobníka a v rovnakom rozsahu vzniká povinnosť Žiadateľovi zaplatiť Investorovi zmluvnú pokutu.

9.4            V prípade, ak Žiadateľ neuhradí dlžnú sumu a neobnoví riadne splácanie pôžičky ani napriek  upomienkam, ktoré mu boli zaslané v rámci soft-collection vymáhania podľa predchádzajúceho bodu  je spoločnosť Lyngo, s.r.o. oprávnená vyhlásiť pôžičku za predčasne splatnú a požadovať jej okamžité uhradenie Žiadateľom v celom nesplatenom rozsahu, vrátane ostatných nárokov s tým súvisiacich.   Pokiaľ ani potom nepríde k úhrade nárokov Investora je spoločnosť Lyngo, s.r.o. oprávnená pristúpiť, v mene a na účet veriteľa, k ich vymáhaniu formou hard-collection a  nároky Investora vymáhať prostredníctvom všeobecných alebo rozhodcovských súdov, vrátane exekučného konania; za tým účelom je spoločnosť Lyngo, s.r.o. oprávnená  poveriť vykonaním týchto úkonov aj tretí subjekt alebo zveriť tieto nároky  Investora  do mandátnej správy tretiemu subjektu podľa výberu spoločnosti Lyngo, s.r.o. Náklady spojené s hard-collection vymáhaním  je Žiadateľa povinný v celom rozsahu nahradiť Investorovi.

9.5            V prípade omeškania Žiadateľa s riadnou a včasnou úhradou, niektorej čo i len jednotlivej splátky pôžičky alebo jej časti zo splátok pôžičky podľa Zmluvy o pôžičke o viac ako 15 dní je Investor, v mene a na účet ktorého koná spoločnosť Lyngo, s.r.o., oprávnený vyhlásiť predčasnú splatnosť pôžičky a požadovať od Žiadateľa zaplatenie celej poskytnutej pôžičky a to vrátane dohodnutého úroku a sankčných poplatkov v zmysle Sadzobníka poplatkov. Právo vyhlásiť predčasnú splatnosť pôžičky môže Investor, v mene a na účet ktorého koná spoločnosť Lyngo, s.r.o., použiť najneskôr do splatnosti najbližšie nasledujúcej splátky pôžičky. Uplatnenie práva vyhlásiť predčasnú splatnosť a dátum predčasnej splatnosti pôžičky oznámi Investor, v mene a na účet ktorého koná spoločnosť Lyngo, s.r.o., Žiadateľovi listom zaslaným na adresu trvalého pobytu Žiadateľa uvedenú v Zmluve o pôžičke.

<h2>10. Zrušenie registrácie a Virtuálneho účtu Žiadateľa a Investora</h2>

10.1         Spoločnosť Lyngo, s.r.o. je oprávnená zrušiť registráciu a Virtuálny účet Žiadateľa a/alebo Investora len v prípade ak tak ustanovujú tieto VZP, alebo v prípade ukončenia Rámcovej zmluvyRámcovej zmluvy uzatvorenej s Investorom.

10.2         Spoločnosť Lyngo, s.r.o. je oprávnená od Rámcovej zmluvyRámcovej zmluvy uzatvorenej s Investorom odstúpiť v prípade ak tak stanovuje Rámcová zmluva o spolupráci, alebo ak Investor poruší podstatným spôsobom Rámcovú zmluvu o spolupráci. Za podstatné porušenie Rámcovej zmluvyRámcovej zmluvy sa vždy považuje najmä (no nie výlučne) omeškanie Investora s plnením zmluvných záväzkov alebo niektorého z nich o viac ako 15 dní.

10.3         Odstúpenie spoločnosti Lyngo, s.r.o. od Rámcovej zmluvyRámcovej zmluvy uzatvorenej s Investorom podľa bodu 10.2 VZP musí byť písomné a doručené druhej zmluvnej strane. Odstúpením spoločnosti Lyngo, s.r.o. Rámcová zmluva o spolupráci zaniká, keď prejav vôle oprávnenej strany odstúpiť od tejto zmluvy je doručený druhej zmluvnej strane.

10.4         Skončenie platnosti Rámcovej zmluvyRámcovej zmluvy nezbavuje žiadnu zo zmluvných strán povinnosti splniť a vysporiadať všetky záväzky, ktoré z nej vyplývajú ku dňu skončenia jej platnosti.

10.5         Investor nie je oprávnený Rámcovú zmluvu uzatvorenú so spoločnosťou Lyngo, s.r.o. vypovedať alebo od nej odstúpiť, a to počas celej doby jej platnosti a účinnosti. To neplatí v prípadoch, kedy mu toto právo vyplýva z ustanovení Občianskeho zákonníka.

<h2>11. Náhrada škody </h2>

11.1         Každá zmluvná strana zodpovedá za škodu, ktorú spôsobí druhej zmluvnej strane porušením svojich povinností vyplývajúcich z Rámcovej zmluvy Rámcovej zmluvy medzi spoločnosťou Lyngo, s.r.o. a Investorom, týchto VZP, a Zmluvy o pôžičke. Zmluvné strany sa zaväzujú k vyvinutiu maximálneho úsilia k predchádzaniu škodám a minimalizácii vzniknutých škôd.

11.2         Žiadna zo zmluvných strán nie je zodpovedná za omeškanie spôsobené omeškaním s plnením záväzku druhej strany. Žiadna zo zmluvných strán nie je zodpovedná za škodu spôsobenú omeškaním druhej zmluvnej strany s jej vlastným plnením.

11.3         Žiadna zo zmluvných strán nie je zodpovedná za škodu spôsobenú okolnosťami vylučujúcimi zodpovednosť. Zodpovednosť nevylučuje prekážka, ktorá vznikla až v dobe, kedy povinná strana bola v omeškaní s plnením svojej povinnosti alebo vznikla z jej hospodárskych pomerov. Účinky vylučujúce zodpovednosť sú obmedzené len po dobu, pokiaľ trvá prekážka, s ktorou sú tieto účinky spojené. Pod okolnosťami vylučujúcimi zodpovednosť sa rozumejú okolnosti, ktorým sa ani pri vynaložení maximálnej starostlivosti, snahy, a obozretnosti nedalo zabrániť.

11.4         Zmluvné strany sa zaväzujú upozorniť druhú zmluvnú stranu bez zbytočného odkladu na vzniknuté okolnosti vylučujúce zodpovednosť brániacu riadnemu plneniu Rámcovej zmluvy a týchto VZP. Zmluvné strany sa zaväzujú k vyvinutiu maximálneho úsilia k odvráteniu a prekonaniu okolností vylučujúcich zodpovednosť.

11.5         V prípade porušenia povinností  Žiadateľ a/alebo Investora vyplývajúcich z Rámcovej zmluvy o spolupráci medzi spoločnosťou Lyngo, s.r.o. a Investorom, týchto VZP a/alebo Zmluvy o pôžičke, je Žiadateľ a/alebo Investor povinný zaplatiť poplatok za každé takéto porušenie. Špecifikácia povinností, porušenie ktorých zakladá povinnosť Žiadateľ a/alebo Investora zaplatiť príslušný poplatok, druh poplatkov ako aj ich výška je stanovená v Sadzobníku poplatkov, ktorý tvorí neoddeliteľnú súčasť týchto VZP (bod 11. VZP). Žiadateľ je povinný tieto poplatky uhradiť na základe výzvy spoločnosti Lyngo, s.r.o., a to v hodnote, v termíne a na účet uvedený vo výzve. To neplatí v prípade ak podľa Sadzobníka poplatkov ide o poplatok, ktorý je spoločnosť Lyngo, s.r.o. oprávnená inkasovať automaticky z Virtuálaneho účtu Žiadateľa.

<h2>12. Všeobecné, spoločné a záverečné ustanovenia </h2>

12.1         Žiadateľ i Investor sú oprávnení vykonávať jednotlivé úkony na Internetovom portáli len na základe súhlasu s týmito VZP; za tým účelom sú povinní VZP si vopred riadne preštudovať a za predpokladu, že s nimi súhlasia prejaviť súhlas s ich znením zakliknutím príslušného políčka na Internetovom portáli, čím Žiadateľ i Investor potvrdzujú, že sa VZP  riadne oboznámili a súhlasia s ich znením; Žiadateľ i Investor berú na vedomie, že niektoré úkony na Internetovom portáli sú podmienené práve vykonaním súhlasu.

12.2         Tieto VZP sú vydané spoločnosťou Lyngo, s.r.o. a Investor i Žiadateľ výslovne súhlasí s tým, že spoločnosť Lyngo, s.r.o. je oprávnená ich aj jednostranne meniť a/alebo dopĺňať a s tým, že v prípade zmeny, resp. ich doplnenia sú platné a účinné VZP, ktorú sú ku dňu začatia Internetovej aukcie pôžičiek zverejnené na Internetovom portáli a že týmito VZP sa budú riadiť Internetové aukcie pôžičiek a Zmluvy o pôžičkách ako aj ostatné zmluvné vzťahy a nároky vyplývajúce z VZP; Investor i Žiadateľ sú povinní vopred sa oboznámiť s aktuálnymi VZP.

12.3         Počas procesu registrácie, verifikácie, trvania Internetovej aukcie pôžičiek, ako i počas trvania platnosti Rámcovej zmluvy  a Zmluvy o pôžičke,  sú Žiadateľ  i Investor povinní poskytovať spoločnosti Lyngo, s.r.o. vždy len pravdivé, správne, aktuálne a korektné informácie, údaje a dokumenty  a bezodkladne oznámiť ich prípadnú zmenu. V opačnom prípade ide o podstatné porušenie  týchto VZP ako aj zmluvných vzťahov nimi založenými.

12.4         Žiadateľ prejavením súhlasu s týmito VZP prehlasuje nasledovné:

a)            všetky údaje, skutočnosti a informácie významné pre uzavretie Zmluvy o pôžičke alebo poskytnutie Pôžičky, vrátane tých ktoré uviedol pri registrácií, najmä, nie však výlučne, jeho osobné údaje, údaje týkajúceho sa jeho zamestnania a príjmu, rodinných a majetkových pomerov, jeho záväzkov a pod., uviedol úplne, pravdivo a presne a žiaden údaj, skutočnosť alebo informáciu významnú pre uzavretie tejto zmluvy, poskytnutie Pôžičky alebo jej vrátenie nezatajil;

b)            má plnú spôsobilosť na právne úkony;

c)             na jeho majetok nie je vyhlásený konkurz, ani nie je voči nemu začaté konkurzné, reštrukturalizačné ani exekučné konanie a bezprostredne mu nehrozí úpadok;

g)            riadne sa oboznámil s týmito VZP, týmto porozumel a v celom rozsahu k ním pristupuje a zaväzuje sa nimi riadiť a plniť si povinnosti z nich vyplývajúce.

12.5         Žiadateľ berie na vedomie, že uvedenie pravdivých údajov v zmysle vyššie uvedených prehlásení je podstatnou okolnosťou pre jeho registráciu na Internetovom portáli a možnosť využívať ním ponúkané služby, ako aj pre prípadné predkladanie Ponúk Investormi a prípadne uzatvorenie Zmluvy o pôžičke a že prípadným uvedeným nepravdivých údajov, by došlo k uvedeniu od omylu ako Investora, tak spoločnosť Lyngo, s.r.o. a zároveň je to dôvodom na zrušenie jeho registrácie na Internetovom portáli a teda zamedzenie možnosti ďalšieho využívania služieb poskytovaných Internetovým portálom, ako aj prípadne na vyhlásenie pôžičky za predčasne splatnú; uvedené platí obdobne aj v prípade, pokiaľ nastane ktorákoľvek zo skutočností uvedených v tomto prehlásení v budúcnosti, t.j. aj pokiaľ sa uvedené prehlásenie stane v ktorejkoľvek časti nepravdivým v budúcnosti. Investor prejavením súhlasu s týmito VZP prehlasuje:

a)            nie je podnikateľom v zmysle ust. § 2 Obchodného zákonníka a jeho spôsobilosť na právne úkony nie je obmedzená;

b)            nie je veriteľom podľa zákona č. 129/2010 Z. z. o spotrebiteľských úveroch a o iných úveroch a pôžičkách pre spotrebiteľov v znení neskorších predpisov (ďalej len „zákon o spotrebiteľských úveroch“);

c)             na jeho majetok alebo jeho osobu nie je vedené exekučné konanie alebo súdny alebo daňový výkon rozhodnutia; - nie je vedené konkurzné konanie, vyhlásený konkurz alebo podaný návrh na vyhlásenie konkurzu;

d)            nie je v omeškaní s platením svojich záväzkov voči bankám alebo iným finančným inštitúciám, či iným subjektom, nie je v omeškaní s platením svojich daňových, colných alebo iných záväzkov voči orgánom verejnej moci;

e)            finančné prostriedky poskytované Žiadateľovi na základe jeho Ponuky za účelom poskytnutia pôžičky: - sú v jeho výlučnom vlastníctve a ich použitiu na tieto účely nič nebráni; - neboli nadobudnuté v rozpore so všeobecne záväznými právnymi predpismi Slovenskej republiky, nepochádzajú z trestnej činnosti alebo z účasti na trestnej činnosti a ich poskytnutím nedochádza k pokusu o legalizáciu týchto peňažných prostriedkov, resp. financovaniu terorizmu v zmysle zákona č. 297/2008 Z. z. o ochrane pred legalizáciou príjmov z trestnej činnosti a o ochrane pred financovaním terorizmu v znení neskorších predpisov;

f)             berie na vedomie, že prostredníctvom služieb poskytovaných Internetovým portálom je zakázané: - poskytovať finančné služby finančných inštitúcií alebo iné činnosti upravené zákonom č. 186/2009 Z.z. o finančnom sprostredkovaní a finančnom poradenstve; - poskytovať úvery alebo pôžičky, či iné plnenia, v rámci podnikateľských aktivít;

g)            prostredníctvom Internetového portálu nebude vedome poskytovať pôžičky sebe, osobám jemu blízkym alebo jemu spriazneným a to nielen vo svojom mene a na svoj účet ale ani v mene iného a ani na účet iného;

12.6         Investor berie na vedomie, že uvedenie pravdivých skutočností a dodržiavanie prehlásení uvedených vyššie je podstatnou okolnosťou pre jeho registráciu na Internetovom portáli a možnosť využívať ním ponúkané služby a v prípade porušenia povinností Investora vyplývajúcich z týchto prehlásení alebo v prípade, ak sa ktorékoľvek z prehlásení Investora uvedených vyššie ukáže ako nepravdivé, je spoločnosť Lyngo, s.r.o. oprávnená s okamžitou platnosťou zrušiť jeho registráciu na Internetovom portáli a teda zamedziť možnosti ďalšieho využívania služieb poskytovaných Internetovým portálom a Investor je povinný nahradiť spoločnosti Lyngo, s.r.o. prípadnú škodu tým spôsobenú; uvedené platí obdobne aj v prípade, pokiaľ nastane ktorákoľvek zo skutočností uvedených v tomto prehlásení v budúcnosti, t.j. aj pokiaľ sa uvedené prehlásenie stane v ktorejkoľvek časti nepravdivým v budúcnosti.

12.7         O prípadných zmenách týkajúcich sa vyššie uvedených prehlásení je Používateľ, resp. osoby alebo orgány oprávnené konať v jeho mene, povinný bezodkladne písomne upovedomiť spoločnosť Lyngo, s.r.o.; Používateľ berie na vedomia súhlasí s tým, že niektoré operácie/úkony podliehajú dodatočnej autorizácií priamo na Internetovom portáli, pomocou kódu z grid karty. Kódom z grid karty je súbor znakov, ktoré je potrebné zadať z grid karty, zodpovedajúci pozícií požadovanej na Internetovom portáli pre autorizáciu daného úkonu Investorom. Za tým účelom zašle spoločnosť Lyngo, s.r.o. na registrovaný e-mail Investora uvedený v záhlaví tejto Zmluvy, jedinečnú grid kartu s kódmi priradenú pre Investora, spolu so zaslaním náhodne vygenerovaného hesla pre jej otvorenie. Nakoľko sa prostredníctvom danej grid karty kódov overuje totožnosť Investora a oprávnenie nakladať s prostriedkami na jeho Virtuálnom účte Investora je Investor povinný grid kartui kódmi riadne uchovať a zabezpečiť ju pred jej stratou alebo zneužitím a v prípade zistenia straty alebo jej zneužitia je povinný okamžite o tom informovať spoločnosť Lyngo, s.r.o. za účelom vystavenia novej grid karty s kódmi. Za prípadnú stratu alebo zneužitie grid karty nenesie spoločnosť Lyngo, s.r.o. žiadnu zodpovednosť.

12.8         Tieto VZP sa spravujú Obchodným zákonníkom; zmluvný vzťah medzi spoločnosťou Lyngo, s.r.o. a Investorom  založený Rámcovou zmluvou,  sa spravuje Obchodným zákonníkom; vzťahy vyplývajúce zo Zmluvy o pôžičke sa spravujú Občianskym zákonníkom. Tieto VZP, vrátane Sadzobníka  sú  záväzné pre úpravu vzájomných vzťahov vyplývajúcich z Rámcovej zmluvy, ako aj Zmluvy o pôžičke, pokiaľ tieto zmluvy neurčujú inak.

12.9         Súhlasom s týmito VZP Používateľ záväzne súhlasí s nasledovnými pravidlami, podmienkami a fikciami doručovania, ktoré medzi týmito VZP dotknutými osobami so všetkými zmluvnými a zákonnými účinkami doručenia vždy platia:

a)            listiny adresované Investorovi v súvislosti s právnymi vzťahmi založenými týmito VZP alebo Zmluvou o pôžičke uzatvorenou podľa týchto VZP je Žiadateľ povinný zasielať výlučne spoločnosti Lyngo, s.r.o.;

b)            listiny sa zasielajú na adresu zmluvnej strany, ktorá bola zadaná pri registrácií Používateľa, s prihliadnutím na neskôr riadne a včas oznámenú zmenu,  t.j. písomne a vopred;

c)             listina sa považuje za doručenú aj v prípade ak zmluvná strana odmietne preukázateľne prevziať;

d)            listina, ktorá je doručovaná poštou, kuriérom alebo inou osobou, ktorá má povinnosť doručiť zásielku, sa považuje za doručenú jej prevzatím alebo uplynutím tretieho dňa od dňa jej vrátenia zasielateľovi ako zásielky adresátom neprevzatej, resp. adresátovi nedoručenej, pričom takto dohodnutá fikcia platí aj v prípadoch, keď: 1) sa adresát v mieste doručenia nezdržuje, 2) sa adresát o doručení (uložení) zásielky nedozvedel, 3) sa zásielka vrátila odosielateľovi ako nedoručená, neprevzatá alebo nedoručiteľná.

12.10      Tieto VZP nadobúdajú platnosť a účinnosť dňom 01.11.2013.Zmluvné strany sa dohodli, že všetky spory, vzniknuté z právnych vzťahov vyplývajúcich z Rámcovej zmluvy , VZP a Zmluvy o pôžičke, alebo nimi súvisiace, vrátane všetkých vedľajších právnych vzťahov, nárokov na vydanie bezdôvodného obohatenia, nárokov na náhradu škody, sporov o platnosť, výklad, zánik Rámcovej zmluvy VZP a Zmluvy o pôžičke, alebo tejto rozhodcovskej doložky, predložia na rozhodnutie buď stálemu Rozhodcovskému súdu v Bratislave (ďalej len „RSvB“), so sídlom Ventúrska 14, 811 01 Bratislava, IČO: 35 927 283, podľa ustanovení jeho Rokovacieho poriadku a Štatútu alebo všeobecnému súdu, ktorého právomoc je daná podľa príslušných procesných právnych predpisov, vzťahujúcich sa na predmet sporu. Zmluvné strany sa dohodli, že výber súdneho tribunálu (opciu) môže uskutočniť ktorákoľvek zo zmluvných strán, pričom pre platnosť vykonanej opcie nie je potrebný súhlas druhej zmluvnej strany. Zmluvné strany sa dohodli, že využitie opcie všeobecného súdu ktoroukoľvek zo zmluvných strán na riešenie sporu spadajúceho pod túto rozhodcovskú doložku nebráni predloženiu iného sporu spadajúceho pod túto rozhodcovskú doložku RSvB.

<h2 id="sadzobnik-poplatkov">Sadzobník poplatkov internetového portálu www.planb.sk</h2>
<h3>I. Poplatky Investora</h3>

Žiadne

<h3>II. Poplatky Dlžníka</h3>

<h4>Poplatky pri pôžičke</h4>

<table>
    <tr>
        <th>Poplatok za poskytnutie pôžičky</th>
        <td>5 % z výšky pôžičky (minimálne 30,00 EUR)</td>
    </tr>
    <tr>
        <th>Poplatok za predčasné splatenie</th>
        <td>v prvej tretine (1/3) dĺžky splácania 3%z predčasne splatenej istiny</td>
    </tr>
    <tr>
        <th>Poplatok za predčasné splatenie</th>
        <td>v druhej tretine (2/3) dĺžky splácania 2% z predčasne splatenej istiny</td>
    </tr>
    <tr>
        <th>Poplatok za predčasné splatenie</th>
        <td>v tretej tretine (3/3) dĺžky splácania 0% z predčasne splatenej istiny</td>
    </tr>
</table>

<h4>Sankčné poplatky – v prípade omeškania so splácaním pôžičky</h4>

<table>
    <tr>
        <th>Poplatok za omeškanú splátku pôžičky </th>
        <td>10,00 € (za každý, i začatý mesiac omeškania)</td>
    </tr>
    <tr>
        <th>Poplatok za zaslanie emailovej upomienky</th>
        <td>3,00 EUR</td>
    </tr>
    <tr>
        <th>Poplatok za zaslanie sms upomienky</th>
        <td>3,00 EUR</td>
    </tr>
    <tr>
        <th>Poplatok za telefonickú upomienku</th>
        <td>5,00 EUR</td>
    </tr>
    <tr>
        <th>Poplatok za zaslanie písomnej výzvy poštou</th>
        <td>25,00 EUR</td>
    </tr>
</table>

Všetky poplatky sú vrátane DPH.

Tento Sadzobník poplatkov je platný a účinný od 01.11.2013