{% extends 'AppBundle::layout_sidebar_left.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block sidebar %}
    {% set user = app.user %}
    {% if user.doneAlready %}

        {% set sidebarMenuPoint = sidebarMenuPoint|default(0) %}
        {% if is_granted("ROLE_CUSTOMER") %}
            <nav class="nav">
                <h2>{{ "profile_sidebar_menu.my_account"|trans }}</h2>
                <ul>
                    <li class="hg-dropdown {{ sidebarMenuPoint >= 100 and sidebarMenuPoint < 200 ? "open" : "" }}">
                        <a href="#" class="hg-dropdown-link">{{ "profile_sidebar_menu.my_account"|trans }} <i
                                    class="caret icon-arrow-down"></i></a>
                        <ul class="hg-dropdown-menu">
                            <li>
                                <a href="{{ path("fos_user_profile_index") }}" {{ sidebarMenuPoint == 101 ? 'class="active" ' : "" }}>{{ "profile_sidebar_menu.my_account"|trans }}</a>
                            </li>
                            {% if user.auctionsPending %}
                            <li>
                                <a href="{{ path("fos_user_profile_pending") }}" {{ sidebarMenuPoint == 103 ? 'class="active" ' : "" }}>{{ "profile_sidebar_menu.validate"|trans }}</a>
                            </li>
                            {% endif %}
                            <li>
                                <a href="{{ path("fos_user_investor_transactions") }}" {{ sidebarMenuPoint == 102 ? 'class="active" ' : "" }}>{{ "profile_sidebar_menu.transactions"|trans }}</a></li>
                        </ul>
                    </li>
                    {% if user.auctionsActive or user.auctionsInactive or user.loansActive or user.loansInactive %}
                    <li class="hg-dropdown {{ sidebarMenuPoint >= 200 and sidebarMenuPoint < 300 ? "open" : "" }}">
                        <a href="#" class="hg-dropdown-link">Archív <i class="caret icon-arrow-down"></i></a>
                        <ul class="hg-dropdown-menu">
                            {% if user.auctionsActive %}
                            <li>
                                <a href="{{ path("fos_user_auctions") }}" {{ sidebarMenuPoint == 201 ? 'class="active" ' : "" }}>{{ "profile_sidebar_menu.active_auction"|trans }}</a>
                            </li>
                            {% endif %}
                            {% if user.auctionsInactive %}
                            <li>
                                <a href="{{ path("fos_user_auctions_inactive") }}" {{ sidebarMenuPoint == 202 ? 'class="active" ' : "" }}>{{ "profile_sidebar_menu.inactive_auction"|trans }}</a>
                            </li>
                            {% endif %}
                            {% if user.loansActive %}
                            <li>
                                <a href="{{ path("fos_user_loans_active") }}" {{ sidebarMenuPoint == 203 ? 'class="active" ' : "" }}>{{ "profile_sidebar_menu.active_loans"|trans }}</a>
                            </li>
                            {% endif %}
                            {% if user.loansInactive %}
                            <li>
                                <a href="{{ path("fos_user_loans_inactive") }}" {{ sidebarMenuPoint == 204 ? 'class="active" ' : "" }}>{{ "profile_sidebar_menu.inactive_loans"|trans }}</a>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                    {% endif %}
                    <li class="hg-dropdown {{ sidebarMenuPoint >= 300 and sidebarMenuPoint < 400 ? "open" : "" }}">
                        <a href="#" class="hg-dropdown-link">{{ "profile_sidebar_menu.my_info"|trans }} <i class="caret icon-arrow-down"></i></a>
                        <ul class="hg-dropdown-menu">
                            <li>
                                <a href="{{ path("fos_user_profile_my_info") }}" {{ sidebarMenuPoint == 301 ? 'class="active" ' : "" }}>{{ "profile_sidebar_menu.my_info"|trans }}</a>
                            </li>
                            <li>
                                <a href="{{ path("hg_app_contact") }}" {{ sidebarMenuPoint == 303 ? 'class="active" ' : "" }}>{{ "profile_sidebar_menu.contact"|trans }}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        {% endif %}
        {% if is_granted("ROLE_INVESTOR") %}
            <nav class="nav">
                <h2>{{ "profile_sidebar_menu.my_account"|trans }}</h2>
                <ul>
                    <li class="hg-dropdown {{ sidebarMenuPoint >= 100 and sidebarMenuPoint < 200 ? "open" : "" }}">
                        <a href="#" class="hg-dropdown-link">{{ "profile_sidebar_menu.my_account"|trans }} <i
                                    class="caret icon-arrow-down"></i></a>
                        <ul class="hg-dropdown-menu">
                            <li>
                                <a href="{{ path("fos_user_profile_index") }}" {{ sidebarMenuPoint == 101 ? 'class="active" ' : "" }}>{{ "profile_sidebar_menu.my_account"|trans }}</a>
                            </li>
                            <li>
                                <a href="{{ path("fos_user_investor_withdraw") }}" {{ sidebarMenuPoint == 102 ? 'class="active" ' : "" }}>{{ "profile_sidebar_menu.withdraw"|trans }}</a>
                            </li>
                            <li>
                                <a href="{{ path("fos_user_investor_deposit") }}" {{ sidebarMenuPoint == 103 ? 'class="active" ' : "" }}>{{ "profile_sidebar_menu.deposit"|trans }}</a>
                            </li>
                            <li>
                                <a href="{{ path("fos_user_investor_transactions") }}" {{ sidebarMenuPoint == 104 ? 'class="active" ' : "" }}>{{ "profile_sidebar_menu.transactions"|trans }}</a>
                            </li>
                        </ul>
                    </li>

                    {% if not user.isStatus([constant('STATUS_DOCUMENTS_WAITING', user)]) %}
                        <li class="hg-dropdown {{ sidebarMenuPoint >= 400 and sidebarMenuPoint < 500 ? "open" : "" }}">
                            <a href="#" class="hg-dropdown-link">{{ "profile_sidebar_menu.in_auctions"|trans }} <i class="caret icon-arrow-down"></i></a>
                            <ul class="hg-dropdown-menu">
                                <li>
                                    <a href="{{ path("fos_user_investor_investments_inserted") }}" {{ sidebarMenuPoint == 401 ? 'class="active" ' : "" }}>{{ "investments.inserted.heading"|trans({}, "messages") }}</a>
                                </li>
                                <li>
                                    <a href="{{ path("fos_user_investor_investments_deleted") }}" {{ sidebarMenuPoint == 402 ? 'class="active" ' : "" }}>{{ "investments.deleted.heading"|trans({}, "messages") }}</a></li>
                            </ul>
                        </li>
                        <li class="hg-dropdown {{ sidebarMenuPoint >= 500 and sidebarMenuPoint < 600 ? "open" : "" }}">
                            <a href="#" class="hg-dropdown-link">{{ "profile_sidebar_menu.in_loans"|trans }} <i class="caret icon-arrow-down"></i></a>
                            <ul class="hg-dropdown-menu">
                                <li>
                                    <a href="{{ path("fos_user_investor_investments_paid") }}" {{ sidebarMenuPoint == 501 ? 'class="active" ' : "" }}>{{ "investments.paid.heading"|trans({}, "messages") }}</a>
                                </li>
                                <li>
                                    <a href="{{ path("fos_user_investor_investments_repaid") }}" {{ sidebarMenuPoint == 502 ? 'class="active" ' : "" }}>{{ "investments.repaid.heading"|trans({}, "messages") }}</a></li>
                            </ul>
                        </li>
                    {% endif %}

                    <li class="hg-dropdown {{ sidebarMenuPoint >= 300 and sidebarMenuPoint < 400 ? "open" : "" }}">
                        <a href="#" class="hg-dropdown-link">{{ "profile_sidebar_menu.my_info"|trans }} <i class="caret icon-arrow-down"></i></a>
                        <ul class="hg-dropdown-menu">
                            <li>
                                <a href="{{ path("fos_user_profile_my_info") }}" {{ sidebarMenuPoint == 301 ? 'class="active" ' : "" }}>{{ "profile_sidebar_menu.my_info"|trans }}</a>
                            </li>
                            <li>
                                <a href="{{ path("fos_user_grid_card") }}" {{ sidebarMenuPoint == 302 ? 'class="active" ' : "" }}>{{ "profile_sidebar_menu.grid_card"|trans }}</a>
                            </li>
                            <li>
                                <a href="{{ path("fos_user_investor_watchdog") }}" {{ sidebarMenuPoint == 304 ? 'class="active" ' : "" }}>{{ "profile_sidebar_menu.watchdog"|trans }}</a>
                            </li>
                            <li>
                                <a href="{{ path("fos_user_investor_watchlist") }}" {{ sidebarMenuPoint == 305 ? 'class="active" ' : "" }}>{{ "profile_sidebar_menu.watchlist"|trans }}</a>
                            </li>
                            <li>
                                <a href="{{ path("hg_app_contact") }}" {{ sidebarMenuPoint == 303 ? 'class="active" ' : "" }}>{{ "profile_sidebar_menu.contact"|trans }}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        {% endif %}
    {% else %}
        {% if is_granted("ROLE_INVESTOR") %}
            <nav class="nav">
                <h2>{{ "registration_pending.investor.heading"|trans({}, "texts") }}</h2>
                <div class="block">
                    <p>{{ "registration_pending.investor.description"|trans({}, "texts") }}</p>
                </div>
            </nav>
        {% else %}
            <nav class="nav">
                <h2>{{ "registration_pending.customer.heading"|trans({}, "texts") }}</h2>
                <div class="block">
                    <p>{{ "registration_pending.customer.description"|trans({}, "texts") }}</p>
                </div>
            </nav>
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    {% block fos_user_content %}
    {% endblock fos_user_content %}
{% endblock content %}
