{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="/bundles/admin/js/jquery.easing-1.3.pack.js"></script>
    <script src="/bundles/admin/js/jquery.fancybox-1.3.4.pack.js"></script>
    <script src="/bundles/admin/js/jquery.mousewheel-3.0.4.pack.js"></script>
    <script src="/bundles/admin/js/scripts.js"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/bundles/admin/css/fancybox/jquery.fancybox-1.3.4.css">
    <link rel="stylesheet" href="/bundles/admin/css/styles.css">
{% endblock %}

{% block footer %}{% endblock %}

{% block sonata_nav_menu %}
    <div class="nav-collapse">
        <ul class="nav">
            {% block top_bar_before_nav %} {% endblock %}
            {% block sonata_top_bar_nav %}
                {% if app.security.token and is_granted('ROLE_SONATA_ADMIN') %}
                    {% for group in admin_pool.dashboardgroups %}
                        {% set display = (group.roles is empty or is_granted('ROLE_SUPER_ADMIN') ) %}
                        {% for role in group.roles if not display %}
                            {% set display = is_granted(role) %}
                        {% endfor %}

                        {% if display %}
                            {% if(group.items|length > 1) %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle"
                                       data-toggle="dropdown">{{ group.label|trans({}, group.label_catalogue) }} <span
                                                class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        {% for admin in group.items %}
                                            {% if admin.hasroute('list') and admin.isGranted('LIST') %}
                                                <li>
                                                    <a href="{{ admin.generateUrl('list') }}">{{ admin.label|trans({}, admin.translationdomain) }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% else %}
                                {% set admin = group.items[0] %}
                                {% if admin.hasroute('list') and admin.isGranted('LIST') %}
                                <li>
                                    <a href="{{ admin.generateUrl('list') }}">{{ group.label|trans({}, group.label_catalogue) }}</a>
                                </li>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endblock %}
            {% block top_bar_after_nav %} {% endblock %}
        </ul>
    </div>
{% endblock %}