{% extends "FOSUserBundle::layout_sidebar_profile.html.twig" %}
{% from 'AppBundle:macros:planb.html.twig' import stepper %}

{% block breadcrumb_inner %}
    {{ parent() }}
    <li><span>{{ "profile_sidebar_menu.my_account"|trans({}, 'FOSUserBundle') }}</span></li>
{% endblock breadcrumb_inner %}


{% block fos_user_content %}
    <div class="icon-box">
        <div class="icon">
            <i class="icon-bars"></i>
        </div>
        <div class="text">
            <h2>{{ "customer_loans.inactive.heading"|trans }}</h2>
            <p>{{ "customer_loans.inactive.desc"|trans }}</p>
        </div>
    </div>


    <div class="auction-list">

        <table class="table">
            <thead>
            <tr>
                <th>
                    <span class="name">{{ "customer_loans.name"|trans }}</span>
                    <span class="id">{{ "customer_loans.id"|trans }}</span>
                </th>
                <th>
                    <span class="acquired">{{ "customer_loans.borrow"|trans }}</span>
                </th>
                <th><span class="interest">{{ "customer_loans.interest"|trans }}</span>
                    <span class="maturity">{{ "customer_loans.matrity"|trans }}</span>
                </th>
                <th>
                    <span class="start-at">{{ "customer_loans.start_at"|trans }}</span>
                    <span class="end-at">{{ "customer_loans.end_at"|trans }}</span>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for loan in loans %}
                <tr>
                    <td>
                        <span class="name"><a href="{{ path("hg_app_auction_detail", {slug: loan.slug}) }}">{{ loan.auctionTitle }}</a></span>
                        <span class="id">{{ loan.formattedId }}</span>
                    </td>
                    <td>
                        <span class="acquired">{{ loan.auctionCollectedAmount|currency }}</span>
                    </td>
                    <td><span class="interest">{{ loan.auctionInterestAverage|interest }}</span>
                        <span class="maturity">{{ ("loan.maturity_" ~ loan.loanMaturity) | trans }}</span>
                    </td>
                    <td>
                        <span class="start-at">{{ loan.loanStartAt|date("d.m.Y") }}</span>
                        <span class="end-at">{{ loan.loanEndAt|date("d.m.Y") }}</span>
                    </td>
                </tr>
            {% else %}
                <td colspan="6">
                    <div class="no-result text-center">{{ "customer_loans.no_results"|trans }}</div>
                </td>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock fos_user_content %}