//
// Alerts
// --------------------------------------------------

.alert-box {

  display: table;
  width: 100%;
  a {
    text-decoration: underline;
  }
  .icon {
    display: table-cell;
    height: 48px;
    &:before {
      vertical-align: middle;
    }
    i {
      font-size: 52px;
      line-height: 56px;
    }
    .icon-user-arrow-out,
    .icon-user-arrow-in {
      font-size: 28px;
    }
    width: 66px;
    vertical-align: top;
  }
  .text {
    display: table-cell;
    vertical-align: middle;
    h1, h2, h3 {
      margin: 0;
      margin-bottom: 12px;
    }

    .alert {
      padding: @alert-padding;
      margin-bottom: @line-height-computed;
      border: 0px solid transparent;
      border-radius: @alert-border-radius;

      font-size: @font-size-base * 1.3;

      // Headings for larger alerts
      h4 {
        margin-top: 0;
        // Specified for the h4 to prevent conflicts of changing @headingsColor
        color: inherit;
      }
      // Provide class for links that match alerts
      .alert-link {
        font-weight: @alert-link-font-weight;
      }

      // Improve alignment and spacing of inner content
      > p,
      > ul {
        margin-bottom: 0;
      }
      > p + p {
        margin-top: 5px;
      }

      position: relative;
      .triangel-left;
      &:before {
        top: 20px;
      }
    }
  }
  & + .icon-box {
    margin-top: 32px;
  }

}

// Base styles
// -------------------------



// Dismissable alerts
//
// Expand the right padding and account for the close button's positioning.

.alert-dismissable {
  padding-right: (@alert-padding + 20);

  // Adjust close link position
  .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
  }
}

// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.

.alert-box-success {
  .alert-box-variant(@alert-success-icon;@alert-success-bg;@alert-success-border;@alert-success-text);
}

.alert-box-info {
  .alert-box-variant(@alert-info-icon;@alert-info-bg;@alert-info-border;@alert-info-text);
}

.alert-box-warning {
  .alert-box-variant(@alert-warning-icon;@alert-warning-bg;@alert-warning-border;@alert-warning-text);
}

.alert-box-danger {
  .alert-box-variant(@alert-danger-icon;@alert-danger-bg;@alert-danger-border;@alert-danger-text);
}
