table.auctions {
  width: 100%;
  thead {
    tr {
      border-top: @table-borders-large;
      border-bottom: @table-borders-large;
      color: @gray-table-headers;
      th {
        font-weight: normal;
        .rating {
          background: @gray-table-headers;
          line-height: 42px;
        }
        .circle {
          background-color: @gray;
        }
        .end {
          font-weight: bold;
        }
      }
    }
  }
  tbody {
    tr {
      border-bottom: @gray-table-headers 1px solid;
      cursor: pointer;
      .transition(0.3s opacity);
      &:hover {
        opacity: 0.7;
      }
    }
  }
  tr {


    td {
      font-weight: normal;
    }
    > * {
      padding-top: 16px;
      padding-bottom: 16px;
    }

    .name, .id, .maturity, .amount, .interest {
      font-weight: bold;
    }
    .id, .maturity {
      &:before {
        content: "\2022";
        display: inline-block;
        color: @brand-investor;
        margin-left: 4px;
        margin-right: 7px;
      }
    }

    .title {
      a {
        color: @text-color;
        text-decoration: underline;
        &:hover {
          color: lighten(@text-color, 15%);
        }
      }
    }

    .actions {
      width: 32px;
      padding-top: 24px;
      a, span {
        font-size: 22px;
        color: darken(@gray-lighter, 20%);
      }
      .watchdog.active {
        color: @brand-customer;
      }
      a {
        &:hover{
          color: @gray-dark;
          text-decoration: none;
        }
        &:focus {
          text-decoration: none;
        }
        &.active {
          color: @gray-dark;
          &:hover {
            color: darken(@gray-dark, 20%);
          }
          &.notification {
            color: @brand-danger;
            &:hover {
              color: darken(@brand-danger-hover, 20%);
            }
          }
        }
      }
    }
  }
}

.auction-detail {
  border-top: 1px solid @gray-lighter;
  padding-top: 12px;
  .user {
    padding-top: 12px;
    font-size: @font-size-base * 1.5;
    .icon {
      color: @brand-primary;
    }
  }
  .brand-colorize {
    color: @brand-customer;
  }
  .rating {
    margin-left: -24px;
  }
  table.detail {
    width: 100%;
    margin-top: 24px;
    .status-heading {
      font-weight: bold;
      font-size: 22px;
    }
    .collected-wrap {
      vertical-align: top;
      padding-right: 22px;
      padding-top: 22px;
      .collected {
        float: right;
        font-weight: normal;
        .circle {
          line-height: 20px !important;
          padding-top: 50px;
        }
        .big {
          font-size: 36px;
        }
        .small {
          font-size: 24px;
        }
      }
    }
    th {
      font-weight: normal;
    }
    td {
      font-weight: bold;
    }
    th, td {
      height: 36px;
    }
    .auction-end,
    .actions {
      padding-top: 26px;
      .btn {
        font-size: 26px;
      }
      .icon-user-arrow-out {
        margin-right: 10px;
      }
    }
    .auction-end {
      time {
        font-size: @font-size-base * 1.8;
      }
    }
  }
}

.user-details {

}

.investments-list {
  a {
    color: @gray;
    &:hover {
      color: darken(@gray, 20%);
    }
  }
  .table {
    tr.limbo {
      opacity: .3;
    }

    td, th {
      padding: 24px 8px;
    }

    .limbo-investment{
      text-decoration: none;
      color: @brand-customer;
      :hover {
        color: @brand-customer-hover;
      }
    }
    tr.limbo {
      .limbo-investment{
        color: @gray;
      }
    }

    .investor,
    .winning,
    .interest,
    .status {
      font-weight: bold;
      display: block;
    }
    .offer,
    .created-at {
      font-weight: normal;
    }

    tfoot {
      border-top: 5px solid #000;
      td, th {
        border-top: 5px dashed #000;
        padding: 16px 8px;
      }
    }
  }
  .remove-investment {
    color: @brand-danger;
    &:hover {
      color: @brand-danger-hover;
      text-decoration: none;
    }
  }
}

.repayment-list {
  a {
    color: @gray;
    &:hover {
      color: darken(@gray, 20%);
    }
  }
  .table {
    tr.limbo {
      opacity: .3;
    }

    td, th {
      padding: 6px 8px;
      font-weight: normal;
    }

    .date,
    .repayment {
      font-weight: bold;
      display: block;
    }

    tfoot {
      border-top: 5px solid #000;
      td, th {
        border-top: 5px dashed #000;
        padding: 16px 8px;
      }
    }
  }
}

#main #auction-add-investment {

  margin-top: 0;

}