#main {

  .content.blog {

    h1, h2, h3 {
      &:first-letter {
        text-transform: uppercase;
      }
      font-weight: 400;
      a {
         color: @gray-dark;
         &:hover {
           color: @brand-investor-hover;
           text-decoration: none;
         }
       }
    }

    time {
      font-weight: bold;
    }

    .thumbnail.wp-post-image {
      width: 100%;
      display: block;
      margin-bottom: 8px;
    }

    .thumbnail-loop {
      display: block;
      &:hover {
        opacity: .7;
      }
    }

    .entry-meta {
      margin-top: 15px;
      margin-bottom: 15px;
    }

    .post-nav {
      .pager {
        list-style: none;
        padding: 0;
        .previous {
          float: left;
        }
        .next {
          float: right;
        }
      }
    }

  }
}