#breadcrumbs {
  background: @gray-lighter;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: @font-size-base * 1.12;
  .breadcrumb {
    background: transparent;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    > li {
      &+li:before {
        content: "\25BA";
        font-size: 12px;
      }
    }
    a {
      color: @gray-light;
      &:hover{
        color: @gray;
      }
    }

    .active {
      color: @gray;
    }
  }
}