.btn {
  display: inline-block;
  padding: @padding-base-vertical @padding-base-horizontal * 1.6 @padding-base-vertical;
  border-radius: @border-radius-base;
  font-size: @button-font-size-base;

  & + .btn {
    margin-left: 10px;
  }
}

.btn-lg {
  font-size: @button-font-size-large;
}
.btn-sm,
.btn-xs {
  font-size: @button-font-size-small;
  padding: @padding-small-vertical @padding-small-horizontal * 1.6 @padding-small-vertical;
}

.btn-back {
  color: @brand-investor;
  font-size: @font-size-base * 2;
  background: none !important;
  box-shadow: none !important;
  padding-left: 0;
  padding-right: 0;
  &:focus, &:hover {
    font-weight: normal;
    color: @brand-investor-hover;
  }
}

.form-control[type="file"] {
  padding: 0;
}

.btn-customer {
  .button-variant(@btn-customer-color; @btn-customer-bg; @btn-customer-border);
}
.btn-investor {
  .button-variant(@btn-investor-color; @btn-investor-bg; @btn-investor-border);
}
.btn-investor-dark {
  .button-variant(@btn-investor-dark-color; @btn-investor-dark-bg; @btn-investor-dark-border);
}
.btn-third {
  .button-variant(@btn-register-color; @btn-register-bg; @btn-register-border);
}
.btn-risk {
  .button-variant(@btn-risk-color; @btn-risk-bg; @btn-risk-border);
}
.btn-reset {
  color: @brand-investor;
  background-color: transparent;
  border-color: @brand-investor;

  &:hover,
  &:focus,
  &:active,
  &.active,
  .open .dropdown-toggle& {
    color: darken(@brand-investor, 20%);
    background-color: transparent;
    border-color: darken(@brand-investor, 20%);
  }
  &:active,
  &.active,
  .open .dropdown-toggle& {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: transparent;
      border-color: @brand-investor;
    }
  }
}
.btn-huge {
  .button-size(@padding-large-vertical * 1.4; @padding-large-horizontal * 2.2; @font-size-large * 1.3 ; @line-height-large; @border-radius-large);
}

.btn-maturity {
  .btn-reset;
}

.btn {
  i {
    margin-right: 5px;
  }
}
