.investment-calculator,
.loan-calculator,
.lifebuoy-calculator {
  .circle {
    background: @gray;
    border-radius: 1000px;
    height: 182px;
    text-align: center;
    vertical-align: middle;
    width: 182px;
    margin-top: 32px;
    .text {
      padding-top: 38px;
      font-size: 16px;
      .result {
        font-size: 42px;
      }
      color: #fff;
    }
  }
  .loan-length,
  .loan-interest {
    margin-top: 18px;
  }
  .slider {
    margin-top: 6px;
    margin-bottom: 6px;
  }
  .benefit {
    [class^=icon-] {
      vertical-align: middle;
      font-size: 36px;
      margin-right: 6px;
    }
    margin-bottom: 12px;
  }
}

.best-loans {
  margin-top: 0px !important;
  .item {
    float: left;
    overflow: hidden;
    margin-top: 16px;
    margin-right: 16px;
    .icon {
      float: left;
      padding-top: 16px;
      font-size: 30px;
      padding-right: 5px;
    }
    .desc {
      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 32px;
        width: 0;
        height: 0;
        left: -10px;
        border-right: 10px solid @gray;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
      }
      position: relative;
      color: #fff;
      float: left;
      background: @gray;
      padding: 16px;
      border-radius: 6px;
      min-width: 145px;
    }
  }
}

.brand-customer {
  .calculator-box .circle,
  .summary .circle {
    background-color: @brand-customer;
  }
}

.brand-investor {
  .calculator-box .circle,
  .summary .circle {
    background-color: @brand-investor;
  }
  .benefit [class^=icon-] {
    color: @brand-investor;
  }
}