.comments {
  .heading .icon {
    color: @brand-investor;
  }
  .comment {
    margin-top: 16px;
    + .comment {
      margin-top: 42px;
    }

    .icon-box {
      .icon {
        vertical-align: middle;
        color: @brand-investor;
      }
      .text {
        a {
          color: @gray;
          font-weight: 600;
          &:hover, &:focus {
            color: @gray-light;
          }
        }
        font-weight: 300;
        font-size: @font-size-base * 1.5;
      }
    }

    &.customer {
      margin-left: 48px;
      margin-top: 8px;
      .icon {
        color: @brand-customer;
      }
      .comment-text {
        border-left-color: lighten(@brand-customer, 10%);
      }
      .no-answer {
        padding-top: 16px;
        font-style: italic;
        opacity: 0.5;
      }
    }

    &.investor {
      .comment-text {
        border-left-color: lighten(@brand-investor, 7%);
      }
    }

    .comment-text {
      margin-left: 16px;
      padding-left: 16px;
      border-left: 1px solid @gray;
    }

  }

  .alert-box {
    margin-top: 32px;
  }

  .btn-question {
    margin-top: 32px;
  }
}