#filter {
  background: @gray-lighter;
  .container {
    border-top: 1px solid darken(@gray-lighter, 10%);
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .filter {
    margin-top: 32px;
  }
  &.watchdog {
    padding: 24px 72px;
    .filter > * {
      margin-top: 32px;
    }

  }
  .risk-and-watchdogs {
    margin-top: 32px;
  }
  h3 {
    font-weight: 700;
    font-size: 16px;
  }
  .ratings {
    display: table;
    width: 100%;
    > div {
      display: table-cell;
      text-align: left;
    }
    input {
      margin-left: 22px;
    }
    .rating {
      font-weight: normal;
    }
  }
  .slider-wrap + .slider-wrap {
    margin-top: 38px;
  }
  .slider {
    margin-top: 42px;
  }
  .submit {
    margin-top: 64px;
    .btn {
      padding: @padding-base-vertical * 0.9 @padding-base-horizontal * 1;
      font-size: @button-font-size-small;
      min-width: 92px;
      & + .btn {
        margin-left: 8px;
      }
    }
  }

  .ui-slider {
    background: #fff;
  }

  .maturity {
    input {
      display: none;
    }

    input:checked + label {
      background: @brand-investor;
      color: #fff;
    }

    .btn-maturity {
      .transition(.5s all);
      padding: 5px 10px;
      min-width: 75px;
      margin-right: 11px;
      strong {
        display: block;
      }
    }

  }

  #risk-auctions {
    padding-left: 12px;
    padding-right: 12px;
    .transition(.5s all);
    opacity: .3;
    &.active {
      opacity: 1;
    }
  }

}

#filter-result-spinner {
  position: relative;
  .spinner {
    position: absolute !important;
    right: 55px !important;
    left: auto !important;
    top: 110px !important;
  }
}