#footer {
  background: #333333;

  padding-top: 60px;

  a{
    color: #919191;
    &:focus,
    &:hover {
      color: lighten(#919191, 30%);
      text-decoration: none;
    }
  }

  h2 {
    font-weight: 600;
    font-size: 24px;
  }

  .nav {
    margin-top: 36px;
    ul {
      padding-left: 0;
      list-style: none;
      li {
        font-size: 16px;
        line-height: 1.7;
        a {

        }
      }
    }
  }

  .facebook {
    .icon-facebook  {
      margin-right: 16px;
      font-size: 60px;
    }
    h2, p, .icon-facebook {
      float: left;
    }
    iframe {
      border:none;
      overflow:hidden;
      width:450px;
      height:258px;
    }
  }

  .social-icons {
    font-size: 28px;
    > a {
      margin-right: 8px;
    }
  }

  .copyright {
    color: #4d4c4c;
    text-align: center;
    background: #2d2d2d;
    padding-top: 44px;
    padding-bottom: 40px;
  }
}