#header {
  .logo {
    .make-xs-column(2);
    margin-top: 18px;
    margin-bottom: 18px;
    img {
      height: 65px;
    }
    &:hover {
      opacity: 0.7;
    }
  }
  .menu {
    .make-xs-column(10);
    text-align: right;
    height: 65px + 18px + 18px;
    line-height: 65px + 18px + 18px;
    .btn {
      margin-left: 10px;
    }

    > * {
      vertical-align: middle;
      display: inline-block;
      & + * {
        margin-left: 24px;
      }
    }

    .user {
      line-height: @font-size-base;
    }
    .control {
      font-size: @font-size-base * 2;
    }
    .settings {
      font-size: @font-size-base * 2;
    }
    .logout {
      font-size: @font-size-base * 2;
    }
    .profile {
      color: #000 !important;
      font-weight: bold;
      &:hover{
        color: #666 !important;
      }
    }

    &.customer {
      a:not(.btn) {
        color: @brand-customer;
        &:focus,
        &:hover {
          color: @brand-customer-hover;
          text-decoration: none;
        }
      }
    }
    &.investor {
      a:not(.btn) {
        color: @brand-investor;
        &:focus,
        &:hover {
          color: @brand-investor-hover;
          text-decoration: none;
        }
        &.watchlist {
          color: @brand-danger;
        }
      }
    }
    &.planb {
      a {
        color: @brand-planb;
        &:focus,
        &:hover {
          color: @brand-planb-hover;
          text-decoration: none;
        }
      }
    }

  }
}