@font-face {
  font-family: 'icomoon';
  src: url('../bundles/app/fonts/icomoon.eot');
  src:
    url('../bundles/app/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../bundles/app/fonts/icomoon.woff') format('woff'),
    url('../bundles/app/fonts/icomoon.ttf') format('truetype'),
    url('../bundles/app/fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-user-arrow-in, .icon-user-arrow-out, .icon-home, .icon-switch, .icon-facebook, .icon-twitter, .icon-youtube, .icon-linkedin, .icon-info, .icon-stats, .icon-bars, .icon-signup, .icon-aid, .icon-calculate, .icon-settings, .icon-search, .icon-google-plus, .icon-mail, .icon-mail-2, .icon-facebook-2, .icon-twitter-2, .icon-google-plus-2, .icon-chat, .icon-arrow-right, .icon-arrow-left, .icon-enter, .icon-lock, .icon-table, .icon-podcast, .icon-pencil, .icon-arrow-down, .icon-warning, .icon-remove, .icon-plus, .icon-file, .icon-key, .icon-checkmark-circle, .icon-cancel-circle, .icon-clock, .icon-install, .icon-upload, .icon-download, .icon-help, .icon-checkmark, .icon-forward, .icon-user, .icon-mail-3, .icon-play, .icon-close, .icon-checkbox-checked, .icon-checkbox-unchecked, .icon-coin, .icon-at, .icon-bubbles, .icon-clock-2, .icon-expand, .icon-bars-2, .icon-shield, .icon-kredilibita, .icon-bez-poplatkov, .icon-eye, .icon-lock-2, .icon-users, .icon-wondering, .icon-support {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-user-arrow-in:before {
  content: "\e000";
}
.icon-user-arrow-out:before {
  content: "\e006";
}
.icon-home:before {
  content: "\e001";
}
.icon-switch:before {
  content: "\e008";
}
.icon-facebook:before {
  content: "\e009";
}
.icon-twitter:before {
  content: "\e00a";
}
.icon-youtube:before {
  content: "\e00b";
}
.icon-linkedin:before {
  content: "\e007";
}
.icon-info:before {
  content: "\e00c";
}
.icon-stats:before {
  content: "\e00d";
}
.icon-bars:before {
  content: "\e00e";
}
.icon-signup:before {
  content: "\e00f";
}
.icon-aid:before {
  content: "\e002";
}
.icon-calculate:before {
  content: "\e003";
}
.icon-settings:before {
  content: "\e004";
}
.icon-search:before {
  content: "\e011";
}
.icon-google-plus:before {
  content: "\e013";
}
.icon-mail:before {
  content: "\e014";
}
.icon-mail-2:before {
  content: "\e015";
}
.icon-facebook-2:before {
  content: "\e016";
}
.icon-twitter-2:before {
  content: "\e017";
}
.icon-google-plus-2:before {
  content: "\e012";
}
.icon-chat:before {
  content: "\e018";
}
.icon-arrow-right:before {
  content: "\e019";
}
.icon-arrow-left:before {
  content: "\e01a";
}
.icon-enter:before {
  content: "\e01b";
}
.icon-lock:before {
  content: "\e01c";
}
.icon-table:before {
  content: "\e01d";
}
.icon-podcast:before {
  content: "\e010";
}
.icon-pencil:before {
  content: "\e01e";
}
.icon-arrow-down:before {
  content: "\e01f";
}
.icon-warning:before {
  content: "\e020";
}
.icon-remove:before {
  content: "\e005";
}
.icon-plus:before {
  content: "\e021";
}
.icon-file:before {
  content: "\e023";
}
.icon-key:before {
  content: "\e022";
}
.icon-checkmark-circle:before {
  content: "\e024";
}
.icon-cancel-circle:before {
  content: "\e025";
}
.icon-clock:before {
  content: "\e026";
}
.icon-install:before {
  content: "\e027";
}
.icon-upload:before {
  content: "\e028";
}
.icon-download:before {
  content: "\e029";
}
.icon-help:before {
  content: "\e02a";
}
.icon-checkmark:before {
  content: "\e02b";
}
.icon-forward:before {
  content: "\e02c";
}
.icon-user:before {
  content: "\e02d";
}
.icon-mail-3:before {
  content: "\e02e";
}
.icon-play:before {
  content: "\e030";
}
.icon-close:before {
  content: "\e02f";
}
.icon-checkbox-checked:before {
  content: "\e031";
}
.icon-checkbox-unchecked:before {
  content: "\e032";
}
.icon-coin:before {
  content: "\e033";
}
.icon-at:before {
  content: "\e034";
}
.icon-bubbles:before {
  content: "\e035";
}
.icon-clock-2:before {
  content: "\e036";
}
.icon-expand:before {
  content: "\e037";
}
.icon-bars-2:before {
  content: "\e038";
}
.icon-shield:before {
  content: "\e03a";
}
.icon-kredilibita:before {
  content: "\e039";
}
.icon-bez-poplatkov:before {
  content: "\e03b";
}
.icon-eye:before {
  content: "\e03c";
}
.icon-lock-2:before {
  content: "\e03d";
}
.icon-users:before {
  content: "\e03e";
}
.icon-wondering:before {
  content: "\e600";
}
.icon-support:before {
  content: "\e601";
}
