#introduce {
  background: @gray-darker;
  min-width: @container-desktop;
  background-size: cover;

  .text {
    line-height: @line-height-large * 2;
    p, h1 {
      text-shadow: 2px 2px 0 #000;
    }
    h1 {
      font-size: 48px;
      font-weight: 500;
    }
    p {
      font-size: 18px;
    }
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;

    .buttons {
      margin: 15px auto;
      //border: 1px solid #fff;
      background: fade(#fff, 50%);
      padding: 13px 13px 12px;
      border-radius: 6px;
      display: inline-block;
      cursor: default;
      .btn {
        font-size: 24px;
      }
      .btn + .btn {
        margin-left: 12px;
      }
    }
  }

  .video-icon{
    a {
      color: #fff;
      &:hover,
      &:focus{
        text-decoration: none;
      }
    }
  }

  &.help {
    background-image: url(/bundles/app/img/introduce/help.jpg);

    &.auction {
      .text {
        padding-top: 12px;
        padding-bottom: 12px;
      }
    }
    &.info {
      .cta {
        font-size: 36px;
        display: inline-block;
        padding-left: 24px;
        margin-bottom: 0;
      }

      .text {
        padding-top: 12px;
        padding-bottom: 12px;
      }
    }
  }

  &.video {
    cursor: pointer;
    .text {
      padding-top: 30px;
      .video-icon > * {
        .transition(opacity .5s);
        opacity: 0.5;
        font-size: 72px;
        &:hover {
          opacity: 1;
        }
      }

    }
  }

  &.page-403, &.page-404 {
    font-size: 48px;
    background: darken(@brand-warning, 15%);
    .text {
      padding-top: 0px;
      padding-bottom: 8px;
    }
  }
  &.page-500 {
    font-size: 48px;
    background: @brand-danger;
    .text {
      padding-top: 0px;
      padding-bottom: 8px;
    }
  }
}
