#hg_loan_validate_step4_incomeType1_control_group,
#hg_loan_validate_step4_incomeType2_control_group,
#hg_loan_validate_step4_incomeType3_control_group,
#hg_loan_validate_step4_incomeType4_control_group,
#hg_loan_validate_step4_incomeType5_control_group,
#hg_loan_validate_step4_incomeType6_control_group,
#hg_loan_validate_step4_incomeType7_control_group,
#hg_loan_validate_step4_incomeType8_control_group{
  display: none;
}
#hg_loan_validate_step4_incomeType6_control_group label{
  display: none;
}