#main {
  .full-box {
    padding-top: @padding-full-box-top;
    padding-bottom: @padding-full-box-bottom;
    min-width: @container-desktop;
    &:nth-of-type(2n) {
      background: @gray-lighter;
      .ui-slider {
        background: #fff;
      }
    }
    &.gray {
      background: @gray-lighter;
    }
  }

  .content {
    > * + *:not(p) {
      margin-top: 48px;
    }
  }
}

.tooltip-icon {
  vertical-align: super;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

.tooltip {
  font-weight: normal !important;
}

.icon-box {
  display: table;
  width: 100%;
  .icon {
    display: table-cell;
    height: 68px;
    &:before {
      vertical-align: middle;
    }
    i {
      font-size: 58px;
      line-height: 56px;
    }
    .icon-user-arrow-out,
    .icon-user-arrow-in {
      font-size: 32px;
    }
    .icon-expand {
      font-size: 52px;
    }
    width: 66px;
    vertical-align: top;
  }
  .text {
    display: table-cell;
    vertical-align: middle;
    h1, h2, h3 {
      margin: 0;
      margin-bottom: 12px;
    }
  }
  & + .icon-box {
    margin-top: 32px;
  }
}

.last-auctions {
  .item {
    padding-bottom: 8px;
    padding-top: 8px;
    display: table;
    width: 380px;
    + .item {
      border-top: 1px solid #ccc;
    }
    > * {
      display: table-cell;
      vertical-align: top;
    }
    > *:nth-of-type(2) {
      width: 90%;
    }
    .rating {
      margin-right: 12px;
    }
    .collected {
      width: 70px;
    }
    a {
      color: @gray;
      text-decoration: underline;
      &:hover {
        color: @gray-light;
      }
    }
  }
}

.collected {
  width: 60px;
  height: 60px;
  position: relative;
  canvas {
    position: absolute;
    right: 0;
  }
  .circle {
    background: darken(@brand-investor-dark, 45%);
    display: block;
    border-radius: 100px;
    color: #fff;
    position: absolute;
    width: 50px;
    line-height: 48px;
    height: 50px;
    text-align: center;
    z-index: 1;

  }
}

.rating {
  &.rating-1 {
    background: @color-rating-aa;
  }
  &.rating-2 {
    background: @color-rating-a;
  }
  &.rating-3 {
    background: @color-rating-b;
  }
  &.rating-4 {
    background: @color-rating-c;
  }
  &.rating-5 {
    background: @color-rating-d;
  }
  background: @gray;
  display: inline-block;
  color: #fff;
  text-align: center;
  min-height: 50px;
  border-radius: 6px;
  padding: 5px 7px;
  margin-top: 5px;
  font-weight: normal;
}

.brand-investor {
  > * + *:not(p) {
    margin-top: 36px;
  }

  a.tooltip-icon {
    color: @brand-investor;
    &:hover {
      color: @brand-investor-hover;
    }
  }

  .icon {
    color: @brand-investor;
  }
  .ui-widget-header {
    border: 0px solid @brand-investor;
    background: lighten(@brand-investor, 10%);
    color: #fff;
    font-weight: bold
  }
  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 4px solid darken(@brand-investor, 10%);
    background: @brand-investor;
    font-weight: bold;
    color: #1c94c4
  }
  .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border: 4px solid @brand-investor;
    background: lighten(@brand-investor, 10%);
    font-weight: bold;
    color: #c77405
  }
  .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: 4px solid lighten(@brand-investor, 10%);
    background: lighten(@brand-investor, 15%);
    font-weight: bold;
    color: #eb8f00
  }

  .best-loans {
    .item {
      .desc {
        background: desaturate(@brand-investor, 20%);
      }
      .desc {
        &:before {
          border-right-color: desaturate(@brand-investor, 20%);
        }
      }
    }
  }
  .brand-link {
    color: darken(@brand-investor, 10%);
    &:hover {
      color: darken(@brand-investor-hover, 10%);
    }
    &.original {
      color: @brand-investor;
      &:hover {
        color: @brand-investor-hover;
      }
    }
  }

  .brand-color {
    color: darken(@brand-investor, 10%);
  }

  .btn-brand {
    .btn-investor;
  }
}

.brand-investor-dark {
  > * + *:not(p) {
    margin-top: 36px;
  }
  .icon {
    color: @brand-investor-dark;
  }
}

.brand-customer {
  > * + *:not(p) {
    margin-top: 36px;
  }
  .icon {
    color: @brand-customer;
  }
  .ui-widget-header {
    border: 0px solid @brand-customer;
    background: lighten(@brand-customer, 10%);
    color: #fff;
    font-weight: bold
  }
  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 4px solid darken(@brand-customer, 10%);
    background: @brand-customer;
    font-weight: bold;
    color: #1c94c4
  }
  .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border: 4px solid @brand-customer;
    background: lighten(@brand-customer, 10%);
    font-weight: bold;
    color: #c77405
  }
  .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: 4px solid lighten(@brand-customer, 10%);
    background: lighten(@brand-customer, 20%);
    font-weight: bold;
    color: #eb8f00
  }

  .best-loans {
    @best-loans-color: #a7bb85;
    .item {
      .desc {
        background: @best-loans-color;
      }
      .desc {
        &:before {
          border-right-color: @best-loans-color;
        }
      }
    }
  }
  .btn-brand {
    .btn-customer;
  }

  .brand-link {
    color: @brand-customer;
    &:hover {
      color: @brand-customer-hover;
    }
  }

  .brand-color {
    color: @brand-customer;;
  }
}

.partners {
  background: #fff;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 40px;
}

a.gray-underline {
  color: @gray-light;
  text-decoration: underline;
}

.indicator {
  &:before {
    content: "\2022";
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    font-size: @font-size-base * 2;
    line-height: @line-height-base / 2;
  }

  &.active {
    &:before {
      color: @brand-primary;
    }
  }
  &.inactive {
    &:before {
      color: @brand-danger;
    }
  }
}

