.button-variant(@color; @background; @border) {
    color: @color;
    background-color: @background;
    border-color: darken(@border, 5%);
    border-width: 0 0 4px 0;
    font-weight: bold;

  &:hover,
  &:focus,
  &:active,
  &.active,
  .open .dropdown-toggle& {
    color: @color;
    background-color: darken(@background, 8%);
    border-color: darken(@border, 12%);
  }
  &:active,
  &.active,
  .open .dropdown-toggle& {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: @background;
      border-color: @border
    }
  }
}



.alert-box-variant(@icon;@background;@border;@text-color)
{
  .icon {
    color: @icon;
  }
  .text .alert {
    background-color: @background;
    border-color: @border;
    color: @text-color;
    hr {
      border-top-color: darken(@border, 5%);
    }
    a {
      font-weight: @alert-link-font-weight;
      color: darken(@text-color, 10%);
    }
    .alert-link {
      color: darken(@text-color, 10%);
    }
    &:before {
      border-right-color: @background;
    }
  }
}

.triangel-left {
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 32px;
    width: 0;
    height: 0;
    left: -9px;
    border-right: 10px solid @gray;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
}
.triangel-bottom {
  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    margin-left: -5px;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid @gray;
  }
}