#navbar {
  cursor: default;
  background: fade(#fff, 35%);
  > ul {
    display: block;
    list-style: none;
    margin-bottom: 0;
    >  li {
      display: block;
      float: left;
      > a {
        font-weight: 500;
        text-shadow: -1px -1px 0 fade(#000, 30%);
        display: block;
        color: #fff;
        padding: 16px 12px;
        font-size: 16px;
        text-decoration: none;
        &:hover {
          color: (#a1c5f9);
        }
      }

      &:first-of-type a{
        padding-left: 0;
      }
    }
  }
}