.pages {

  ul {
    padding-left: 0;
    list-style-type: none;
    li {
      font-size: 18px;
      & + li {
        margin-top: 16px;
      }
      &:before {
        font-size: 24px;
        vertical-align: middle;
        font-family: 'icomoon';
        content: "\e02b";
        -webkit-font-smoothing: antialiased;
        speak: none;
        margin-right: 8px;
        vertical-align: baseline;
      }
    }
  }
  &.brand-customer {
    ul {
      li:before {
        color: @brand-customer;
      }
    }
  }
  &.brand-investor {
    ul {
      li:before {
        color: @brand-investor;
      }
    }
  }

  .how-to {
    .heading,
    .footer {
      border-bottom: 1px solid @gray-lighter;
      > *:first-child {
        border-right: 1px solid @gray-lighter;
      }
      a {
        color: @gray;
        &:focus ,
        &:hover {
          color: @gray-light;
          text-decoration: none;
        }
      }
    }
    .footer{
      border-bottom: 0;
      border-top: 1px solid @gray-lighter;
      h2 {
        margin-top: 11px;
        margin-bottom: 0;
      }
    }

    .customer {
      li:before {
        color: @brand-customer !important;
      }
      .step.step-1 {
        background: url('/bundles/app/img/info/arrow-down.png') no-repeat top right;
      }
    }
    .investor {
      li:before {
        color: @brand-investor !important;
      }
      .step.step-1 {
        background: url('/bundles/app/img/info/arrow-up.png') no-repeat bottom left;
      }
    }
  }

  .accordion {
    a {
      color: @brand-investor;
      &:hover,
      &:focus {
        color: @brand-investor-hover;
        text-decoration: none;
      }
      &.collapsed {
        color: @gray;
        &:hover,
        &:focus {
          color: @gray-light;
        }
      }
    }
    .item {
      margin-bottom: 24px;
      .content {
        padding-left: 35px;
      }
    }
  }

  .ratings{
    .row {
      margin-top: 12px;
      > div {
        width: 20%;
        text-align: center;
        & + div {
          border-left: 1px solid @gray-lighter;
        }
      }
    }
  }

}
