
&.brand-investment-light {
  .pagination {
    a.arrow {
      color: @brand-investor;
    }
    &:hover, &:focus {
      color: @brand-investor-hover;
    }
  }
}
&.brand-customer {
  .pagination {
    a.arrow {
      color: @brand-customer;
      &:hover, &:focus {
        color: @brand-customer-hover;
      }
    }
  }
}

.pagination {
  ul {
    text-align: right;
    font-size: @font-size-base * 1.2;
    li {
      display: inline-block;
      .current {
        color: @gray-dark;
        font-weight: bold;
      }
      a {
        color: @gray;
        &:hover, &:focus {
          color: @gray-dark;
          text-decoration: none;
        }
      }
      a.arrow {
        color: @brand-investor;
        font-size: @font-size-base * 1.6;
        vertical-align: middle;
        &:hover, &:focus {
          color: @brand-investor-hover;
        }
      }
    }
  }
}