.sidebar {
  text-align: right;

  padding-top: @padding-full-box-top;
  padding-bottom: @padding-full-box-bottom;
  margin-top: -@padding-full-box-top;
  margin-bottom: -@padding-full-box-bottom;

  &.col-xs-4.left {
    @width: percentage((4 / @grid-columns));
    width: @width - 4%;
    margin-right: 2%;
    border-right: 1px solid @gray-lighter;
    padding-left: 0;
    padding-right: 0;

   > *:first-child {
     padding-top: 8px;
   }

    > * + * {
      border-top: 1px solid @gray-lighter;
      padding-top: 36px;
      padding-bottom: 36px;
    }

  }

  h2 {
    font-size: @font-size-base * 1.3;
    font-weight: 600;
  }

  .block {
    padding-top: 36px;
    padding-left: 0px;
    padding-right: 28px;
    padding-bottom: 36px;
    margin-top: 0px;
    &.auctions {
      .icon-box{
        margin-bottom: 24px;
      }
      .auction {
        padding-bottom: 12px;
        padding-top: 12px;
        .title {
          text-align: right;
          padding-top: 2px;
        }
        .amount {
          font-weight: bold;
          display: block;
          font-size: 24px;
        }
        .interest {
          font-weight: bold;
        }
        .maturity {
          &:before {
            content: "/";
            display: inline-block;
            margin-left: 3px;
            margin-right: 6px;
          }
        }
      }

      a {
        color: @gray;
        text-decoration: underline;
        &:hover{
          color: @gray-light;
        }
      }
    }

    &.video {
      a {
        display: inline-block;
        margin-left: 56px;
        margin-top: 18px;
        font-size: 64px;
        line-height: 64px;
        &:hover,
        &:focus {
          text-decoration: none;
        }
      }
    }
  }

  .social-icons {
    font-size: 32px;
    > a {
      color: @gray-light;
      margin-right: 10px;
      &:focus,
      &:hover {
        color: @brand-customer;
        text-decoration: none;
      }
    }
    > div {
      display: inline-block;
      iframe {
        height: 62px;
        width: 58px;
      }
    }
  }

  .icon-box, .auction {
    text-align: left;
  }

  .nav {
    h2 {
      padding-right: 24px;
    }
    > ul {
      > li {
        & + li {
          margin-top: 12px;
        }
      }
    }
    ul {
      padding-left: 0;
      list-style: none;
      li {
        display: block;
        a {
          color: @gray-dark;
          padding: 8px 24px 6px 16px;
          display: block;
          border-bottom: 2px solid #fff;
          &.active,
          &:focus,
          &:hover {
            color: @gray-darker;
            text-decoration: none;
            background: @gray-lighter;
            border-bottom: 2px solid @gray-light;
          }
        }

        &.hg-dropdown {
          > .hg-dropdown-link {
            .caret {
              .rotate(90deg);
              .transition(all .3s ease);
              display: inline-block;
            }
          }
          > .hg-dropdown-menu {
            display: none;
          }

          &.open {
            > .hg-dropdown-link {
              .caret {
                .rotate(0deg);
              }
            }
            > .hg-dropdown-menu {
              display: block;
            }
          }
        }

        ul {
          li {
            a {
              color: @gray-light;
              padding-right: 42px;
              font-size: @font-size-base * 0.9;
              &.active,
              &:focus,
              &:hover {
                color: @gray;
                text-decoration: none;
                background: lighten(@gray-lighter, 3%);
                border-bottom: 2px solid @gray-light;
              }
            }
          }
        }
      }
    }
  }

  &.brand-investor {
    ul {
      li {
        a {
          &.active,
          &:focus,
          &:hover {
            border-bottom: 2px solid @brand-investor;
          }
        }
      }
    }
  }
  &.brand-customer {
    ul {
      li {
        a {
          &.active,
          &:focus,
          &:hover {
            border-bottom: 2px solid @brand-customer;
          }
        }
      }
    }
  }

  .investment {
    ul {
      li {
        a {
          &.active,
          &:focus,
          &:hover {
            border-bottom: 2px solid @brand-investor;
          }
        }
      }
    }
  }
  .borrow {
    ul {
      li {
        a {
          &.active,
          &:focus,
          &:hover {
            border-bottom: 2px solid @brand-customer;
          }
        }
      }
    }
  }
  .how {
    ul {
      li {
        a {
          &.active,
          &:focus,
          &:hover {
            border-bottom: 2px solid @brand-investor-dark;
          }
        }
      }
    }
  }
}