.stepper.steps-4 {
  @step-left-margin: 5.48%;
  @step-width: (100% - (@step-left-margin * 2)) / 3;
  position: relative;
  .steps {
    display: table;
    width: 97.3%;
    margin-left: 2%;
    > * {
      display: table-cell;
      &.step {
        > * {
          background-color: @gray-light;
          display: inline-block;
          width: 50px;
          height: 50px;
          text-align: center;
          border-radius: 1000px;
          font-weight: bold;
          line-height: 48px;
          font-size: @font-size-base * 1.3;
          color: #fff;
          vertical-align: middle;
        }
      }
      &.line {
        width: 30%;
        > * {
          display: inline-block;
          vertical-align: middle;
          border: 1px solid @gray-light;
          width: 100%;
        }
      }
    }
  }

  .names {
    width: 100%;
    display: table;
    padding: 16px 0 0;
    > * {
      display: table-cell;
      text-align: center;

      &.step {
        width: 80px;
      }
      &.line {
        width: 17%;
      }
    }
  }

  border-bottom: 1px solid @brand-customer;
  padding-bottom: 32px;
  .triangel-bottom;
  &:before {
    bottom: 0;
    border-bottom-color: @brand-customer;
    left: @step-left-margin;
  }

  &.steps-active-1 {
    .steps {
      .step-1 {
        > * {
          background-color: @brand-customer;
        }
      }
    }
    .names {
      .step-1 {
        > * {
          color: @brand-customer;
        }
      }
    }
  }
  &.steps-active-2 {
    .steps-active-1;
    .steps {
      .step-2 {
        > * {
          background-color: @brand-customer;
        }
      }
      .line-2 {
        > * {
          border-color: @brand-customer;
        }
      }
    }
    .names {
      .step-2 {
        > * {
          color: @brand-customer;
        }
      }
    }

    &:before {
      left: @step-left-margin + @step-width * 1 ;
    }
  }
  &.steps-active-3 {
    .steps-active-2;
    .steps {
      .step-3 {
        > * {
          background-color: @brand-customer;
        }
      }
      .line-3 {
        > * {
          border-color: @brand-customer;
        }
      }
    }
    .names {
      .step-3 {
        > * {
          color: @brand-customer;
        }
      }
    }

    &:before {
      left: @step-left-margin + @step-width * 2;
    }
  }
  &.steps-active-4 {
    .steps-active-3;
    .steps {
      .step-4 {
        > * {
          background-color: @brand-customer;
        }
      }
      .line-4 {
        > * {
          border-color: @brand-customer;
        }
      }
    }
    .names {
      .step-4 {
        > * {
          color: @brand-customer;
        }
      }
    }

    &:before {
      left: @step-left-margin + @step-width * 3;
    }
  }
}




.stepper.steps-5 {
  @step-left-margin: 5.5%;
  @step-width: (100% - (@step-left-margin * 2.22)) / 4;
  position: relative;
  .steps {
    display: table;
    width: 95.8%;
    margin-left: 2%;
    > * {
      display: table-cell;
      &.step {
        > * {
          background-color: @gray-light;
          display: inline-block;
          width: 50px;
          height: 50px;
          text-align: center;
          border-radius: 1000px;
          font-weight: bold;
          line-height: 48px;
          font-size: @font-size-base * 1.3;
          color: #fff;
          vertical-align: middle;
        }
      }
      &.line {
        width: 25%;
        > * {
          display: inline-block;
          vertical-align: middle;
          border: 1px solid @gray-light;
          width: 100%;
        }
      }
    }
  }

  .names {
    width: 100%;
    display: table;
    padding: 16px 0 0;
    > * {
      display: table-cell;
      text-align: center;

      &.step {
        width: 80px;
      }
      &.line {
        width: 17%;
      }
    }
  }

  border-bottom: 1px solid @brand-customer;
  padding-bottom: 32px;
  .triangel-bottom;
  &:before {
    bottom: 0;
    border-bottom-color: @brand-customer;
    left: @step-left-margin;
  }

  &.steps-active-1 {
    .steps {
      .step-1 {
        > * {
          background-color: @brand-customer;
        }
      }
    }
    .names {
      .step-1 {
        > * {
          color: @brand-customer;
        }
      }
    }
  }
  &.steps-active-2 {
    .steps-active-1;
    .steps {
      .step-2 {
        > * {
          background-color: @brand-customer;
        }
      }
      .line-2 {
        > * {
          border-color: @brand-customer;
        }
      }
    }
    .names {
      .step-2 {
        > * {
          color: @brand-customer;
        }
      }
    }

    &:before {
      left: @step-left-margin + @step-width * 1 ;
    }
  }
  &.steps-active-3 {
    .steps-active-2;
    .steps {
      .step-3 {
        > * {
          background-color: @brand-customer;
        }
      }
      .line-3 {
        > * {
          border-color: @brand-customer;
        }
      }
    }
    .names {
      .step-3 {
        > * {
          color: @brand-customer;
        }
      }
    }

    &:before {
      left: @step-left-margin + @step-width * 2;
    }
  }
  &.steps-active-4 {
    .steps-active-3;
    .steps {
      .step-4 {
        > * {
          background-color: @brand-customer;
        }
      }
      .line-4 {
        > * {
          border-color: @brand-customer;
        }
      }
    }
    .names {
      .step-4 {
        > * {
          color: @brand-customer;
        }
      }
    }

    &:before {
      left: @step-left-margin + @step-width * 3;
    }
  }
  &.steps-active-5 {
    .steps-active-4;
    .steps {
      .step-5 {
        > * {
          background-color: @brand-customer;
        }
      }
      .line-5 {
        > * {
          border-color: @brand-customer;
        }
      }
    }
    .names {
      .step-5 {
        > * {
          color: @brand-customer;
        }
      }
    }

    &:before {
      left: @step-left-margin + @step-width * 4;
    }
  }
}










.brand-investor {
  .stepper.steps-4 {

    border-bottom: 1px solid @brand-investor;
    .triangel-bottom;
    &:before {
      border-bottom-color: @brand-investor;
    }

    &.steps-active-1 {
      .steps {
        .step-1 {
          > * {
            background-color: @brand-investor;
          }
        }
      }
      .names {
        .step-1 {
          > * {
            color: @brand-investor;
          }
        }
      }
    }
    &.steps-active-2 {
      .steps-active-1;
      .steps {
        .step-2 {
          > * {
            background-color: @brand-investor;
          }
        }
        .line-2 {
          > * {
            border-color: @brand-investor;
          }
        }
      }
      .names {
        .step-2 {
          > * {
            color: @brand-investor;
          }
        }
      }
    }
    &.steps-active-3 {
      .steps-active-2;
      .steps {
        .step-3 {
          > * {
            background-color: @brand-investor;
          }
        }
        .line-3 {
          > * {
            border-color: @brand-investor;
          }
        }
      }
      .names {
        .step-3 {
          > * {
            color: @brand-investor;
          }
        }
      }
    }
    &.steps-active-4 {
      .steps-active-3;
      .steps {
        .step-4 {
          > * {
            background-color: @brand-investor;
          }
        }
        .line-4 {
          > * {
            border-color: @brand-investor;
          }
        }
      }
      .names {
        .step-4 {
          > * {
            color: @brand-investor;
          }
        }
      }
    }
  }

  .stepper.steps-5 {
    border-bottom: 1px solid @brand-investor;
    .triangel-bottom;
    &:before {
      border-bottom-color: @brand-investor;
    }

    &.steps-active-1 {
      .steps {
        .step-1 {
          > * {
            background-color: @brand-investor;
          }
        }
      }
      .names {
        .step-1 {
          > * {
            color: @brand-investor;
          }
        }
      }
    }
    &.steps-active-2 {
      .steps-active-1;
      .steps {
        .step-2 {
          > * {
            background-color: @brand-investor;
          }
        }
        .line-2 {
          > * {
            border-color: @brand-investor;
          }
        }
      }
      .names {
        .step-2 {
          > * {
            color: @brand-investor;
          }
        }
      }
    }
    &.steps-active-3 {
      .steps-active-2;
      .steps {
        .step-3 {
          > * {
            background-color: @brand-investor;
          }
        }
        .line-3 {
          > * {
            border-color: @brand-investor;
          }
        }
      }
      .names {
        .step-3 {
          > * {
            color: @brand-investor;
          }
        }
      }
    }
    &.steps-active-4 {
      .steps-active-3;
      .steps {
        .step-4 {
          > * {
            background-color: @brand-investor;
          }
        }
        .line-4 {
          > * {
            border-color: @brand-investor;
          }
        }
      }
      .names {
        .step-4 {
          > * {
            color: @brand-investor;
          }
        }
      }

    }
    &.steps-active-5 {
      .steps-active-4;
      .steps {
        .step-5 {
          > * {
            background-color: @brand-investor;
          }
        }
        .line-5 {
          > * {
            border-color: @brand-investor;
          }
        }
      }
      .names {
        .step-5 {
          > * {
            color: @brand-investor;
          }
        }
      }
    }
  }
}