.table {
  tr:first-of-type {
    border-top: @table-borders-large;
  }
  thead {
    tr {
      > th,
      > td {
        color: @gray-light;
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }
  }

  &.table-striped {
    thead,
    tbody,
    tfoot {
      > tr {
        > th,
        > td {
          border-top: 0px solid @table-border-color;
        }

        &:last-of-type {
          border-bottom: 0px;
        }
      }
    }
  }
  thead,
  tbody,
  tfoot {
    > tr {
      > th,
      > td {
        vertical-align: top;
      }

      &:last-of-type {
        border-bottom: 1px solid @table-border-color;
      }
    }
  }
  td {
    font-weight: bold;
  }
  th {
    font-weight: normal;
  }
}

table {
  width: 100%;
  .heading {
    .h3;
    background: @gray-lighter;
    padding: 6px 12px;
  }

  thead,
  tbody,
  tfoot {
    > tr {
      > th,
      > td {
        vertical-align: top;
      }
    }
  }

  td {
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  th {
    font-weight: normal;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  tr.danger,
  td.danger,
  th.danger {
    color: @brand-danger;
  }
}

.info-table {
  thead {
    td, th {
      font-weight: bold;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
  tbody {
    border-top: 3px solid @gray-light;
    border-bottom: 3px solid @gray-light;
    th {
      font-weight: normal;
    }
    td {
      font-weight: bold;
      text-align: right;
    }
    th, td {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  tfoot {

    td, th {
      font-weight: bold;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
  margin-bottom: 16px;
}

.summary-table {
  thead {
    border-bottom: 3px solid @gray-light;
    td, th {
      font-weight: bold;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
  tbody {
    td, th {
      font-weight: normal;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
  tfoot {
    border-bottom: 3px solid @gray-light;

    td, th {
      font-weight: bold;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}

.uploaded-documents {
  thead {
    tr {
      th:last-of-type {
        text-align: right;
      }
    }
  }
  .file {
    color: @gray;
  }
  .delivered {
    color: @brand-success;
  }
  .success {
    color: @brand-warning;
  }
  .deleted {
    color: @brand-danger;
  }
  .pending {
    color: @brand-info;
  }
  tbody {
    tr {
      td:last-of-type {
        text-align: right;
      }
    }
  }
}

.monthly-obligations {
  td {
    font-weight: normal;
  }
}