/* ==========================================================================
   Base
   ========================================================================== */

body {
  font-weight: 300;

}

a, button, input[type="submit"], input[type="button"] {
  .transition(~".3s color ease-in-out, .3s background-color ease-in-out, .3s opacity ease-in-out, .3s border-color ease-in-out");
}

a, a:hover, a:active, a:focus {
  outline: 0;
}

.container {
  min-width: @container-desktop;
}

h1,h2,h3,h4{
  &:first-of-type {
    margin-top: 0;
  }
}

b, strong {
  font-weight: 600;
}


a,
a:focus,
.btn:focus,
a:active,
button,
button:focus,
button:active,
:focus{
  outline: 0;
}

form .required:after{
  content: "*";
  color: @brand-danger;
}


//
///*
// CHCECKOBOXES
//*/
//@checkbox-color: darken(@brand-investor, 20%);
//input[type="checkbox"] {
//  display:none;
//}
//input[type="checkbox"] + label span {
//  display:inline-block;
//  width:23px;
//  height:23px;
//  margin:-1px 4px 0 0;
//  line-height: 19px;
//  vertical-align:middle;
//  background:#fff left top no-repeat;
//  text-align: center;
//  //border: 1 #000;
//  cursor:pointer;
//  border: 1px solid @checkbox-color;
//  &:before {
//    .transition(.3s opacity);
//    content: "";
//    background: @checkbox-color;
//    display: inline-block;
//    width: 11px;
//    height: 11px;
//    opacity: 1;
//  }
//}
//input[type="checkbox"]:checked + label span {
//  background: #fff  top no-repeat;
//  &:before {
//    opacity: 0;
//  }
//}
//
//
//@radio-color: darken(@brand-investor, 20%);
//#filter input[type="radio"],
//input[type="radio"] {
//  display:none;
//}
//input[type="radio"] + label span {
//  display:inline-block;
//  width:23px;
//  height:23px;
//  margin:-1px 4px 0 0;
//  line-height: 19px;
//  vertical-align:middle;
//  background:#fff left top no-repeat;
//  text-align: center;
//  //border: 1 #000;
//  cursor:pointer;
//  border: 1px solid @radio-color;
//  border-radius: 100px;
//  &:before {
//    .transition(.3s opacity);
//    content: "";
//    background: @radio-color;
//    display: inline-block;
//    width: 11px;
//    height: 11px;
//    opacity: 0;
//    border-radius: 100px;
//  }
//}
//input[type="radio"]:checked + label span {
//  background: #fff  top no-repeat;
//  &:before {
//    opacity: 1;
//  }
//}

#repayment-calendar {
  margin-bottom: 32px;
}



.text-small {
  line-height: 1.15;
  color: @gray-light;
  font-size: 12px;
}

.brand-risk {
  color: @color-rating-d;
}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm) {
}

@media (min-width: @screen-md) {
}

@media (min-width: @screen-lg) {
}
