.user-bundle {
  h2 {
    .icon {
      color: @brand-investor-dark;
      vertical-align: middle;
      text-align: center;
    }
  }
  text-align: center;

  .login {
    [type="submit"] {
      margin-top: 28px;
    }

    a.forgotten {
      margin-top: 24px;
      display: inline-block;
      font-weight: bold;
    }

    > * + * {
      margin-top: 42px;
    }
  }

  .to-register {
    margin-top: 48px;
  }

  .forgotten {
    .form-group input[name="username"] {
      width: 304px;
    }
  }

}

.register-benefits {
  padding-left: 0;
  li {
    list-style-type: none;
    text-align: center;
    .circle {
      display: block;
      background: @brand-investor-dark;
      padding: 32px 0;
      color: #fff;
      font-size: 64px;
      border-radius: 200px;
      width: 130px;
      height: 130px;
      text-align: center;
      margin: 0 auto 24px;
    }
    span {
      display: block;
    }
  }
}