.transaction-list {
  &.word-wrap {
    thead {
      td, th, span {
        white-space: normal !important;
      }
    }
  }

  .date,
  .sender,
  .receiver,
  .variable-symbol,
  .amount,
  .desc {
    font-weight: bold;
    display: block;

  }

  thead {
    .date,
    .sender,
    .receiver,
    .variable-symbol,
    .amount,
    .desc {
      white-space: nowrap;
    }
  }

  tbody {
    td {
      font-weight: normal;
    }
    a {
      color: @gray;
    }
    tr {
      &.status-canceled {
        opacity: 0.5;
      }
    }
    .date,
    .desc,
    .variable-symbol {
      font-weight: normal;
    }
    .status {
      .future {
        color: @gray-light;
      }
      .pending {
        color: @brand-info;
      }
      .canceled {
        color: @brand-danger;
      }
      .success {
        color: @brand-success;
      }
      .overdue {
        color: @brand-danger;
      }
    }
  }
}

.investment-list {
  .loan-name{
    font-weight: bold;
    display: block;
  }

  thead {
    .loan-name,
    .amount,
    .interest,
    .created-at,
    .status{
      white-space: nowrap;
    }
  }

  tbody {
    td {
      font-weight: normal;
    }
    a {
      color: @gray;
    }
    tr {
      &.status-canceled {
        opacity: 0.5;
      }
    }
  }
}

.auction-list {

  .name,
  .acquired,
  .interest,
  .financed,
  .start-at,
  .status {
    font-weight: bold;
    display: block;

  }

  tbody {
    td {
      font-weight: normal;
    }
    a {
      color: @gray;
    }
  }
}

.user-info {
  table {
    margin-top: 16px;
    width: 100%;
    font-size: @font-size-base * 1.25;
  }
}

.change-password,
.change-notifications ,
.change-bank-number {
  form {
    margin-top: 18px;
  }
}

.change-password {
  form {
    margin-bottom: 24px;
  }
}

.summary {
  .circle {
    color: #fff;
    border-radius: 1000px;
    height: 180px;
    width: 180px;
    text-align: center;
    padding-top: 22px;
    font-size: 18px;
    .price {
      display: block;
      font-size: 28px;
      font-weight: 600;
    }
  }
}


.summary.right {
  .summary;
  float: right;
  .circle {
    padding-top: 60px;
    .price {
    }
  }
}

.profit.right {
  .summary;
  float: right;
  .circle {
    padding-top: 60px;
    background: @brand-warning;
  }
}


#auction-add-investment {
  .summary.right {
    clear: both;
  }
}