.watchlist-list {

  .name,
  .goal,
  .interest,
  .financed,
  .start-at,
  .status {
    font-weight: bold;
    display: block;

  }
  .watchlist.notification {
    color: @brand-danger;
  }

  tbody {
    td {
      font-weight: normal;
    }
    a {
      color: @gray;
    }
  }
}