.watchdog-list {
  .name, {
    font-weight: bold;
    display: block;
  }

  tbody {
    td {
      font-weight: normal;
    }
    a {
      color: @gray;
    }
    .interest-min,
    .interest-max,
    .days-end-min,
    .days-end-max,
    .amount-min,
    .amount-max {
      white-space: nowrap;
    }
  }

  .watchlist.notification {
    color: @brand-danger;
  }

  .remove-watchlist {
    &:hover,
    &:focus {
      color: @brand-danger;
      text-decoration: none;
    }
  }
}