{% extends 'AppBundle::email.html.twig' %}

{% block subject_text %}
Notifikacia: Nová aukcia na schválenie aukcie
{% endblock %}


{% block content %} 
<table border="0" width="520" align="center" cellpadding="0" cellspacing="0" class="container560">
    <tr>
        <td align="center" style="color: #454545; font-size: 18px; font-family: 'Open Sans', Arial, sans-serif;"
            class="main-header">Nová notifikácia na PlánB
        </td>
    </tr>

    <tr>
        <td height="20"></td>
    </tr>

    <tr>
        <td align="center"
            style="color: #555555; font-size: 14px; font-family: 'Open Sans', Arial, sans-serif; line-height: 20px;">
            Aukcia s názvom <strong>{{ loan.auctionTitle }}</strong> bola odoslaná na schválenie.
        </td>
    </tr>

    <tr>
        <td height="20"></td>
    </tr>

    <tr>
        <td align="center"
            style="color: #555555; font-size: 14px; font-family: 'Open Sans', Arial, sans-serif; line-height: 20px;">
            <a href="{{ url("admin_hg_app_notification_list") }}"
               style="color: {{ basecolor }}">{{ url("admin_hg_app_notification_list") }}</a>
        </td>
    </tr>

    <tr>
        <td height="20"></td>
    </tr>
    <tr>
        <td align="center"><a href="{{ url("admin_hg_app_notification_list") }}"
                              style="display: block; width: 198px;  border-style: none !important; border: 0 !important;"><img
                        width="198" height="43" border="0" style="display: block; width: 198px; height: 43px;"
                        src="{{ app.request.getSchemeAndHttpHost() ~ asset("bundles/app/img/email/" ~ user_type ~ "/link-btn.png") }}"
                        alt="download"/></a>
        </td>
    </tr>
</table>
{% endblock %}