{% extends 'AppBundle::email.html.twig' %}

{% block subject_text %}
Dostali ste odpoveď na otázku od používateľa {{ comment.user.username }}
{% endblock %}


{% block content %}
<table border="0" width="520" align="center" cellpadding="0" cellspacing="0" class="container560">
    <tr>
        <td align="center" style="color: #454545; font-size: 18px; font-family: 'Open Sans', Arial, sans-serif;" class="main-header">Dostali ste odpoveď na otázku od používateľa <strong>{{ comment.user.username }}</strong></td>
    </tr>

    <tr>
        <td height="20"></td>
    </tr>

    <tr>
        <td align="center"
            style="color: #555555; font-size: 14px; font-family: 'Open Sans', Arial, sans-serif; line-height: 20px;">
            <table width="100%">
                <tr>
                    <td align="center" style="background: #efefef; padding: 14px 8px">
                        {{ comment.text|nl2br }}
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td height="20"></td>
    </tr>

    <tr>
        <td align="center"
            style="color: #555555; font-size: 14px; font-family: 'Open Sans', Arial, sans-serif; line-height: 20px;">
            Pre zobrazenie odpovede na stránke kliknite prosím na nasledujúci link.
        </td>
    </tr>

    <tr>
        <td height="20"></td>
    </tr>

    <tr>
        <td align="center"
            style="color: #555555; font-size: 14px; font-family: 'Open Sans', Arial, sans-serif; line-height: 20px;">
            <a href="{{ url("hg_app_auction_detail", {slug: comment.loan.slug }) }}#question-{{ comment.parent.id }}"
               style="color: {{ basecolor }}">{{ url("hg_app_auction_detail", {slug: comment.loan.slug }) }}#question-{{ comment.parent.id }}</a>
        </td>
    </tr>

    <tr>
        <td height="20"></td>
    </tr>
    <tr>
        <td align="center"><a href="{{ url("hg_app_auction_detail", {slug: comment.loan.slug }) }}#question-{{ comment.parent.id }}"
                              style="display: block; width: 198px;  border-style: none !important; border: 0 !important;"><img
                        width="198" height="43" border="0" style="display: block; width: 198px; height: 43px;"
                        src="{{ app.request.getSchemeAndHttpHost() ~ asset("bundles/app/img/email/" ~ user_type ~ "/link-btn.png") }}"
                        alt="download"/></a>
        </td>
    </tr>
</table>
{% endblock %}