{% extends 'AppBundle::email.html.twig' %}

{% block subject_text %}
    Vaša žiadosť o pôžičku prešla skóringom!
{% endblock %}


{% block content %}
    <table border="0" width="520" align="center" cellpadding="0" cellspacing="0" class="container560">

        <tr>
            <td align="center" style="color: #454545; font-size: 22px; font-family: 'Open Sans', Arial, sans-serif;"
                class="main-header">Dobrý deň <strong>{{ loan.user.username }}</strong></td>
        </tr>

        <tr>
            <td height="20"></td>
        </tr>

        <tr>
            <td align="center"
                style="color: #555555; font-size: 14px; font-family: 'Open Sans', Arial, sans-serif; line-height: 20px;">
                Gratulujeme, Vaša žiadosť o pôžičku prešla skóringom! Parametre Vašej pôžičky po skóringu sú:
            </td>
        </tr>

        <tr>
            <td height="20"></td>
        </tr>

        <tr>
            <td align="center"
                style="color: #555555; font-size: 14px; font-family: 'Open Sans', Arial, sans-serif; line-height: 20px;">
                <table width="100%">
                    <tr>
                        <td align="center" style="background: #efefef; padding: 14px 8px">
                            <strong>{{ "loan.id_auction"|trans }}</strong><br>
                            {{ loan.formattedId }}
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style=" padding: 14px 8px">
                            <strong>{{ "loan.title"|trans }}</strong><br>
                            {{ loan.auctionTitle }}
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="background: #efefef;padding: 14px 8px">
                            <strong>{{ "loan.approved_amount"|trans }}</strong><br>
                            {{ loan.auctionApprovedAmount|currency(0) }}
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding: 14px 8px">
                            <strong>{{ "loan.rating"|trans }}</strong><br>
                            {{ ("loan.rating_" ~ loan.auctionRating )|trans  }}
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="background: #efefef;padding: 14px 8px">
                            <strong>{{ "loan.interest_recommemded"|trans }}</strong><br>
                            {{ loan.auctionInterestRecommemded|interest }}
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="border-bottom: 1px solid #efefef;padding: 14px 8px">
                            <strong>{{ "loan.purpose"|trans }}</strong><br>
                            {{ ("loan.purpose_"  ~ loan.loanPurpose)|trans }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td height="20"></td>
        </tr>

        <tr>
            <td align="center"
                style="color: #555555; font-size: 14px; font-family: 'Open Sans', Arial, sans-serif; line-height: 20px;">
                Tieto parametre budú uvedené v aukcii pre vašu pôžičku. Daná úroková sadzba nie je výsledná, je iba
                odporúčaná, čo znamená, že reálne v aukcii si môžete dokázať vydražiť pôžičku s nižším úrokom.
            </td>
        </tr>

        <tr>
            <td height="20"></td>
        </tr>

        <tr>
            <td align="center"
                style="color: #555555; font-size: 14px; font-family: 'Open Sans', Arial, sans-serif; line-height: 20px;">
                Pre spustenie aukcie je nutné, aby ste nám odoslali vyplnené dokumenty, ktorý nájdete vo Vašom účte na Pláne B, alebo tu v prílohe emailu.
            </td>
        </tr>

        <tr>
            <td height="20"></td>
        </tr>

        <tr>
            <td align="center"
                style="color: #555555; font-size: 14px; font-family: 'Open Sans', Arial, sans-serif; line-height: 20px;">
                <a href="{{ url("fos_user_profile_index") }}"
                   style="color: {{ basecolor }}">{{ url("fos_user_profile_index") }}</a>
            </td>
        </tr>

        <tr>
            <td height="20"></td>
        </tr>
        <tr>
            <td align="center"><a href="{{ url("fos_user_profile_index") }}"
                                  style="display: block; width: 198px;  border-style: none !important; border: 0 !important;"><img
                            width="198" height="43" border="0" style="display: block; width: 198px; height: 43px;"
                            src="{{ app.request.getSchemeAndHttpHost() ~ asset("bundles/app/img/email/" ~ user_type ~ "/link-btn.png") }}"
                            alt="download"/></a>
            </td>
        </tr>
    </table>
{% endblock %}