{% extends 'AppBundle::email.html.twig' %}

{% block subject_text %}
    Ľutujeme, ale Váš návrh na pôžičku neprešiel schválením
{% endblock %}


{% block content %}
    <table border="0" width="520" align="center" cellpadding="0" cellspacing="0" class="container560">
        <tr>
            <td align="center" style="color: #454545; font-size: 18px; font-family: 'Open Sans', Arial, sans-serif;"
                class="main-header">Dobrý deň <strong>{{ loan.user.username }}</strong></td>
        </tr>

        <tr>
            <td height="20"></td>
        </tr>

        <tr>
            <td align="center"
                style="color: #555555; font-size: 14px; font-family: 'Open Sans', Arial, sans-serif; line-height: 20px;">
                Je nám ľúto, ale Vaša žiadosť o pôžičku <strong>{{ loan.auctionTitle }}</strong> neprešiel schválením
            </td>
        </tr>

        <tr>
            <td height="20"></td>
        </tr>

        <tr>
            <td align="center"
                style="color: #555555; font-size: 14px; font-family: 'Open Sans', Arial, sans-serif; line-height: 20px;">
                O pôžičku budete môcť požiadať znovu o 90 dní. Po prihlásení sa do Vášho účtu máte možnosť sledovať odpočítavanie do ďalšej možnosti požiadať o pôžičku. Do tej doby Vám prajeme veľa úspechov, aby ste Vašu situáciu vylepšili.
            </td>
        </tr>

        <tr>
            <td height="20"></td>
        </tr>

        <tr>
            <td align="center"
                style="color: #555555; font-size: 14px; font-family: 'Open Sans', Arial, sans-serif; line-height: 20px;">
                <a href="{{ url("fos_user_profile_index") }}"
                   style="color: {{ basecolor }}">{{ url("fos_user_profile_index") }}</a>
            </td>
        </tr>

        <tr>
            <td height="20"></td>
        </tr>
        <tr>
            <td align="center"><a href="{{ url("fos_user_profile_index") }}"
                                  style="display: block; width: 198px;  border-style: none !important; border: 0 !important;"><img
                            width="198" height="43" border="0" style="display: block; width: 198px; height: 43px;"
                            src="{{ app.request.getSchemeAndHttpHost() ~ asset("bundles/app/img/email/" ~ user_type ~ "/link-btn.png") }}"
                            alt="download"/></a>
            </td>
        </tr>
    </table>
{% endblock %}