{% extends 'AppBundle::email.html.twig' %}

{% block subject_text %}
    Práve zastavili Vašu aukciu s názvom {{ loan.auctionTitle }}
{% endblock %}


{% block content %}
    <table border="0" width="520" align="center" cellpadding="0" cellspacing="0" class="container560">

        <tr>
            <td align="center" style="color: #454545; font-size: 18px; font-family: 'Open Sans', Arial, sans-serif;"
                class="main-header">Dobrý deň <strong>{{ loan.user.username }}</strong></td>
        </tr>

        <tr>
            <td height="20"></td>
        </tr>

        <tr>
            <td align="center"
                style="color: #555555; font-size: 14px; font-family: 'Open Sans', Arial, sans-serif; line-height: 20px;">
                Vaša aukcia <strong>{{ loan.auctionTitle }}</strong> bola práve zastavená a Vaše peniaze sú už pripravené na odoslanie. Čakáme však na Vašu podpísanú zmluvu o úvere. Ihneď po našom obdržaní podpísanej a platnej zmluvy Vám systém pripraví peniaze na odoslanie.
            </td>
        </tr>

        <tr>
            <td height="20"></td>
        </tr>

        <tr>
            <td align="center"
                style="color: #555555; font-size: 14px; font-family: 'Open Sans', Arial, sans-serif; line-height: 20px;">
                <a href="{{ url("fos_user_profile_index") }}"
                   style="color: {{ basecolor }}">{{ url("fos_user_profile_index") }}</a>
            </td>
        </tr>

        <tr>
            <td height="20"></td>
        </tr>
        <tr>
            <td align="center"><a href="{{ url("fos_user_profile_index") }}"
                                  style="display: block; width: 198px;  border-style: none !important; border: 0 !important;"><img
                            width="198" height="43" border="0" style="display: block; width: 198px; height: 43px;"
                            src="{{ app.request.getSchemeAndHttpHost() ~ asset("bundles/app/img/email/" ~ user_type ~ "/link-btn.png") }}"
                            alt="download"/></a>
            </td>
        </tr>

    </table>
{% endblock %}