{% extends 'AppBundle::email.html.twig' %}

{% block subject_text %}
    Prijatý návrh na overenie parametrov pôžičky
{% endblock %}


{% block content %}
    <table border="0" width="520" align="center" cellpadding="0" cellspacing="0" class="container560">
        <tr>
            <td align="center" style="color: #454545; font-size: 22px; font-family: 'Open Sans', Arial, sans-serif;"
                class="main-header">Dobrý deň <strong>{{ loan.user.username }}</strong></td>
        </tr>

        <tr>
            <td height="20"></td>
        </tr>

        <tr>
            <td align="center"
                style="color: #555555; font-size: 14px; font-family: 'Open Sans', Arial, sans-serif; line-height: 20px;">
                Práve sme obdržali Váš návrh na pôžičku s týmito parametrami.
            </td>
        </tr>

        <tr>
            <td height="20"></td>
        </tr>

        <tr>
            <td align="center"
                style="color: #555555; font-size: 14px; font-family: 'Open Sans', Arial, sans-serif; line-height: 20px;">
                <table width="100%">
                    <tr>
                        <td align="center" style="background: #efefef; padding: 14px 8px">
                            <strong>{{ "loan.title"|trans }}</strong><br>
                            {{ loan.auctionTitle }}
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding: 14px 8px">
                            <strong>{{ "loan.requested_amount"|trans }}</strong><br>
                            {{ loan.auctionRequestedAmount|currency(0) }}
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="background: #efefef; padding: 14px 8px">
                            <strong>{{ "loan.maturity"|trans }}</strong><br>
                            {{ ("loan.maturity_" ~ loan.loanMaturity)|trans }}
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="border-bottom: 1px solid #efefef;padding: 14px 8px">
                            <strong>{{ "loan.purpose"|trans }}</strong><br>
                            {{ ("loan.purpose_"  ~ loan.loanPurpose)|trans }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td height="20"></td>
        </tr>

        <tr>
            <td align="center"
                style="color: #555555; font-size: 14px; font-family: 'Open Sans', Arial, sans-serif; line-height: 20px;">
                Naši úveroví analytici Vaše údaje overia a pošlú na Váš email informáciu o ďalšom postupe.
            </td>
        </tr>

        <tr>
            <td align="center"
                style="color: #555555; font-size: 14px; font-family: 'Open Sans', Arial, sans-serif; line-height: 20px;">
                <a href="{{ url("fos_user_profile_index") }}"
                   style="color: {{ basecolor }}">{{ url("fos_user_profile_index") }}</a>
            </td>
        </tr>

        <tr>
            <td height="20"></td>
        </tr>

        <tr>
            <td height="20"></td>
        </tr>
        <tr>
            <td align="center"><a href="{{ url("fos_user_profile_index") }}"
                                  style="display: block; width: 198px;  border-style: none !important; border: 0 !important;"><img
                            width="198" height="43" border="0" style="display: block; width: 198px; height: 43px;"
                            src="{{ app.request.getSchemeAndHttpHost() ~ asset("bundles/app/img/email/" ~ user_type ~ "/link-btn.png") }}"
                            alt="download"/></a>
            </td>
        </tr>
    </table>
{% endblock %}