{% extends 'AppBundle::email.html.twig' %}

{% block subject_text %}
Používateľ {{ investment.user.username }} pridal novú ponuku do Vašej aukcie
{% endblock %}


{% block content %}
<table border="0" width="520" align="center" cellpadding="0" cellspacing="0" class="container560">
    <tr>
        <td align="center" style="color: #454545; font-size: 18px; font-family: 'Open Sans', Arial, sans-serif;"
            class="main-header">Dobrý deň <strong>{{ investment.loan.user.username }}</strong></td>
    </tr>

    <tr>
        <td height="20"></td>
    </tr>

    <tr>
        <td align="center"
            style="color: #555555; font-size: 14px; font-family: 'Open Sans', Arial, sans-serif; line-height: 20px;">
            Dostali ste novú ponuku od používateľa <strong>{{ investment.user.username }}</strong> o hodnote <strong>{{ investment.amount|currency(0) }}</strong> s úrokom <strong>{{ investment.interest|interest }}</strong>
        </td>
    </tr>

    <tr>
        <td height="20"></td>
    </tr>
    <tr>
        <td align="center"
            style="color: #555555; font-size: 14px; font-family: 'Open Sans', Arial, sans-serif; line-height: 20px;">
            Momentálny stav Vašej aukcie je:
        </td>
    </tr>

    <tr>
        <td height="20"></td>
    </tr>


    <tr>
        <td align="center"
            style="color: #555555; font-size: 14px; font-family: 'Open Sans', Arial, sans-serif; line-height: 20px;">
            <table width="100%">
                <tr>
                    <td align="center" style="background: #efefef; padding: 14px 8px">
                        <strong>Nazbieraná suma v €</strong><br>
                        {{ investment.loan.auctionCollectedAmount|currency(0) }}
                    </td>
                </tr>
                <tr>
                    <td align="center" style=" padding: 14px 8px">
                        <strong>Nazbieraná suma v %</strong><br>
                        {{ investment.loan.auctionCollectedPercentage|percentage }}
                    </td>
                </tr>
                <tr>
                    <td align="center" style="background: #efefef;padding: 14px 8px">
                        <strong>Priemerná úroková sadzba</strong><br>
                        {{ investment.loan.auctionInterestAverage|interest }}
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td height="20"></td>
    </tr>

    <tr>
        <td align="center"
            style="color: #555555; font-size: 14px; font-family: 'Open Sans', Arial, sans-serif; line-height: 20px;">
            <a href="{{ url("hg_app_auction_detail", {slug: investment.loan.slug }) }}"
               style="color: {{ basecolor }}">{{ url("hg_app_auction_detail", {slug: investment.loan.slug }) }}</a>
        </td>
    </tr>

    <tr>
        <td height="20"></td>
    </tr>
    <tr>
        <td align="center"><a href="{{ url("hg_app_auction_detail", {slug: investment.loan.slug }) }}"
                              style="display: block; width: 198px;  border-style: none !important; border: 0 !important;"><img
                        width="198" height="43" border="0" style="display: block; width: 198px; height: 43px;"
                        src="{{ app.request.getSchemeAndHttpHost() ~ asset("bundles/app/img/email/" ~ user_type ~ "/link-btn.png") }}"
                        alt="download"/></a>
        </td>
    </tr>
</table>
{% endblock %}