{% extends 'AppBundle::email.html.twig' %}

{% block subject_text %}
    Váš profil úspešne vyplnený
{% endblock %}


{% block content %}
    <table border="0" width="520" align="center" cellpadding="0" cellspacing="0" class="container560">
        <tr>
            <td align="center" style="color: #454545; font-size: 22px; font-family: 'Open Sans', Arial, sans-serif;"
                class="main-header">Dobrý deň <strong>{{ user.username }}</strong></td>
        </tr>

        <tr>
            <td height="20"></td>
        </tr>

        <tr>
            <td align="center"
                style="color: #555555; font-size: 14px; font-family: 'Open Sans', Arial, sans-serif; line-height: 20px;">
                Práve ste si úspešne vyplnili profil na Pláne B. Teraz budeme od Vás potrebovať zaslať poštou Vami overené dokumenty, ktoré nájdete v prílohe.
            </td>
        </tr>

        <tr>
            <td height="20"></td>
        </tr>

        <tr>
            <td align="center"
                style="color: #555555; font-size: 14px; font-family: 'Open Sans', Arial, sans-serif; line-height: 20px;">
                Rámcová zmluva Vám umožňuje bezprostredný prístup k investíciám na portáli Plán B. Zaručuje Vám bezpečnosť a právnu ochranu v prípade akýchkoľvek problémov, no zároveň <strong>Vás k ničomu nezaväzuje</strong>. Je iba na Vás kedy zainvestujete a všetky investície sú bez poplatku!
            </td>
        </tr>

        <tr>
            <td height="20"></td>
        </tr>

        <tr>
            <td align="center"
                style="color: #555555; font-size: 14px; font-family: 'Open Sans', Arial, sans-serif; line-height: 20px;">
                Máte otázky či nejasnosti? Neváhajte nás kontaktovať na tel. čísle <strong>0948 06 99 44</strong>, alebo na emailovej adrese <a href="mailto:planb@planb.sk">planb@planb.sk</a>. Sme tu pre Vás.
            </td>
        </tr>

        <tr>
            <td height="20"></td>
        </tr>

        <tr>
            <td align="center"
                style="color: #555555; font-size: 14px; font-family: 'Open Sans', Arial, sans-serif; line-height: 20px;">
                <a href="{{ url("fos_user_profile_index") }}"
                   style="color: {{ basecolor }}">{{ url("fos_user_profile_index") }}</a>
            </td>
        </tr>

        <tr>
            <td height="20"></td>
        </tr>
        <tr>
            <td align="center"><a href="{{ url("fos_user_profile_index") }}"
                                  style="display: block; width: 198px;  border-style: none !important; border: 0 !important;"><img
                            width="198" height="43" border="0" style="display: block; width: 198px; height: 43px;"
                            src="{{ app.request.getSchemeAndHttpHost() ~ asset("bundles/app/img/email/" ~ user_type ~ "/link-btn.png") }}"
                            alt="download"/></a>
            </td>
        </tr>
    </table>
{% endblock %}