{% extends 'AppBundle::email.html.twig' %}

{% block subject_text %}
Aukcia {{ investment.loan.auctionTitle }}, v ktorej máte ponuku, bola poslaná na schválenie
{% endblock %}


{% block content %}
<table border="0" width="520" align="center" cellpadding="0" cellspacing="0" class="container560">
    <tr>
        <td align="center" style="color: #454545; font-size: 18px; font-family: 'Open Sans', Arial, sans-serif;"
            class="main-header">Dobrý deň <strong>{{ investment.user.username }}</strong></td>
    </tr>

    <tr>
        <td height="20"></td>
    </tr>

    <tr>
        <td align="center"
            style="color: #555555; font-size: 14px; font-family: 'Open Sans', Arial, sans-serif; line-height: 20px;">
            Žiadateľ <strong>{{ investment.loan.user.username }}</strong> schválil svoju aukciu <strong>{{ investment.loan.auctionTitle }}</strong> na čerpanie. Čiastka o výške <strong>{{ investment.amount|currency }}</strong> je teda na najlepšej ceste stať sa investíciou. O ďalšom postupe Vás budeme informovať emailom.
        </td>
    </tr>

    <tr>
        <td height="20"></td>
    </tr>

    <tr>
        <td align="center"
            style="color: #555555; font-size: 14px; font-family: 'Open Sans', Arial, sans-serif; line-height: 20px;">
            <a href="{{ url("hg_app_auction_detail", {slug: investment.loan.slug }) }}"
               style="color: {{ basecolor }}">{{ url("hg_app_auction_detail", {slug: investment.loan.slug }) }}</a>
        </td>
    </tr>

    <tr>
        <td height="20"></td>
    </tr>
    <tr>
        <td align="center"><a href="{{ url("hg_app_auction_detail", {slug: investment.loan.slug }) }}"
                              style="display: block; width: 198px;  border-style: none !important; border: 0 !important;"><img
                        width="198" height="43" border="0" style="display: block; width: 198px; height: 43px;"
                        src="{{ app.request.getSchemeAndHttpHost() ~ asset("bundles/app/img/email/" ~ user_type ~ "/link-btn.png") }}"
                        alt="download"/></a>
        </td>
    </tr>
</table>
{% endblock %}