{% extends 'AppBundle::email.html.twig' %}

{% block subject_text %}
    Zmeny vo Vami sledovaných aukciách
{% endblock %}


{% block content %}
    <table border="0" width="520" align="center" cellpadding="0" cellspacing="0" class="container560">
        <tr>
            <td align="center" style="color: #454545; font-size: 18px; font-family: 'Open Sans', Arial, sans-serif;"
                class="main-header">Dobrý deň <strong>{{ user.username }}</strong></td>
        </tr>

        <tr>
            <td height="20"></td>
        </tr>

        <tr>
            <td align="center"
                style="color: #555555; font-size: 14px; font-family: 'Open Sans', Arial, sans-serif; line-height: 20px;">
                Posielame Vám zoznam Vami sledovaných aukcií, v ktorých prebehli zmeny od Vašej poslednej návštevy
                daných aukcií.
            </td>
        </tr>

        <tr>
            <td height="20"></td>
        </tr>

        <tr>
            <td>
                <table style="width: 100%">
                    <thead>
                    <th style="background-color: {{ basecolor }};color: #fff">Názov</th>
                    <th style="background-color: {{ basecolor }};color: #fff">Suma</th>
                    <th style="background-color: {{ basecolor }};color: #fff">Úrok</th>
                    <th style="background-color: {{ basecolor }};color: #fff">Koniec</th>
                    </thead>
                    <tbody>
                    {% for loan in loans %}
                    <tr>
                        <td><a style="color: {{ basecolor }};" href="{{ url("hg_app_auction_detail", {slug: loan.slug}) }}">{{ loan.auctionTitle }}</a></td>
                        <td>{{ loan.auctionApprovedAmount|currency }}</td>
                        <td>{{ loan.auctionInterestAverage|interest }}</td>
                        <td style="text-align: right">{{ loan.auctionEndAt|countdown|raw }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </td>
        </tr>

        <tr>
            <td height="20"></td>
        </tr>
        <tr>
            <td align="center"
                style="color: #555555; font-size: 14px; font-family: 'Open Sans', Arial, sans-serif; line-height: 20px;">Pre prezretie Vami sledovaných aukcií na stránke Plánu B, alebo zrušenie odoberania emailových notifikácií, prosím kliknite na nasledujúci link:</td>
        </tr>

        <tr>
            <td height="20"></td>
        </tr>


        <tr>
            <td align="center"
                style="color: #555555; font-size: 14px; font-family: 'Open Sans', Arial, sans-serif; line-height: 20px;">
                <a href="{{ url("fos_user_investor_watchlist") }}"
                   style="color: {{ basecolor }}">{{ url("fos_user_investor_watchlist") }}</a>
            </td>
        </tr>

        <tr>
            <td height="20"></td>
        </tr>
        <tr>
            <td align="center"><a href="{{ url("fos_user_investor_watchlist") }}"
                                  style="display: block; width: 198px;  border-style: none !important; border: 0 !important;"><img
                            width="198" height="43" border="0" style="display: block; width: 198px; height: 43px;"
                            src="{{ app.request.getSchemeAndHttpHost() ~ asset("bundles/app/img/email/" ~ user_type ~ "/link-btn.png") }}"
                            alt="download"/></a>
            </td>
        </tr>
    </table>
{% endblock %}