{% extends 'AppBundle::email.html.twig' %}

{% block subject_text %}
    Potvrdzovací email pre registráciu na Pláne B
{% endblock %}


{% block content %}
    <table border="0" width="520" align="center" cellpadding="0" cellspacing="0" class="container560">
        <tr>
            <td align="center" style="color: #454545; font-size: 18px; font-family: 'Open Sans', Arial, sans-serif;"
                class="main-header">Dobrý deň <strong>{{ user.username }}</strong></td>
        </tr>

        <tr>
            <td height="20"></td>
        </tr>

        <tr>
            <td align="center"
                style="color: #555555; font-size: 14px; font-family: 'Open Sans', Arial, sans-serif; line-height: 20px;">
                Na dokončenie registrácie žiadateľa potrebujeme od Vás už iba potvrdenie registrácie. Kliknite prosím na
                link nižšie, alebo ho skopírujte do Vášho prehliadača.
            </td>
        </tr>

        <tr>
            <td height="20"></td>
        </tr>

        <tr>
            <td align="center"
                style="color: #555555; font-size: 14px; font-family: 'Open Sans', Arial, sans-serif; line-height: 20px;">
                <a style="color: {{ basecolor }}"
                   href="{{ url("fos_user_registration_confirm", {token: user.confirmationToken }) }}"
                   target="_blank">{{ url("fos_user_registration_confirm", {token: user.confirmationToken }) }}</a>
            </td>
        </tr>
        <tr>
            <td height="20"></td>
        </tr>
        <tr>
            <td align="center"><a href="{{ url("fos_user_registration_confirm", {token: user.confirmationToken }) }}"
                                  style="display: block; width: 198px;  border-style: none !important; border: 0 !important;"><img
                            width="198" height="43" border="0" style="display: block; width: 198px; height: 43px;"
                            src="{{ app.request.getSchemeAndHttpHost() ~ asset("bundles/app/img/email/" ~ user_type ~ "/link-btn.png") }}"
                            alt="download"/></a>
            </td>
        </tr>
    </table>
{% endblock %}