{% extends 'AppBundle::email.html.twig' %}

{% block subject_text %}
Práve ste obdržali {{ transaction.specificNumber }}. splátku úroku z investície do pôžičky {{ transaction.loan.formattedId }}
{% endblock %}


{% block content %}
<table border="0" width="520" align="center" cellpadding="0" cellspacing="0" class="container560">
    <tr>
        <td align="center" style="color: #454545; font-size: 18px; font-family: 'Open Sans', Arial, sans-serif;"
            class="main-header">Dobrý deň <strong>{{ transaction.toUser.username }}</strong></td>
    </tr>

    <tr>
        <td height="20"></td>
    </tr>

    <tr>
        <td align="center"
            style="color: #555555; font-size: 14px; font-family: 'Open Sans', Arial, sans-serif; line-height: 20px;">
            Čiastka <strong>{{ transaction.amount|currency }}</strong> úroku bola pripísaná z <strong>{{ transaction.specificNumber }}.</strong> splátky k pôžičke <strong>{{ transaction.loan.auctionTitle }}</strong>. Dané finančné prostriedky boli prispísané k Vašemu účtu na Plan B, ktoré su Vám k dispozícií.
        </td>
    </tr>

    <tr>
        <td height="20"></td>
    </tr>

    <tr>
        <td align="center"
            style="color: #555555; font-size: 14px; font-family: 'Open Sans', Arial, sans-serif; line-height: 20px;">
            <a href="{{ url("fos_user_investor_transactions") }}"
               style="color: {{ basecolor }}">{{ url("fos_user_investor_transactions") }}</a>
        </td>
    </tr>

    <tr>
        <td height="20"></td>
    </tr>
    <tr>
        <td align="center"><a href="{{ url("fos_user_investor_transactions") }}"
                              style="display: block; width: 198px;  border-style: none !important; border: 0 !important;"><img
                        width="198" height="43" border="0" style="display: block; width: 198px; height: 43px;"
                        src="{{ app.request.getSchemeAndHttpHost() ~ asset("bundles/app/img/email/" ~ user_type ~ "/link-btn.png") }}"
                        alt="download"/></a>
        </td>
    </tr>
</table>
{% endblock %}