{% extends 'AppBundle::email.html.twig' %}

{% block subject_text %}
Zaznamenávame omeškanie Vašej {{ transaction.specificNumber }}. splátky pôžičky {{ transaction.loan.formattedId }}
{% endblock %}


{% block content %}
<table border="0" width="520" align="center" cellpadding="0" cellspacing="0" class="container560">
    <tr>
        <td align="center" style="color: #454545; font-size: 18px; font-family: 'Open Sans', Arial, sans-serif;"
            class="main-header">Dobrý deň <strong>{{ transaction.fromUser.username }}</strong></td>
    </tr>

    <tr>
        <td height="20"></td>
    </tr>

    <tr>
        <td align="center"
            style="color: #555555; font-size: 14px; font-family: 'Open Sans', Arial, sans-serif; line-height: 20px;">
            Dňa <strong>{{ transaction.dueDate|date("d.m.Y") }}</strong> sme očakávali vyplatenie <strong>{{ transaction.specificNumber }}.</strong>
            splátky Vašej pôžičky s názvom <strong>{{ transaction.loan.auctionTitle }}</strong>. Prosíme vložte sumu <strong>{{ transaction.amount|currency }}</strong> na náš účet a čo najskôr nás kontaktujte. Kompletné platobné informácie nájdete ešte raz v tabuľke nižšie.
        </td>
    </tr>

    <tr>
        <td height="20"></td>
    </tr>

    <tr>
        <td align="center"
            style="color: #555555; font-size: 14px; font-family: 'Open Sans', Arial, sans-serif; line-height: 20px;">
            <table width="100%">
                <tr>
                    <td align="center" style="background: #efefef; padding: 14px 8px">
                        <strong>{{ "bank.number"|trans }}</strong><br>
                        {{ bank.number }}/{{ bank.suffix }}
                    </td>
                </tr>
                <tr>
                    <td align="center" style=" padding: 14px 8px">
                        <strong>{{ "bank.variable_number"|trans }}</strong><br>
                        {{ transaction.variableNumber }}
                    </td>
                </tr>
                <tr>
                    <td align="center" style="background: #efefef;padding: 14px 8px">
                        <strong>{{ "bank.specific_number"|trans }}</strong><br>
                        {{ transaction.specificNumber }}
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding: 14px 8px">
                        <strong>{{ "bank.amount"|trans }}</strong><br>
                        {{ transaction.amount|currency }}
                    </td>
            </table>
        </td>
    </tr>

    <tr>
        <td height="20"></td>
    </tr>

    <tr>
        <td align="center"
            style="color: #555555; font-size: 14px; font-family: 'Open Sans', Arial, sans-serif; line-height: 20px;">
            Kontaktné informácie na nás nájdete v linku nižšie.
        </td>
    </tr>

    <tr>
        <td height="20"></td>
    </tr>

    <tr>
        <td align="center"
            style="color: #555555; font-size: 14px; font-family: 'Open Sans', Arial, sans-serif; line-height: 20px;">
            <a href="{{ url("hg_app_contact") }}"
               style="color: {{ basecolor }}">{{ url("hg_app_contact") }}</a>
        </td>
    </tr>

    <tr>
        <td height="20"></td>
    </tr>
    <tr>
        <td align="center"><a href="{{ url("hg_app_contact") }}"
                              style="display: block; width: 198px;  border-style: none !important; border: 0 !important;"><img
                        width="198" height="43" border="0" style="display: block; width: 198px; height: 43px;"
                        src="{{ app.request.getSchemeAndHttpHost() ~ asset("bundles/app/img/email/" ~ user_type ~ "/link-btn.png") }}"
                        alt="download"/></a>
        </td>
    </tr>
</table>
{% endblock %}