{% extends 'AppBundle::email.html.twig' %}

{% block subject_text %}
Váš vklad  {{ transaction.variableNumber }} vo výške {{ transaction.amount|currency }} bol úspešne pripísaný na účet
{% endblock %}


{% block content %}
<table border="0" width="520" align="center" cellpadding="0" cellspacing="0" class="container560">
    <tr>
        <td align="center" style="color: #454545; font-size: 18px; font-family: 'Open Sans', Arial, sans-serif;"
            class="main-header">Dobrý deň <strong>{{ transaction.fromUser.username }}</strong></td>
    </tr>

    <tr>
        <td height="20"></td>
    </tr>

    <tr>
        <td align="center"
            style="color: #555555; font-size: 14px; font-family: 'Open Sans', Arial, sans-serif; line-height: 20px;">
            Dotácia Vášho účtu vo výške <strong>{{ transaction.amount|currency }}</strong> prebehla úspešne. S vloženými peniazmi teraz môžete jednoducho vkladať ponuky do aukcií.
        </td>
    </tr>

    <tr>
        <td height="20"></td>
    </tr>

    <tr>
        <td align="center"
            style="color: #555555; font-size: 14px; font-family: 'Open Sans', Arial, sans-serif; line-height: 20px;">
            <a href="{{ url("hg_app_auction_index") }}"
               style="color: {{ basecolor }}">{{ url("hg_app_auction_index") }}</a>
        </td>
    </tr>

    <tr>
        <td height="20"></td>
    </tr>
    <tr>
        <td align="center"><a href="{{ url("hg_app_auction_index") }}"
                              style="display: block; width: 198px;  border-style: none !important; border: 0 !important;"><img
                        width="198" height="43" border="0" style="display: block; width: 198px; height: 43px;"
                        src="{{ app.request.getSchemeAndHttpHost() ~ asset("bundles/app/img/email/" ~ user_type ~ "/link-btn.png") }}"
                        alt="download"/></a>
        </td>
    </tr>
</table>
{% endblock %}