{% extends "FOSUserBundle::layout_sidebar_profile.html.twig" %}
{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}

{% block breadcrumb_inner %}
    {{ parent() }}
    <li>
        <a href="{{ path("fos_user_profile_index") }}">{{ "profile_sidebar_menu.my_account"|trans({}, 'FOSUserBundle') }}</a>
    </li>
    <li><span>{{  "investments.paid.heading"|trans }}</span></li>
{% endblock breadcrumb_inner %}

{% block content %}
    <div class="icon-box">
        <div class="icon">
            <i class="icon-coin"></i>
        </div>
        <div class="text">
            <h2>{{ "investments.paid.heading"|trans }}</h2>

            <p>{{ "investments.paid.desc"|trans }}</p>
        </div>
    </div>

    <div class="investment-list">

        <table class="table">
            <thead>
                <tr>
                    <th>
                        <span class="loan-name">{{ "investments.table.loan_name"|trans }}</span>
                    </th>
                    <th>
                        <span class="amount">{{ "investments.table.amount"|trans }}</span>
                    </th>
                    <th>
                        <span class="interest">{{ "investments.table.interest"|trans }}</span>
                    </th>
                    <th>
                        <span class="created-at">{{ "investments.table.created_at"|trans }}</span>
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for investment in investments %}
                <tr class="status-{{ investment.status }}">
                    <th>
                        <a class="loan-name" href="{{ path("hg_app_auction_detail", {slug: investment.loan.slug }) }}">{{ investment.loan.auctionTitle }}</a>
                    </th>
                    <th>
                        <span class="amount">{{ investment.amount|currency }}</span>
                    </th>
                    <th>
                        <span class="interest">{{ investment.interest|interest }}</span>
                    </th>
                    <th>
                        <span class="created-at">{{ investment.createdAt|date("d.m.Y") }}</span>
                    </th>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">
                        <div class="no-result text-center">{{ "investments.table.no_results"|trans }}</div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {{ knp_pagination_render(investments) }}
{% endblock content %}
