{% from 'AppBundle:macros:planb.html.twig' import icon_box %}

<div class="row">
    <div class="col-xs-6 brand-customer">
        {{ icon_box('icon-calculate', '<h2>' ~ "calculators.loan.heading"|trans({}, "texts") ~ '</h2>'
        ~ "<p>" ~ "calculators.loan.info"|trans({}, "texts") ~ '</p>' ) }}

        {% include "AppBundle:includes/textBlocks:calculator-loan.html.twig" %}
    </div>
    <div class="col-xs-6 brand-investor">
        {{ icon_box('icon-support', '<h2>' ~ "calculators.lifebuoy.heading"|trans({}, "texts") ~ '</h2>'
        ~ "<p>" ~ "calculators.lifebuoy.info"|trans({}, "texts") ~ '</p>' ) }}

        {% include "AppBundle:includes/textBlocks:calculator-lifebuoy.html.twig" %}
    </div>
</div>