{% set calculatorInvestmentLeft = calculatorInvestmentLeft|default(6) %}
<div class="calculator-box investment-calculator">
    <div class="row">
        <div class="col-xs-{{ calculatorInvestmentLeft }}">
            <div class="loan-height">
                <strong>{{ "calculators.investment.amount"|trans({}, "texts") }} <span class="value"></span> €</strong><div class="slider" data-value="300" data-min="25" data-max="500"></div>
                <div class="row">
                    <div class="col-xs-6">25 €</div>
                    <div class="col-xs-6 text-right">500 €</div>
                </div>
            </div>
            <div class="loan-length">
                <strong>{{ "calculators.investment.maturity"|trans({}, "texts") }} <span class="value"></span> mes.</strong><div class="slider" data-value="48" data-min="12" data-max="60"></div>
                <div class="row">
                    <div class="col-xs-6">12 mes</div>
                    <div class="col-xs-6 text-right">60 mes</div>
                </div>
            </div>
            <div class="loan-interest">
                <strong>{{ "calculators.investment.interest"|trans({}, "texts") }} <span class="value"></span> % p.a.</strong><div class="slider" data-value="20" data-min="0" data-max="29"></div>
                <div class="row">
                    <div class="col-xs-6">0 %</div>
                    <div class="col-xs-6 text-right">29 %</div>
                </div>
            </div>
        </div>
        <div class="col-xs-{{ 12 - calculatorInvestmentLeft }}">
            <div class="circle loan-result">
                <div class="text">
                    {{ "calculators.investment.circle.text_up"|trans({}, "texts") }}<br><span class="result"><span class="value"></span> €<br></span>{{ "calculators.investment.circle.text_bottom"|trans({}, "texts") }}
                </div>
            </div>
        </div>
    </div>
</div>