{% set calculatorLoanLeft = calculatorLoanLeft|default(6) %}
<div class="calculator-box loan-calculator">
    <div class="row">
        <div class="col-xs-{{ calculatorLoanLeft }}">
            <div class="loan-height">
                <strong>{{ "calculators.loan.amount"|trans({}, "texts") }} <span class="value"></span> €</strong><div class="slider" data-value="3000" data-min="300" data-max="10000"></div>
                <div class="row">
                    <div class="col-xs-6">300 €</div>
                    <div class="col-xs-6 text-right">10000 €</div>
                </div>
            </div>
            <div class="loan-length">
                <strong>{{ "calculators.loan.maturity"|trans({}, "texts") }} <span class="value"></span> mes.</strong><div class="slider" data-value="48" data-min="12" data-max="60"></div>
                <div class="row">
                    <div class="col-xs-6">12 mes</div>
                    <div class="col-xs-6 text-right">60 mes</div>
                </div>
            </div>
            <div class="loan-interest">
                <strong>{{ "calculators.loan.interest"|trans({}, "texts") }} <span class="value"></span> % p.a.</strong>
                <div class="slider" data-value="5" data-min="0" data-max="29"></div>
                <div class="row">
                    <div class="col-xs-6">0 %</div>
                    <div class="col-xs-6 text-right">29 %</div>
                </div>
            </div>
        </div>
        <div class="col-xs-{{ 12 - calculatorLoanLeft }}">
            <div class="circle loan-result">
                <div class="text">
                    {{ "calculators.loan.circle.text_up"|trans({}, "texts") }}<br><span class="result"><span class="value"></span> €<br></span>{{ "calculators.loan.circle.text_bottom"|trans({}, "texts") }}
                </div>
            </div>
        </div>
    </div>
</div>