{% set calculatorInvestmentLeft = calculatorInvestmentLeft|default(6) %}
<div class="calculator-box lifebuoy-calculator">
    <div class="row">
        <div class="col-xs-{{ calculatorInvestmentLeft }}">
            <div class="benefit"><span class="icon-checkmark"></span> {{ "calculators.lifebuoy.benefit1"|trans({}, "texts") }}</div>
            <div class="benefit"><span class="icon-checkmark"></span> {{ "calculators.lifebuoy.benefit2"|trans({}, "texts") }}</div>
            <div class="benefit"><span class="icon-checkmark"></span> {{ "calculators.lifebuoy.benefit3"|trans({}, "texts") }}</div>
            <div class="benefit"><span class="icon-checkmark"></span> {{ "calculators.lifebuoy.benefit4"|trans({}, "texts") }}</div>
            <div><a class="btn btn-brand" href="{{ path("hg_app_page", {slug: "zachranne-koleso"}) }}">{{ "calculators.lifebuoy.more_btn"|trans({}, "texts") }}</a></div>
        </div>
        <div class="col-xs-{{ 12 - calculatorInvestmentLeft }}">
            <div class="circle loan-result">
                <div class="text">
                    {{ "calculators.lifebuoy.circle.text_up"|trans({}, "texts") }}<br><span class="result">{{ lifebuoy.value|currency }}</span><br></span>{{ "calculators.lifebuoy.circle.text_bottom"|trans({}, "texts") }}
                </div>
            </div>
        </div>
    </div>
</div>