{% extends "FOSUserBundle::layout_sidebar_profile.html.twig" %}

{% block breadcrumb_inner %}
    {{ parent() }}
    <li>
        <a href="{{ path("fos_user_profile_index") }}">{{  "profile_sidebar_menu.my_account"|trans({},  'FOSUserBundle') }}</a>
    </li>
    <li><span>{{ "watchlist.heading"|trans({}, "messages") }}</span></li>
{% endblock breadcrumb_inner %}

{% block content %}
    <div class="icon-box">
        <div class="icon">
            <i class="icon-eye"></i>
        </div>
        <div class="text">
            <h2>{{ "watchlist.heading"|trans }}</h2>
        </div>
    </div>
    <p>{{ "watchlist.description"|trans }}</p>

    <div id="watchlist-user" class="watchlist-list">

        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>
                    <span class="name">{{ "customer_auctions.name"|trans }}</span>
                    <span class="id">{{ "customer_auctions.id"|trans }}</span>
                </th>
                <th>
                    <span class="goal">{{ "customer_auctions.approved_amoount"|trans }}</span>
                    <span class="acquired">{{ "customer_auctions.collected_amount"|trans }}</span>
                </th>
                <th><span class="interest">{{ "customer_auctions.interest"|trans }}</span>
                    <span class="financed">{{ "customer_auctions.collected_percentage"|trans }}</span>
                </th>
                <th>
                    <span class="end">{{ "customer_auctions.end"|trans }}</span>
                </th>
                <th>
                    <span class="status">{{ "customer_auctions.status"|trans }}</span>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for watchlist in watchlists %}
                {% set loan = watchlist.loan %}
                <tr>
                    <td>
                        <span class="icon-eye watchlist{{ watchlist.updated ? " notification" : "" }}"></span>
                    </td>
                    <td>
                        <span class="name"><a
                                    href="{{ path("hg_app_auction_detail", {slug: loan.slug}) }}">{{ loan.auctionTitle }}</a></span>
                        <span class="id">{{ loan.formattedId }}</span>
                    </td>
                    <td>
                        <span class="goal">{{ loan.auctionApprovedAmount|currency }}</span>
                        <span class="acquired">{{ loan.auctionCollectedAmount|currency }}</span>
                    </td>
                    <td><span class="interest">{{ loan.auctionInterestAverage|interest }}</span>
                        <span class="financed">{{ loan.auctionCollectedPercentage|percentage }}</span>
                    </td>
                    <td>
                        <span class="end">{{ loan.auctionEndAt|countdown|raw }}</span>
                    </td>
                    <td>
                        <span class="status">{{ ("loan.status." ~ loan.status)|trans }}</span>
                    </td>
                    <td>
                        <a href="{{ path("hg_app_ajax_watchlist", {loanId: loan.id, "_format" : "json"}) }}"
                           class="remove-watchlist tooltip-popup"
                           data-message="{{ "watchlist.to_delete_question"|trans }}"
                           title="{{ "watchlist.delete_watchlist"|trans }}">
                            <span class="icon-cancel-circle"></span>
                        </a>
                    </td>
                </tr>
            {% else %}
                <td colspan="6">
                    <div class="no-result text-center">{{ "customer_auctions.no_results"|trans }}</div>
                </td>
            {% endfor %}
            </tbody>
        </table>

        {{ knp_pagination_render(watchlists ) }}

        <p>
            <a href="{{ path("hg_app_ajax_notifications_watchlist", {"_format" : "json"}) }}" class="notifications-change brand-link {{ app.user.notificationsWatchlist ? "icon-checkbox-checked" : "icon-checkbox-unchecked" }}"></a>
            {{ "watchlist.notifications_change"|trans({"%email%" : app.user.email}) }}
        </p>

    </div>
{% endblock content %}
