{% extends "FOSUserBundle::layout_sidebar_profile.html.twig" %}
{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}


{% block breadcrumb_inner %}
    {{ parent() }}
    <li>
        <a href="{{ path("fos_user_profile_index") }}">{{ "profile_sidebar_menu.my_account"|trans({},  'FOSUserBundle') }}</a>
    </li>
    <li><span>{{ "watchdog.heading"|trans({}, "messages") }}</span></li>
{% endblock breadcrumb_inner %}


{% block content %}

    {% block flashes %}
        {% if app.session.flashbag.peekAll|length > 0 %}
            {{ session_flash(null, null, null, "messages") }}
        {% endif %}
    {% endblock flashes %}

    <div class="icon-box">
        <div class="icon">
            <i class="icon-podcast"></i>
        </div>
        <div class="text">
            <h2>{{ "watchdog.heading"|trans }}</h2>
        </div>
    </div>
    <p>{{ "watchdog.description"|trans }}</p>


    <div id="filter" class="watchdog">
        <form class="filter" action="{{ path("fos_user_investor_watchdog") }}" enctype="multipart/form-data" method="post">
            <h3>{{ "watchdog.form.new_filter"|trans }}</h3>
            <input class="form-control" name="filter[name]" placeholder="{{ "watchdog.form.new_filter"|trans }}">


            <div class="slider-wrap">
                <h3>{{ "filter.auction_amount"|trans }}</h3>
                <div class="slider" data-min="300" data-max="10000"></div>
                <input type="hidden" name="filter[amountMin]" class="min-value" value="300">
                <input type="hidden" name="filter[amountMax]" class="max-value" value="10000">

                <div class="row">
                    <div class="col-xs-6"><span class="min-value"></span> €</div>
                    <div class="col-xs-6 text-right"><span class="max-value"></span> €</div>
                </div>
            </div>

            <h3>{{ "watchdog.form.rating"|trans }}</h3>
            <div class="ratings">
                <div>
                    <label class="rating rating-1" for="filter-rating-1"><span></span>
                        {{ "loan.rating"|trans }}<br>{{ "loan.rating_1"|trans }}
                    </label><br>
                    <input id="filter-rating-1" name="filter[rating][]" type="checkbox"
                           value="1" checked>
                </div>
                <div>
                    <label class="rating rating-2" for="filter-rating-2">
                        {{ "loan.rating"|trans }}<br>{{ "loan.rating_2"|trans }}
                    </label><br>
                    <input id="filter-rating-2" name="filter[rating][]" type="checkbox"
                           value="2" checked>
                </div>
                <div>
                    <label class="rating rating-3" for="filter-rating-3">
                        {{ "loan.rating"|trans }}<br>{{ "loan.rating_3"|trans }}
                    </label><br>
                    <input id="filter-rating-3" name="filter[rating][]" type="checkbox"
                           value="3" checked>
                </div>
                <div>
                    <label class="rating rating-4" for="filter-rating-4">
                        {{ "loan.rating"|trans }}<br>{{ "loan.rating_4"|trans }}
                    </label><br>
                    <input id="filter-rating-4" name="filter[rating][]" type="checkbox"
                           value="4" checked>
                </div>
                <div>
                    <label class="rating rating-5" for="filter-rating-5">
                        {{ "loan.rating"|trans }}<br>{{ "loan.rating_5"|trans }}
                    </label><br>
                    <input id="filter-rating-5" name="filter[rating][]" type="checkbox"
                           value="5" checked>
                </div>
            </div>

            <h3>{{ "filter.maturity"|trans }}</h3>
            <div class="maturity">
                <span>
                            <input name="filter[maturity][]" type="checkbox" id="maturity12"
                                   value="12" checked>
                            <label class="btn btn-maturity" for="maturity12"><strong>1</strong>rok</label>
                        </span>
                        <span>
                            <input name="filter[maturity][]" type="checkbox" id="maturity24"
                                   value="24" checked>
                            <label class="btn btn-maturity" for="maturity24"><strong>2</strong>roky</label>
                        </span>
                        <span>
                            <input name="filter[maturity][]" type="checkbox" id="maturity36"
                                   value="36" checked>
                           <label class="btn btn-maturity" for="maturity36"><strong>3</strong>roky</label>
                        </span>
                        <span>
                            <input name="filter[maturity][]" type="checkbox" id="maturity48"
                                   value="48" checked>
                           <label class="btn btn-maturity" for="maturity48"><strong>4</strong>roky</label>
                        </span>
                        <span>
                            <input name="filter[maturity][]" type="checkbox" id="maturity60"
                                   value="60" checked>
                        <label class="btn btn-maturity" for="maturity60"><strong>5</strong>rokov</label>
                        </span>
            </div>


            <div id="interest-average" class="slider-wrap">
                <h3>{{ "filter.interest_average"|trans }}</h3>

                <div class="slider" data-min="0" data-max="29.99"></div>
                <input type="hidden" name="filter[interestAverageMin]" class="min-value" value="0">
                <input type="hidden" name="filter[interestAverageMax]" class="max-value" value="29.99">

                <div class="row">
                    <div class="col-xs-6"><span class="min-value"></span> %</div>
                    <div class="col-xs-6 text-right"><span class="max-value"></span> %</div>
                </div>
            </div>

            <div class="slider-wrap">
                <h3>{{ "filter.collected_amount"|trans }}</h3>

                <div class="slider" data-min="0" data-max="100"></div>
                <input type="hidden" name="filter[collectedPercentageMin]" class="min-value" value="0">
                <input type="hidden" name="filter[collectedPercentageMax]" class="max-value" value="100">

                <div class="row">
                    <div class="col-xs-6"><span class="min-value"></span> %</div>
                    <div class="col-xs-6 text-right"><span class="max-value"></span> %</div>
                </div>
            </div>

            <div class="slider-wrap">
                <h3>{{ "filter.auction_days_end"|trans }}</h3>

                <div class="slider" data-min="0" data-max="30"></div>
                <input type="hidden" name="filter[daysEndMin]" class="min-value"
                       value="0">
                <input type="hidden" name="filter[daysEndMax]" class="max-value"
                       value="30">

                <div class="row">
                    <div class="col-xs-6"><span class="min-value"></span> {{ "days"|trans }}</div>
                    <div class="col-xs-6 text-right"><span class="max-value"></span> {{ "days"|trans }}</div>
                </div>
            </div>

            <div class="submit">
                <button type="submit" class="btn btn-customer">Pridať nový filter</button>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="brand-investor-light col-xs-12">
            <div class="icon-box">
                <div class="icon">
                    <i class="icon-settings"></i>
                </div>
                <div class="text">
                    <h2>{{ "watchdog.table.heading"|trans }}</h2>
                </div>
            </div>
        </div>
    </div>


    <div id="watchdog-user" class="watchdog-list">

        <table class="table">
            <thead>
            <tr>
                <th>
                    <span class="name">{{ "watchdog.table.name"|trans }}</span>
                </th>
                <th>
                    <span class="ratings">{{ "watchdog.table.ratings"|trans }}</span>
                </th>
                <th>
                    <span class="maturity">{{ "watchdog.table.maturity"|trans }}</span>
                </th>
                <th>
                    <span class="amount">{{ "watchdog.table.amount"|trans }}</span>
                </th>
                <th>
                    <span class="days-end">{{ "watchdog.table.days_end"|trans }}</span>
                </th>
                <th>
                    <span class="days-end">{{ "watchdog.table.collected"|trans }}</span>
                </th>
                <th>
                    <span class="interest">{{ "watchdog.table.interest"|trans }}</span>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for watchdog in watchdogs %}
                <tr>
                    <td>
                        <span class="name">{{ watchdog.name }}</span>
                    </td>
                    <td>
                        <span class="ratings">
                            {% for rating in watchdog.auctionRating %}
                                {{ ("loan.rating_" ~ rating)|trans }}{{ loop.last ? "" : "," }}
                            {% endfor %}
                        </span>
                    </td>
                    <td><span class="maturity">
                            {% for maturity in watchdog.loanMaturity %}
                                {{ ("loan.maturity_" ~ maturity)|trans }}{{ loop.last ? "" : "," }}
                            {% endfor %}
                        </span>
                    </td>
                    <td>
                        <span class="amount-min">{{ watchdog.amountMin|currency }}</span> -
                        <span class="amount-max">{{ watchdog.amountMax|currency }}</span>
                    </td>
                    <td>
                        <span class="days-end-min">{{ watchdog.daysEndMin }} dní</span> -
                        <span class="days-end-max">{{ watchdog.daysEndMax }} dní</span>
                    </td>
                    <td>
                        <span class="interest-min">{{ watchdog.interestAverageMin|interest }}</span> -
                        <span class="interest-max">{{ watchdog.interestAverageMax|interest }}</span>
                    </td>
                    <td>
                        <span class="collected-percentage-min">{{ watchdog.collectedPercentageMin|percentage }}</span> -
                        <span class="collected-percentage-max">{{ watchdog.collectedPercentageMax|percentage }}</span>
                    </td>
                    <td>
                        <a href="{{ path("hg_app_ajax_watchdog_remove", {watchdogId: watchdog.id, "_format" : "json"}) }}"
                           class="remove-watchdog tooltip-popup"
                           data-message="{{ "watchdog.to_delete_question"|trans }}"
                           title="{{ "watchdog.delete_watchdog"|trans }}">
                            <span class="icon-cancel-circle"></span>
                        </a>
                    </td>
                </tr>
            {% else %}
                <td colspan="6">
                    <div class="no-result text-center">{{ "watchdog.no_results"|trans }}</div>
                </td>
            {% endfor %}
            </tbody>
        </table>

        {{ knp_pagination_render(watchdogs ) }}

        <p>
            <a href="{{ path("hg_app_ajax_notifications_watchdog", {"_format" : "json"}) }}" class="notifications-change brand-link {{ app.user.notificationsWatchdog ? "icon-checkbox-checked" : "icon-checkbox-unchecked" }}"></a>
            {{ "watchlist.notifications_change"|trans({"%email%" : app.user.email}) }}
        </p>

    </div>


{% endblock content %}
