<table class="table table-striped">
<tbody>
<tr>
    <td>{{ ("Id")|trans() }}</td>
    <td><b>{{ loan.formattedId }}</b></td>
</tr>
<tr>
    <td>{{ ("Status")|trans() }}</td>
    <td><b>{{ ("loan.status." ~ loan.status)|trans() }}</b></td>
</tr>
<tr>
    <th colspan="2" class="heading">{{ "loan_validate.step_1"|trans }}</th>
</tr>
<tr>
    <th>{{ "loan.title"|trans }}</th>
    <td>{{ loan.auctionTitle }}</td>
</tr>
<tr>
    <th>{{ "loan.purpose"|trans }}</th>
    <td>{{ ("loan.purpose_" ~ loan.loanPurpose)|trans }}</td>
</tr>
{% if loan.auctionRequestedAmount!= loan.auctionApprovedAmount %}
    <tr>
        <th>
            <del>{{ "loan.requested_amount"|trans }}</del>
        </th>
        <td>
            <del>{{ loan.auctionRequestedAmount|currency }}
                <del>
        </td>
    </tr>
{% endif %}
<tr>
    <th>{{ "loan.approved_amount"|trans }}</th>
    <td>{{ loan.auctionApprovedAmount|currency }}</td>
</tr>
<tr>
    <th>{{ "loan.maturity"|trans }}</th>
    <td>{{ ("loan.maturity_" ~ loan.loanMaturity) | trans }}</td>
</tr>
<tr>
    <th>{{ "loan.purpose"|trans }}</th>
    <td>{{ ("loan.purpose_"  ~ loan.loanPurpose) | trans }}</td>
</tr>
<tr>
    <th>{{ "loan.rating"|trans }}</th>
    <td>{{ ("loan.rating_" ~ loan.auctionRating)|trans }}</td>
</tr>
<tr>
    <th colspan="2" class="heading">{{ "loan_validate.step_2"|trans }}</th>
</tr>
<tr>
    <th>{{ "profile.title"|trans }}</th>
    <td>{{ loan.profile.title }}</td>
</tr>
<tr>
    <th>{{ "profile.name"|trans }}</th>
    <td>{{ loan.profile.name }}</td>
</tr>
<tr>
    <th>{{ "profile.surname"|trans }}</th>
    <td>{{ loan.profile.surname }}</td>
</tr>
{% if loan.profile.birthSurname|trim %}
    <tr>
        <th>{{ "profile.birth_surname"|trans }}</th>
        <td>{{ loan.profile.birthSurname }}</td>
    </tr>
{% endif %}
<tr>
    <th>{{ "profile.gender"|trans }}</th>
    <td>{{ ("profile.gender_"  ~ loan.profile.gender)|trans }}</td>
</tr>
<tr>
    <th>{{ "profile.family_status"|trans }}</th>
    <td>{{ ("profile.family_status_"  ~ loan.profile.familyStatus)|trans }}</td>
</tr>
<tr>
    <th>{{ "profile.education"|trans }}</th>
    <td>{{ ("profile.education_"  ~ loan.profile.education)|trans }}</td>
</tr>
<tr>
    <th>{{ "profile.is_student"|trans }}</th>
    <td>{{ (loan.profile.student ? "bool_1" : "bool_0")|trans }}</td>
</tr>
<tr>
    <th>{{ "profile.birth_date"|trans }}</th>
    <td>{{ loan.profile.birthDate|date("d.m.Y") }}</td>
</tr>
<tr>
    <th>{{ "profile.personal_id"|trans }}</th>
    <td>{{ loan.profile.personalId }}</td>
</tr>
<tr>
    <th>{{ "profile.citizenship"|trans }}</th>
    <td>{{ loan.profile.citizenship }}</td>
</tr>
<tr>
    <th>{{ "profile.id_card"|trans }}</th>
    <td>{{ loan.profile.idCard }}</td>
</tr>
<tr>
    <th colspan="2" class="heading">{{ "loan_validate.step_3"|trans }}</th>
</tr>
<tr>
    <th>{{ "profile.address_street"|trans }}</th>
    <td>{{ loan.profile.addressStreet }}</td>
</tr>
<tr>
    <th>{{ "profile.address_number"|trans }}</th>
    <td>{{ loan.profile.addressNumber }}</td>
</tr>
<tr>
    <th>{{ "profile.address_city"|trans }}</th>
    <td>{{ loan.profile.addressCity }}</td>
</tr>
<tr>
    <th>{{ "profile.address_zip"|trans }}</th>
    <td>{{ loan.profile.addressZip }}</td>
</tr>
<tr>
    <th>{{ "profile.address_country"|trans }}</th>
    <td>{{ loan.profile.addressCountry|country }}</td>
</tr>
{% if loan.profile.addressCountry == "SK" %}
    <tr>
        <th>{{ "profile.address_region"|trans }}</th>
        <td>{{ ("profile.address_region_"  ~ loan.profile.addressRegion)|trans }}</td>
    </tr>
{% endif %}
{% if loan.profile.addressTel %}
    <tr>
        <th>{{ "profile.address_tel"|trans }}</th>
        <td>{{ loan.profile.addressTel }}</td>
    </tr>
{% endif %}
<tr>
    <th>{{ "profile.address_mobil"|trans }}</th>
    <td>{{ loan.profile.addressMobil }}</td>
</tr>
{% if loan.profile.addressContactNotSame %}
    <tr>
        <th colspan="2" class="heading">{{ "profile.address_contact_address"|trans }}</th>
    </tr>
    <tr>
        <th>{{ "profile.address_street"|trans }}</th>
        <td>{{ loan.profile.addressContactStreet }}</td>
    </tr>
    <tr>
        <th>{{ "profile.address_number"|trans }}</th>
        <td>{{ loan.profile.addressContactNumber }}</td>
    </tr>
    <tr>
        <th>{{ "profile.address_city"|trans }}</th>
        <td>{{ loan.profile.addressContactCity }}</td>
    </tr>
    <tr>
        <th>{{ "profile.address_zip"|trans }}</th>
        <td>{{ loan.profile.addressContactZip }}</td>
    </tr>
    <tr>
        <th>{{ "profile.address_country"|country }}</th>
        <td>{{ loan.profile.addressContactCountry }}</td>
    </tr>
    {% if loan.profile.addressContactCountry == "SK" %}
        <tr>
            <th>{{ "profile.address_region"|trans }}</th>
            <td>{{ ("profile.address_region_"  ~ loan.profile.addressContactRegion)|trans }}</td>
        </tr>
    {% endif %}
{% endif %}
<tr>
    <th colspan="2" class="heading">{{ "loan_validate.step_4"|trans }}</th>
</tr>
{% if loan.incomeType == 1 %}
    <tr>
        <th>{{ "loan.income_type"|trans }}</th>
        <td>{{ ("loan.income_type_"  ~ loan.incomeType)|trans }}</td>
    </tr>
    <tr>
        <th>{{ "loan.income_employment_type_sub1"|trans }}</th>
        <td>{{ ("loan.income_employment_type_"  ~ loan.incomeEmploymentType)|trans }}</td>
    </tr>
    <tr>
        <th>{{ "loan.income_employer_name"|trans }}</th>
        <td>{{ loan.incomeEmployerName|trans }}</td>
    </tr>
    <tr>
        <th>{{ "loan.income_employer_position"|trans }}</th>
        <td>{{ loan.incomeEmploymentPosition|trans }}</td>
    </tr>
    <tr>
        <th>{{ "loan.income_employed_start_at"|trans }}</th>
        <td>{{ loan.incomeStartAt|date("d.m.Y") }}</td>
    </tr>
    {% if loan.incomeEmploymentType == 2 %}
        <tr>
            <th>{{ "loan.income_employed_aggreement_end_at"|trans }}</th>
            <td>{{ loan.incomeEndAt|date("d.m.Y") }}</td>
        </tr>
    {% endif %}
    <tr>
        <th>{{ "loan.income_sector"|trans }}</th>
        <td>{{ ("loan.income_sector_"  ~ loan.incomeSector)|trans }}</td>
    </tr>
{% endif %}
{% if loan.incomeType == 2 %}
    <tr>
        <th>{{ "loan.income_type"|trans }}</th>
        <td>{{ ("loan.income_type_"  ~ loan.incomeType)|trans }}</td>
    </tr>
    <tr>
        <th>{{ "loan.income_employment_type_sub2"|trans }}</th>
        <td>{{ ("loan.income_employment_type_"  ~ loan.incomeEmploymentType)|trans }}</td>
    </tr>
    <tr>
        <th>{{ "loan.income_employer_name"|trans }}</th>
        <td>{{ loan.incomeEmployerName|trans }}</td>
    </tr>
    <tr>
        <th>{{ "loan.income_employer_position"|trans }}</th>
        <td>{{ loan.incomeEmploymentPosition|trans }}</td>
    </tr>
    <tr>
        <th>{{ "loan.income_employed_aggreement_start_at"|trans }}</th>
        <td>{{ loan.incomeStartAt|date("d.m.Y") }}</td>
    </tr>
    <tr>
        <th>{{ "loan.income_employed_aggreement_end_at"|trans }}</th>
        <td>{{ loan.incomeEndAt|date("d.m.Y") }}</td>
    </tr>
    <tr>
        <th>{{ "loan.income_sector"|trans }}</th>
        <td>{{ ("loan.income_sector_" ~ loan.incomeSector)|trans }}</td>
    </tr>
{% endif %}
{% if loan.incomeType == 3 %}
    <tr>
        <th>{{ "loan.income_type"|trans }}</th>
        <td>{{ ("loan.income_type_"  ~ loan.incomeType)|trans }}</td>
    </tr>
    <tr>
        <th>{{ "loan.income_employment_type_sub3"|trans }}</th>
        <td>{{ ("loan.income_employment_type_"  ~ loan.incomeEmploymentType)|trans }}</td>
    </tr>
    {% if loan.incomeEmploymentType == 13 %}
        <tr>
            <th>{{ "loan.income_business_other"|trans }}</th>
            <td>{{ loan.incomeOther }}</td>
        </tr>
    {% endif %}
    <tr>
        <th>{{ "loan.income_employed_aggreement_start_at"|trans }}</th>
        <td>{{ loan.incomeStartAt|date("d.m.Y") }}</td>
    </tr>
    <tr>
        <th>{{ "loan.income_sector"|trans }}</th>
        <td>{{ ("loan.income_sector_" ~ loan.incomeSector)|trans }}</td>
    </tr>
{% endif %}
{% if loan.incomeType == 4 %}
    {% if loan.incomeEmploymentType == 17 %}
        <tr>
            <th>{{ "loan.income_type"|trans }}</th>
            <td>{{ ("loan.income_type_"  ~ loan.incomeType)|trans }}</td>
        </tr>
        <tr>
            <th>{{ "loan.income_business_other"|trans }}</th>
            <td>{{ loan.incomeOther }}</td>
        </tr>
    {% else %}
        <tr>
            <th>{{ "loan.income_employment_type_sub4"|trans }}</th>
            <td>{{ ("loan.income_employment_type_"  ~ loan.incomeEmploymentType)|trans }}</td>
        </tr>
    {% endif %}
{% endif %}
{% if loan.incomeType == 5 %}
    <tr>
        <th>{{ "loan.income_type"|trans }}</th>
        <td>{{ ("loan.income_type_"  ~ loan.incomeType)|trans }}</td>
    </tr>
    <tr>
        <th>{{ "loan.income_employment_type_sub5"|trans }}</th>
        <td>{{ ("loan.income_employment_type_"  ~ loan.incomeEmploymentType)|trans }}</td>
    </tr>
    <tr>
        <th>{{ "loan.income_employed_support_start_at"|trans }}</th>
        <td>{{ loan.incomeStartAt|date("d.m.Y") }}</td>
    </tr>
{% endif %}
{% if loan.incomeType == 6 %}
    <tr>
        <th>{{ "loan.income_type"|trans }}</th>
        <td>{{ ("loan.income_type_"  ~ loan.incomeType)|trans }}</td>
    </tr>
{% endif %}
{% if loan.incomeType == 7 %}
    <tr>
        <th>{{ "loan.income_type"|trans }}</th>
        <td>{{ ("loan.income_type_"  ~ loan.incomeType)|trans }}</td>
    </tr>
    <tr>
        <th>{{ "loan.income_employment_type_sub7"|trans }}</th>
        <td>{{ ("loan.income_employment_type_"  ~ loan.incomeEmploymentType)|trans }}</td>
    </tr>
{% endif %}
{% if loan.incomeType == 8 %}
    <tr>
        <th>{{ "loan.income_other"|trans }}</th>
        <td>{{ loan.incomeOther }}</td>
    </tr>
{% endif %}







{% if not object.isStatus([
constant('STATUS_DRAFT', object),
constant('STATUS_DRAFT_REQUESTED', object),
constant('STATUS_DRAFT_APPROVED', object),
constant('STATUS_DRAFT_CANCELED', object),
constant('STATUS_AUCTION_DRAFT', object)
]) %}
    <tr>
        <th colspan="2" class="heading">{{ "profile.additional_other_id_heading"|trans }}</th>
    </tr>
    <tr>
    <tr>
        <th>{{ "profile.additional_other_id"|trans }}</th>
        <td>{{ ("profile.additional_other_id_"  ~ loan.profile.otherIdType)|trans }}</td>
    </tr>
    <tr>
        <th>{{ "profile.additional_other_id_number"|trans }}</th>
        <td>{{ (loan.profile.otherIdNumber)|trans }}</td>
    </tr>
    <tr>
        <th colspan="2" class="heading">{{ "profile.additional_bank_heading"|trans }}</th>
    </tr>
    {% if loan.profile.bankPrefix %}
        <tr>
            <th>{{ "profile.additional_bank_prefix"|trans }}</th>
            <td>{{ (loan.profile.bankPrefix)|trans }}</td>
        </tr>
    {% endif %}
    <tr>
        <th>{{ "profile.additional_bank_number"|trans }}</th>
        <td>{{ (loan.profile.bankNumber)|trans }}</td>
    </tr>
    <tr>
        <th>{{ "profile.additional_bank_code"|trans }}</th>
        <td>{{ (loan.profile.bankCode)|trans }}</td>
    </tr>
    <tr>
        <th colspan="2" class="heading">{{ "loan.additional_obligations_heading"|trans }}</th>
    </tr>
    {% for obligation in loan.additionalObligations %}
        <tr>
            <th>{{ obligation.title }}</th>
            <td>{{ obligation.amount|currency }} ({{ obligation.monthly|currency }}
                / {{ "loan.additional_monthly"|trans }})<br>
                <small>{{ obligation.start|date("d.m.Y") }} - {{ obligation.end|date("d.m.Y") }}</small>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="2" class="text-center">{{ "loan.additional_obligations_no"|trans }}</td>
        </tr>
    {% endfor %}
    {% if loan.additionalObligations|length %}
        <tr>
            <th>{{ "loan.additional_obligation_info"|trans }}</th>
            <td>{{ (loan.additionalObligationInfo) }}</td>
        </tr>
    {% endif %}
    </tr>
    <tr>
        <th colspan="2" class="heading">{{ "loan.additional_incomes_heading"|trans }}</th>
    </tr>
    <tr>
        <th>{{ "loan.additional_incomes"|trans }}</th>
        <td>{{ (loan.additionalIncomes)|currency }}</td>
    </tr>
    <tr>
        <th>{{ "loan.additional_incomes_others"|trans }}</th>
        <td>{{ (loan.additionalIncomesOthers)|currency }}</td>
    </tr>
    <tr>
        <th>{{ "loan.additional_incomes_others"|trans }}</th>
        <td>{{ (loan.additionalIncomesPartner)|currency }}</td>
    </tr>
    <tr>
        <th>{{ "loan.additional_outcomes_household"|trans }}</th>
        <td>{{ (loan.additionalOutcomesHousehold)|currency }}</td>
    </tr>
    <tr>
        <th>{{ "loan.additional_kids"|trans }}</th>
        <td>{{ (loan.additionalKids) }}</td>
    </tr>
    <tr>
        <th>{{ "loan.additional_outcomes_info"|trans }}</th>
        <td>{{ (loan.additionalOutcomesInfo) }}</td>
    </tr>

    <tr>
        <th colspan="2" class="heading">{{ "loan.credit_register_heading"|trans }}</th>
    </tr>
    {% for file in loan.additionalFiles %}
        <tr>
            <th class="file-confimration">
                {% if file.loan is defined %}
                    <a class="file" href="{{ path("hg_app_uploads_loan", {id: file.id}) }}"
                       target="_blank">{{ (file.title)|trans|raw }}</a>
                {% endif %}
                {% if file.profile is defined %}
                    <a class="file" href="{{ path("hg_app_uploads_profile", {id: file.id}) }}"
                       target="_blank">{{ (file.title)|trans|raw }}</a>
                {% endif %}

                {% if file.status == "pending" %}<span class="icon-time"
                                                       title="{{ "upload.pending_tooltip"|trans }}"></span>{% endif %}
                {% if file.status == "success" %}<span class="icon-envelope"
                                                       title="{{ "upload.success_tooltip"|trans }}"></span>{% endif %}
                {% if file.status == "deleted" %}<span class="icon-remove-sign"
                                                       title="{{ "upload.deleted_tooltip"|trans }}"></span>{% endif %}
                {% if file.status == "missing" %}<span class="icon-question-sign"
                                                       title="{{ "upload.missing_tooltip"|trans }}"></span>{% endif %}
                {% if file.status == "delivered" %}<span class="icon-ok-sign"
                                                         title="{{ "upload.delivered_tooltip"|trans }}"></span>{% endif %}

                {% if file.status in ["pending","success", "missing"] %}
                    {% if file.status in ["pending"] %}
                        <a class="btn btn-info btn-small approve"
                           href="{{ admin.generateUrl('loan_file_approve', {id: file.id} ) }}">{{ "file.approve"|trans }}</a>
                        <a class="btn btn-danger btn-small reject"
                           href="{{ admin.generateUrl('loan_file_reject',  {id: file.id}) }}">{{ "file.reject"|trans }}</a>
                    {% endif %}
                    <a class="btn btn-success btn-small delivered"
                       href="{{ admin.generateUrl('loan_file_delivered',  {id: file.id}) }}">{{ "file.delivered"|trans }}</a>
                {% endif %}
            </th>
            <td><a href="{{ path("hg_app_uploads_loan", {id: file.id}) }}" target="_blank"><span class="icon-file"></span> {{ file.niceFilename }}
                </a>
            </td>
        </tr>
    {% else %}
        <td colspan="2" class="text-center">{{ "loan.additional_file_no"|trans }}</td>
    {% endfor %}

    {% if formUpload|default(false) %}
        <tr>
            <td colspan="2">

                <form id="upload-table" class="form-horizontal"
                      action="{{ admin.generateUrl(url, {'id': admin.id(object), 'uniqid': admin.uniqid, 'subclass': app.request.get('subclass')}) }}" {{ form_enctype(formUpload) }}
                      method="POST"
                        {% if not admin_pool.getOption('html5_validate') %}novalidate="novalidate"{% endif %}
                        >
                    {{ form_rest(formUpload) }}
                </form>

            </td>
        </tr>
    {% endif %}
    <tr>
        <th colspan="2" class="heading">{{ "loan.additional_info_heading"|trans }}</th>
    </tr>
    <tr>
        <th>{{ "loan.additional_why_borrow"|trans }}</th>
        <td>{{ (loan.additionalWhyBorrowInfo) }}</td>
    </tr>
    <tr>
        <th>{{ "loan.additional_why_secure"|trans }}</th>
        <td>{{ (loan.additionalWhySecureInfo) }}</td>
    </tr>
{% endif %}

{% if object.isStatus([
constant('STATUS_ACCEPTED', object),
constant('STATUS_PAYABLE', object),
constant('STATUS_LOAN', object),
constant('STATUS_REPAID', object)
]) %}
    <tr>
        <th colspan="2" class="heading">{{ "loan.loan_info_heading"|trans }}</th>
    </tr>
    <tr>
        <th>{{ "customer_auctions.stop.summary.loan_amount"|trans }}</th>
        <td>{{ (loan.auctionCollectedAmount)|currency }}</td>
    </tr>
    <tr>
        <th>{{ "customer_auctions.stop.summary.fee"|trans }}</th>
        <td>{{ (-1 * loan.feeAmount)|currency }}</td>
    </tr>
    <tr>
        <th>{{ "customer_auctions.stop.summary.lifebuoy"|trans }}</th>
        <td>{{ (-1 * loan.feeLifebuoy)|currency }}</td>
    </tr>
    <tr>
        <th>{{ "customer_auctions.stop.summary.for_pay_off"|trans }}</th>
        <td>{{ (loan.auctionCollectedAmount - loan.feeAmount - loan.feeLifebuoy)|currency }}</td>
    </tr>
    <tr>
        <th>{{ "customer_auctions.stop.summary.interest"|trans }}</th>
        <td>{{ loan.auctionInterestAverage|interest }}</td>
    </tr>
    <tr>
        <th>{{ "loan.maturity"|trans }}</th>
        <td>{{ ("loan.maturity_" ~ loan.loanMaturity) | trans }}</td>
    </tr>
    <tr>
        <th>{{ "loan.loan_start_at"|trans }}</th>
        <td>
            <time datetime="{{ loan.loanStartAt|date("U") }}">{{ loan.loanStartAt|date("d.m.Y") }}</time>
        </td>
    </tr>
    <tr>
        <th>{{ "loan.loan_end_at"|trans }}</th>
        <td>
            <time datetime="{{ loan.loanEndAt|date("U") }}">{{ loan.loanEndAt|date("d.m.Y") }}</time>
        </td>
    </tr>
    <tr>
        <th>{{ "loan.repayment_day"|trans }}</th>
        <td>{{ loan.repaymentDay }}.</td>
    </tr>
{% endif %}

</tbody>
</table>