<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ app.request.locale }}"> <!--<![endif]-->
<head>
    {% block head %}
        <meta charset="utf-8">

        <title>{{ block('title')|default(meta['title']) }}{{ block('title_append')|default(" | " ~ meta['name']) }}</title>

        <meta name="description" content="{{ block('description')|default(meta['description']) }}"/>
        <meta name="keywords" content="{{ block('keywords')|default(meta['keywords']) }}"/>
        <meta name="author" content="{{ block('author_name')|default(meta['author_name']) }}"/>

        <meta property="og:title"
              content="{% block og_title %}{{ block('title')|default(meta['title']) }}{% endblock %}"/>
        <meta property="og:image"
              content="{% block og_image %}{{ 'https://' ~ app.request.host ~ asset("/bundles/app/img/logo-fb.png") }}{% endblock %}"/>
        <meta property="og:type" content="{% block og_type %}website{% endblock %}"/>
        <meta property="og:url" content="{{ 'https://' ~ app.request.host ~ app.request.requesturi }}"/>
        <meta property="og:site_name" content="{{ meta['name'] }}"/>
        <meta property="og:description"
              content="{% block og_description %}{{ block('title')|default(meta['description']) }}{% endblock %}"/>

        <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/><![endif]-->
        <meta name="robots" content="{{ robots }}">

        {#<meta name="viewport" content="width=device-width"/>#}

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"/>
        <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png') }}"/>

        {% if google['wt'] is defined %}
            <meta name="google-site-verification" content="{{ google['wt'] }}"/>
        {% endif %}

        {% block head_style %}
            <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700,600&amp;subset=latin,latin-ext,cyrillic-ext'
                  rel='stylesheet' type='text/css'>
            {% stylesheets
            '@AppBundle/Resources/public/less/app.less'

            output='css/styles.css' %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen"/>
            {% endstylesheets %}
        {% endblock head_style %}

    {% endblock head %}
</head>

<body>
{% block body %}

    {% block header %}
        {% include 'AppBundle:includes:header.html.twig' %}
    {% endblock header %}

    {% block introduce %}
        <div id="introduce" class="{% block introduse_class %}help{% endblock %}">
            {% block navbar %}
                {% include 'AppBundle:includes:navbar.html.twig' %}
            {% endblock navbar %}
        </div>
    {% endblock introduce %}

    {% block breadcrumbs %}
        <div id="breadcrumbs">
            <div class="container">
                <ol class="breadcrumb">
                    {% block breadcrumb_inner %}
                        <li><a href="/">{{ "home"|trans }}</a></li>
                    {% endblock breadcrumb_inner %}
                </ol>
            </div>
        </div>
    {% endblock breadcrumbs %}

    {% block main %}
        <div id="main">
            <div class="full-box">
                {% block container %}
                    <div class="container content {% block brand_color %}brand-customer{% endblock brand_color %}">
                        {% block content %}{% endblock content %}
                    </div>
                {% endblock container %}
            </div>
        </div>
    {% endblock main %}


    {% block footer %}
        {% include 'AppBundle:includes:footer.html.twig' %}
    {% endblock footer %}

{% endblock body %}


{% block foot_script %}

    {% javascripts
    '@AppBundle/Resources/public/js/vendor/jquery-1.10.2.min.js'
    '@AppBundle/Resources/public/js/vendor/jquery-ui-1.10.3.custom.min.js'
    '@AppBundle/Resources/public/js/scripts/collection.js'
    '@AppBundle/Resources/public/js/plugins/bootstrap/button.js'
    '@AppBundle/Resources/public/js/plugins/bootstrap/dropdown.js'
    '@AppBundle/Resources/public/js/plugins/bootstrap/transition.js'
    '@AppBundle/Resources/public/js/plugins/bootstrap/tooltip.js'
    '@AppBundle/Resources/public/js/plugins/bootstrap/collapse.js'
    '@AppBundle/Resources/public/js/plugins/bootstrap/carousel.js'
    '@AppBundle/Resources/public/js/plugins/select2/select2.js'
    '@AppBundle/Resources/public/js/plugins/select2/select2_locale_sk.js'
    '@AppBundle/Resources/public/js/plugins/jquery.history.js'
    '@AppBundle/Resources/public/js/scripts/anchorscroll.js'
    '@AppBundle/Resources/public/js/plugins/spin.js'
    '@AppBundle/Resources/public/js/plugins/fancybox/jquery.fancybox.js'
    '@AppBundle/Resources/public/js/plugins/globalize.js'
    '@AppBundle/Resources/public/js/plugins/jquery.easypiechart.min.js'
    '@AppBundle/Resources/public/js/scripts/history.js'
    '@AppBundle/Resources/public/js/scripts/comments.js'
    '@AppBundle/Resources/public/js/scripts/auction.js'
    '@AppBundle/Resources/public/js/scripts/calculators.js'
    '@AppBundle/Resources/public/js/scripts/filter.js'
    '@AppBundle/Resources/public/js/scripts/spin.js'
    '@AppBundle/Resources/public/js/scripts/hg-dropdown.js'
    '@AppBundle/Resources/public/js/scripts/forms.js'
    '@AppBundle/Resources/public/js/scripts/scripts.js'
    output='js/scripts.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% if 1 or google['analytics'] is defined and app.environment != 'dev' %}
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o), m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', '{{ google.analytics }}', 'planb.sk');
            ga('send', 'pageview');
        </script>
        <div style="display: none">
            <script type="text/javascript">
                /* <![CDATA[ */
                var google_conversion_id = 977159282;
                var google_custom_params = window.google_tag_params;
                var google_remarketing_only = true;
                /* ]]> */
            </script>
            <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
        </div>
        <noscript>
            <div style="display:inline;">
                <img height="1" width="1" style="border-style:none;" alt=""
                     src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/977159282/?value=0&amp;guid=ON&amp;script=0"/>
            </div>
        </noscript>
    {% endif %}
{% endblock foot_script %}
</body>
</html>