{%- block subject -%}
    {% block subject_text %}{% endblock %} | PlanB.sk
{%- endblock -%}

{% block body_html  %}
{% spaceless %}
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- Define Charset -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><!-- Responsive Meta Tag -->
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />

    <title>{{ block("subject_text") }} | PlanB.sk</title><!-- Responsive Styles and Valid Styles -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700,600&subset=latin,latin-ext,cyrillic-ext' rel='stylesheet' type='text/css' />
    <style type="text/css">
        /*<![CDATA[*/


        body{
            width: 100%;
            background-color: #efefef;
            margin:0;
            padding:0;
            -webkit-font-smoothing: antialiased;
        }

        p,h1,h2,h3,h4{
            margin-top:0;
            margin-bottom:0;
            padding-top:0;
            padding-bottom:0;
        }

        span.preheader{display: none; font-size: 1px;}

        html{
            width: 100%;
        }

        table{
            font-size: 14px;
            border: 0;
            border-collapse:collapse;
            mso-table-lspace:0pt;
            mso-table-rspace:0pt;
        }

        /* ----------- responsivity ----------- */
        @media only screen and (max-width: 640px){
            /*------ top header ------ */
            .rounded-edg-bg{width: 440px !important; height: 10px !important;}
            .main-header{line-height: 22px !important; font-size: 14px !important;}
            .subheader{width: 390px !important;}
            .main-subheader{line-height: 28px !important;}

            /*----- main image -------*/
            .main-image img{width: 420px !important; height: auto !important;}

            /*-------- container --------*/
            .container600{width: 430px !important;}
            .container580{width: 410px !important;}
            .container560{width: 380px !important;}
            .main-content{width: 408px !important;}
            /*-------- divider --------*/
            .divider img{width: 430px !important; height: 1px !important;}

            /*-------- secions ----------*/
            .section-item{width: 390px !important; text-align: center !important;}
            .table-inside{width: 408px !important;}
            /*.section-img img{width: 390px !important; height: auto !important;}*/
            .table-rounded-edg-bg{width: 410px !important; height: 5px !important;}

            /*-------- envelope graphique ------------*/
            .envelope-top600{width: 448px !important;}
            .envelope-top600 img{width: 448px !important;}
            .top-envelope600{width: 448px !important;}
            .top-envelope600 img{width: 448px !important;}

            .middle-envelope600{width: 448px !important;}
            .middle-envelope600 img.left{width: 158px !important; height: 56px !important;}
            .middle-envelope600 img.right{width: 150px !important; height: 58px !important;}
            .footer-logo{width: 100px !important;}

            .bottom-envelope600{width: 448px !important;}
            .bottom-envelope600 .left{width: 92px !important;}
            .bottom-envelope600 .right{width: 85px !important;}
            .bottom-envelope600 .unsubscribe{width: 200px !important;}
            .bottom-envelope600 .unsubscribe-text{line-height: 20px !important};
        }

        @media only screen and (max-width: 479px){

            /*------ top header ------ */

            .main-header{line-height: 28px !important; font-size: 17px !important;}
            .subheader{width: 260px !important;}
            .main-subheader{line-height: 28px !important;}

            /*----- main image -------*/
            .main-image img{width: 260px !important; height: auto !important;}

            /*-------- container --------*/
            .container600{width: 270px !important;}
            .container580{width: 270px !important;}
            .container560{width: 220px !important;}
            .main-content{width: 268px !important;}
            /*-------- divider --------*/
            .divider img{width: 260px !important; height: 1px !important;}

            /*-------- secions ----------*/
            .section-item{width: 250px !important; text-align: center !important;}

            /*.section-img img{width: 250px !important; height: auto !important;}*/

            /*-------- cta ----------*/
            .icon img{width: 20px !important; height: 20px !important;}
            .cta-text{text-align: center !important; line-height: 24px !important;}

            /*-------- footer ------------*/
            /*-------- envelope graphique ------------*/
            .envelope-top600 {width: 278px !important;}
            .envelope-top600 img{width: 278px !important;}
            .top-envelope600{width: 278px !important;}
            .top-envelope600 img{width: 278px !important;}

            .middle-envelope600{width: 278px !important;}
            .middle-envelope600 img.left{width: 158px !important; height: auto !important; display: none !important;}
            .middle-envelope600 img.right{width: 150px !important; height: auto !important; display: none !important;}
            .footer-logo{width: 100px !important;}

            .bottom-envelope600{width: 278px !important;}
            .bottom-envelope600 .left{width: 92px !important; display: none !important;}
            .bottom-envelope600 .right{width: 85px !important; display: none !important;}
            .bottom-envelope600 .unsubscribe{width: 200px !important;}
            .bottom-envelope600 .unsubscribe-text{line-height: 20px !important;}

            /*-------- social ------------*/
            .social-text{display: none !important;}
        }


        /*]]>*/
    </style>
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!--======= preheader ======-->

<table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="#EFEFEF">
<!--========= logo ===========-->

<tr>
    <td height="30"></td>
</tr>

<tr>
    <td align="center"><a href="{{ url("hg_app_index_index") }}" style="display: block; width: 133px; height: 65px; border-style: none !important; border: 0 !important;"><img width="133" height="65" border="0" style="display: block; width: 133px; height: 65px" src="{{ app.request.getSchemeAndHttpHost() ~ asset("bundles/app/img/email/logo.png") }}" alt="logo" /></a></td>
</tr>

<tr>
    <td height="20"></td>
</tr><!--========= end logo ===========-->

<tr>
<td align="center">
<table width="600" cellpadding="0" align="center" cellspacing="0" border="0" class="container600">
<tr>
<td align="center" valign="top"><img align="top" src="http://promailthemes.com/multimail/layout1/green/img/shadow-left.png" style="display: block; width: 10px; height: 262px;" width="10" height="262" border="0" alt="" /></td>

<td align="center">
<table border="0" align="center" width="580" cellpadding="0" cellspacing="0" bgcolor="#E0E0E0" class="container580">
<tr>
    <td height="1"></td>
</tr>

<tr>
<td>
<table border="0" align="center" width="578" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" class="main-content">
<tr>
    <td height="15"></td>
</tr>


<tr>
    <td height="40"></td>
</tr><!--========= main text ===========-->

{% block main %}
<tr>
    <td align="center">
    {% block content %}{% endblock %}
    </td>
</tr><!--========= end main text ===========-->
{% endblock %}

<tr>
    <td height="20"></td>
</tr><!--============ divider ===========-->

<tr>
    <td class="divider" align="center"><img src="http://promailthemes.com/multimail/layout1/green/img/divider.png" style="display: block; width: 565px; height: 1px;" width="565" height="1" border="0" alt="divider" /></td>
</tr><!--============ end divider ===========-->

</table>
</td>
</tr>
</table>
</td>

<td align="center" valign="top"><img align="top" src="http://promailthemes.com/multimail/layout1/green/img/shadow-right.png" style="display: block; width: 10px; height: 262px;" width="10" height="262" border="0" alt="" /></td>
</tr>
</table>
</td>
</tr><!--============ footer ===========-->

<tr>
    <td align="center">
        <table width="600" cellpadding="0" align="center" cellspacing="0" border="0" class="envelope-top600">
            <tr>
                <td align="center" style="line-height: 13px;"><img src="http://promailthemes.com/multimail/layout1/green/img/envelope-top.png" style="display: block; width: 600px; height: 13px;" width="600" height="13" border="0" alt="" /></td>
            </tr>
        </table>
    </td>
</tr>

<tr>
    <td align="center">
        <table width="600" cellpadding="0" align="center" cellspacing="0" border="0" bgcolor="#FFFFFF" class="top-envelope600">
            <tr>
                <td align="center"><img src="http://promailthemes.com/multimail/layout1/green/img/top-envelope.png" style="display: block; width: 600px; height: 78px;" width="600" height="78" border="0" alt="" /></td>
            </tr>
        </table>
    </td>
</tr>

<tr>
    <td align="center" valign="top">
        <table width="600" cellpadding="0" align="center" cellspacing="0" border="0" bgcolor="#F7F7F7" class="middle-envelope600">
            <tr>
                <td align="center" valign="top"><img src="http://promailthemes.com/multimail/layout1/green/img/middle-envelope-left.png" style="display: block; width: 218px; height: 53px;" width="218" height="53" border="0" alt="" class="left" /></td>

                <td align="center">
                    <table width="173" cellpadding="0" align="center" cellspacing="0" border="0" bgcolor="#F7F7F7" class="footer-logo">
                        <tr>
                            <td align="center" valign="middle"></td>
                        </tr>
                    </table>
                </td>

                <td align="center"><img src="http://promailthemes.com/multimail/layout1/green/img/middle-envelope-right.png" style="display: block; width: 209px; height: 53px;" width="209" height="53" border="0" alt="" class="right" /></td>
            </tr>
        </table>
    </td>
</tr>

<tr>
    <td align="center">
        <table width="600" cellpadding="0" align="center" cellspacing="0" border="0" bgcolor="#F7F7F7" class="bottom-envelope600">
            <tr>
                <td align="center" valign="top"><img align="top" src="http://promailthemes.com/multimail/layout1/green/img/bottom-envelope-left.png" style="display: block; width: 128px; height: 82px;" width="130" height="82" border="0" alt="" class="left" /></td>

                <td align="center">
                    <table width="350" cellpadding="0" align="center" cellspacing="0" border="0" bgcolor="#F7F7F7" class="unsubscribe">
                        <tr>
                            <td align="center" style="color: #9b9b9b; font-size: 11px; font-family: 'Open Sans', Arial, sans-serif;" class="unsubscribe-text">Lyngo, s.r.o., IČO: 47 050 799, email: <a style="color: #9B9B9B" href="mailto:planb@planb.sk">planb@planb.sk</a>
                                Tŕnistá 591/7, 949 01 Nitra zapísaná v Obchodnom registri Okresného súdu v Nitre, oddiel: Sro, vložka č. 33785/N</td>
                        </tr>
                    </table>
                </td>

                <td align="center" valign="top"><img align="top" src="http://promailthemes.com/multimail/layout1/green/img/bottom-envelope-right.png" style="display: block; width: 116px; height: 82px;" width="120" height="82" border="0" alt="" class="right" /></td>
            </tr>
        </table>
    </td>
</tr>

<tr>
    <td height="50"></td>
</tr>
</table>
</body>
</html>
{% endspaceless %}
{% endblock %}