{% extends 'MopaBootstrapBundle:Form:fields.html.twig' %}

{% block collection_button %}
    <a {% for attrname,attrvalue in button_values.attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %} data-collection-{{ button_type }}-btn=".{{ form.vars['id'] }}_form_group">
    {% if button_values.icon != "" %}
        <span class="{{ button_values.icon }}"></span>
    {% endif %}
    {{ button_values.label|trans({}, translation_domain) }}
    </a>
{% endblock collection_button %}


{#{% block collection_row %}#}
    {#{% spaceless %}#}
        {#{% if prototype is defined %}#}
            {#{% set prototype_markup = form_row(prototype) %}#}
            {#{% set data_prototype_name = form.vars.form.vars.prototype.vars.name|default('__name__') %}#}
            {#{% set data_prototype_label = form.vars.form.vars.prototype.vars.label|default('__name__label__') %}#}
            {#{% set widget_form_group_attr = widget_form_group_attr|merge({#}
            {#'data-prototype': prototype_markup,#}
            {#'data-prototype-name': data_prototype_name,#}
            {#'data-prototype-label': data_prototype_label#}
            {#})|merge(attr) %}#}
        {#{% endif %}#}
        {#&#123;&#35; Add row by default use attr.class to change&#35;&#125;#}

        {#{{ widget_prefix|trans({}, translation_domain)|raw }} {{ form_widget(form, _context) }} {{ widget_suffix|trans({}, translation_domain)|raw }}#}
        {#{% if 'collection' in form.parent.vars.block_prefixes and widget_remove_btn|default(null) and form.parent.vars.allow_delete|default(false) %}#}
            {#{{ block('form_widget_remove_btn') }}#}
        {#{% endif -%}#}
        {#{{ block('widget_form_group_start') }}#}

        {#{{ block('widget_form_group_end') }}#}

    {#{% endspaceless %}#}
{#{% endblock collection_row %}#}
{% block collection_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set prototype_markup = form_row(prototype) %}
            {% set data_prototype_name = form.vars.form.vars.prototype.vars.name|default('__name__') %}
            {% set data_prototype_label = form.vars.form.vars.prototype.vars.label|default('__name__label__') %}
            {% set widget_form_group_attr = widget_form_group_attr|merge({
            'data-prototype': prototype_markup,
            'data-prototype-name': data_prototype_name,
            'data-prototype-label': data_prototype_label
            })|merge(attr) %}
        {% endif %}
        {# Add row by default use attr.class to change#}
        {% if 'collection' in form.vars.block_prefixes and attr.class is defined %}
            {% set widget_form_group_attr = widget_form_group_attr|merge({'class': widget_form_group_attr.class|default('row') ~ ' ' ~ attr.class}) %}
        {% endif %}
        {# collection item adds class {form_id}_form-group  too #}
        {% set widget_form_group_attr = widget_form_group_attr|merge({'class': widget_form_group_attr.class ~ ' collection-items ' ~ id ~ '_form_group'}) %}

        <div {% for attrname,attrvalue in widget_form_group_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {# Add initial prototype form #}
        {% if form.vars.value|length == 0 and prototype is defined %}
            {% for name in prototype_names %}
                {{ prototype_markup|replace({'__name__': name})|raw }}
            {% endfor %}
        {% endif %}
        {{ block('form_widget') }}
        </div>
    {% endspaceless %}
{% endblock collection_widget %}

{% block button_widget %}
    {% spaceless %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>
            {% if icon is not empty %} <span
                    class="{{ icon }}"></span> {% endif %} {{ label|trans({}, translation_domain) }}</button>
    {% endspaceless %}
{% endblock button_widget %}

{% block tabs_widget %}
    {% spaceless %}
        <ul class="{{ form.vars.attr.class }}">
            {% for tab in form.vars.tabs %}
                <li{% if tab.active %} class="active"{% endif %}>
                    <a data-toggle="tab" href="#{{ tab.id }}">
                        {% if tab.icon %}<span class="{{ tab.icon }}"></span>{% endif %}
                        {{ tab.label }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endspaceless %}
{% endblock %}

{% block help_label_tooltip_title %}
    <span class="help-block">
        <a href="#" id="{{ id }}" title="{{ help_label_tooltip_title|trans({}, translation_domain) }}"><span
                    class="glyphicon glyphicon-info-sign"></span></a>
        <script type="text/javascript">
            $(document).ready(function () {
                $({{ id }}).tooltip({
                    'placement': '{{ help_label_tooltip_placement }}'
                });
            });
        </script>
    </span>
{% endblock help_label_tooltip_title %}

{% block checkbox_widget %}
    {% spaceless %}
        {% if label is not sameas(false) and label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        {% if form.parent != null and 'choice' not in form.parent.vars.block_prefixes %}
            <div class="{{ horizontal_input_wrapper_class }}">
            <div class="checkbox">
        {% endif %}

        {% if form.parent != null and 'choice' not in form.parent.vars.block_prefixes and label_render %}
        <label class="{% if inline is defined and inline %}checkbox-inline{% endif %}">
        {% endif %}
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %}/> {{ help_inline|default("")|trans({}, translation_domain)|raw }}
        {% if form.parent != null and 'choice' not in form.parent.vars.block_prefixes %}
        {% if label_render and widget_checkbox_label in ['both', 'widget'] %}
        {{ label|trans({}, translation_domain)|raw }}
        </label>
        {% set help_inline = true %}
        {% endif %}
        {% endif %}
        {% if form.parent != null and 'choice' not in form.parent.vars.block_prefixes %}
            </div>
            </div>
        {% endif %}
        {{ form_errors(form) }}
    {% endspaceless %}
{% endblock checkbox_widget %}

{% block date_widget %}
    {% spaceless %}
        {% if widget == 'single_text' %}
            {% if datepicker is defined %}
                <div class="input-group date col-lg-9">
                    {% if widget_addon_prepend|default(null) is not null %}
                        {% set widget_addon = widget_addon_prepend %}
                        {{ block('widget_addon') }}
                    {% endif %}
                    {% set attr = attr|merge({'class': attr.class|default('') ~ ' not-removable grd-white form-control'}) %}
                    <input type="text" {{ block('widget_attributes') }} value="{{ value }}" data-form="datepicker"
                           data-date-format="{{ format|lower }}"/>
                    {% if widget_addon_append|default(null) is not null %}
                        {% set widget_addon = widget_addon_append %}
                        {{ block('widget_addon') }}
                    {% endif %}
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $({{ id }}).datepicker();
                            $({{ id }}).keydown(function (e) {
                                if (e.which == 27) {
                                    $({{ id }}).datepicker('hide');
                                    return false;
                                }
                            });
                        });
                    </script>
                </div>
            {% else %}
                {{ block('form_widget_simple') }}
            {% endif %}
        {% else %}
            <div class="row">
                {% set attr = attr|merge({'class': attr.class|default('inline')}) %}
                {{ date_pattern|replace({
                '{{ year }}': '<div class="col-lg-3">' ~  form_widget(form.year, {'attr': {'class': attr.widget_class|default('')} }) ~ '</div>',
                '{{ month }}': '<div class="col-lg-2">' ~  form_widget(form.month, {'attr': {'class': attr.widget_class|default('')} }) ~ '</div>',
                '{{ day }}': '<div class="col-lg-2">' ~   form_widget(form.day, {'attr': {'class': attr.widget_class|default('')} }) ~ '</div>',
                })|raw }}
                {{ block('help') }}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock date_widget %}

{% block file_row %}
    {% if 'tab' in form.vars.block_prefixes %}
        {{ block('form_tab') }}
    {% else %}
        {{ block('widget_form_group_start') }}

        {% set show_horizontal_wrapper = horizontal and not (form.parent is not null and 'collection' in form.parent.vars.block_prefixes) %}

        {% if horizontal and not label_render %}
            {% set horizontal_input_wrapper_class = horizontal_input_wrapper_class ~ ' ' ~ horizontal_label_offset_class %}
        {% endif %}

        {% if show_horizontal_wrapper %}
            <div>
        {% endif %}
        {{ widget_prefix|trans({}, translation_domain)|raw }} {{ form_widget(form, _context) }} {{ widget_suffix|trans({}, translation_domain)|raw }}

        {% if show_horizontal_wrapper %}
            </div>
        {% endif %}

        {% if form.parent is not null and 'collection' in form.parent.vars.block_prefixes and widget_remove_btn|default(null) and form.parent.vars.allow_delete|default(false) %}
            {{ block('form_widget_remove_btn') }}
        {% endif -%}
        {{ block('widget_form_group_end') }}
    {% endif %}
{% endblock file_row %}

{% block file_widget %}
    {% spaceless %}
        {% set type = type|default('file') %}
        {% if widget_addon_prepend|default(null) is not null %}
            {% set widget_addon = widget_addon_prepend %}
            {{ block('widget_addon') }}
        {% endif %}
        <div class="form-control">
        <input type="{{ type }}" {{ block('widget_attributes') }}/>
        </div>
        {% if type != 'hidden' and  widget_addon.type|default(null) is not null %}
            {% if widget_addon_append|default(null) is not null %}
                {% set widget_addon = widget_addon_append %}
                {{ block('widget_addon') }}
            {% endif %}
        {% endif %}
        {% if help_block %}<p class="help-block">{{ help_block|trans({}, translation_domain)|raw }}</p>{% endif %}
    {% endspaceless %}
{% endblock file_widget %}




{#{% block widget_form_group_start %}#}
    {#{% if widget_form_group|default(false) or form.parent == null %}#}
        {#{% if 'collection'in form.parent.vars.block_prefixes %} &#123;&#35; i am a collection child &#35;&#125;#}
            {#{% set widget_form_group_attr = widget_form_group_attr|merge({class: widget_form_group_attr.class ~ ' collection-item'}) %}#}
        {#{% endif %}#}
        {#{% if prototype is defined %}#}
            {#{% set data_prototype = 'collection' in form.vars.block_prefixes and not omit_collection_item ? '<div class="collection-item ' ~ widget_items_attr.class|default()|join(' ') ~ '" id="' ~ prototype.vars.id ~ '_control_group">' ~ form_row(prototype) ~ '</div>' : form_row(prototype) %}#}
            {#{% set data_prototype_name = form.vars.form.vars.prototype.vars.name|default('__name__') %}#}
            {#{% set widget_form_group_attr = widget_form_group_attr|merge({'data-prototype': data_prototype, 'data-prototy   pe-name': data_prototype_name})|merge(attr) %}#}
        {#{% endif %}#}
        {#&#123;&#35; collection item adds class to form-group &#35;&#125;#}
        {#{% set widget_form_group_attr = widget_form_group_attr|merge({'id': id ~ '_control_group', 'class': widget_form_group_attr.class}) %}#}
        {#{% if errors|length > 0 %}#}
            {#{% set widget_form_group_attr = widget_form_group_attr|merge({'class': widget_form_group_attr.class|default('') ~ ' has-error'}) %}#}
        {#{% endif %}#}
        {#{% if 'collection' in form.vars.block_prefixes and attr.class is defined %}#}
            {#{% set widget_form_group_attr = widget_form_group_attr|merge({'class': widget_form_group_attr.class|default('row') ~ ' ' ~ attr.class}) %}#}
        {#{% endif %}#}
        {#<div {% for attrname,attrvalue in widget_form_group_attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>#}
        {#&#123;&#35; a form item containing the field in block_prefixes is a near subform or a field directly &#35;&#125;#}
        {#{% if (form|length > 0 and form.parent != null)#}
        {#and 'field' not in form.vars.block_prefixes#}
        {#and 'date' not in form.vars.block_prefixes#}
        {#%}#}
            {#{% if show_child_legend%}#}
                {#{{ block('form_legend') }}#}
            {#{% elseif label_render %}#}
                {#{{ form_label(form, label|default(null)) }}#}
            {#{% endif %}#}
        {#{% else %}#}
            {#{% if label_render %}#}
                {#{{ form_label(form, label|default(null)) }}#}
            {#{% endif %}#}
        {#{% endif %}#}
    {#{% else %}#}
        {#{% if label_render %}#}
            {#{{ form_label(form, label|default(null)) }}#}
        {#{% endif %}#}
    {#{% endif %}#}
{#{% endblock widget_form_group_start %}#}


{% block form_widget_remove_btn %}
    {% spaceless %}
        <div class="form-group">
            <div class="">
                {% if widget_remove_btn|default(null) %}
                    {% set button_type = 'remove' %}
                    {% set button_values = widget_remove_btn %}
                    {{ block('collection_button') }}
                {% endif %}
            </div>
        </div>
    {% endspaceless %}
{% endblock form_widget_remove_btn %}