{% extends 'AppBundle::base.html.twig' %}

{% block container %}
    <div class="container">
        <div class="row">
            {% set brand = "brand-" ~ app.user.type|default("") %}
            <aside class="col-xs-4 sidebar left {{ block("brand_color")|default(brand)|replace({"pages": ""}) }}">
                {% block sidebar %}{% endblock sidebar %}
            </aside>
            <div class="col-xs-8 content {{ block("brand_color")|default(brand) }}">
                 {% block content %}{% endblock content %}
            </div>
        </div>
    </div>
{% endblock container %}