<h1>Administrácia Plán B</h1>
<h3>Štatistiky</h3>

<p>Čakajúce notifikácie
    {% if notificationsCount > 0 %}
        <span class="badge badge-important">{{ notificationsCount }}</span>
    {% else %}
        {{ notificationsCount }}
    {% endif %}
</p>

<br>
<p>Aukcie v štádiu riešenia <strong>{{ draftCount }}</strong></p>
<p>Aukcie zamietnuté pred spustením <strong>{{ draftCanceledCount }}</strong></p>
<p>Aktívne aukcie <strong>{{ auctionsCount }}</strong></p>
<p>Neúspešné aukcie <strong>{{ canceledCount }}</strong></p>
<p>Aukcie stopnuté <strong>{{ acceptedCount }}</strong></p>
<p>Pôžičky čakajúce na vyplatenie <strong>{{ payableCount }}</strong></p>
<p>Pôžičky <strong>{{ loanCount }}</strong></p>
<p>Splatených pôžičiek <strong>{{ repaidCount }}</strong></p>

<br>

<p>Napožičaných peňazí <strong>{{ sumCollectedAmount|currency }}</strong></p>

<br>

<p>Suma v Kolese <strong>{{ lifebuoy|currency }}</strong></p>
