{% from 'AppBundle:macros:planb.html.twig' import alert_box %}

    {% if not isAjax %}

        {% for comment in comments %}

            {% if comment.user.isType("investor") %}
                <div id="question-{{ comment.id }}" class="comment investor">
                    <div class="user">
                        <div class="icon-box">
                            <div class="icon">
                                <i class="icon-user-arrow-in"></i>
                            </div>
                            <div class="text">
                                <strong>{{ comment.user.username }}</strong> /
                                <time>{{ comment.createdAt|date("d.m.Y H:i:s") }}</time>
                            </div>
                        </div>
                    </div>
                    <div class="comment-text">{{ comment.text|nl2br }}</div>
                </div>


                <div id="answer-{{ comment.id }}" class="comment customer">
                    {% if comment.child %}
                        <div class="user">
                            <div class="icon-box">
                                <div class="icon">
                                    <i class="icon-user-arrow-out"></i>
                                </div>
                                <div class="text">
                                    <strong>{{ comment.child.user.username }}</strong> /
                                    <time>{{ comment.child.createdAt|date("d.m.Y H:i:s") }}</time>
                                </div>
                            </div>
                        </div>
                        <div class="comment-text">{{ comment.child.text|nl2br }}</div>
                    {% else %}
                        {% if app.user and app.user == loan.user %}

                            {% if answerForm and comment.id == answerId %}
                                {{ form(answerForm) }}
                            {% else %}
                                <div class="text-right">
                                    <a href="{{ path("hg_app_auction_detail", {slug: comment.loan.slug, answer: comment.id  }) }}"
                                       class="btn btn-customer btn-answer">{{ "comments.answer_button"|trans }}</a>
                                </div>
                            {% endif %}

                        {% else %}
                            <div class="no-answer"><span class="icon icon-info"></span> {{ "comments.no_answer"|trans }}
                            </div>
                        {% endif %}
                    {% endif %}
                </div>

            {% endif %}

        {% else %}
            {{ alert_box("icon-info", "comments.no_questions"|trans, "info no-comments") }}
        {% endfor %}

        {% if app.user %}

            {% if not app.user.isStatus(constant('STATUS_DOCUMENTS_WAITING', app.user)) %}

                {% if questionForm %}
                    <div class="comment investor">
                        {{ form(questionForm) }}
                    </div>
                {% endif %}


            {% else %}
                {% include "@User/includes/need_documents.html.twig" %}
            {% endif %}

        {% else %}
            {{ alert_box("icon-warning", "comments.question_add_must_register"|trans({"%1%":path("fos_user_security_login"), "%2%":path("fos_user_registration_register", {"type":"investor"})}), "info") }}
        {% endif %}


    {% else %}
        {% if answerId %}
            {% if answerForm %}
                {{ form(answerForm) }}
            {% else %}
                <div class="user">
                    <div class="icon-box">
                        <div class="icon">
                            <i class="icon-user-arrow-out"></i>
                        </div>
                        <div class="text">
                            <strong>{{ comment.user.username }}</strong> /
                            <time>{{ comment.createdAt|date("d.m.Y H:i:s") }}</time>
                        </div>
                    </div>
                </div>
                <div class="comment-text">{{ comment.text|nl2br }}</div>
            {% endif %}
        {% else %}
            {% if comment is not defined %}
                {% if withWrapper is defined %}
                    <div class="comment investor">
                        {{ form(questionForm) }}
                    </div>
                {% else %}
                    {{ form(questionForm) }}
                {% endif %}
            {% else %}
                <div class="user">
                    <div class="icon-box">
                        <div class="icon">
                            <i class="icon-user-arrow-in"></i>
                        </div>
                        <div class="text">
                            <strong>{{ comment.user.username }}</strong> /
                            <time>{{ comment.createdAt|date("d.m.Y H:i:s") }}</time>
                        </div>
                    </div>
                </div>
                <div class="comment-text">{{ comment.text|nl2br }}</div>
                <a href="{{ path("hg_app_auction_detail", {slug: loan.slug, question: "question"}) }}" class="btn btn-investor btn-question">{{ "comments.question_add_another"|trans }}</a>
            {% endif %}
        {% endif %}
    {% endif %}

