{% extends 'AppBundle::layout_sidebar_left.html.twig' %}

{% from 'AppBundle:macros:planb.html.twig' import icon_box %}
{% from 'AppBundle:macros:planb.html.twig' import best_loans %}
{% from 'AppBundle:macros:planb.html.twig' import rating %}
{% from 'AppBundle:macros:planb.html.twig' import collected %}

{% block title %}{{ "auction_detail.title"|trans({"%title%": loan.auctionTitle}, "meta") }}{% endblock %}
{% block description %}{{ "auction_detail.description"|trans({}, "meta") }}{% endblock %}
{% block keywords %}{{ "auction_detail.keywords"|trans({}, "meta") }}{% endblock %}

{% block breadcrumb_inner %}
    {{ parent() }}
    <li><a href="{{ path("hg_app_auction_index") }}">{{ "loan.auction_list"|trans }}</a></li>
    <li><span>{{ loan.auctionTitle }}</span></li>
{% endblock breadcrumb_inner %}

{% block brand_color %}{% endblock brand_color %}

{% block introduce %}
    <div id="introduce" class="{% block introduse_class %}help auction{% endblock %}">
        {% block navbar %}
            {% include 'AppBundle:includes:navbar.html.twig' %}
        {% endblock navbar %}
        {% if not app.user %}
            <div class="text container">
                {% block introduce_text %}
                    <div class="buttons">
                        <a class="btn btn-customer login" href="{{ path("fos_user_registration_register", {type: 'customer'}) }}"><i class="icon-user-arrow-in"></i> {{ "want_to_borrow"|trans }}</a>
                        <a class="btn btn-investor register" href="{{ path("fos_user_registration_register", {type: 'investor'}) }}"><i class="icon-user-arrow-out"></i> {{ "want_to_invest"|trans }}</a>
                    </div>
                {% endblock introduce_text %}
            </div>
        {% endif %}
    </div>
{% endblock introduce %}

{% block sidebar %}
    {% include "AppBundle:Auction:sidebar.html.twig" %}
{% endblock %}

{% block content %}
    {% set user = app.user %}

    <div class="icon-box brand-customer">
        <div class="icon">
            <i class="icon-bars"></i>
        </div>
        <div class="text">
            <h1>{{ "loan.auction"|trans }} - {{ loan.auctionTitle }}</h1>
            <p>{{ ("loan.purpose_" ~ loan.loanPurpose)|trans }} <span class="pull-right indicator {{ loan.activeText }}">ID: {{ loan.formattedId }}</span>
            </p>
        </div>
    </div>

    <div class="auction-detail brand-customer">
        <div class="row">
            <div class="col-xs-9 user">
                <i class="icon icon-user-arrow-in"></i>
                {{ "loan.auction_customer"|trans }}: <span class="brand-link">{{ loan.user.username }}</span>
            </div>
            <div class="col-xs-3">
                {{ rating(loan.auctionRating) }}
            </div>
        </div>

        {% include "AppBundle:Auction:table_detail.html.twig" with {loan: loan} %}
    </div>


    <div class="user-details">
        <div class="icon-box brand-customer">
            <div class="icon">
                <i class="icon-info"></i>
            </div>
            <div class="text">
                <h2>{{ "loan.auction_customer_detail"|trans }}</h2>
            </div>
        </div>
        <table class="table table-striped">
            <tr>
                <th>{{ "profile.gender"|trans }}</th>
                <td>{{ ("profile.gender_"  ~ loan.profile.gender)|trans }}</td>
            </tr>
            <tr>
                <th>{{ "profile.age"|trans }}</th>
                <td>{{ loan.profile.birthDate|age  }} {{ "profile.years"|trans }}</td>
            </tr>
            <tr>
                <th>{{ "profile.education"|trans }}</th>
                <td>{{ ("profile.education_"  ~ loan.profile.education)|trans }}</td>
            </tr>
            <tr>
                <th>{{ "profile.is_student"|trans }}</th>
                <td>{{ (loan.profile.student ? "bool_1" : "bool_0")|trans }}</td>
            </tr>
            <tr>
                <th>{{ "profile.family_status"|trans }}</th>
                <td>{{ ("profile.family_status_"  ~ loan.profile.familyStatus)|trans }}</td>
            </tr>
            <tr>
                <th>{{ "loan.additional_kids"|trans }}</th>
                <td>{{ (loan.additionalKids) }}</td>
            </tr>
            <tr>
                <th>{{ "profile.address_country"|trans }}</th>
                <td>{{ loan.profile.addressCountry|country }}</td>
            </tr>
            <tr>
                <th>{{ "profile.address_region"|trans }}</th>
                <td>{{ ("profile.address_region_"  ~ loan.profile.addressRegion)|trans }}</td>
            </tr>
            {% if loan.incomeType == 1 %}
                <tr>
                    <th>{{ "loan.income_type"|trans }}</th>
                    <td>{{ ("loan.income_type_"  ~ loan.incomeType)|trans }}</td>
                </tr>
                <tr>
                    <th>{{ "loan.income_employment_type_sub1"|trans }}</th>
                    <td>{{ ("loan.income_employment_type_"  ~ loan.incomeEmploymentType)|trans }}</td>
                </tr>
                <tr>
                    <th>{{ "loan.income_employer_name"|trans }}</th>
                    <td>{{ loan.incomeEmployerName|trans }}</td>
                </tr>
                <tr>
                    <th>{{ "loan.income_employer_position"|trans }}</th>
                    <td>{{ loan.incomeEmploymentPosition|trans }}</td>
                </tr>
                <tr>
                    <th>{{ "loan.income_employed_start_at"|trans }}</th>
                    <td>{{ loan.incomeStartAt|date("d.m.Y") }}</td>
                </tr>
                {% if loan.incomeEmploymentType == 2 %}
                    <tr>
                        <th>{{ "loan.income_employed_aggreement_end_at"|trans }}</th>
                        <td>{{ loan.incomeEndAt|date("d.m.Y") }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th>{{ "loan.income_sector"|trans }}</th>
                    <td>{{ ("loan.income_sector_"  ~ loan.incomeSector)|trans }}</td>
                </tr>
            {% endif %}
            {% if loan.incomeType == 2 %}
                <tr>
                    <th>{{ "loan.income_type"|trans }}</th>
                    <td>{{ ("loan.income_type_"  ~ loan.incomeType)|trans }}</td>
                </tr>
                <tr>
                    <th>{{ "loan.income_employment_type_sub2"|trans }}</th>
                    <td>{{ ("loan.income_employment_type_"  ~ loan.incomeEmploymentType)|trans }}</td>
                </tr>
                <tr>
                    <th>{{ "loan.income_employer_name"|trans }}</th>
                    <td>{{ loan.incomeEmployerName|trans }}</td>
                </tr>
                <tr>
                    <th>{{ "loan.income_employer_position"|trans }}</th>
                    <td>{{ loan.incomeEmploymentPosition|trans }}</td>
                </tr>
                <tr>
                    <th>{{ "loan.income_employed_aggreement_start_at"|trans }}</th>
                    <td>{{ loan.incomeStartAt|date("d.m.Y") }}</td>
                </tr>
                <tr>
                    <th>{{ "loan.income_employed_aggreement_end_at"|trans }}</th>
                    <td>{{ loan.incomeEndAt|date("d.m.Y") }}</td>
                </tr>
                <tr>
                    <th>{{ "loan.income_sector"|trans }}</th>
                    <td>{{ ("loan.income_sector_" ~ loan.incomeSector)|trans }}</td>
                </tr>
            {% endif %}
            {% if loan.incomeType == 3 %}
                <tr>
                    <th>{{ "loan.income_type"|trans }}</th>
                    <td>{{ ("loan.income_type_"  ~ loan.incomeType)|trans }}</td>
                </tr>
                <tr>
                    <th>{{ "loan.income_employment_type_sub3"|trans }}</th>
                    <td>{{ ("loan.income_employment_type_"  ~ loan.incomeEmploymentType)|trans }}</td>
                </tr>
                {% if loan.incomeEmploymentType == 13 %}
                    <tr>
                        <th>{{ "loan.income_business_other"|trans }}</th>
                        <td>{{ loan.incomeOther }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th>{{ "loan.income_employed_aggreement_start_at"|trans }}</th>
                    <td>{{ loan.incomeStartAt|date("d.m.Y") }}</td>
                </tr>
                <tr>
                    <th>{{ "loan.income_sector"|trans }}</th>
                    <td>{{ ("loan.income_sector_" ~ loan.incomeSector)|trans }}</td>
                </tr>
            {% endif %}
            {% if loan.incomeType == 4 %}
                {% if loan.incomeEmploymentType == 17 %}
                    <tr>
                        <th>{{ "loan.income_type"|trans }}</th>
                        <td>{{ ("loan.income_type_"  ~ loan.incomeType)|trans }}</td>
                    </tr>
                    <tr>
                        <th>{{ "loan.income_business_other"|trans }}</th>
                        <td>{{ loan.incomeOther }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <th>{{ "loan.income_employment_type_sub4"|trans }}</th>
                        <td>{{ ("loan.income_employment_type_"  ~ loan.incomeEmploymentType)|trans }}</td>
                    </tr>
                {% endif %}
            {% endif %}
            {% if loan.incomeType == 5 %}
                <tr>
                    <th>{{ "loan.income_type"|trans }}</th>
                    <td>{{ ("loan.income_type_"  ~ loan.incomeType)|trans }}</td>
                </tr>
                <tr>
                    <th>{{ "loan.income_employment_type_sub5"|trans }}</th>
                    <td>{{ ("loan.income_employment_type_"  ~ loan.incomeEmploymentType)|trans }}</td>
                </tr>
                <tr>
                    <th>{{ "loan.income_employed_support_start_at"|trans }}</th>
                    <td>{{ loan.incomeStartAt|date("d.m.Y") }}</td>
                </tr>
            {% endif %}
            {% if loan.incomeType == 6 %}
                <tr>
                    <th>{{ "loan.income_type"|trans }}</th>
                    <td>{{ ("loan.income_type_"  ~ loan.incomeType)|trans }}</td>
                </tr>
            {% endif %}
            {% if loan.incomeType == 7 %}
                <tr>
                    <th>{{ "loan.income_type"|trans }}</th>
                    <td>{{ ("loan.income_type_"  ~ loan.incomeType)|trans }}</td>
                </tr>
                <tr>
                    <th>{{ "loan.income_employment_type_sub7"|trans }}</th>
                    <td>{{ ("loan.income_employment_type_"  ~ loan.incomeEmploymentType)|trans }}</td>
                </tr>
            {% endif %}
            {% if loan.incomeType == 8 %}
                <tr>
                    <th>{{ "loan.income_other"|trans }}</th>
                    <td>{{ loan.incomeOther }}</td>
                </tr>
            {% endif %}
        </table>
    </div>

    <div>
        <h2>{{ "loan.additional_why_borrow"|trans }}</h2>

        <p>{{ loan.additionalWhyBorrowInfo|nl2br }} </p>
    </div>
    <div>
        <h2>{{ "loan.additional_why_secure"|trans }}</h2>

        <p>{{ loan.additionalWhySecureInfo|nl2br }}</p>
    </div>

    <div>
        <h2>{{ "loan.additional_incomes_heading"|trans }}</h2>

        <table class="table table-striped">
            <tr>
                <th>{{ "loan.additional_incomes"|trans }}</th>
                <td>{{ (loan.additionalIncomes)|currency }}</td>
            </tr>
            <tr>
                <th>{{ "loan.additional_incomes_others"|trans }}</th>
                <td>{{ (loan.additionalIncomesOthers)|currency }}</td>
            </tr>
            <tr>
                <th>{{ "loan.additional_incomes_partner"|trans }}</th>
                <td>{{ (loan.additionalIncomesPartner)|currency }}</td>
            </tr>
            <tr>
                <th>{{ "loan.additional_outcomes_household"|trans }}</th>
                <td>{{ (loan.additionalOutcomesHousehold)|currency }}</td>
            </tr>
        </table>
    </div>
    <div>
        <h2>{{ "loan.additional_outcomes_info"|trans }}</h2>
        <p>{{ (loan.additionalOutcomesInfo) }}</p>
    </div>
    <div>
        <h2>{{ "loan.additional_obligations_heading"|trans }}</h2>

        <table class="table table-striped monthly-obligations">
            <thead>
            <tr>
                <th>{{ "loan.obligation_title"|trans }}</th>
                <td>{{ "loan.obligation_amount_short"|trans }}</td>
                <td>{{ "loan.obligation_monthly_short"|trans }}</td>
                <td>{{ "loan.obligation_end"|trans }}</td>
            </tr>
            </thead>
            <tbody>
            {% for obligation in loan.additionalObligations %}
            <tr>
                <td>{{ obligation.title }}</td>
                <td>{{ obligation.amount|currency }}</td>
                <td>{{ obligation.monthly|currency }}</td>
                <td>{{ obligation.end|date("d.m.Y") }}</td>
            </tr>
            {% else %}
                <tr>
                    <td colspan="4" class="text-center">{{ "loan.additional_obligations_no"|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% if loan.additionalObligations|length and loan.additionalObligationInfo %}
    <div>
        <h2>{{ "loan.additional_obligation_info"|trans }}</h2>
        <p>{{ loan.additionalObligationInfo|nl2br }}</p>
    </div>
    {% endif %}

    <div id="auction-investments" data-url="{{ path("hg_app_auction_detail", {slug: loan.slug}) }}">
        {{ render(controller('AppBundle:Auction:investments', {request:app.request, loanId: loan.id})) }}
    </div>

    {% if not user or user and user.isType("investor") %}
    <h2>{{ "investments.investment_add_heading"|trans }}</h2>
    <div id="auction-add-investment" class="form-vertical-basic">

        {{ render(controller('AppBundle:Auction:investmentAdd', {request:app.request, loanId: loan.id})) }}
    </div>
    {% endif %}

    <div id="comments" class="comments">
        <div class="icon-box heading">
            <div class="icon">
                <i class="icon-chat"></i>
            </div>
            <div class="text">
                <h2>{{ "comments.heading"|trans }}</h2>
                <p>{{ "comments.description"|trans }}</p>
            </div>
        </div>

        {{ render(controller('AppBundle:Auction:comments', {request:app.request, loanId: loan.id})) }}

    </div>
{% endblock content %}