<div id="filter" class="list">
    <div class="container">
        <div class="icon-box brand-investor">
            <div class="icon">
                <i class="icon-settings"></i>
            </div>
            <div class="text">
                <h1>{{ "filter.heading"|trans }}</h1>

                <p>{{ "filter.description"|trans }}</p>
            </div>
        </div>
        <form class="filter" action="{{ path("hg_app_auction_index") }}" enctype="multipart/form-data">
            <div class="row">
                <div class="col-xs-6">
                    <h3>{{ "filter.rating_customer"|trans }}</h3>

                    <div class="ratings">
                        {% set rating = filter.rating|default([1,2,3,4,5]) %}
                        <div>
                            <label class="rating rating-1" for="filter-rating-1"><span></span>
                                {{ "loan.rating"|trans }}<br>{{ "loan.rating_1"|trans }}
                            </label><br>
                            <input id="filter-rating-1" name="filter[rating][]" type="checkbox"
                                   value="1"{% if 1 in rating %} checked{% endif %}>
                        </div>
                        <div>
                            <label class="rating rating-2" for="filter-rating-2">
                                {{ "loan.rating"|trans }}<br>{{ "loan.rating_2"|trans }}
                            </label><br>
                            <input id="filter-rating-2" name="filter[rating][]" type="checkbox"
                                   value="2"{% if 2 in rating %} checked{% endif %}>
                        </div>
                        <div>
                            <label class="rating rating-3" for="filter-rating-3">
                                {{ "loan.rating"|trans }}<br>{{ "loan.rating_3"|trans }}
                            </label><br>
                            <input id="filter-rating-3" name="filter[rating][]" type="checkbox"
                                   value="3"{% if 3 in rating %} checked{% endif %}>
                        </div>
                        <div>
                            <label class="rating rating-4" for="filter-rating-4">
                                {{ "loan.rating"|trans }}<br>{{ "loan.rating_4"|trans }}
                            </label><br>
                            <input id="filter-rating-4" name="filter[rating][]" type="checkbox"
                                   value="4"{% if 4 in rating %} checked{% endif %}>
                        </div>
                        <div>
                            <label class="rating rating-5" for="filter-rating-5">
                                {{ "loan.rating"|trans }}<br>{{ "loan.rating_5"|trans }}
                            </label><br>
                            <input id="filter-rating-5" name="filter[rating][]" type="checkbox"
                                   value="5"{% if 5 in rating %} checked{% endif %}>
                        </div>
                    </div>
                    <h3>{{ "filter.maturity"|trans }}</h3>

                    <div class="maturity">
                        {% set maturity = filter.maturity|default([12,24,36,48,60]) %}
                        <span>
                            <input name="filter[maturity][]" type="checkbox" id="maturity12"
                                   value="12"{% if 12 in maturity %} checked{% endif %}>
                            <label class="btn btn-maturity" for="maturity12"><strong>1</strong>rok</label>
                        </span>
                        <span>
                            <input name="filter[maturity][]" type="checkbox" id="maturity24"
                                   value="24"{% if 24 in maturity %} checked{% endif %}>
                            <label class="btn btn-maturity" for="maturity24"><strong>2</strong>roky</label>
                        </span>
                        <span>
                            <input name="filter[maturity][]" type="checkbox" id="maturity36"
                                   value="36"{% if 36 in maturity %} checked{% endif %}>
                           <label class="btn btn-maturity" for="maturity36"><strong>3</strong>roky</label>
                        </span>
                        <span>
                            <input name="filter[maturity][]" type="checkbox" id="maturity48"
                                   value="48"{% if 48 in maturity %} checked{% endif %}>
                           <label class="btn btn-maturity" for="maturity48"><strong>4</strong>roky</label>
                        </span>
                        <span>
                            <input name="filter[maturity][]" type="checkbox" id="maturity60"
                                   value="60"{% if 60 in maturity %} checked{% endif %}>
                        <label class="btn btn-maturity" for="maturity60"><strong>5</strong>rokov</label>
                        </span>
                    </div>
                    <div class="row risk-and-watchdogs">
                        <div class="col-xs-6">
                            <h3>{{ "filter.risk_auctions"|trans }}</h3>
                            <button id="risk-auctions"
                                    class="btn btn-sm btn-risk">{{ "filter.risk_auctions_btn"|trans }}</button>
                        </div>
                        <div class="col-xs-6">
                            {% if watchdogs is defined and watchdogs|length %}
                            <h3>{{ "filter.auction_watchdog"|trans }}</h3>

                            {% set watchdogActive = filter.watchdog is defined ? filter.watchdog : 0 %}

                            <select name="filter[watchdog]" id="auction-watchdog" class="form-control">
                                <option value="0">{{ "filter.auction_watchdog_empty"|trans }}</option>
                                {% for watchdog in watchdogs %}
                                <option value="{{ watchdog.id }}" data-href="{{ path("hg_app_ajax_watchdog_filter", {watchdogId: watchdog.id, "_format" : "json"}) }}"{% if watchdogActive == watchdog.id %} selected="selected"{% endif %}>{{ watchdog.name }}</option>
                                {% endfor %}
                            </select>
                            {% endif %}
                        </div>
                    </div>

                </div>
                <div class="col-xs-3 brand-investor">
                    <div id="interest-average" class="slider-wrap">
                        <h3>{{ "filter.interest_average"|trans }}</h3>

                        <div class="slider" data-min="0" data-max="30"></div>
                        <input type="hidden" name="filter[interestAverageMin]" class="min-value"
                               value="{{ filter.interestAverageMin|default(0) }}">
                        <input type="hidden" name="filter[interestAverageMax]" class="max-value"
                               value="{{ filter.interestAverageMax|default(30) }}">

                        <div class="row">
                            <div class="col-xs-6"><span class="min-value"></span> %</div>
                            <div class="col-xs-6 text-right"><span class="max-value"></span> %</div>
                        </div>
                    </div>
                    <div id="collected-percentage" class="slider-wrap">
                        <h3>{{ "filter.collected_amount"|trans }}</h3>

                        <div class="slider" data-min="0" data-max="100"></div>
                        <input type="hidden" name="filter[collectedPercentageMin]" class="min-value"
                               value="{{ filter.collectedPercentageMin|default(0) }}">
                        <input type="hidden" name="filter[collectedPercentageMax]" class="max-value"
                               value="{{ filter.collectedPercentageMax|default(100) }}">

                        <div class="row">
                            <div class="col-xs-6"><span class="min-value"></span> %</div>
                            <div class="col-xs-6 text-right"><span class="max-value"></span> %</div>
                        </div>
                    </div>
                    <div id="auction-status">
                        <h3>{{ "filter.auction_status"|trans }}</h3>
                        <select name="filter[status]" class="form-control">
                            <option value="active"
                                    {% if filter.status|default(true) %}selected="selected"{% endif %}>{{ "filter.auction_active"|trans }}</option>
                            <option value="inactive"
                                    {% if filter.status|default(false) %}selected="selected"{% endif %}>{{ "filter.auction_inactive"|trans }}</option>
                            <option value="all"
                                    {% if filter.status|default(false) %}selected="selected"{% endif %}>{{ "filter.auction_all"|trans }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-3 brand-investor">
                    <div id="auction-amount" class="slider-wrap">
                        <h3>{{ "filter.auction_amount"|trans }}</h3>

                        <div class="slider" data-min="300" data-max="10000"></div>
                        <input type="hidden" name="filter[amountMin]" class="min-value"
                               value="{{ filter.amountMin|default(300) }}">
                        <input type="hidden" name="filter[amountMax]" class="max-value"
                               value="{{ filter.amountMax|default(10000) }}">

                        <div class="row">
                            <div class="col-xs-6"><span class="min-value"></span> €</div>
                            <div class="col-xs-6 text-right"><span class="max-value"></span> €</div>
                        </div>
                    </div>
                    <div id="auction-days-end" class="slider-wrap">
                        <h3>{{ "filter.auction_days_end"|trans }}</h3>

                        <div class="slider" data-min="0" data-max="30"></div>
                        <input type="hidden" name="filter[daysEndMin]" class="min-value"
                               value="{{ filter.daysEndMin|default(0) }}">
                        <input type="hidden" name="filter[daysEndMax]" class="max-value"
                               value="{{ filter.daysEndMax|default(30) }}">

                        <div class="row">
                            <div class="col-xs-6"><span class="min-value"></span> {{ "days"|trans }}</div>
                            <div class="col-xs-6 text-right"><span class="max-value"></span> {{ "days"|trans }}</div>
                        </div>
                    </div>
                    <div class="submit">
                        <button class="btn btn-customer" type="submit">{{ "filter.button_filter"|trans }}</button>
                        <a class="btn btn-reset"
                           href="{{ path("hg_app_auction_index") }}">{{ "filter.button_reset"|trans }}</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>