{% extends 'AppBundle::layout_full.html.twig' %}

{% from 'AppBundle:macros:planb.html.twig' import icon_box %}
{% from 'AppBundle:macros:planb.html.twig' import best_loans %}
{% from 'AppBundle:macros:planb.html.twig' import rating %}
{% from 'AppBundle:macros:planb.html.twig' import collected %}

{% block title %}{{ "auction_list.title"|trans({}, "meta") }}{% endblock %}
{% block description %}{{ "auction_list.description"|trans({}, "meta") }}{% endblock %}
{% block keywords %}{{ "auction_list.keywords"|trans({}, "meta") }}{% endblock %}

{% block breadcrumb_inner %}
    {{ parent() }}
    <li><span>{{ "loan.auction_list"|trans }}</span></li>
{% endblock breadcrumb_inner %}

{% block introduce %}
    <div id="introduce" class="{% block introduse_class %}help auction{% endblock %}">
        {% block navbar %}
            {% include 'AppBundle:includes:navbar.html.twig' %}
        {% endblock navbar %}
        {% if not app.user %}
            <div class="text container">
                {% block introduce_text %}
                    <div class="buttons">
                        <a class="btn btn-customer login" href="{{ path("fos_user_registration_register", {type: 'customer'}) }}"><i class="icon-user-arrow-in"></i> {{ "want_to_borrow"|trans }}</a>
                        <a class="btn btn-investor register" href="{{ path("fos_user_registration_register", {type: 'investor'}) }}"><i class="icon-user-arrow-out"></i> {{ "want_to_invest"|trans }}</a>
                    </div>
                {% endblock introduce_text %}
            </div>
        {% endif %}
    </div>
{% endblock introduce %}

{% block brand_color %}{% endblock brand_color %}

{% block main %}
    {% include "AppBundle:Auction:filter.html.twig" %}
    <div id="filter-result-spinner" class="container"></div>
    <div id="filter-result">
        {{ render(controller('AppBundle:Auction:list', {request:app.request})) }}
    </div>
{% endblock main %}