{% from 'AppBundle:macros:planb.html.twig' import alert_box %}

{% if investment|default(null) %}

    <div class="table-detail" style="display: none">
    {% include "AppBundle:Auction:table_detail.html.twig" with {loan: investment.loan, user: app.user} %}
    </div>
    {{ alert_box("icon-info", "investments.already_invested"|trans, "info") }}

{% else %}
    <div class="brand-investor">
        {% set user = app.user %}

        {% if personalIdSame|default(null) %}
            {{ alert_box("icon-warning", "investments.personal_id_same"|trans, "warning") }}
        {% elseif user %}
            {% if not user.isStatus(constant('STATUS_DOCUMENTS_WAITING', user)) %}
                {% if not user.validationHash %}
                    {{ alert_box("icon-warning", "investments.grid_card_needed"|trans, "warning") }}
                    <a class="btn btn-investor" href="{{ path("fos_user_grid_card") }}"><i
                                class="icon-install"></i> {{ 'grid_card.generate_codes'|trans }}</a>
                {% elseif user.creditFree < 25 %}
                    {{ alert_box("icon-warning", "investments.funds_needed"|trans, "warning") }}
                    <a class="btn btn-investor" href="{{ path("fos_user_investor_deposit") }}"><i
                                class="icon-key"></i> {{ 'credit.deposit.heading'|trans }}</a>
                {% else %}
                    <div class="profit right">
                        <div class="circle">
                            {{ "investments.profit"|trans }}
                            <span class="price">{{ 0|currency }}</span>
                        </div>
                    </div>
                    <div class="summary right">
                        <div class="circle">
                            {{ "investments.credit_free"|trans }}
                            <span class="price">{{ user.creditFree|currency }}</span>
                        </div>
                    </div>
                    {{ form(form) }}
                    {{ alert_box("icon-info", "investments.only_once"|trans, "info") }}
                {% endif %}

            {% else %}
                {% include "@User/includes/need_documents.html.twig" %}
            {% endif %}

        {% else %}
            {{ alert_box("icon-warning", "investments.investment_add_must_register"|trans({"%1%":path("fos_user_security_login"), "%2%":path("fos_user_registration_register", {"type": "investor"})}), "info") }}
        {% endif %}
    </div>
{% endif %}