<div class="investments-list">
    <div class="icon-box brand-investor">
        <div class="icon">
            <i class="icon-user-arrow-out"></i>
        </div>
        <div class="text">
            <h2>{{ "investments.heading"|trans }}</h2>

            <p>{{ "investments.description"|trans }}</p>
        </div>
    </div>
    {% set isOwner = app.user and  app.user == loan.user %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                <span class="investor">{{ "investments.investor"|trans }}</span>
            </th>
            <th>
                <span class="offer">{{ "investments.offer"|trans }}</span>
            </th>
            <th><span class="interest">{{ "investments.interest"|trans }}</span></th>
            <th>
                <span class="created-at">{{ "investments.date"|trans }}</span>
            </th>
            {% if isOwner %}
                <th>
                </th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for investment in investments %}
            <tr>
                <td>
                    <span class="investor">{{ investment.user.username }}</span>
                </td>
                <td>
                    <span class="offer">{{ investment.amount|currency }}</span>
                </td>
                <td><span class="interest">{{ investment.interest|interest }}</span></td>
                <td>
                    <span class="created-at">{{ investment.createdAt|date("d.m.Y H:i:s") }}</span>
                </td>
                {% if isOwner %}
                    <td>
                        {% if investment.isStatus([constant('STATUS_INSERTED', investment), constant('STATUS_PREPARED', investment)]) %}
                        <a href="{{ path("hg_app_ajax_investment_delete", {investmentId: investment.id, "_format" : "json"}) }}"
                           class="remove-investment tooltip-popup"
                           data-message="{{ "investments.to_delete_question"|trans }}" title="{{ "investments.delete_investment"|trans }}">
                            <span class="icon-cancel-circle"></span>
                        </a>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <th colspan="4" class="text-center">{{ "investments.no_results"|trans }}</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{{ knp_pagination_render(investments ) }}