{% set hasWatchlists = app.user and app.user.isInvestor  %}
{% from 'AppBundle:macros:planb.html.twig' import rating %}

<div id="main">
    <div class="full-box">
        <div class="container content">
            <div class="row">
                <div class="brand-investor col-xs-12">
                    <div class="icon-box">
                        <div class="icon">
                            <i class="icon-bars"></i>
                        </div>
                        <div class="text">
                            <h2>{{ ("auction.list_heading_" ~ filter.status)|trans }}</h2>
                            <p>{{ ("auction.list_description_" ~ filter.status)|trans }}</p>
                        </div>
                    </div>

                </div>
            </div>

            <table class="auctions">
                <thead>
                <tr>
                    <th>
                        <div class="rating">{{ "loan.rating"|trans }}</div>
                    </th>
                    {% if hasWatchlists %}
                    <th></th>
                    {% endif %}
                    <th>
                        <span class="name">{{ "auction.nick"|trans }}</span>
                        <span class="id">{{ "auction.id"|trans }}</span>
                        <div class="title">{{ "auction.title"|trans }}</div>
                    </th>
                    <th>
                        <span class="amount">{{ "auction.amount"|trans }}</span>
                        <span class="maturity">{{ "auction.maturity"|trans }}</span>

                        <div class="purpose">{{ "auction.purpose"|trans }}</div>
                    </th>
                    <th>
                        <div class="interest">{{ "auction.interest"|trans }}</div>
                        <div class="start">{{ "auction.start"|trans }}</div>
                    </th>
                    <th>
                        <div class="end">{{ "auction.end"|trans }}</div>
                    </th>
                    <th>
                        <div class="collected" data-percent="100" data-color="#cecece"><span class="circle">%</span>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for loan in loans %}
                <tr class="js-link" data-link-element=".auction-link">
                    <td>
                        {{ rating(loan.auctionRating) }}
                    </td>
                    {% if hasWatchlists %}
                    <td class="actions">
                        <a class="tooltip-popup icon-eye watchlist{{ watchlists[loan.id] is defined ? " " ~ watchlists[loan.id].status ~ (watchlists[loan.id].updated ? " notification" : "")  : "" }}" href="{{ path("hg_app_ajax_watchlist", {loanId: loan.id, _format: "json" }) }}"
                                {% spaceless %}
                                    {% if watchlists[loan.id] is defined and watchlists[loan.id].status == "active" %}
                                        {% if watchlists[loan.id].updated %}
                                            title="{{ "auction.watchlist.notification"|trans }}"
                                        {% else %}
                                            title="{{ "auction.watchlist.active"|trans }}"
                                        {% endif %}
                                    {% else %}
                                        title="{{ "auction.watchlist.inactive"|trans }}"
                                    {% endif %}
                                {% endspaceless %}
                        ></a>
                        <span class="tooltip-popup icon-podcast watchdog{{ watchdogs[loan.id] is defined and watchdogs[loan.id]|length ? " active" : ""}}"
                            {% spaceless %}
                                {% if watchdogs[loan.id] is defined and watchdogs[loan.id]|length %}
                                    title="{{ "auction.watchdog.active"|trans }}"
                                {% else %}
                                    title="{{ "auction.watchdog.inactive"|trans }}"
                                {% endif %}
                            {% endspaceless %}
                        ></span>
                    </td>
                    {% endif %}
                    <td>
                        <span class="name">{{ loan.user.username }}</span>
                        <span class="id">{{ loan.formattedId }}</span>

                        <div class="title"><a class="auction-link" href="{{ path("hg_app_auction_detail", {slug: loan.slug}) }}">{{ loan.auctionTitle }}</a></div>
                    </td>
                    <td>
                        <span class="amount">{{ loan.auctionApprovedAmount|currency(0) }}</span>
                        <span class="maturity">{{ ("loan.maturity_" ~ loan.loanMaturity)|trans }}</span>

                        <div class="purpose">{{ ("loan.purpose_" ~ loan.loanPurpose)|trans }}</div>
                    </td>
                    <td>{% if loan.auctionInterestAverage < 0.2 %}
                        <div class="interest">{{ loan.auctionInterestAverage|interest }}</div>
                        {% else %}
                        <div class="interest label label-risk">{{ loan.auctionInterestAverage|interest }}</div>
                        {% endif %}
                        <div class="start">{{ loan.auctionStartAt|date("d.m.Y") }}</div>
                    </td>
                    <td>
                        {% if loan.active %}
                        <div class="end">{{ loan.auctionEndAt|countdown|raw }}</div>
                        {% else %}
                        <div class="label label-danger">{{ "auction.inactive"|trans }}</div>
                        {% endif %}
                    </td>
                    <td>
                        <div class="collected" data-percent="{{ loan.auctionCollectedPercentage|percentage }}"><span class="circle">{{ loan.auctionCollectedPercentage|percentage(0) }}</span></div>
                    </td>
                </tr>
                {% else %}
                    <tr>
                        <td colspan="{{ hasWatchlists ? 7 : 6 }}" class="text-center">{{ "auction.no_results"|trans }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {{ knp_pagination_render(loans ) }}
        </div>
    </div>
</div>