{% if not app.user %}
<div class="block">
    <h2>{{ "sidebar.why_invest.heading"|trans({}, "texts") }}</h2>
    <p>{{ "sidebar.why_invest.info"|trans({}, "texts") }}</p>
    <a class="btn btn-investor btn-xs" href="{{ path("fos_user_registration_register", {type: "investor"}) }}"><i class="icon-user-arrow-out"></i> {{ "want_to_invest"|trans }}</a>
</div>
<div class="block">
    <h2>{{ "sidebar.why_borrow.heading"|trans({}, "texts") }}</h2>
    <p>{{ "sidebar.why_borrow.info"|trans({}, "texts") }}</p>
    <a class="btn btn-customer btn-xs" href="{{ path("fos_user_registration_register", {type: "customer"}) }}"><i class="icon-user-arrow-in"></i> {{ "want_to_borrow"|trans }}</a>
</div>
{% endif %}
<div class="block">
    <h2>{{ "sidebar.social_share.heading"|trans({}, "texts") }}</h2>
    <p>{{ "sidebar.social_share.info"|trans({}, "texts") }}</p>

    <div class="social-icons">
        {#<a href="#"><i class="icon-mail-2"></i></a>#}
        {#<a href="#"><i class="icon-facebook-2"></i></a>#}
        {#<a href="#"><i class="icon-twitter-2"></i></a>#}
        {#<a href="#"><i class="icon-google-plus-2"></i></a>#}
        {% set url = ('https://' ~ app.request.host ~ app.request.requesturi)|url_encode %}
        <div class="facebook">
            <iframe src="//www.facebook.com/plugins/like.php?href={{ url }}&amp;width&amp;layout=box_count&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=65&amp;appId=154821134727891" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:65px;" allowTransparency="true"></iframe>
        </div>
        <div>
            <iframe scrolling="no" frameborder="0" id="twitter-widget-9" allowtransparency="true" src="https://platform.twitter.com/widgets/tweet_button.1384994725.html#_=1386017933547&amp;count=vertical&amp;counturl={{ url }}&amp;id=twitter-widget-9&amp;lang=en&amp;original_referer={{ url }}&amp;size=m&amp;text=Tweet%20Button%20%7C%20Twitter%20Developers&amp;url={{ url }}" class="twitter-share-button twitter-tweet-button twitter-count-vertical" title="Twitter Tweet Button" data-twttr-rendered="true" style="width: 58px; height: 62px;"></iframe>
        </div>
        <div>
            <!-- Place this tag where you want the +1 button to render. -->
            <div class="g-plusone" data-size="tall"></div>

            <!-- Place this tag after the last +1 button tag. -->
            <script type="text/javascript">
                window.___gcfg = {lang: 'sk'};

                (function() {
                    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                    po.src = 'https://apis.google.com/js/platform.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                })();
            </script>
        </div>
    </div>
</div>
<div class="block auctions">
    <div class="icon-box brand-investor">
        <div class="icon">
            <i class="icon-bars"></i>
        </div>
        <div class="text">
            <h2>{{ "sidebar.another_auctions.heading"|trans({}, "texts") }}</h2>

            <div class="title">{{ "sidebar.another_auctions.info"|trans({}, "texts") }}</div>
        </div>
    </div>

    {{ render(controller('AppBundle:Embedded:latestAuctionsSidebar')) }}
</div>