<table class="detail">
    <tr>
        <th>{{ "loan.requested_amount"|trans }}</th>
        <td>{{ loan.auctionApprovedAmount|currency }}</td>
        <th class="status-heading">{{ "loan.auction_fulfilment_status"|trans }}</th>
    </tr>
    <tr>
        <th>{{ "loan.maturity"|trans }}</th>
        <td>{{ ("loan.maturity_" ~ loan.loanMaturity) | trans }}</td>
        <td rowspan="5" class="collected-wrap">
            <div class="collected" data-percent="{{ loan.auctionCollectedPercentage|percentage() }}" data-size="180" data-width="32">
                        <span class="circle">
                            <span class="big">{{ loan.auctionCollectedPercentage|percentage }}</span><br>
                            <span class="small">{{ loan.auctionCollectedAmount|currency }}</span>
                        </span>
            </div>
        </td>
    </tr>
    <tr>
        <th>{{ "loan.interest_recommemded"|trans }}</th>
        <td>{{ loan.auctionInterestRecommemded|interest }}</td>
    </tr>
    <tr>
        <th>{{ "loan.interest_average"|trans }}</th>
        <td>{% if loan.auctionInterestAverage < 0.2 %}
                {{ loan.auctionInterestAverage|interest }}
            {% else %}
                <span class="label label-risk ">{{ loan.auctionInterestAverage|interest }}</span>
                <span href="#" class="tooltip-icon tooltip-popup brand-risk" data-toggle="tooltip"
                      title="{{ "risk_auction"|trans }}">
                        <i class="icon-help"></i>
                    </span>
            {% endif %}</td>
    </tr>
    <tr>
        <th>{{ "loan.auction_date_end"|trans }}</th>
        <td>{{ loan.auctionEndAt|date("d.m.Y H:i:s") }}</td>
    </tr>
    {% if loan.auctionStartAt|date("Y-m-d") > "2014-03-04"|date("Y-m-d") %}
    <tr>
        <th>{{ "loan.auction_insurance"|trans }}</th>
        <td><a href="{{ path("hg_app_page", {slug: "zachranne-koleso"}) }}"><span class="icon icon-support"></span> {{ "loan.auction_insurance_lifebuoy"|trans }}</a></td>
    </tr>
    {% endif %}
    <tr>
        <th>{{ "loan.auction_status"|trans }}</th>
        <td><span class="indicator {{ loan.activeText }}">{{ ("loan.auction_status_" ~ loan.activeText )|trans }}</span></td>
    </tr>
    <tr>
        <td class="actions" colspan="2">
            {% set user = app.user %}
            {% if user and user.isType("investor") %}
                <a href="#auction-add-investment" class="btn btn-investor">
                    <i class="icon-user-arrow-out"></i>{{ "loan.want_to_invest"|trans }}
                </a>
            {% elseif user and user.isType("customer") and user == loan.user %}
                <a href="{{ path("fos_user_auctions_stop") }}" class="btn btn-customer">
                    <i class="icon-user-arrow-in"></i>{{ "loan.auction_stop"|trans }}
                </a>
            {% elseif not user %}
                <a href="{{ path("fos_user_registration_register", {type: "investor"}) }}" class="btn btn-investor">
                    <i class="icon-user-arrow-out"></i>{{ "loan.want_to_invest"|trans }}
                </a>
            {% endif %}
        </td>
        <td class="auction-end">
            {% if loan.active %}
            {{ "loan.auction_end_on"|trans }}:<br>
            <time datetime="{{ loan.auctionEndAt|date("U") }}">{{ loan.auctionEndAt|countdown|raw }}</time>
            {% endif %}
        </td>
    </tr>
</table>