{% macro icon_box(icon, text) %}
    {% spaceless %}
        <div class="icon-box">
            <div class="icon">
                <i class="{{ icon }}"></i>
            </div>
            <div class="text">
                {{ text|raw }}
            </div>
        </div>
    {% endspaceless %}
{% endmacro %}


{% macro best_loans(name, interest, amount) %}
    {% spaceless %}
        <div class="item">
            <div class="icon"><i class="icon icon-user-arrow-in"></i></div>
            <div class="desc">{{ name|raw }}<br>
                {{ interest }}<br>
                <strong>{{ amount }}</strong>
            </div>
        </div>
    {% endspaceless %}
{% endmacro %}

{% macro rating(rating) %}
    {% spaceless %}
        <div class="rating rating-{{ rating }}">
            {{ "loan.rating"|trans }}<br>{{ ("loan.rating_" ~ rating)|trans }}
        </div>
    {% endspaceless %}
{% endmacro %}

{% macro collected(percentage) %}
    {% spaceless %}
        <div class="collected" data-percent="{{ percentage }}"><span class="circle">{{ percentage }}%</span></div>
    {% endspaceless %}
{% endmacro %}


{% macro alert_box(icon, text, type) %}
    {% spaceless %}
        <div class="alert-box alert-box-{{ type }}">
            <div class="icon">
                <i class="{{ icon }}"></i>
            </div>
            <div class="text">
                <div class="alert">
                    {{ text|raw }}
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endmacro %}



{% macro stepper(count, active, data, domain = "messages") %}
    {% spaceless %}
        <div class="stepper steps-active-{{ active }} steps-{{ count }}">
            <div class="steps">
                {% for i in 1..count %}
                    <div class="step step-{{ i }}">
                        <div>{{ i }}</div>
                    </div>
                    {% if not loop.last %}
                        <div class="line line-{{ i + 1 }}">
                            <div></div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% if data|default(0) %}
                <div class="names">
                    {% for i in 1..data|length %}
                        <div class="step step-{{ i }}">
                            <div>{{ data[i - 1]|trans({}, domain) }}</div>
                        </div>
                        {% if not loop.last %}
                            <div class="line line-{{ i + 1 }}">
                                <div></div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endspaceless %}
{% endmacro %}
