{% extends 'AppBundle::layout_full.html.twig' %}

{% from 'AppBundle:macros:planb.html.twig' import icon_box %}
{% from 'AppBundle:macros:planb.html.twig' import best_loans %}
{% from 'AppBundle:macros:planb.html.twig' import rating %}
{% from 'AppBundle:macros:planb.html.twig' import collected %}

{% block breadcrumbs %}{% endblock %}
{% block introduce %}
    <div id="introduce" data-target="#youtube-window" class="{% block introduse_class %}help video{% endblock %}">
        {% block navbar %}
            {% include 'AppBundle:includes:navbar.html.twig' %}
        {% endblock navbar %}
        {% if not app.user %}
            <div class="text container">
                {% block introduce_text %}
                    <div class="video-icon"><span class="icon-play"></span></div>
                    <h1>{{ "introduce.index.header"|trans }}</h1>
                    <p>{{ "introduce.index.desc"|trans }}</p>
                    <div class="buttons">
                        <a class="btn btn-customer login" href="{{ path("fos_user_registration_register", {type: 'customer'}) }}"><i class="icon-user-arrow-in"></i> {{ "want_to_borrow"|trans }}</a>
                        <a class="btn btn-investor register" href="{{ path("fos_user_registration_register", {type: 'investor'}) }}"><i class="icon-user-arrow-out"></i> {{ "want_to_invest"|trans }}</a>
                    </div>
                {% endblock introduce_text %}
            </div>
        {% endif %}
    </div>
{% endblock introduce %}

{% block main %}
    <div id="main">
    <div class="full-box">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 brand-customer">
                    {{ icon_box('icon-user-arrow-in', '<h2>' ~ "catcher.why_borrow.heading"|trans({}, "texts") ~ '</h2>' ) }}
                    <p>{{ "catcher.why_borrow.info"|trans({}, "texts") }}</p>
                </div>
                <div class="col-xs-6 brand-investor">
                    {{ icon_box('icon-user-arrow-out', '<h2>' ~ "catcher.why_invest.heading"|trans({}, "texts") ~ '</h2>' ) }}
                    <p>{{ "catcher.why_invest.info"|trans({}, "texts") }}</p>
                </div>
            </div>
        </div>
    </div>


    <div class="full-box">
        <div class="container">
            {% include "AppBundle:includes/textBlocks:calculator-both.html.twig" %}
        </div>
    </div>


    <div class="full-box">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 brand-customer">
                    {{ icon_box('icon-clock-2', '<h2>' ~ "benefits.customer.benefit_heading_1"|trans({}, "texts") ~ '</h2>'
                    ~ "<p>" ~ "benefits.customer.benefit_desc_1"|trans({}, "texts") ~ '</p>' ) }}
                    {{ icon_box('icon-signup', '<h2>' ~ "benefits.customer.benefit_heading_2"|trans({}, "texts") ~ '</h2>'
                    ~ "<p>" ~ "benefits.customer.benefit_desc_2"|trans({}, "texts") ~ '</p>' ) }}
                    {{ icon_box('icon-shield', '<h2>' ~ "benefits.customer.benefit_heading_3"|trans({}, "texts") ~ '</h2>'
                    ~ "<p>" ~ "benefits.customer.benefit_desc_3"|trans({}, "texts") ~ '</p>' ) }}
                </div>
                <div class="col-xs-6 brand-investor">
                    {{ icon_box('icon-kredilibita', '<h2>' ~ "benefits.investor.benefit_heading_1"|trans({}, "texts") ~ '</h2>'
                    ~ "<p>" ~ "benefits.investor.benefit_desc_1"|trans({}, "texts") ~ '</p>' ) }}
                    {{ icon_box('icon-expand', '<h2>' ~ "benefits.investor.benefit_heading_2"|trans({}, "texts") ~ '</h2>'
                    ~ "<p>" ~ "benefits.investor.benefit_desc_2"|trans({}, "texts") ~ '</p>' ) }}
                    {{ icon_box('icon-bars-2', '<h2>' ~ "benefits.investor.benefit_heading_3"|trans({}, "texts") ~ '</h2>'
                    ~ "<p>" ~ "benefits.investor.benefit_desc_3"|trans({}, "texts") ~ '</p>' ) }}
                </div>
            </div>
        </div>
    </div>

    <div class="full-box">
        <div class="container">
            <div class="row">
                {#<div class="col-xs-6 brand-customer">#}
                    {#{{ icon_box('icon-stats', '<h2>' ~ "best_loans.heading"|trans({}, "texts") ~ '</h2>'#}
                    {#~ "<p>" ~ "best_loans.desc"|trans({}, "texts") ~ '</p>' ) }}#}

                    {#<div class="best-loans">#}
                        {#{{ best_loans('<strong>Lending Club</strong>','preinvestoval','$3,001,587,525') }}#}
                        {#{{ best_loans('<strong>KickStarter</strong>','preinvestoval','$899,000,000') }}#}
                        {#{{ best_loans('<strong>Prosper</strong>','preinvestoval','$738,000,000') }}#}
                        {#{{ best_loans('<strong>HitHit.cz</strong>','preinvestoval','5,000,000 CZK') }}#}
                    {#</div>#}
                {#</div>#}

                <div class="col-xs-6 brand-investor">
                    {{ icon_box('icon-stats', '<h2>' ~ "entrance_bonus.heading"|trans({}, "texts") ~ '</h2>'
                    ~ "<p>" ~ "entrance_bonus.desc"|trans({}, "texts") ~ '</p>' ) }}

                    <table class="table table-striped">
                        <tr>
                            <th>min. 50€</th>
                            <td>+10</td>
                        </tr>
                        <tr>
                            <th>min. 100€</th>
                            <td>+15</td>
                        </tr>
                        <tr>
                            <th>min. 250€</th>
                            <td>+25</td>
                        </tr>
                        <tr>
                            <th>min. 500€</th>
                            <td>+40</td>
                        </tr>
                        <tr>
                            <th>min. 1000€</th>
                            <td>+75</td>
                        </tr>
                        <tr>
                            <th>min. 2000€</th>
                            <td>+125</td>
                        </tr>
                        <tr>
                            <th>min. 3000€</th>
                            <td>+250</td>
                        </tr>
                        <tr>
                            <th>min. 4000€</th>
                            <td>+350</td>
                        </tr>
                        <tr>
                            <th>min. 5000€</th>
                            <td>+500</td>
                        </tr>
                    </table>
                    <div class="text-center">
                    <a class="btn btn-brand" href="{{ path("hg_app_page", {slug: "vstupny-bonus"}) }}">Viac o vstupnom bonuse</a>
                    </div>
                </div>

                <div class="col-xs-6 brand-investor">
                    {{ icon_box('icon-bars', '<h2>' ~ "latest_auctions.heading"|trans({}, "texts") ~ '</h2>'
                    ~ "<p>" ~ "latest_auctions.desc"|trans({}, "texts") ~ '</p>' ) }}

                    {{ render(controller('AppBundle:Embedded:latestAuctions')) }}
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}