<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-3 navigation">
                <h2>{{ "footer.navigation"|trans }}</h2>
                <nav class="nav">
                    <ul>
                        <li><a href="/">{{ "home"|trans }}</a></li>
                        <li><a href="{{ path('hg_app_page', {slug: 'investovanie'}) }}">{{ "links.invest"|trans }}</a></li>
                        <li><a href="{{ path('hg_app_page', {slug: 'preco-si-pozicat'}) }}">{{ "links.borrow"|trans }}</a></li>
                        <li><a href="{{ path('hg_app_page', {slug: 'ako-funguje'}) }}">{{ "links.how_it_works"|trans }}</a></li>
                        <li><a href="{{ path("fos_user_profile_index") }}">{{ "links.my_profile"|trans }}</a></li>
                        <li><a href="{{ path("hg_app_auction_index") }}">{{ "links.auctions"|trans }}</a></li>
                        <li><a href="{{ path("hg_app_auction_index", {filter:{ "interestAverageMin" : 20} } ) }}">{{ "links.risk_auctions"|trans }}</a></li>
                        <li><a href="http://blog.planb.sk">{{ "links.blog"|trans }}</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-xs-3 info">
                <h2>{{ "footer.informations"|trans }}</h2>
                <div class="nav">
                    <ul>
                        <li><a href="{{ path("hg_app_page", {slug: 'o-nas-plan-b'}) }}">{{ "links.about_us"|trans }}</a></li>
                        <li><a href="{{ path("hg_app_contact") }}">{{ "links.contact"|trans }}</a></li>
                        <li><a href="{{ path('hg_app_page', {slug: 'vseobecne-zmluvne-podmienky'}) }}">{{ "links.terms_of_use"|trans }}</a></li>
                    </ul>
                </div>
                <h2>{{ "footer.social_networks"|trans }}</h2>
                <div class="social-icons">
                    <a target="_blank" href="https://www.facebook.com/pages/Pl%C3%A1n-B/181579015381866"><i class="icon-facebook"></i></a>
                    <a target="_blank" href="https://twitter.com/PlanB_sk"><i class="icon-twitter"></i></a>
                    <a target="_blank" href="https://plus.google.com/102145587622985078911/posts"><i class="icon-google-plus-2"></i></a>
                    <a target="_blank" href="http://www.youtube.com/channel/UCxnpjZ2w5q0HLrOEka4zD5g"><i class="icon-youtube"></i></a>
                    <a target="_blank" href="http://sk.linkedin.com/in/planbsk"><i class="icon-linkedin"></i></a>
                </div>
            </div>
            <div class="col-xs-6 facebook">
                <i class="icon-facebook"></i>
                <h2>{{ "footer.facebook.header"|trans }}</h2>
                <p>{{ "footer.facebook.desc"|trans }}</p>
                <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FPl%25C3%25A1n-B%2F181579015381866%3Fref%3Dbr_tf&amp;width&amp;height=258&amp;colorscheme=dark&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false&amp;appId=154821134727891"></iframe>

            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            {{ "now"|date("Y") }} {{ meta['copyright']|raw }}
        </div>
    </div>
</footer>
<script>


    // Vymazať neskor!
    function deleteAllCookies() {
        var cookies = document.cookie.split(";");

        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i];
            var eqPos = cookie.indexOf("=");
            var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
            document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
        }
    }

    deleteAllCookies();



</script>