<div id="header" class="container">
    <div class="row">
        <a href="/" class="logo">
            <img src="/bundles/app/img/logo.png" alt="{{ meta['title'] }}">
        </a>

        {% if not app.user %}
            <div class="menu">
                <a class="btn btn-investor-dark" href="{{ path('fos_user_security_login') }}">{{ 'login'|trans }}</a>
                <a class="btn btn-third"
                   href="{{ path('fos_user_registration_index') }}">{{ 'register'|trans }}</a>
            </div>
        {% else %}
            {% set user = app.user %}

            <div class="menu {{ user.type }}">
                {# CUSTOMER #}
                {% if is_granted("ROLE_CUSTOMER") %}
                    {% if user.isStatus([constant('STATUS_PENDING', user),constant('STATUS_DRAFT_APPROVED', user),constant('STATUS_AUCTION_DRAFT', user)]) %}
                        <a class="btn btn-customer btn-xs"
                           href="{{ path("fos_user_profile_loan_validate") }}">{{ "links.customer_pending"|trans }}</a>
                    {% endif %}
                    {% if user.isStatus([constant('STATUS_DRAFT_REQUESTED', user), constant('STATUS_AUCTION_REQUESTED', user)]) %}
                        <a class="btn btn-default btn-xs"
                           href="{{ path("fos_user_profile_index") }}">{{ "links.customer_draft_requested"|trans }}</a>
                    {% endif %}
                    {% if user.isStatus([constant('STATUS_AUCTION_SCORING', user)]) %}
                        <a class="btn btn-customer btn-xs"
                           href="{{ path("fos_user_profile_upload") }}">{{ "links.customer_auction_requested"|trans }}</a>
                    {% endif %}
                    {% if user.isStatus([constant('STATUS_AUCTION_APPROVED', user)]) %}
                        <a class="btn btn-customer btn-xs"
                           href="{{ path("fos_user_profile_upload") }}">{{ "links.customer_auction_approved"|trans }}</a>
                    {% endif %}
                    {% if user.isStatus([constant('STATUS_AUCTION', user)]) %}
                        <a class="btn btn-customer btn-xs"
                           href="{{ path("fos_user_auctions") }}">{{ "links.customer_auction"|trans }}</a>
                    {% endif %}
                    {% if user.isStatus([constant('STATUS_A_ACCEPTED', user)]) %}
                        <a class="btn btn-customer btn-xs"
                           href="{{ path("fos_user_profile_index") }}">{{ "links.customer_a_accepted"|trans }}</a>
                    {% endif %}
                    <span class="user">Vitaj, <a class="profile"
                                                 href="{{ path("fos_user_profile_index") }}">{{ user.username }}</a></span>
                    <span class="settings">
                    <a class="icon-user-arrow-in tooltip-popup" title="{{ "links.my_profile"|trans }}"
                       href="{{ path("fos_user_profile_index") }}"></a>
                    <a class="icon-info tooltip-popup" title="{{ "links.why_borrow"|trans }}"
                       href="{{ path('hg_app_page', {slug: 'preco-si-pozicat'}) }}"></a>
                    <a class="icon-aid tooltip-popup" title="{{ "links.contact"|trans }}"
                       href="{{ path("hg_app_contact") }}"></a>
                </span>
                {% endif %}

                {# INVESTOR #}
                {% if is_granted("ROLE_INVESTOR") %}
                    {% if user.isStatus([constant('STATUS_DOCUMENTS_WAITING', user)]) %}
                        <a class="btn btn-investor-dark btn-xs"
                           href="{{ path("fos_user_profile_index") }}">{{ "links.investor_documents"|trans }}</a>
                    {% endif %}
                    {% if not user.isStatus([constant('STATUS_PENDING', user)]) %}

                        {% if not user.isStatus([constant('STATUS_DOCUMENTS_WAITING', user)]) %}
                            {% if user.creditFree < 25 %}
                                <a class="btn btn-investor-dark btn-xs"
                                   href="{{ path("fos_user_investor_deposit") }}">{{ "links.investor_deposit"|trans }}</a>
                            {% else %}
                                <a class="btn btn-investor-dark btn-xs"
                                   href="{{ path("hg_app_auction_index") }}">{{ "links.investor_auctions"|trans }}</a>
                            {% endif %}
                        {% endif %}

                        <span class="user">Vitaj, <a class="profile"
                                                     href="{{ path("fos_user_profile_index") }}">{{ user.username }}</a></span>

                        {% if not user.isStatus([constant('STATUS_DOCUMENTS_WAITING', user)]) %}
                            <span class="control">
                            <a class="icon-stats tooltip-popup"
                               href="{{ path("fos_user_investor_investments_inserted") }}"
                               title="{{ "links.inserted_investments"|trans }}"></a>
                              {% if user.watchlistCount > 0 %}
                                  <a class="icon-eye tooltip-popup watchlist" data-placement="bottom"
                                     href="{{ path("fos_user_investor_watchlist") }}"
                                     title="{{ "links.watchlist_changes"|trans }}"></a>
                              {% endif %}
                        </span>
                        {% endif %}

                        <span class="settings">
                        <a class="icon-user-arrow-in tooltip-popup" title="{{ "links.my_profile"|trans }}"
                           href="{{ path("fos_user_profile_index") }}"></a>
                        <a class="icon-info tooltip-popup" title="{{ "links.why_invest"|trans }}"
                           href="{{ path('hg_app_page', {slug: 'investovanie'}) }}"></a>
                        <a class="icon-aid tooltip-popup" title="{{ "links.contact"|trans }}"
                           href="{{ path("hg_app_contact") }}"></a>
                    </span>
                    {% else %}
                        <a class="btn btn-investor-dark btn-xs"
                           href="{{ path("fos_user_investor_profile_registration") }}">{{ "links.investor_pending"|trans }}</a>
                        <span class="user">Vitaj, <a class="profile"
                                                     href="{{ path("fos_user_profile_index") }}">{{ user.username }}</a></span>
                    {% endif %}
                {% endif %}

                {% if is_granted('ROLE_ADMIN') %}
                    <span class="settings">
                        <a href="{{ path('sonata_admin_dashboard') }}" class="icon-user"></a>
                        </span>
                {% endif %}
                <span class="logout">
                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                    <a class="icon-switch tooltip-popup" title="{{ "links.logout"|trans }}"
                       href="{{ path('hg_app_index_index', {'_switch_user': '_exit'}) }}"></a>
                {% else %}
                    <a class="icon-switch tooltip-popup" title="{{ "links.logout"|trans }}"
                       href="{{ path("fos_user_security_logout") }}"></a>
                {% endif %}
            </span>
            </div>
        {% endif %}
    </div>
</div>