<nav id="navbar">
    <ul class="container">
        <li><a href="{{ path("hg_app_index_index") }}"><i class="icon-home" title="{{ "home"|trans }}"></i></a></li>
        {% if not app.user %}
            <li><a href="{{ path('hg_app_page', {slug: 'investovanie'}) }}">{{ "links.invest"|trans }}</a></li>
            <li><a href="{{ path('hg_app_page', {slug: 'preco-si-pozicat'}) }}">{{ "links.borrow"|trans }}</a></li>
        {% else %}
            {% if not is_granted("ROLE_CUSTOMER") %}
                <li><a href="{{ path('hg_app_page', {slug: 'investovanie'}) }}">{{ "links.invest"|trans }}</a>
                </li>{% endif %}
            {% if not is_granted("ROLE_INVESTOR") %}
                <li><a href="{{ path('hg_app_page', {slug: 'preco-si-pozicat'}) }}">{{ "links.borrow"|trans }}</a>
                </li>{% endif %}
        {% endif %}

        <li><a href="{{ path('hg_app_page', {slug: 'ako-funguje'}) }}">{{ "links.how_it_works"|trans }}</a></li>
        <li><a href="{{ path("fos_user_profile_index") }}">{{ "links.my_profile"|trans }}</a></li>
        {% if not app.user or app.user.doneAlready %}
            <li><a href="{{ path("hg_app_auction_index") }}">{{ "links.auctions"|trans }}</a></li>
            <li>
                <a href="{{ path("hg_app_auction_index", {filter:{ "interestAverageMin" : 20} } ) }}">{{ "links.risk_auctions"|trans }}</a>
            </li>
        {% endif %}
        <li><a href="http://blog.planb.sk">{{ "links.blog"|trans }}</a></li>
    </ul>
</nav>