{# default Sliding pagination control implementation #}

{% if pageCount > 1 %}
<div class="pagination">
    <ul>
    {% if previous is defined %}
        <li><a class="arrow prev" href="{{ path(route, query|merge({(pageParameterName): previous})) }}"><i class="icon-arrow-left"></i></a></li>
    {% endif %}

    {% for page in pagesInRange %}
        {% if page != current %}
            <li><a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a></li>
        {% else %}
            <li><span class="current">{{ page }}</span></li>
        {% endif %}
    {% endfor %}

    {% if next is defined %}
        <li><a class="arrow next" href="{{ path(route, query|merge({(pageParameterName): next})) }}"><i class="icon-arrow-right"></i></a></li>
    {% endif %}
    </ul>
</div>
{% endif %}
