{% set renderBackButton = flow.getCurrentStepNumber() in (flow.getFirstStepNumber() + 1) .. flow.getLastStepNumber() %}
<div class="stepper-submit">
    {% if renderBackButton %}
        {# see http://www.html5rocks.com/en/tutorials/forms/html5forms/ #}
        <button type="submit" class="btn btn-back" name="{{ flow.getFormTransitionKey() }}" value="back" formnovalidate="formnovalidate">
            <i class="icon-arrow-left"></i>
        </button>
    {% endif %}
    <button class="btn btn-brand" type="submit">
        {%- if not renderBackButton -%}
            {{- 'button.first' | trans() -}}
        {%- else -%}
            <i class="icon-arrow-right"></i>
            {%- if flow.getCurrentStepNumber() < flow.getLastStepNumber() -%}
                {{- 'button.next' | trans() -}}
            {%- else -%}
                {{- 'button.finish' | trans() -}}
            {%- endif -%}
        {%- endif -%}
    </button>
    {#<button class="btn btn-default" type="submit" formnovalidate>#}
        {#nevalidovat#}
    {#</button>#}
</div>
