<p>{{ "loan_validate.step_5_description"|trans }}</p>
<table>
<tbody>
<tr>
    <th colspan="2" class="heading">{{ "loan_validate.step_1"|trans }}</th>
</tr>
<tr>
    <th>{{ "loan.title"|trans }}</th>
    <td>{{ loan.auctionTitle }}</td>
</tr>
<tr>
    <th>{{ "loan.requested_amount"|trans }}</th>
    <td>{{ loan.auctionRequestedAmount|currency }}</td>
</tr>
<tr>
    <th>{{ "loan.maturity"|trans }}</th>
    <td>{{ ("loan.maturity_" ~ loan.loanMaturity) | trans }}</td>
</tr>
<tr>
    <th>{{ "loan.purpose"|trans }}</th>
    <td>{{ ("loan.purpose_"  ~ loan.loanPurpose) | trans }}</td>
</tr>
<tr>
    <th colspan="2" class="heading">{{ "loan_validate.step_2"|trans }}</th>
</tr>
{% if loan.profile.title %}
<tr>
    <th>{{ "profile.title"|trans }}</th>
    <td>{{ loan.profile.title }}</td>
</tr>
{% endif %}
<tr>
    <th>{{ "profile.name"|trans }}</th>
    <td>{{ loan.profile.name }}</td>
</tr>
<tr>
    <th>{{ "profile.surname"|trans }}</th>
    <td>{{ loan.profile.surname }}</td>
</tr>
{% if loan.profile.birthSurname|trim %}
<tr>
    <th>{{ "profile.birth_surname"|trans }}</th>
    <td>{{ loan.profile.birthSurname }}</td>
</tr>
{% endif %}
<tr>
    <th>{{ "profile.gender"|trans }}</th>
    <td>{{ ("profile.gender_"  ~ loan.profile.gender)|trans }}</td>
</tr>
<tr>
    <th>{{ "profile.family_status"|trans }}</th>
    <td>{{ ("profile.family_status_"  ~ loan.profile.familyStatus)|trans }}</td>
</tr>
<tr>
    <th>{{ "profile.education"|trans }}</th>
    <td>{{ ("profile.education_"  ~ loan.profile.education)|trans }}</td>
</tr>
<tr>
    <th>{{ "profile.is_student"|trans }}</th>
    <td>{{ (loan.profile.student ? "bool_1" : "bool_0")|trans }}</td>
</tr>
<tr>
    <th>{{ "profile.birth_date"|trans }}</th>
    <td>{{ loan.profile.birthDate|date("d.m.Y") }}</td>
</tr>
<tr>
    <th>{{ "profile.personal_id"|trans }}</th>
    <td>{{ loan.profile.personalId }}</td>
</tr>
<tr>
    <th>{{ "profile.citizenship"|trans }}</th>
    <td>{{ loan.profile.citizenship }}</td>
</tr>
<tr>
    <th>{{ "profile.id_card"|trans }}</th>
    <td>{{ loan.profile.idCard }}</td>
</tr>
<tr>
    <th colspan="2" class="heading">{{ "loan_validate.step_3"|trans }}</th>
</tr>
<tr>
    <th>{{ "profile.address_street"|trans }}</th>
    <td>{{ loan.profile.addressStreet }}</td>
</tr>
<tr>
    <th>{{ "profile.address_number"|trans }}</th>
    <td>{{ loan.profile.addressNumber }}</td>
</tr>
<tr>
    <th>{{ "profile.address_city"|trans }}</th>
    <td>{{ loan.profile.addressCity }}</td>
</tr>
<tr>
    <th>{{ "profile.address_zip"|trans }}</th>
    <td>{{ loan.profile.addressZip }}</td>
</tr>
<tr>
    <th>{{ "profile.address_country"|trans }}</th>
    <td>{{ loan.profile.addressCountry|country }}</td>
</tr>
{% if loan.profile.addressCountry == "SK" %}
    <tr>
        <th>{{ "profile.address_region"|trans }}</th>
        <td>{{ ("profile.address_region_"  ~ loan.profile.addressRegion)|trans }}</td>
    </tr>
{% endif %}
{% if loan.profile.addressTel %}
    <tr>
        <th>{{ "profile.address_tel"|trans }}</th>
        <td>{{ loan.profile.addressTel }}</td>
    </tr>
{% endif %}
<tr>
    <th>{{ "profile.address_mobil"|trans }}</th>
    <td>{{ loan.profile.addressMobil }}</td>
</tr>
{% if loan.profile.addressContactNotSame %}
    <tr>
        <th colspan="2" class="heading">{{ "profile.address_contact_address"|trans }}</th>
    </tr>
    <tr>
        <th>{{ "profile.address_street"|trans }}</th>
        <td>{{ loan.profile.addressContactStreet }}</td>
    </tr>
    <tr>
        <th>{{ "profile.address_number"|trans }}</th>
        <td>{{ loan.profile.addressContactNumber }}</td>
    </tr>
    <tr>
        <th>{{ "profile.address_city"|trans }}</th>
        <td>{{ loan.profile.addressContactCity }}</td>
    </tr>
    <tr>
        <th>{{ "profile.address_zip"|trans }}</th>
        <td>{{ loan.profile.addressContactZip }}</td>
    </tr>
    <tr>
        <th>{{ "profile.address_country" }}</th>
        <td>{{ loan.profile.addressContactCountry|country }}</td>
    </tr>
    {% if loan.profile.addressContactCountry == "SK" %}
        <tr>
            <th>{{ "profile.address_region"|trans }}</th>
            <td>{{ ("profile.address_region_"  ~ loan.profile.addressContactRegion)|trans }}</td>
        </tr>
    {% endif %}
{% endif %}
<tr>
    <th colspan="2" class="heading">{{ "loan_validate.step_4"|trans }}</th>
</tr>
{% if loan.incomeType == 1 %}
    <tr>
        <th>{{ "loan.income_type"|trans }}</th>
        <td>{{ ("loan.income_type_"  ~ loan.incomeType)|trans }}</td>
    </tr>
    <tr>
        <th>{{ "loan.income_employment_type_sub1"|trans }}</th>
        <td>{{ ("loan.income_employment_type_"  ~ loan.incomeEmploymentType)|trans }}</td>
    </tr>
    <tr>
        <th>{{ "loan.income_employer_name"|trans }}</th>
        <td>{{ loan.incomeEmployerName|trans }}</td>
    </tr>
    <tr>
        <th>{{ "loan.income_employer_position"|trans }}</th>
        <td>{{ loan.incomeEmploymentPosition|trans }}</td>
    </tr>
    <tr>
        <th>{{ "loan.income_employed_start_at"|trans }}</th>
        <td>{{ loan.incomeStartAt|date("d.m.Y") }}</td>
    </tr>
    {% if loan.incomeEmploymentType == 2 %}
        <tr>
            <th>{{ "loan.income_employed_aggreement_end_at"|trans }}</th>
            <td>{{ loan.incomeEndAt|date("d.m.Y") }}</td>
        </tr>
    {% endif %}
    <tr>
        <th>{{ "loan.income_sector"|trans }}</th>
        <td>{{ ("loan.income_sector_"  ~ loan.incomeSector)|trans }}</td>
    </tr>
{% endif %}
{% if loan.incomeType == 2 %}
    <tr>
        <th>{{ "loan.income_type"|trans }}</th>
        <td>{{ ("loan.income_type_"  ~ loan.incomeType)|trans }}</td>
    </tr>
    <tr>
        <th>{{ "loan.income_employment_type_sub2"|trans }}</th>
        <td>{{ ("loan.income_employment_type_"  ~ loan.incomeEmploymentType)|trans }}</td>
    </tr>
    <tr>
        <th>{{ "loan.income_employer_name"|trans }}</th>
        <td>{{ loan.incomeEmployerName|trans }}</td>
    </tr>
    <tr>
        <th>{{ "loan.income_employer_position"|trans }}</th>
        <td>{{ loan.incomeEmploymentPosition|trans }}</td>
    </tr>
    <tr>
        <th>{{ "loan.income_employed_aggreement_start_at"|trans }}</th>
        <td>{{ loan.incomeStartAt|date("d.m.Y") }}</td>
    </tr>
    <tr>
        <th>{{ "loan.income_employed_aggreement_end_at"|trans }}</th>
        <td>{{ loan.incomeEndAt|date("d.m.Y") }}</td>
    </tr>
    <tr>
        <th>{{ "loan.income_sector"|trans }}</th>
        <td>{{ ("loan.income_sector_" ~ loan.incomeSector)|trans }}</td>
    </tr>
{% endif %}
{% if loan.incomeType == 3 %}
    <tr>
        <th>{{ "loan.income_type"|trans }}</th>
        <td>{{ ("loan.income_type_"  ~ loan.incomeType)|trans }}</td>
    </tr>
    <tr>
        <th>{{ "loan.income_employment_type_sub3"|trans }}</th>
        <td>{{ ("loan.income_employment_type_"  ~ loan.incomeEmploymentType)|trans }}</td>
    </tr>
    {% if loan.incomeEmploymentType == 13 %}
        <tr>
            <th>{{ "loan.income_business_other"|trans }}</th>
            <td>{{ loan.incomeOther }}</td>
        </tr>
    {% endif %}
    <tr>
        <th>{{ "loan.income_employed_aggreement_start_at"|trans }}</th>
        <td>{{ loan.incomeStartAt|date("d.m.Y") }}</td>
    </tr>
    <tr>
        <th>{{ "loan.income_sector"|trans }}</th>
        <td>{{ ("loan.income_sector_" ~ loan.incomeSector)|trans }}</td>
    </tr>
{% endif %}
{% if loan.incomeType == 4 %}
    {% if loan.incomeEmploymentType == 17 %}
        <tr>
            <th>{{ "loan.income_type"|trans }}</th>
            <td>{{ ("loan.income_type_"  ~ loan.incomeType)|trans }}</td>
        </tr>
        <tr>
            <th>{{ "loan.income_business_other"|trans }}</th>
            <td>{{ loan.incomeOther }}</td>
        </tr>
    {% else %}
        <tr>
            <th>{{ "loan.income_employment_type_sub4"|trans }}</th>
            <td>{{ ("loan.income_employment_type_"  ~ loan.incomeEmploymentType)|trans }}</td>
        </tr>
    {% endif %}
{% endif %}
{% if loan.incomeType == 5 %}
    <tr>
        <th>{{ "loan.income_type"|trans }}</th>
        <td>{{ ("loan.income_type_"  ~ loan.incomeType)|trans }}</td>
    </tr>
    <tr>
        <th>{{ "loan.income_employment_type_sub5"|trans }}</th>
        <td>{{ ("loan.income_employment_type_"  ~ loan.incomeEmploymentType)|trans }}</td>
    </tr>
    <tr>
        <th>{{ "loan.income_employed_support_start_at"|trans }}</th>
        <td>{{ loan.incomeStartAt|date("d.m.Y") }}</td>
    </tr>
{% endif %}
{% if loan.incomeType == 6 %}
    <tr>
        <th>{{ "loan.income_type"|trans }}</th>
        <td>{{ ("loan.income_type_"  ~ loan.incomeType)|trans }}</td>
    </tr>
{% endif %}
{% if loan.incomeType == 7 %}
    <tr>
        <th>{{ "loan.income_type"|trans }}</th>
        <td>{{ ("loan.income_type_"  ~ loan.incomeType)|trans }}</td>
    </tr>
    <tr>
        <th>{{ "loan.income_employment_type_sub7"|trans }}</th>
        <td>{{ ("loan.income_employment_type_"  ~ loan.incomeEmploymentType)|trans }}</td>
    </tr>
{% endif %}
{% if loan.incomeType == 8 %}
    <tr>
        <th>{{ "loan.income_other"|trans }}</th>
        <td>{{ loan.incomeOther }}</td>
    </tr>
{% endif %}
</tbody>
</table>