{% extends "FOSUserBundle::layout_sidebar_profile.html.twig" %}
{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}
{% from 'AppBundle:macros:planb.html.twig' import stepper %}
{% from 'AppBundle:macros:planb.html.twig' import alert_box %}


{% block breadcrumb_inner %}
    {{ parent() }}
    <li><a href="{{ path("fos_user_profile_index") }}">{{ "profile_sidebar_menu.my_account"|trans({}, 'FOSUserBundle') }}</a></li>
    <li><span>{{ "loan_validate.pramameters_verify"|trans }}</span></li>
{% endblock breadcrumb_inner %}


{% block fos_user_content %}
    <div class="content brand-customer">
        {% block flashes %}
            {% if app.session.flashbag.peekAll|length > 0 %}
                {{ session_flash(null, null, null, "FOSUserBundle") }}
            {% endif %}
        {% endblock flashes %}

        <div class="content brand-customer form-vertical">

            <div class="icon-box brand-customer">
                <div class="icon">
                    <i class="icon-user-arrow-in"></i>
                </div>
                <div class="text">
                    <h2>{{ "loan_validate.pramameters_verify"|trans }}</h2>
                    <p>{{ "loan_validate.pramameters_verify_desc"|trans }}</p>
                </div>
            </div>

            {{ stepper(flow.stepCount(), flow.getCurrentStepNumber(), null, "FOSUserBundle") }}

            <h2>{{ flow.getCurrentStepLabel()|trans }}</h2>

            {% if flow.getCurrentStepNumber() == flow.stepCount() %}
                {% include "UserBundle:Customer/LoanValidate:confirmation.html.twig" with {loan: flow.formData } %}
            {% endif %}


            {{ form_start(form, {"attr": {"class" : "form-vertical-basic" }}) }}

                {% if flow.getCurrentStepNumber() == 1 %}
                     {{ form_widget(form) }}
                {% endif %}

                {% if flow.getCurrentStepNumber() == 2 %}
                     {{ form_widget(form) }}
                {% endif %}

                {% if flow.getCurrentStepNumber() == 3 %}

                     {{ form_row(form.profile.addressStreet) }}
                     {{ form_row(form.profile.addressNumber) }}
                     {{ form_row(form.profile.addressCity) }}
                     {{ form_row(form.profile.addressZip) }}
                     {{ form_row(form.profile.addressAccomodationType) }}
                     {{ form_row(form.profile.addressCountry) }}
                     {{ form_row(form.profile.addressRegion) }}
                     {{ form_row(form.profile.addressContactNotSame) }}
                     <div class="contact-address-not-same"{{ form.profile.addressContactNotSame.vars.value ? "" : ' style="display:none"' }}>
                         <h3>{{ "profile.address_contact_address"|trans }}</h3>
                         {{ form_row(form.profile.addressContactStreet) }}
                         {{ form_row(form.profile.addressContactNumber) }}
                         {{ form_row(form.profile.addressContactCity) }}
                         {{ form_row(form.profile.addressContactZip) }}
                         {{ form_row(form.profile.addressContactCountry) }}
                         {{ form_row(form.profile.addressContactRegion) }}
                     </div>
                    <h2>{{ "profile.address_telephone"|trans }}</h2>
                    {{ form_row(form.profile.addressTel) }}
                    {{ form_row(form.profile.addressMobil) }}
                {% endif %}


                {% if flow.getCurrentStepNumber() == 4 %}
                    {{ form_widget(form) }}
                {% endif %}

                {% if flow.getCurrentStepNumber() == 5 %}
                    {{ form_widget(form) }}
                {% endif %}

                {% include 'AppBundle:includes:stepper_buttons.html.twig' %}
            {{ form_end(form) }}
        </div>

        {% if flow.getCurrentStepNumber() == 1 %}
            {{ alert_box("icon-info", "calculator_alert"|trans({"%link%": path("hg_app_page", {slug: "kalkulacka-splatok"})}, "texts"), "info") }}
        {% endif %}
    </div>
{% endblock fos_user_content %}
