{% from 'AppBundle:macros:planb.html.twig' import alert_box %}

<h2>{{ "upload.heading"|trans }}</h2>
<table id="upload-table" class="table table-striped uploaded-documents">
    <thead>
    <tr>
        <th>{{ "upload.type"|trans }}</th>
        <th>{{ "upload.status"|trans }}</th>
        <th>{{ "upload.pages_uploaded"|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% set pending = 0 %}
    {% set success = 0 %}
    {% set deleted = 0 %}
    {% set missing = 0 %}
    {% set delivered = 0 %}
    {% set optional = 0 %}
    {% for file in files %}
        <tr>
            <th>
                {% if (file.filename) %}
                    {% if file.loan is defined %}
                        <a class="file" href="{{ path("hg_app_uploads_loan", {id: file.id}) }}" target="_blank">{{ (file.title)|trans|raw }}</a>
                        {% if file.tooltip %}
                            <span class="icon-help pending tooltip-popup" title="{{ file.tooltip|trans }}>"></span>
                        {% endif %}
                    {% endif %}
                    {% if file.profile is defined %}
                        <a class="file" href="{{ path("hg_app_uploads_profile", {id: file.id}) }}" target="_blank">{{ (file.title)|trans|raw }}</a>
                        {% if file.tooltip %}
                            <span class="icon-help pending tooltip-popup" title="{{ file.tooltip|trans }}>"></span>
                        {% endif %}
                    {% endif %}
                {% else %}
                    {{ (file.title)|trans|raw }}
                    {% if file.tooltip %}
                        <span class="icon-help brand-color tooltip-popup" title="{{ file.tooltip|trans }}"></span>
                    {% endif %}
                {% endif %}
            </th>
            <td>
                {% if file.status == "pending" %}{% set pending = pending + 1 %}<span class="icon-clock pending tooltip-popup" title="{{ "upload.pending_tooltip"|trans }}"></span>{% endif %}
                {% if file.status == "success" %}{% set success = success + 1 %}<span class="icon-mail-3 success tooltip-popup" title="{{ "upload.success_tooltip"|trans }}"></span>{% endif %}
                {% if file.status == "deleted" %}{% set deleted = deleted + 1 %}<span class="icon-cancel-circle deleted tooltip-popup" title="{{ "upload.deleted_tooltip"|trans }}"></span>{% endif %}
                {% if file.status == "missing" and file.mandatory %}{% set missing = missing + 1 %}<span class="icon-help deleted tooltip-popup" title="{{ "upload.missing_tooltip"|trans }}"></span>{% endif %}
                {% if file.status == "missing" and not file.mandatory %}{% set optional = optional + 1 %}<span class="icon-help optional tooltip-popup" title="{{ "upload.optional_tooltip"|trans }}"></span>{% endif %}
                {% if file.status == "delivered" %}{% set delivered = delivered + 1 %}<span class="icon-checkmark-circle delivered tooltip-popup" title="{{ "upload.delivered_tooltip"|trans }}"></span>{% endif %}
            </td>
            <td>
                {% if (file.filename) %}
                    {% if file.pages %}
                        {{ file.pages|join(",") }}
                    {% else %}
                        {{ "upload.all"|trans }}
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    {% else %}
        <td colspan="3">
            {{ "upload.no_results"|trans }}
        </td>
    {% endfor %}
    </tbody>
</table>
<div id="upload-message">
{% if success == files|length - optional %}
    {{ alert_box("icon-checkmark-circle", "customer_upload.under_table.all_success"|trans({}, "texts"), "info") }}
    <script>
        window.location.href = "#upload-message"
    </script>
{% elseif (pending + success + delivered) == files|length - optional %}
    {{ alert_box("icon-info", "customer_upload.under_table.all_uploaded"|trans({"%link%": path("hg_app_contact")}, "texts"), "info") }}
    <script>
        window.location.href = "#upload-message"
    </script>
{% endif %}
</div>