{% set trClass = calculations.isAcceptable ? "" : ' class="danger"'%}
<tfoot class="summary">
<tr{{ trClass|raw }}>
    <th>{{ "investments.sum"|trans }}</th>
    <td class="sum-collected-ammnout">{{ calculations.amount|currency(0) }} ({{ calculations.percentage|percentage }})</td>
    <td class="sum-collected-percentage">{{ calculations.interest|interest }}</td>
    <td></td>
</tr>
</tfoot>