<div class="alert-box alert-box-info">
    <div class="icon">
        <i class="icon-info"></i>
    </div>
    <div class="text">
        <div class="alert">
            {{ "need_documents.alert"|trans({"%link%" : path("fos_user_profile_index") ~ "#upload-table"}, "texts")|raw }}
        </div>
    </div>
</div>