<div>
    <div class="alert-box alert-box-info">
        <div class="icon">
            <i class="icon-warning"></i>
        </div>
        <div class="text">
            <div class="alert">
                <p>{{ "need_grid_card.alert"|trans({}, "texts") }}</p>
            </div>
        </div>
    </div>

    <a href="{{ path("fos_user_grid_card") }}" class="btn btn-lg btn-brand"><i class="icon-rocket"></i> {{ 'grid_card.generate_codes'|trans }}</a>
</div>