{% set trClass = calculations.isAcceptable ? "" : ' class="danger"'%}
<table class="table table-striped">
    <tbody>
    <tr>
        <th>{{ "loan.approved_max_amount"|trans }}</th>
        <td>{{ loan.auctionApprovedAmount|currency }}</td>
    </tr>
    <tr>
        <th>{{ "loan.maturity"|trans }}</th>
        <td>{{ ("loan.maturity_" ~ loan.loanMaturity) | trans }}</td>
    </tr>
    <tr{{ trClass|raw }}>
        <th>{{ "customer_auctions.stop.summary.collected_amount"|trans }}</th>
        <td>{{ calculations.amount|currency(0) }} ({{ calculations.percentage|percentage }})</td>
    </tr>
    <tr>
        <th>{{ "customer_auctions.stop.summary.fee"|trans }}</th>
        <td>{{ (-1 * calculations.fee)|currency }}</td>
    </tr>
    <tr>
        <th>{{ "customer_auctions.stop.summary.lifebuoy"|trans }}</th>
        <td>{{ (-1 * calculations.lifebuoy_fee)|currency }}</td>
    </tr>
    <tr>
        <th>{{ "customer_auctions.stop.summary.for_pay_off"|trans }}</th>
        <td>{{ calculations.amountTotal|currency }}</td>
    </tr>
    <tr>
        <th>{{ "customer_auctions.stop.summary.interest"|trans }}</th>
        <td>{{ calculations.interest|interest }}</td>
    </tr>
    <tr>
        <th>{{ "loan.auction_end_on"|trans }}</th>
        <td>
            <time datetime="{{ loan.auctionEndAt|date("U") }}">{{ loan.auctionEndAt|countdown|raw }}</time>
        </td>
    </tr>
    </tbody>
</table>