{% set user = app.user %}
<div class="summary row">
    <div class="col-xs-4">
        <div class="circle">
            {{ "summary.balance"|trans }}
            <strong class="price">{{ user.creditAll|currency }}</strong>
            {{ "summary.free"|trans }}
            <strong class="price">{{ user.creditFree|currency }}</strong>
        </div>
    </div>
    <div class="col-xs-8">
        <table class="summary-table">
            <thead>
            <tr>
                <th colspan="2">{{ "summary.heading_detail"|trans }}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>{{ "summary.free"|trans }}</th>
                <td>{{ user.creditFree|currency }}</td>
            </tr>
            <tr>
                <th>{{ "summary.auctions"|trans }}</th>
                <td>{{ user.creditAuctions|currency }}</td>
            </tr>
            <tr>
                <th>{{ "summary.loans"|trans }}</th>
                <td>{{ user.creditLoans|currency }}</td>
            </tr>
            <tr>
                <th>{{ "summary.withdraws"|trans }}</th>
                <td>{{ user.creditWithdraw|currency }}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th>{{ "summary.all"|trans }}</th>
                <td>{{ user.creditAll|currency }}</td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
