{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% from 'AppBundle:macros:planb.html.twig' import alert_box %}

{% block breadcrumb_inner %}
    {{ parent() }}
    <li><a href="{{ path("fos_user_security_login") }}">{{ "login"|trans({}, 'messages') }}</a></li>
    <li><span>{{ "registration.sended_pass_breadcrumb"|trans }}</span></li>
{% endblock breadcrumb_inner %}



{% block fos_user_content %}
    {{ alert_box('icon-warning', 'resetting.password_already_requested'|trans, "danger" ) }}
{% endblock fos_user_content %}
