{% extends "FOSUserBundle::layout.html.twig" %}


{% block breadcrumb_inner %}
    {{ parent() }}
    <li><a href="{{ path("fos_user_security_login") }}">{{ "login"|trans({}, "messages") }}</a></li>
    <li><span>{{ "resetting.heading"|trans({}, "FOSUserBundle") }}</span></li>
{% endblock breadcrumb_inner %}

{% block fos_user_content %}
{% include "FOSUserBundle:Resetting:request_content.html.twig" %}
{% endblock fos_user_content %}
