{% trans_default_domain 'FOSUserBundle' %}
{% from 'AppBundle:macros:planb.html.twig' import alert_box %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request form-inline">

    <div class="container user-bundle">
        <div class="forgotten">
            <h2><i class="icon icon-enter"></i> {{ "resetting.heading"|trans }}</h2>

            <p>{{ 'resetting.description'|trans }}</p>

            <div class="form-group">
                <input placeholder="{{ "resetting.placeholder"|trans }}" name="username" class="form-control" required="required">
            </div>
            <div class="form-group">
                <button class="btn btn-investor btn-lg" type="submit"><i class="icon-lock"></i> {{ "resetting.send_password"|trans }}</button>
            </div>
            {% if invalid_username is defined %}
                <div class="alert alert-danger">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</div>
            {% endif %}
        </div>


        <div class="to-register">
            <p>{{ 'register_now'|trans({}, "messages") }}:</p>
            <a href="{{ path("fos_user_registration_register", {type: constant('\\Hg\\AppBundle\\Entity\\User::TYPE_CUSTOMER')}) }}"
               class="btn btn-customer btn-lg"><i
                        class="icon-user-arrow-in"></i> {{ "want_to_borrow"|trans({},"messages") }}
            </a>
            <a href="{{ path("fos_user_registration_register", {type: constant('\\Hg\\AppBundle\\Entity\\User::TYPE_INVESTOR')}) }}"
               class="btn btn-investor btn-lg"><i
                        class="icon-user-arrow-out"></i> {{ "want_to_invest"|trans({},"messages") }}
            </a>
        </div>
    </div>

</form>
