{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset form-vertical-basic">
    <h1>{{ 'resetting.heading_resetting'|trans }}</h1>
    <p>{{ 'resetting.description_resetting'|trans }}</p>
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
    <div>
        <input type="submit" class="btn btn-primary" value="{{ 'resetting.reset.submit'|trans }}" />
    </div>
{{ form_end(form) }}
