{% extends "FOSUserBundle::layout_sidebar_profile.html.twig" %}
{% from 'AppBundle:macros:planb.html.twig' import alert_box %}

{% block breadcrumb_inner %}
    {{ parent() }}
    <li><span>{{ "profile_sidebar_menu.my_account"|trans({}, 'FOSUserBundle') }}</span></li>
{% endblock breadcrumb_inner %}


{% block fos_user_content %}
    <div class="icon-box">
        <div class="icon">
            <i class="icon-user-arrow-out"></i>
        </div>
        <div class="text">
            <h2>{{ "links.my_profile"|trans }}</h2>
        </div>
    </div>

    {% set user = app.user %}

    {% if not user.isStatus(constant('STATUS_DOCUMENTS_WAITING', user)) %}
        {% if user.creditFree < 25 %}
            {{ alert_box("icon-download", "investor_profile.need_deposit"|trans({"%link%" : path("fos_user_investor_deposit")}, "texts"), "info") }}
        {% else %}
            {{ alert_box("icon-coin", "investor_profile.need_invest"|trans({"%link%" : path("hg_app_auction_index")}, "texts"), "info") }}
        {% endif %}
    {% endif %}


    {% if not user.isStatus(constant('STATUS_DOCUMENTS_WAITING', user)) %}
        {% include "UserBundle:includes:summary.html.twig" %}
    {% endif %}

    {% if user.isStatus(constant('STATUS_DOCUMENTS_WAITING', user)) %}
        <h2>{{ "investor_profile.header"|trans({}, "texts") }}</h2>

        {{ alert_box("icon-info", "investor_profile.alert"|trans({}, "texts"), "info") }}
        {{ alert_box("icon-warning", "investor_profile.alert_2"|trans({}, "texts"), "warning") }}


        {% include "UserBundle:includes:files.html.twig" with {files: files} %}

        {% if not inProgress %}
            <div class="form-vertical-basic">
                {{ form(form) }}
            </div>
        {% endif %}

    {% endif %}


{% endblock fos_user_content %}