{% from 'AppBundle:macros:planb.html.twig' import icon_box %}
{#{% from 'AppBundle:macros:planb.html.twig' import best_loans %}#}
{#{% from 'AppBundle:macros:planb.html.twig' import rating %}#}
{#{% from 'AppBundle:macros:planb.html.twig' import collected %}#}

{%- block icon_box -%}
    {{ icon_box(icon, text) }}
{%- endblock -%}
