{% extends "FOSUserBundle::layout_sidebar_profile.html.twig" %}
{% from 'AppBundle:macros:planb.html.twig' import stepper %}
{% from 'AppBundle:macros:planb.html.twig' import alert_box %}

{% block breadcrumb_inner %}
    {{ parent() }}
    <li><span>{{ "profile_sidebar_menu.my_account"|trans({}, "FOSUserBundle") }}</span></li>
{% endblock breadcrumb_inner %}


{% block fos_user_content %}
    <div class="icon-box">
        <div class="icon">
            <i class="icon-bars"></i>
        </div>
        <div class="text">
            <h2>{{ "customer_auctions.cancel.heading"|trans }}</h2>

            <p>{{ "customer_auctions.cancel.desc"|trans }}</p>
        </div>
    </div>

    {{ alert_box("icon-info", "auction_cancel.info"|trans({"%1%" : loan.auctionTitle, "%2%" : path("fos_user_profile_index")}, "texts"), "info") }}

    <div class="text-center">
        <a href="{{ path("fos_user_profile_index") }}" class="btn btn-customer">{{ "button.back"|trans }}</a>
    </div>

{% endblock fos_user_content %}