{% extends "FOSUserBundle::layout_sidebar_profile.html.twig" %}
{% from 'AppBundle:macros:planb.html.twig' import stepper %}
{% from 'AppBundle:macros:planb.html.twig' import alert_box %}

{% block breadcrumb_inner %}
    {{ parent() }}
    <li><span>{{ "profile_sidebar_menu.my_account"|trans({}, 'FOSUserBundle') }}</span></li>
{% endblock breadcrumb_inner %}


{% block fos_user_content %}
    <div class="icon-box">
        <div class="icon">
            <i class="icon-bars"></i>
        </div>
        <div class="text">
            <h2>{{ "customer_auctions.active.heading"|trans }}</h2>
            <p>{{ "customer_auctions.active.desc"|trans }}</p>
        </div>
    </div>


    <div class="auction-list">
        <table class="table">
            <thead>
            <tr>
                <th>
                    <span class="name">{{ "customer_auctions.name"|trans }}</span>
                    <span class="id">{{ "customer_auctions.id"|trans }}</span>
                </th>
                <th>
                    <span class="goal">{{ "customer_auctions.approved_amoount"|trans }}</span>
                    <span class="acquired">{{ "customer_auctions.collected_amount"|trans }}</span>
                </th>
                <th><span class="interest">{{ "customer_auctions.interest"|trans }}</span>
                    <span class="maturity">{{ "customer_auctions.matrity"|trans }}</span>
                </th>
                <th>
                    <span class="financed">{{ "customer_auctions.collected_percentage"|trans }}</span>
                    <span class="end">{{ "customer_auctions.end"|trans }}</span>
                </th>
                <th>
                    <span class="status">{{ "customer_auctions.status"|trans }}</span>
                </th>
            </tr>
            </thead>
            <tbody>
            {% if loan %}
                <tr>
                    <td>
                        <span class="name"><a
                                    href="{{ path("hg_app_auction_detail", {slug: loan.slug}) }}">{{ loan.auctionTitle }}</a></span>
                        <span class="id">{{ loan.formattedId }}</span>
                    </td>
                    <td>
                        <span class="goal">{{ loan.auctionApprovedAmount|currency }}</span>
                        <span class="acquired">{{ loan.auctionCollectedAmount|currency }}</span>
                    </td>
                    <td><span class="interest">{{ loan.auctionInterestAverage|interest }}</span>
                        <span class="maturity">{{ ("loan.maturity_" ~ loan.loanMaturity) | trans }}</span>
                    </td>
                    <td>
                        <span class="financed">{{ loan.auctionCollectedPercentage|percentage }}</span>
                        <span class="end">{{ loan.auctionStartAt|date("d.m.Y") }}</span>
                    </td>
                    <td>
                        <span class="status">{{ ("loan.auction_status_" ~ (loan.active ? "active" : "inactive"))|trans }}</span>
                    </td>
                </tr>
            {% else %}
                <td colspan="6">
                    <div class="no-result text-center">{{ "customer_auctions.no_results"|trans }}</div>
                </td>
            {% endif %}
            </tbody>
        </table>
    </div>

    <div>
        <div class="brand-customer">
            <div class="text-center">
                <a href="{{ path("fos_user_auctions_stop") }}" class="btn btn-brand btn-lg"><span class="icon-checkmark"></span> {{ "auction_interaction.stop.button"|trans({}, "texts") }}</a>
            </div>

            {{ alert_box("icon-info", "auction_interaction.stop.alert"|trans({}, "texts"), "info") }}

            <div class="text-center">
                <a id="auction-cancel-btn" data-message="{{ "auction_interaction.cancel.message"|trans({}, "texts") }}" href="{{ path("fos_user_auctions_cancel") }}" class="btn btn-danger btn-lg"><span class="icon-close"></span> {{ "auction_interaction.cancel.button"|trans({}, "texts") }}</a></div>

            {{ alert_box("icon-info", "auction_interaction.cancel.alert"|trans({}, "texts"), "info") }}
        </div>
    </div>
{% endblock fos_user_content %}