{% extends "FOSUserBundle::layout_sidebar_profile.html.twig" %}
{% from 'AppBundle:macros:planb.html.twig' import stepper %}
{% from 'AppBundle:macros:planb.html.twig' import alert_box %}

{% block breadcrumb_inner %}
    {{ parent() }}
    <li><span>{{ "profile_sidebar_menu.my_account"|trans({}, "FOSUserBundle") }}</span></li>
{% endblock breadcrumb_inner %}


{% block fos_user_content %}
    <div class="icon-box">
        <div class="icon">
            <i class="icon-bars"></i>
        </div>
        <div class="text">
            <h2>{{ "customer_auctions.stop.heading"|trans }}</h2>

            <p>{{ "customer_auctions.stop.desc"|trans }}</p>
        </div>
    </div>


    {{ alert_box("icon-info", "auction_stop.info"|trans({}, "texts"), "info") }}

    <div id="auction-investments" class="investments-list">
        <div class="icon-box brand-investor">
            <div class="icon">
                <i class="icon-user-arrow-out"></i>
            </div>
            <div class="text">
                <h2>{{ "investments.heading"|trans }}</h2>

                <p>{{ "investments.description"|trans }}</p>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>
                    <span class="investor">{{ "investments.investor"|trans }}</span>
                </th>
                <th>
                    <span class="offer">{{ "investments.offer"|trans }}</span>
                </th>
                <th><span class="interest">{{ "investments.interest"|trans }}</span></th>
                <th>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for investment in investments %}
                {% set notLimbo = investment.isStatus([constant('STATUS_INSERTED', investment), constant('STATUS_PREPARED', investment)]) %}
                <tr {{ notLimbo ? "" : 'class="limbo"' }}>
                    <td>
                        <span class="investor">{{ investment.user.username }}</span>
                    </td>
                    <td>
                        <span class="offer">{{ investment.amount|currency(0) }}</span>
                    </td>
                    <td><span class="interest">{{ investment.interest|interest }}</span></td>
                    <td>
                        <div class="spin-holder">
                            <a href="{{ path("hg_app_ajax_investment_limbo", {investmentId: investment.id, "_format" : "json"}) }}"
                               class="limbo-investment tooltip-popup"
                               title="{{ "investments.limbo_investment"|trans }}">
                                <span class="{{ notLimbo ? 'icon-checkbox-checked' : "icon-checkbox-unchecked" }}"></span>
                            </a>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <th colspan="4" class="text-center">{{ "investments.no_results"|trans }}</th>
                </tr>
            {% endfor %}
            </tbody>
            {% include "UserBundle:includes:investments-summary-tfoot.html.twig" with {calculations: calculations} %}
        </table>
    </div>

    {{ alert_box("icon-info", "auction_stop.interest"|trans({}, "texts"), "info") }}

    <div id="loan-summary">
        <div class="icon-box brand-customer">
            <div class="icon">
                <i class="icon-info"></i>
            </div>
            <div class="text">
                <h2>{{ "customer_auctions.stop.summary.heading"|trans }}</h2>
            </div>
        </div>
        {% include "UserBundle:includes:summary-stop.html.twig" with {loan: loan} %}
    </div>



    {{ form_start(form) }}

    <div class="form-vertical-basic">
        {{ form_row(form.loanStartAt) }}
        {{ alert_box("icon-warning", "auction_stop.loan_start_at"|trans({}, "texts"), "warning") }}
        {{ form_row(form.repaymentDay) }}
    </div>


    <div class="icon-box brand-investor">
        <div class="icon">
            <i class="icon-coin"></i>
        </div>
        <div class="text">
            <h2>{{ "auction_stop.repayment_calendar.heading"|trans({}, "texts")  }}</h2>
        </div>
    </div>
    <div id="repayment-calendar" class="repayment-list" data-url="{{ path("hg_app_ajax_repayment_calendar", {loanId: loan.id}) }}">

    </div>


    <div class="form-notice nothing-selected"{{ calculations.percentage <= 0 ? "" : ' style="display:none"' }}>
        {{ alert_box("icon-warning", "auction_stop.nothing_selected"|trans({}, "texts"), "warning") }}
    </div>

    <div class="form-notice make-sure"{{ calculations.isAcceptable ? "" : ' style="display:none"' }}>
        {{ alert_box("icon-info", "auction_stop.make_sure"|trans({}, "texts"), "info") }}
    </div>

    <div class="form-notice too-many"{{ calculations.percentage > 1 ? "" : ' style="display:none"' }}>
        {{ alert_box("icon-warning", "auction_stop.too_many"|trans({}, "texts"), "warning") }}
    </div>

    <div class="text-center">
        <button type="submit" id="auction-stop" href="{{ path("fos_user_auctions_stop", {action: "stop"}) }}"
           class="btn btn-brand btn-lg"{{ calculations.isAcceptable ? "" : ' disabled="disabled"' }}><span
                    class="icon-checkmark"></span> {{ "auction_interaction.stop.button"|trans({}, "texts") }}</button>
        <a href="{{ path("hg_app_auction_detail", {slug: loan.slug }) }}"
           class="btn btn-default btn-xs">{{ "loan.auction_back"|trans }}</a>
    </div>

    {{ form_end(form) }}

{% endblock fos_user_content %}