{% extends "FOSUserBundle::layout_sidebar_profile.html.twig" %}

{% block breadcrumb_inner %}
    {{ parent() }}
    <li>
        <a href="{{ path("fos_user_profile_index") }}">{{ "profile_sidebar_menu.my_account"|trans({},  'FOSUserBundle') }}</a>
    </li>
    <li><span>{{ "grid_card.heading"|trans({}, "messages") }}</span></li>
{% endblock breadcrumb_inner %}

{% block content %}
    <div class="icon-box">
        <div class="icon">
            <i class="icon-key"></i>
        </div>
        <div class="text">
            <h2>{{ "grid_card.heading"|trans }}</h2>

            <p>{{ "grid_card.description"|trans }}</p>
        </div>
    </div>

    {% if not app.user.isStatus(constant('STATUS_DOCUMENTS_WAITING', app.user)) %}

        {% if user.getValidationHash is null %}
            {{ "grid_card.desc"|trans({}, "texts")|raw }}

            <div class="alert-box alert-box-warning">
                <div class="icon">
                    <i class="icon-warning"></i>
                </div>
                <div class="text">
                    <div class="alert">
                        {{ "grid_card.alert_1"|trans({}, "texts")|raw }}
                    </div>
                </div>
            </div>
            <a href="{{ path("fos_user_grid_card_generate") }}" class="btn btn-brand btn-lg">
                <i class="icon-key"></i> {{ "grid_card.send"|trans }}
            </a>
        {% else %}

            {% for password in app.session.flashbag.get("password") %}
                <div class="alert-box alert-box-warning">
                    <div class="icon">
                        <i class="icon-warning"></i>
                    </div>
                    <div class="text">
                        <div class="alert">
                            {{ "grid_card.alert_password"|trans({"%password%": password}, "texts")|raw }}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="alert-box alert-box-warning">
                    <div class="icon">
                        <i class="icon-warning"></i>
                    </div>
                    <div class="text">
                        <div class="alert">
                            {{ "grid_card.alert_2"|trans({"%link%": path("hg_app_contact")}, "texts")|raw }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% else %}
        {% include "@User/includes/need_documents.html.twig" %}
    {% endif %}
{% endblock content %}
