<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <style>
        body {
            width: 720px;
            background: #ffffff;
            margin: 0px;
            padding: 0px;
            border-spacing: 0px;
            font-family: arial, sans-serif;
            font-size: 13px;
            font-weight: normal;
            color: #555555;
            position: relative;
            padding-bottom: 275px;
            text-align: left;
        }

        #heading {
            text-align: center;
            font-size: 30px;
        }

        #logo {
            text-align: center;
        }

        .alert {
            color: #e00;
        }

        table {
            width: 100%;
            font-size: 14px;
        }

        table th {
            background: #F5F5F5;
        }

        table td {
            background: #fafafa;
            text-align: center;
        }

        table td.row-odd {
            background: #e2e2e2;
        }

        table td.col-odd {
            background: #e2e2e2;
        }

        table td.row-odd.col-odd {
            background: #ccc;
        }

        table#user-type-customer th {
            background: #709930;
            color: #fff;
        }

        table#user-type-investor th {
            background: #A1C5F9;
            color: #fff;
        }
    </style>
</head>
<body>
<div id="wrapper">
    <div id="logo">
        <img src="{{ asset('/bundles/app/img/pdf/logo.png') }}"/>
    </div>
    <p id="heading">{{ "grid_card_grid.desc"|trans({"%user%" : user.username}, "texts")|raw }}</p>
    <div>
        <table id="user-type-{{ user.type }}">
            <tr>
                <th></th>
                {% for i in ["A","B","C","D","E","F","G","H","I","J"] %}
                    <th>{{ i }}</th>
                {% endfor %}
            </tr>

            {% for r in [1,2,3,4,5,6,7,8,9,10] %}
                <tr>
                    <th>{{ r }}</th>

                    {% set classRow = loop.index % 2 == 0 ? 'row-odd' : 'row-even' %}
                    {% for c in ["A","B","C","D","E","F","G","H","I","J"] %}
                        {% set classCol = loop.index % 2 == 0 ? 'col-odd' : 'col-even' %}
                        <td class="{{ classRow }} {{ classCol }}">{{ table[r][c] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
    <p class="alert">
        {{ "grid_card_grid.warning"|trans({}, "texts") }}
    </p>
</div>
</body>
</html>