<table class="table table-striped">
    <thead>
    <tr>
        <th>
            <span class="date">{{ "repayment_calendar.date"|trans }}</span>
        </th>
        <th>
            <span class="principal">{{ "repayment_calendar.principal"|trans }}</span>
        </th>
        <th>
            <span class="interest">{{ "repayment_calendar.interest"|trans }}</span>
        </th>
        <th>
            <span class="repayment">{{ "repayment_calendar.repayment"|trans }}</span>
        </th>
    </tr>
    </thead>
    <tbody>
    {% for transaction in transactions %}
    <tr>
        <td>
            <span class="date">{{ transaction.date|date("d.m.Y") }}</span>
        </td>
        <td>
            <span class="principal">{{ transaction.principal|currency }}</span>
        </td>
        <td>
            <span class="interest">{{ transaction.interest|currency }}</span>
        </td>
        <td>
            <span class="repayment">{{ transaction.repayment|currency }}</span>
        </td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot class="summary">
    <tr>
        <th>{{ "repayment_calendar.summary"|trans }}</th>
        <td class="principal">{{ transactionsSummary.principalTotal|currency }}</td>
        <td class="interest">{{ transactionsSummary.interestTotal|currency }}</td>
        <td class="repayment">{{ transactionsSummary.repaymentTotal|currency }}</td>
    </tr>
    </tfoot>
</table>